{% extends 'base.html' %} 
{% block content %}
{% load static %}
 
<head>
<style>
 
</style>
</head>
<h4 align="center">MNP MASTER MAINTENANCE</h4><br><br>
<table style="text-align:right;margin-left: 175px;">
<tr>
 <td><label style="font-size:20px;">MW No:</label></td>
 <td><input type="text" id="txtMwNo" name="txtMwNo" maxlength="4" onkeypress="return onlyNumberKey(event)"></td>
 <td><label style="font-size:20px;">Description</label></td>
 <td><textarea name="txtDescr" id="txtDescr" maxlength="50" style="resize:none;width:178px;height:30px;"></textarea></td>
</tr>
<tr>
 <td><label style="font-size:20px;">Shop-Sec:</label></td>
 <td><input type="text" id="txtShopSec" name="txtShopSec" maxlength="4"></td>
 <td><label style="font-size:20px;">Shop Name:</label></td>
 <td><input type="text" id="txtSh_name" name="txtSh_name" maxlength="5" onkeypress="return /[a-z]/i.test(event.key)"></td>
 <td><label style="font-size:20px;">LC No:</label></td>
 <td><input type="text" id="txtLc_no" name="txtLc_no" maxlength="4"></td>
</tr>
<tr>
 <td><label style="font-size:20px;">Bay:</label></td>
 <td><input type="text" id="txtBay" name="txtBay" maxlength="1"></td>
  <td><label style="font-size:20px;">Maint-Area:</label></td>
  <td><select id="ddMaintArea" style="width:178px;height:32px;">
  <option value="">SELECT</option>
  <option value="B">B</option>
  <option value="C">C</option>
  <option value="D">D</option>
  <option value="E">E</option>
  <option value="F">F</option>
  <option value="G">G</option>
  <option value="R">R</option>
  <option value="N">N</option>
  <option value="MA1">MA1</option>
  <option value="MA2">MA2</option>
  <option value="MA3">MA3</option>
  <option value="MSS">MSS</option>
  <option value="CTS">CTS</option>
  <option value="TR">TR</option>
</select></td>
  <td><label style="font-size:20px;">No Shift:</label></td>
 <td><input type="text" id="txtNo_shift" name="txtNo_shift" maxlength="1" onkeypress="return onlyNumberKey(event)"></td>
</tr>
<tr>
 <td><label style="font-size:20px;">Category:</label></td>
 <td><select id="ddCategory" style="width:178px;height:32px;">
 <option value="">SELECT</option>
  <option value="MOST CRITICAL">MOST CRITICAL</option>
  <option value="CRITICAL">CRITICAL</option>
  <option value="GENERAL">GENERAL</option>
</select></td>
  <td><label style="font-size:20px;">Date-comm:</label></td>
  <td><input type="text" id="txtDt_of_comm" name="txtDt_of_comm" maxlength="10"></td>
  <td><label style="font-size:20px;">Location:</label></td>
 <td><input type="text" id="txtLocation" name="txtLocation" maxlength="4" onkeypress="return /[a-z]/i.test(event.key)"></td>
</tr>
<tr>
 <td><label style="font-size:20px;">Eqp-Type:<label></td>
 <td><input type="text" id="txtEqp_type" name="txtEqp_type" maxlength="3" onkeypress="return /[a-z]/i.test(event.key)"></td>
 <td><label style="font-size:20px;">M/C Type/GR:</label></td>
 <td><input type="text" id="txtMC_Type_GR" name="txtMC_Type_GR" maxlength="30"></td>
 <td><label style="font-size:20px;">Cost:</label></td>
 <td><input type="text" id="txtCost" name="txtCost" onchange="validateCost(this)" ></td>
</tr>
<tr>
 <td><label style="font-size:20px;">Unit:<label></td>
 <td><input type="text" id="txtUnit" name="txtUnit" maxlength="2" style="width: 40px;">&nbsp;<input type="text" id="txtUnitDesc" name="txtUnitDesc" style="width: 133px;"></td>
 <td><label style="font-size:20px;">Available:</label></td>
 <td><input type="text" id="txtAvailable" name="txtAvailable" maxlength="2"></td>
 <td><label style="font-size:20px;">Replace By:</label></td>
 <td><input type="text" id="txtReplace_by" name="txtReplace_by" maxlength="4" onkeypress="return onlyNumberKey(event)"></td>
</tr>
<tr>
 <td><label style="font-size:20px;">Date-TR-C:<label></td>
 <td><input type="text" id="txtDate_TR_C" name="txtDate_TR_C" maxlength="10"></td>
 <td><label style="font-size:20px;">Capacity:</label></td>
 <td><input type="text" id="txtCapacity" name="txtCapacity" maxlength="10"></td>
 <td><label style="font-size:20px;">Req:</label></td>
 <td><input type="text" id="txtReq" name="txtReq" maxlength="9"></td>
</tr>
<tr>
 <td><label style="font-size:20px;">YR-Scrap:<label></td>
 <td><input type="text" id="txtYR_Scrap" name="txtYR_Scrap" maxlength="10"></td>
 <td><label style="font-size:20px;">Condition:</label></td>
 <td><textarea name="txtCondition" id="txtCondition" maxlength="100" style="resize:none;width:178px;height:30px;"></textarea></td>
 <td><label style="font-size:20px;">Make:</label></td>
 <td><input type="text" id="txtMake" name="txtMake" maxlength="20"></td>
</tr>
<tr>
 <td><label style="font-size:20px;">Used For:<label></td>
 <td><textarea name="txtUsed_for" id="txtUsed_for" maxlength="100" style="resize:none;width:178px;height:30px;"></textarea></td>
</tr>
<tr></tr><tr></tr><tr></tr>
<tr>
 <td></td>
 <td></td>
 <td><button type="button" id="btnSave" name="btnSave" class="bt1 btn btn-success" {% if usermaster.op_create %}{% else %} disabled {% endif%}   onclick="myfunc();">Save</button></td>
 <td><button type="button" id="btnClear" name="btnClear" class="bt1 btn btn-success" onclick="window.location.reload();">Clear</button></td>
 </tr>
</table>
<script>
  function onlyNumberKey(evt) { 
    var ASCIICode = (evt.which) ? evt.which : evt.keyCode 
    if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) 
        return false; 
    return true; 
} 

function validateCost(inputField){
  var isValid= /^\d{0,12}(\.\d{1,2})?$/.test(inputField.value);
  if (!isValid)
  {
      alert("please enter Correct Format");
       document.getElementById('txtCost').value="";
  } 
  return isValid;
}

 $(document).ready(function(){
    $('#txtYR_Scrap').datepicker({dateFormat: 'dd-mm-yy'});
});

$(document).ready(function(){
  $('#txtDate_TR_C').datepicker({dateFormat: 'dd-mm-yy'});
});

$(document).ready(function(){
  $('#txtDt_of_comm').datepicker({dateFormat: 'dd-mm-yy'});
});   




  document.querySelector("#txtMwNo").addEventListener('change',(e)=>{  
    e.preventDefault();                  
    var Txt_mw = $("#txtMwNo").val();
    var data = {Txt_mw};
    $.ajax({
        type : 'GET',
        url : "{% url 'mwnochanged' %}",
        dataType : 'json',
        data : data,
        success : function(response){                               
          alert("successfully fetched the shop list from table")
          document.getElementById('txtDescr').value=response[0].descr; 
          document.getElementById('txtShopSec').value=response[0].shopsec;
          document.getElementById('txtSh_name').value=response[0].sh_name; 
          document.getElementById('txtLc_no').value=response[0].lc_no; 
          document.getElementById('txtBay').value=response[0].bay; 
          document.getElementById('ddMaintArea').value=response[0].maint_area;  
          document.getElementById('txtNo_shift').value=response[0].no_shift; 
          document.getElementById('ddCategory').value=response[0].category;  
          var a=response[0].dt_of_comm; 
          var str=a.split("-");
          var arr=str[2]+"-"+str[1]+"-"+str[0];
          document.getElementById('txtDt_of_comm').value=arr; 
          document.getElementById('txtLocation').value=response[0].location;  
          document.getElementById('txtEqp_type').value=response[0].eqp_type;  
          document.getElementById('txtMC_Type_GR').value=response[0].mc_type_gr;  
          document.getElementById('txtCost').value=response[0].cost;  
          document.getElementById('txtUnit').value=response[0].unit;  
          var unit = response[0].unit;  
          if(unit == "Dr")
          {
            document.getElementById('txtUnitDesc').value= "Dollar";
          }
          else if(unit == "Rs") {
            document.getElementById('txtUnitDesc').value= "Rupees";
          }

          document.getElementById('txtAvailable').value=response[0].available;  
          document.getElementById('txtReplace_by').value=response[0].replace_by;  
          var a1=response[0].date_tr_c; 
          var str1=a1.split("-");
          var arr1=str1[2]+"-"+str1[1]+"-"+str1[0];
          document.getElementById('txtDate_TR_C').value=arr1;  
          document.getElementById('txtCapacity').value=response[0].capacity;  
          document.getElementById('txtReq').value=response[0].required; 
          var a2=response[0].yr_scrap; 
          var str2=a1.split("-");
          var arr2=str2[2]+"-"+str2[1]+"-"+str2[0]; 
          document.getElementById('txtYR_Scrap').value=arr2;  
          document.getElementById('txtCondition').value=response[0].condition;  
          document.getElementById('txtMake').value=response[0].make;  
          document.getElementById('txtUsed_for').value=response[0].used_for;  
          
        },
        error: function() {
          alert("NO SUCH PART");
          document.getElementById('txtDescr').value=""; 
          document.getElementById('txtShopSec').value="";
          document.getElementById('txtSh_name').value=""; 
          document.getElementById('txtLc_no').value=""; 
          document.getElementById('txtBay').value=""; 
          document.getElementById('ddMaintArea').value="";  
          document.getElementById('txtNo_shift').value=""; 
          document.getElementById('ddCategory').value="";  
          document.getElementById('txtDt_of_comm').value=""; 
          document.getElementById('txtLocation').value="";  
          document.getElementById('txtEqp_type').value="";  
          document.getElementById('txtMC_Type_GR').value="";  
          document.getElementById('txtCost').value="";  
          document.getElementById('txtUnit').value="";  
          document.getElementById('txtAvailable').value="";  
          document.getElementById('txtReplace_by').value="";  
          document.getElementById('txtDate_TR_C').value="";  
          document.getElementById('txtCapacity').value="";  
          document.getElementById('txtReq').value=""; 
          document.getElementById('txtYR_Scrap').value="";  
          document.getElementById('txtCondition').value="";  
          document.getElementById('txtMake').value="";  
          document.getElementById('txtUsed_for').value="";  
        },
        
        })
    });   
    
  function myfunc()
  {
    var txtMwNo = $("#txtMwNo").val();
    var txtDescr = $("#txtDescr").val();
    var txtShopSec = $("#txtShopSec").val();
    var txtSh_name = $("#txtSh_name").val();
    var txtLc_no = $("#txtLc_no").val();
    var txtBay = $("#txtBay").val();
    var ddMaintArea = $("#ddMaintArea").val();
    var txtNo_shift = $("#txtNo_shift").val();
    var ddCategory = $("#ddCategory").val();  
    var txtDt_of_comm = $("#txtDt_of_comm").val();
    var txtLocation = $("#txtLocation").val();
    var txtEqp_type = $("#txtEqp_type").val();
    var txtMC_Type_GR = $("#txtMC_Type_GR").val();
    var txtCost = $("#txtCost").val();
    var txtUnit = $("#txtUnit").val();
    var txtAvailable = $("#txtAvailable").val();
    var txtReplace_by = $("#txtReplace_by").val();
    var txtDate_TR_C = $("#txtDate_TR_C").val();
    var txtCapacity = $("#txtCapacity").val();
    var txtReq = $("#txtReq").val();
    var txtYR_Scrap = $("#txtYR_Scrap").val();
    var txtCondition = $("#txtCondition").val();
    var txtMake = $("#txtMake").val();
    var txtUsed_for = $("#txtUsed_for").val();
    
    var data = {txtMwNo,txtDescr,txtShopSec,txtSh_name,txtLc_no,txtBay,ddMaintArea,txtNo_shift,ddCategory,txtDt_of_comm,txtLocation,txtEqp_type,txtMC_Type_GR,txtCost,txtUnit,txtAvailable,txtReplace_by,txtDate_TR_C,txtCapacity,txtReq,txtYR_Scrap,txtCondition,txtMake,txtUsed_for};
    $.ajax({
        type : 'GET',
        url : "{% url 'mwsave' %}",
        dataType : 'json',
        data : data,
        success : function(response){                               
          alert("successfully changed the record");
          window.location.reload();
          
        },
        error: function() {
            alert("DESCRIPTION/LOCATION/CATEGORY/MAINT_AREA CAN'T BE EMPTY");
            
        },
        
        });
  }
</script>
{% endblock content %}

