input[type=submit] {
    background-color: green;
    color: #fff;
    cursor: pointer;
    width: 15%;
    text-align: center;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=button] {
    background-color:green;
    color: #fff;
    cursor: pointer;
    width: 15%;
    text-align: center;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }