{%extends 'base.html'%}

{%block content%}

<style>
    table {
        empty-cells: hide;
      }
    table.scrolldown { 
        width: 100%; 
          
        /* border-collapse: collapse; */ 
        border-spacing: 0; 
        border: 2px solid black; 
    } 
      
    /* To display the block as level element */ 
    table.scrolldown tbody, table.scrolldown thead { 
        display: block; 
    }  
      
    thead tr th { 
        height: 40px;  
        line-height: 40px; 
    } 
      
    table.scrolldown tbody { 
          
        /* Set the height of table body */ 
        max-height: 500px;  
        
        /* Set vertical scroll */ 
        overflow-y: auto; 
          
        /* Hide the horizontal scroll */ 
        overflow-x: hidden;  
    } 
      
    tbody {  
        border-top: 2px solid black; 
    } 
      
    tbody td, thead th { 
        width : 400px; 
        border-right: 2px solid black; 
    } 
    th{
        text-align:center;
    }
    td { 
        text-align:center; 
    } 
    table tr{
        cursor: pointer;transition: all .25s ease-in-out;
    }
    table tr:hover{background-color:rebeccapurple !important;}
    
    table {
        width:  100%;
        border-collapse: collapse;
    }
    
    .scrollingTable {
        width: 30em;
        overflow-y: auto;
    }
    .css-center {
        text-align: center;
       }

       .css-color{
           color:red;
       }
       .hidden{
        visibility:hidden;
     }

     .css-color1{
        color:burlywood;
    }
    .css-color2{
        color:blueviolet;
    }
</style>
    <div>
      <h4 align="center"><strong>RECORD FOR HAND-WRITTEN M14</strong> 
      </h4>
    </div>
    <div >
        <div class="form-group row">
            <label class="col-sm-8 col-form-label"></label>
            <label for="m14_no" class="col-sm-1 col-form-label"><b>M14-No : </b></label>
            <input  style="font-weight:bold; border:none;" class="col-sm-1 col-form-label " type="text" id="m14_no" value="generate" readonly required>
        </div>  
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-2">
            
                <select id="select_form" name="select_form">
                      <option value="" disabled selected hidden>SELECT CASE</option>
                      <option value="form_1">PART IS REJECTED</option>
                      <option value="form_2">PART NOT REJECTED</option>
                </select>
          </div>
            <label class="col-sm-5 col-form-label"></label>
            <label   for="date" class="col-sm-1 col-form-label"><b>DATE : </b></label>
            <input  style="font-weight:bold; border:none;" class="col-sm-1 col-form-label " type="text" id="date" value="generate" readonly required>
    </div>
</div>
    <div class="form-group row">
          
        
    </div>
<hr> 

<div class="container" >
    <form action="{% url 'm14hwview' %}" method="POST" id="form_1" style="display: none;"> {% csrf_token %}
        <div class="form-group row">
            <label for="m13_no" class="col-sm-1 col-form-label">M-13 SL no.</label>
            <div class="col-sm-2">
                <select class="form-control" id="m13_no" name="m13_no"  value ="m13_no" required>
                    <option id="m13_no" selected disabled hidden>Select SL No</option>
                    {% if lenm == 1 %}
                        {% for role in m13ref %}
                            <option selected readonly>{{role.slno}}</option>
                            {% endfor %}
                        {% endif %}
                        {% if lenm > 1 %}
                        {% for role in m13ref %}
                          <option>{{role.slno}}</option>
                        {% endfor %}
                        {% endif %}
                    
                </select>
            </div>
            <label for="m13_date" class="col-sm-1 col-form-label">M-13 Date</label>
            <div class="col-sm-2">
                <input class="form-control" type="text" id="m13_date" readonly required>
            </div>
            <label for="char_wo" class="col-sm-1 col-form-label" >Chargable Work Order</label>
             <div class="col-sm-2">
                <input class="form-control" type="text" id="char_wo" readonly required>
            </div>
            <label for="sl_no" class="col-sm-1 col-form-label" >M13 REF No</label>
            <div class="col-sm-2">
                <input class="form-control" type="text" id="sl_no" readonly required>
            </div>
        </div>
            <div class="form-group row">   
                <label for="batch_no" class="col-sm-1 col-form-label">Batch No</label>
                <div class="col-sm-2">
                    <input class="form-control " type="text" id="batch_no" name="batch_no" required>
                
                </div>
                <label for="epc" class="col-sm-1 col-form-label" >EPC</label>
                <div class="col-sm-2">
                    <input class="form-control" type="text" id="epc">
                </div>
                <label for="brn_no" class="col-sm-1 col-form-label" >BRN No</label>
                <div class="col-sm-2">
                    <input class="form-control" type="text" id="brn_no">
                </div>
                <label for="quantity" class="col-sm-1 col-form-label">Quantity</label>
                <div class="col-sm-2">
                    <input class="form-control" type="text" id="quantity" name="quantity" required>
                </div>
            </div>
            <div class="form-group row">     
                    <label for="loco_from" class="col-sm-1 col-form-label">Loco From</label>
                    <div class="col-sm-2 pull-left">
                        <input class="form-control" type="text" id="loco_from">
                    </div>
                    <label for="loco_to" class="col-sm-1 col-form-label" >Loco To</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="text" id="loco_to">
                    </div>
                    <label for="unit" class="col-sm-1 col-form-label" >Unit</label>
                <div class="col-sm-2">
                    <input class="form-control" type="text" id="unit">
                </div>
                <label for="pm_no" class="col-sm-1 col-form-label" >Pm-No</label>
                <div class="col-sm-2">
                    <input oninput="this.value = this.value.toUpperCase()" class="form-control" type="text" id="pm_no">
                </div>
            </div>
            <div class="form-group row">     
                    <label for="assly_no" class="col-sm-1 col-form-label">Assly No</label>
                    <div class="col-sm-2">
                        <input class="form-control" type="text" id="assly_no" required>
                    </div>
                    <label class="sr-only">Assly No</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" id="assly_desc" required>
                    </div>
                   
            </div>
            <div class="form-group row">
                    
                <label for="part_no" class="col-sm-1 col-form-label">Part No</label>
                <div class="col-sm-2">
                    <input class="form-control" type="text" id="part_no" name="part_no" required>
                </div>
                <label class="sr-only">PART No</label>

                <div class="col-sm-6">
                    <input class="form-control" type="text" id="part_desc" required>
                </div>
            </div>
            <div class="form-group row"> 
                <label for="loco_no" class="col-sm-1 col-form-label">Loco No</label>
                <div class="col-sm-2">
                    <input class="form-control" type="text" id="loco_no" name="loco_no" required>
                </div>
                <label for="rforhw" class="col-sm-2 col-form-label">Reasons For Hw</label>
                <div class="col-sm-4">
                    <textarea rows="2"  cols= "50" id="rforhw"></textarea>
                </div>
            </div>
            <div class="form-group row" >    
                <label for="save1" class="col-sm-3 col-form-label"></label>
                 <div class="col-sm-1">
                     <input  type="button" class="btn btn-primary" {% if usermaster.op_create %}{% else %} disabled {% endif%}value = "  SAVE  " id="save" />
                 </div>
                 <label class="sr-only">Cancel</label>
                 <div class="col-sm-1">
                     <input  type="button" class="btn btn-primary" value = "CANCEL" id="cancel" />
                 </div>
                 <label class="sr-only">PRINT</label>
                 <div class="col-sm-1">
                     <input onclick="setGetParameter1()" type="button"  {% if usermaster.op_read %}{% else %} disabled {% endif%}class="btn btn-primary" value = "PRINT"/>
                 </div>
             </div>
            <h2 for="table" align="center" class="css-color1 hidden" id="lblhd" ></h2>
            <div>
                <table align="center" class="table-striped hidden " id="table" name="table" required>
                        <thead class="thead-dark" >
                            <tr>
                                <th>  ASSLY NO  </th>
                                
                                <th>  LOCO TO</th>
                                <th>  LOCO FROM</th>
                                
                            </tr>
                        </thead>
                         <tbody>
                         </tbody>
                </table>  
            </div>   
           
            
    </form>
    



    <form action="{% url 'm14hwview' %}"  style="display: none;" method="POST" id="form_2"> 
     {% csrf_token %}
     <div class="form-group row">   
        <label for="batch_no1" class="col-sm-1 col-form-label">Batch No</label>
        <div class="col-sm-2">
            <select class="form-control" id="batch_no1" name="batch_no1"  value ="batch_no1" required>
                <option id="batch_no1" selected disabled hidden>SELECT BATCH</option>
                {% if lenm == 1 %}
                    {% for role in batch1 %}
                        <option selected readonly>{{role.bo_no}}</option>
                        {% endfor %}
                    {% endif %}
                    {% if lenm > 1 %}
                    {% for role in batch1 %}
                      <option>{{role.bo_no}}</option>
                    {% endfor %}
                    {% endif %}
                
            </select></div>
        <label for="epc1" class="col-sm-1 col-form-label" >EPC</label>
        <div class="col-sm-2">
            <input class="form-control" type="text" id="epc1" required>
        </div>
        <label for="brn_no1" class="col-sm-1 col-form-label" >BRN No</label>
        <div class="col-sm-2">
            <input class="form-control" type="text" id="brn_no1" required>
        </div>
        <label for="quantity1" class="col-sm-1 col-form-label">Quantity</label>
        <div class="col-sm-2">
            <input class="form-control" type="text" id="quantity1" name="quantity1" required>
        </div>
    </div>
    <div class="form-group row">     
            <label for="loco_from1" class="col-sm-1 col-form-label">Loco From</label>
            <div class="col-sm-2 pull-left">
                <input class="form-control" type="text" id="loco_from1" required>
            </div>
            <label for="loco_to1" class="col-sm-1 col-form-label" >Loco To</label>
            <div class="col-sm-2">
                <input class="form-control" type="text" id="loco_to1" required>
            </div>
            <label for="unit1" class="col-sm-1 col-form-label" >Unit</label>
        <div class="col-sm-2">
            <input class="form-control" type="text" id="unit1" required>
        </div>
        <label for="pm_no1" class="col-sm-1 col-form-label" >Pm-No</label>
        <div class="col-sm-2">
            <input oninput="this.value = this.value.toUpperCase()" class="form-control" type="text" id="pm_no1" required>
        </div>
            
    </div>
    <div class="form-group row">     
            <label for="assly_no1" class="col-sm-1 col-form-label">Assly No</label>
            <div class="col-sm-2">
                <input class="form-control" type="text" id="assly_no1" required>
            </div>
            <label class="sr-only">Assly No</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="assly_desc1" required>
            </div>
    </div>
    <div class="form-group row">
            
        <label for="part_no1" class="col-sm-1 col-form-label">Part No</label>
        <div class="col-sm-2">
            <select class="form-control" id="part_no1" name="part_no1" required>
                <option id="part_no1" selected disabled hidden>Select Part No</option>
            </select>    
        </div>
        <label class="sr-only">PART No</label>

        <div class="col-sm-6">
            <input class="form-control" type="text" id="part_desc1" required>
        </div>
    </div>
    <div class="form-group row">
        <label for="loco_no1" class="col-sm-1 col-form-label">Loco No</label>
                <div class="col-sm-2">
                    <input class="form-control" type="text" id="loco_no1" name="loco_no1" required>
                </div>
        <label for="rforhw1" class="col-sm-2 col-form-label">Reasons For Hw</label>
        <div class="col-sm-4">
            <textarea rows="2"  cols= "50" id="rforhw1"></textarea>
        </div>
    </div>
<div class="form-group row" >    
   <label for="save1" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-1">
        <input  type="button"  {% if usermaster.op_create %}{% else %} disabled {% endif%} class="btn btn-primary" value = "  SAVE  " id="save1" />
    </div>
    <label class="sr-only">Cancel</label>
    <div class="col-sm-1">
        <input  type="button"   class="btn btn-primary" value = "CANCEL" id="cancel1" />
    </div>
    <label class="sr-only">PRINT</label>
    <div class="col-sm-1">
        <input onclick="setGetParameter()" {% if usermaster.op_read %}{% else %} disabled {% endif%} type="button" class="btn btn-primary" value = "PRINT"/>
    </div>
</div>
<h2 for="table2" align="center" class="css-color1 hidden" id="lblhd2" ></h2>
            <div>
                <table align="center" class="table-striped hidden " id="table2" name="table2" required>
                        <thead class="thead-dark" >
                            <tr>
                                <th>  ASSLY NO  </th>
                                <th>  LOCO TO</th>
                                <th>  LOCO FROM</th>

                            </tr>
                        </thead>
                         <tbody>
                         </tbody>
                </table>  
            </div>   
    </form>
</div>


<script>
    window.onload = function() {
        document.getElementById("select_form").focus();
        var temp = $('#m14_no').val();
        newdocno=0;                  
        var data = {temp};                
          $.ajax({
            type : 'GET',
            url : "{% url 'm14getdoc_no' %}",
            dataType : 'json',
            data : data,
            success : function(response){
                
                if(Object.keys(response).length > 0 )//length of object response
                {   //Generate new M_14 no
                    var x=parseInt(response[0].num_1);
                    
                    if(x < 899999)
                    {
                        
                        newdocno = x + 1;
                    }
                    else
                        newdocno=1;
                }
                else
                {
                    window.alert('NO COUNTER FOR M14!');
                    newdocno=0;

                }
                   
                document.getElementById("m14_no").value=newdocno;
                document.getElementById("date").value=response[1]; 
                                                                                                                                
            }
       })
    }

    $('#select_form').change(function(){
        if($(this).val() == "form_1") {
            $('#form_2').hide();
            $('#form_1').show();
            document.getElementById("m13_no").focus();
        } else {
            $('#form_2').show();
            $('#form_1').hide();
            document.getElementById("batch_no1").focus();
        }
    });


    
    document.querySelector('#m13_no').addEventListener('change',(e)=>{
        e.preventDefault();
        var partno_temp = $('#m13_no').val();                  
        var data = {partno_temp};                
          $.ajax
          ({
            type : 'GET',
            url : "{% url 'm14getdate' %}",
            dataType : 'json',
            data : data,
             success : function(response)
             {      
                document.getElementById('m13_date').value=response[0].m13_date;
                document.getElementById('sl_no').value=response[0].m13_no;
                document.getElementById('char_wo').value=response[0].wo_rep; 
                document.getElementById("batch_no").value=response[0].wo; 
                document.getElementById('rforhw').value=response[0].reason;
                document.getElementById('part_no').value=response[0].part_no;
                document.getElementById('epc').value=response[0].epc;
                document.getElementById('quantity').value=response[0].qty_rej;
                
                
                
                myFunction(); 
                myfunction_part(); 
                                                             
              }
              
          })
          
    });
    
    
    function myFunction(){
        
        var batch = $('#batch_no').val();
        var part = $('#part_no').val();
        var data={batch,part};

        var part;                
          $.ajax({
            type : 'GET',
            url : "{% url 'm14hwbatch_no1' %}",
            dataType : 'json',
            data : data,
            
            success : function(response)
            {   
                if(response[0]=='A')
               {
                   document.getElementById("table").className = 'hidden';
                   document.getElementById("lblhd").className = 'hidden';
                   window.alert("BATCH NO MUST BE ENTERED")
                   document.getElementById('assly_no').value="";
                   document.getElementById('loco_from').value="";
                   document.getElementById('loco_to').value="";
                   document.getElementById('assly_desc').value="";
               }  
               else 
               if(response[0]=='Z')
               {
                    document.getElementById("table").className = 'hidden';
                    document.getElementById("lblhd").className = 'hidden';
                    window.alert(" BATCH DOES NOT EXIST IN MASTER.");
                    document.getElementById('assly_no').value="";
                    
                    
                    document.getElementById('loco_from').value="";
                    document.getElementById('loco_to').value="";
                    document.getElementById('assly_desc').value="";
                    
               }  
               else
               if(response[0]=='ZR')
               {
                   
                   window.alert("SELECT ASSEMBLY NO. FROM THE BELOW TAABLE");
                   document.getElementById("table").className = 'table table-striped scrolldown';
                   document.getElementById("lblhd").className = 'css-color1';
                   document.getElementById("lblhd").innerHTML='SELECT ASSEMBLY FOR BATCH NO :- '.concat(batch);
                   for(var i=1;i<response.length;i++)
                    {   
                        $('#table > tbody:last').append("<tr><td id="+i+">"+response[i].assly_no+"</td><td id="+i+">"+response[i].l_to+"</td><td id="+i+">"+response[i].l_fr+"</td></tr>"); 
                    }
                    window.scrollTo(0,500)
               }    
                                                                        
            }
            
       })
    }


    function myfunction_part(){
        var partno_temp = $('#part_no').val();
        var data = {partno_temp}; 
        var part;                
          $.ajax({
            type : 'GET',
            url : "{% url 'm14hwpart' %}",
            dataType : 'json',
            data : data,
            success : function(response)
            {   
                if(response[0]=='A')
               {
                   window.alert("part no must be entered")
               }  
               else 
               if(response[0]=='Z')
               {
                   window.alert("part not in production")
               }  
               else
               if(response[0]=='ZR')
               {
                document.getElementById('part_desc').value=response[1].des;
               }              
                
                                                                         
            }
       })
    
    }
    var table = document.querySelector('table');
    // get the id of selected rows
    table.addEventListener('click', function(ev){
        var serviceID = ev.target.id;

        document.getElementById('assly_no').value=document.getElementById("table").rows[serviceID].cells[0].innerHTML;
        document.getElementById('loco_to').value=document.getElementById("table").rows[serviceID].cells[1].innerHTML;
        document.getElementById('loco_from').value=document.getElementById("table").rows[serviceID].cells[2].innerHTML;
        var temp = $('#assly_no').val();
        var data = {temp}; 
        var part;                

          $.ajax({
            type : 'GET',
            url : "{% url 'm14hwassly' %}",
            dataType : 'json',
            data : data,
            success : function(response)
            {                
                document.getElementById('assly_desc').value=response[0].des;
                                                                        
            }
       })
        window.scrollTo(0,0); 
        $("#table > tbody").html(""); 
        document.getElementById("table").className = 'hidden';
        document.getElementById("lblhd").className = 'hidden';
        myfunction_pmno();
        
    });

    function myfunction_pmno()
    {
        var batch = $('#batch_no').val();
        var qty = $('#assly_no').val();
        var lt= $('#loco_to').val();
        var lf = $('#loco_from').val();
        var data={batch,qty,lt,lf};
        var part;                
          $.ajax({
            type : 'GET',
            url : "{% url 'm14hwpm1' %}",
            dataType : 'json',
            data : data,
            
            success : function(response)
            {   
               
                document.getElementById('unit').value=response[0].unit;
                document.getElementById('pm_no').value=response[0].pm_no;
                document.getElementById('brn_no').value=response[0].brn_no;

                document.getElementById("loco_no").focus();
               
            }    
       })
    }





    $(document).on('click', '#cancel', function(){
        window.location.reload();
    });

    $(document).on('click', '#cancel1', function(){
        window.location.reload();
    });
    


    $(document).on('click', '#save', function(){ 
        
        if(batch_no.value=="")
        {
            window.alert("BATCH NO MUST BE ENTERED.");
            document.getElementById("batch_no").focus();

        }
        else
        {
            if(assly_no.value=="")
            {
                window.alert("ASSLY NO MUST BE ENTERED.");
                document.getElementById("assly_no").focus();

            }
            else
                if(part_no.value=="")
                {
                    window.alert("PART NO MUST BE ENTERED.");
                    document.getElementById("part_no").focus();

                }
                else
                    if(pm_no.value=="")
                        {
                            window.alert("PM NO MUST BE ENTERED.");
                            document.getElementById("pm_no").focus();

                        }
                        else
                            if(quantity.value=="")
                            {
                                window.alert("QUANTITY MUST BE ENTERED.");
                                document.getElementById("quantity").focus();

                            }
                            else
                                if(parseFloat(quantity.value)<0)
                                {
                                    window.alert("QUANTITY CANNOT BE ZERO or LESS");
                                    document.getElementById("quantity").focus();


                                }else
                    if(unit.value=="")
                        {
                            window.alert("UNIT MUST BE ENTERED.");
                            document.getElementById("unit").focus();

                        }
                        else
                    if(loco_no.value=="")
                        {
                            window.alert("LOCO NO MUST BE ENTERED.");
                            document.getElementById("loco_no").focus();

                        }
                                
                        else
                                {   
                                    var temp = {m13_no:$('#m13_no').val(),m13_date:$('#m13_date').val(),char_wo:$('#char_wo').val(),sl_no:$('#sl_no').val(),batch_no:$('#batch_no').val(),epc:$('#epc').val(),brn_no:$('#brn_no').val(),loco_from:$('#loco_from').val(),loco_to:$('#loco_to').val(),assly_no:$('#assly_no').val(),assly_desc:$('#assly_desc').val(),part_no:$('#part_no').val(),part_desc:$('#part_desc').val(),quantity:$('#quantity').val(),unit:$('#unit').val(),pm_no:$('#pm_no').val(),m14_no:$('#m14_no').val(),rforhw:$('#rforhw').val(),loco_no:$('#loco_no').val(),csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()};
                                    var data = temp; 
                                    var part;
                                     
                                    $.ajax({
                                        type : 'GET',
                                        url : "{% url 'm14hwsave' %}",
                                        dataType : 'json',
                                        data : data,
                                        success : function(response)
                                        {    
                                          
                                            window.alert("Data saved successfully with doc no.:-" + response); 
                                            $('#save').hide();
                                            $('#select_form').hide();
                                            document.getElementById("cancel").value="Refresh";
                                           
                                                                                                 
                                        }
                                    })
                                }
        
        }

        
    });


    $(document).on('click', '#save1', function(){ 
        
        if(batch_no1.value=="")
        {
            window.alert("BATCH NO MUST BE ENTERED.");
            document.getElementById("batch_no1").focus();

        }
        else
        {
            if(assly_no1.value=="")
            {
                window.alert("ASSLY NO MUST BE ENTERED.");
                document.getElementById("assly_no1").focus();

            }
            else
                if(part_no1.value=="")
                {
                    window.alert("PART NO MUST BE ENTERED.");
                    document.getElementById("part_no1").focus();

                }
                else
                    if(pm_no1.value=="")
                        {
                            window.alert("PM NO MUST BE ENTERED.");
                            document.getElementById("pm_no1").focus();

                        }
                        else
                            if(quantity1.value=="")
                            {
                                window.alert("QUANTITY MUST BE ENTERED.");
                                document.getElementById("quantity1").focus();

                            }
                            else
                                if(parseFloat(quantity1.value)<0)
                                {
                                    window.alert("QUANTITY CANNOT BE ZERO or LESS");
                                    document.getElementById("quantity1").focus();


                                }else
                    if(unit1.value=="")
                        {
                            window.alert("UNIT MUST BE ENTERED.");
                            document.getElementById("unit1").focus();

                        }
                        else
                    if(loco_no1.value=="")
                        {
                            window.alert("LOCO NO MUST BE ENTERED.");
                            document.getElementById("loco_no1").focus();

                        }
                                
                                else
                                {   
                                    document.getElementById('sl_no').value=0;
                                    var temp = {m13_no:$('#m13_no').val(),m13_date:$('#m13_date').val(),char_wo:$('#char_wo').val(),sl_no:$('#sl_no').val(),batch_no:$('#batch_no1').val(),epc:$('#epc1').val(),brn_no:$('#brn_no1').val(),loco_from:$('#loco_from1').val(),loco_to:$('#loco_to1').val(),assly_no:$('#assly_no1').val(),assly_desc:$('#assly_desc1').val(),part_no:$('#part_no1').val(),part_desc:$('#part_desc1').val(),quantity:$('#quantity1').val(),unit:$('#unit1').val(),pm_no:$('#pm_no1').val(),m14_no:$('#m14_no').val(),rforhw:$('#rforhw1').val(),loco_no:$('#loco_no1').val(),csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()};
                                    var data = temp; 
                                    var part;
                                     
                                    $.ajax({
                                        type : 'GET',
                                        url : "{% url 'm14hwsave' %}",
                                        dataType : 'json',
                                        data : data,
                                        success : function(response)
                                        {    
                                            window.alert("Data saved successfully with doc no.:-" + response); 
                                            $('#save1').hide();
                                            $('#select_form').hide();
                                            document.getElementById("cancel1").value="Refresh";
                                                                                                 
                                        }
                                    })
                                }
        
        }

        
    });

    document.querySelector('#batch_no1').addEventListener('change',(e)=>{
        e.preventDefault();
        var batch = $('#batch_no1').val();                 
        var data = {batch};                
          $.ajax
          ({
            type : 'GET',
            url : "{% url 'm14hwbatch_no' %}",
            dataType : 'json',
            data : data,
             success : function(response)
             {      
               
               if(response[0]=='Z')
               {
                    document.getElementById("table2").className = 'hidden';
                    document.getElementById("lblhd2").className = 'hidden';
                    window.alert(" BATCH DOES NOT EXIST IN MASTER.");
                    document.getElementById('assly_no1').value="";
                    document.getElementById('epc1').value="";
                    document.getElementById('brn_no1').value="";
                    document.getElementById('loco_from1').value="";
                    document.getElementById('loco_to1').value="";
                    document.getElementById('assly_desc1').value="";
                    
               }  
               else
               if(response[0]=='ZR')
               {
                   
                   window.alert("SELECT ASSEMBLY NO. FROM THE BELOW TAABLE");
                   document.getElementById("table2").className = 'table table-striped scrolldown';
                   document.getElementById("lblhd2").className = 'css-color1';
                   document.getElementById("lblhd2").innerHTML='SELECT ASSEMBLY FOR BATCH NO :- '.concat(batch);
 
                   for(var i=1;i<response.length;i++)
                    {   
                        $('#table2 > tbody:last').append("<tr><td id="+i+">"+response[i].part_no+"</td><td id="+i+">"+response[i].loco_to+"</td><td id="+i+">"+response[i].loco_fr+"</td></tr>"); 
                    }
                    window.scrollTo(0,500)
                    $("#table3 > tbody").html(""); 
                   
                    
               }                                   
             }
              
          })
          
    });


    var table = document.querySelector('table2');
    // get the id of selected rows
    table2.addEventListener('click', function(ev){
        var serviceID = ev.target.id;
        document.getElementById('rforhw1').value='Part No. not in Structure';

        document.getElementById('assly_no1').value=document.getElementById("table2").rows[serviceID].cells[0].innerHTML;
        document.getElementById('loco_to1').value=document.getElementById("table2").rows[serviceID].cells[1].innerHTML;
        document.getElementById('loco_from1').value=document.getElementById("table2").rows[serviceID].cells[2].innerHTML;
        
        
        var temp = $('#assly_no1').val();
        var data = {temp}; 
        var part;                
          $.ajax({
            type : 'GET',
            url : "{% url 'm14hwassly' %}",
            dataType : 'json',
            data : data,
            success : function(response)
            {                
                document.getElementById('assly_desc1').value=response[0].des;
                                                                        
            }
       })
        window.scrollTo(0,0); 
        $("#table2 > tbody").html(""); 
        document.getElementById("table2").className = 'hidden';
        document.getElementById("lblhd2").className = 'hidden';
        myfunction_asslyno();
        myfunction_pmno1();
        
       
        
    });

    function myfunction_asslyno()
    {
        var part = $('#batch_no1').val();
        var data={part};
        var part;                
          $.ajax({
            type : 'GET',
            url : "{% url 'm14hwasslyno' %}",
            dataType : 'json',
            data : data,
            
            success : function(response)
            {   
               //document.getElementById('part_no1').value=response[0].part_no;  
               document.getElementById("part_no1").focus();               
               var elementsadded = document.querySelectorAll(".newelepart1");
               if(elementsadded.length>0){
                   var elementsaddedarr = Array.from(elementsadded);
                   elementsaddedarr.forEach((el)=> el.remove());    
                   //document.querySelector("#op_date2").selected=true; 
                }
               var brarr,mystr,html;
               brarr = response.map((el)=>el.part_no); 
               mystr = "";
               brarr.forEach((el,index)=>{
                 html = `<option class="newelepart1">${brarr[index]}</option>`
                 mystr = html.concat(mystr);
               });
               html = "";
               document.querySelector("#part_no1").insertAdjacentHTML('beforeend',mystr);
               mystr=""; 
              

            }  
                
       })
       
      
    }
function getpartdesc()
{ 
    var partno_temp = $('#part_no1').val();
    var data = {partno_temp}; 
    var part;                
      $.ajax({
        type : 'GET',
        url : "{% url 'm14hwpart' %}",
        dataType : 'json',
        data : data,
        success : function(response)
        {   
            if(response[0]=='A')
           {
               window.alert("part no must be entered")
           }  
           else 
           if(response[0]=='Z')
           {
               window.alert("part not in production")
           }  
           else
           if(response[0]=='ZR')
           {
            document.getElementById('part_desc1').value=response[1].des;
            document.getElementById("loco_no1").focus();
           }              
            
                                                                     
        }
   })
 
  
}

    function myfunction_pmno1()
    {
        var batch = $('#batch_no1').val();
        var qty = $('#assly_no1').val();
        var lt= $('#loco_to1').val();
        var lf = $('#loco_from1').val();
        var data={batch,qty,lt,lf};
        var part;                
          $.ajax({
            type : 'GET',
            url : "{% url 'm14hwpm1' %}",
            dataType : 'json',
            data : data,
            
            success : function(response)
            {   
               
                document.getElementById('unit1').value=response[0].unit;
                document.getElementById('pm_no1').value=response[0].pm_no;
                document.getElementById('brn_no1').value=response[0].brn_no;
                document.getElementById('quantity1').value=response[0].qty;
                document.getElementById('epc1').value=response[0].epc;

               
               
            }    
       })
    }

     
    document.querySelector('#part_no1').addEventListener('change',(e)=>{
        e.preventDefault();
        getpartdesc();});

        function setGetParameter(){
            window.location.href = "{% url 'GeneratePdf' %}"+"?m13_no="+"0"+"&m13_date="+$('#m13_date').val()+"&char_wo="+$('#char_wo').val()+"&sl_no="+$('#sl_no').val()+"&batch_no="+$('#batch_no1').val()+"&epc="+$('#epc1').val()+"&brn_no="+$('#brn_no1').val()+"&loco_from="+$('#loco_from1').val()+"&loco_to="+$('#loco_to1').val()+"&assly_no="+$('#assly_no1').val()+"&assly_desc="+$('#assly_desc1').val()+"&part_no="+$('#part_no1').val()+"&part_desc="+$('#part_desc1').val()+"&quantity="+$('#quantity1').val()+"&unit="+$('#unit1').val()+"&pm_no="+$('#pm_no1').val()+"&m14_no="+$('#m14_no').val()+"&rforhw="+$('#rforhw1').val();
            
        } 

        function setGetParameter1(){
            
            
            window.location.href = "{% url 'GeneratePdf' %}"+"?m13_no="+$('#m13_no').val()+"&m13_date="+$('#m13_date').val()+"&char_wo="+$('#char_wo').val()+"&sl_no="+$('#sl_no').val()+"&batch_no="+$('#batch_no').val()+"&epc="+$('#epc').val()+"&brn_no="+$('#brn_no').val()+"&loco_from="+$('#loco_from').val()+"&loco_to="+$('#loco_to').val()+"&assly_no="+$('#assly_no').val()+"&assly_desc="+$('#assly_desc').val()+"&part_no="+$('#part_no').val()+"&part_desc="+$('#part_desc').val()+"&quantity="+$('#quantity').val()+"&unit="+$('#unit').val()+"&pm_no="+$('#pm_no').val()+"&m14_no="+$('#m14_no').val()+"&rforhw="+$('#rforhw').val();
            
        } 

</script>
{% endblock content %}