{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    * {
      box-sizing: border-box;
    }
    
    body {
      font: 16px Arial;  
    }
    
    /*the container must be positioned relative:*/
    .autocomplete {
      position: relative;
      display: inline-block;
    }
    
    input {
      border: 1px solid transparent;
      background-color: #f1f1f1;
      padding: 10px;
      font-size: 16px;
    }
    
    input[type=text] {
      background-color: #f1f1f1;
      width: 100%;
    }
    
    input[type=submit] {
      background-color: DodgerBlue;
      color: #fff;
      cursor: pointer;
    }
    
    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }
    
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff; 
      border-bottom: 1px solid #d4d4d4; 
    }
    
    /*when hovering an item:*/
    .autocomplete-items div:hover {
      background-color: #e9e9e9; 
    }
    
    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
      background-color: DodgerBlue !important; 
      color: #ffffff; 
    }
    </style>
<br>
<h3><center>Card Generation</center></h3>
<center>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <font size="3">
            <li>
                {{ message }}
            </li>
        </font>
        {% endfor %}
    </ul>
    {% endif %}
</center>
<br>
<center>
    <form method="POST">{%csrf_token%}
    <div class="container" id="div1">    
            
        <div class="form-row">            
            <div class="form-group col-md-4">
                <label for="cardno">Select Card to generate</label>
                <select class="form-control" name="cardno" id="cardno" required>
                    <option selected disabled hidden>Select Card</option>
                    <option value="M2">M2</option>
                    <option value="M4">M4</option>
                    <option value="M5">M5</option>
                    <option value="M15">M15</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="asslyno">Assembly No.</label>
                <select class="form-control" name="asslyno" id="asslyno" required>
                    <option id="asslyno_op" selected disabled hidden>Select Assembly No.</option>
                        {% for i in assmno %}
                            <option values='{{i.part_no}}'>{{i.part_no}}</option>
                    {% endfor %}    
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="batchno">Batch Order No.</label>
                 <select class="form-control" id="batchno" name="batchno" onblur="funbrnno();" required>
                              <option id="op_batchno" selected disabled hidden>Select Batch NO</option>
                              {% if lenm == 1 %}
                              {% for i in bo_no_temp %}
                                <option>{{i.bo_no}}</option>
                              {% endfor %}
                              {% endif %}
                     </select>
            </div>
        </div> 
        <div class="form-group col-md-4">
            <label for="brn_no">BRN NO  :   </label>

            <div class="autocomplete" style="width:300px;">
                <input id="brn_no" autocomplete="off" type="text" name="brn_no" placeholder="Country"   maxlength="5" onchange="myFunc1();" onkeypress="return isNumberKey(event)">
            </div>

            <!-- <input type="text" id="brn_no" name="brn_no" value=""  maxlength="6" onchange="myFunc1();" onkeypress="return isNumberKey(event)">  -->
        </div>
        <div class="form-row" id="alt">
            
            <div class="form-group col-md-4">
                <label for="isalt">Is Alternate  :   </label>
                <input type="radio" id="ralt" name="ralt" value="T" onchange="only1();" > True
                <input type="radio" id="ralt" name="ralt" value="F" onchange="only1();" > False
            </div>
        </div>
        <br><center><button type="submit" name="cardbutton" value="Generate Cards" class="btn btn-primary" onclick="wait()">Generate Cards</button></center>
    </div> 
    <div id="div2">
        <center><img src="{% static 'dlw/images/loading.gif' %}" style="width:20%;height:20%;"></center>
    </div>
   
    </form>
</center>

<script>
// var countries = ["12345678"];
// lst=[]
// function funbrnno()

// {
//     alert('hhhhhhhhhhhhh');
//     var batch=$('#batchno').val();
//     var data={batch};
//     $.ajax({
//     type : 'GET',
//     url : "{% url 'm5cardgen_getbrn' %}",
//     dataType : 'json',
//     data : data,

//     success : function(response)
//     {     
//       for(i=0;i<response.length;i++)
//       {
//         lst.push('"'+(response[i].brn_no)+'"'.toString());
//       }
//       countries=lst;
//       alert(countries);
//     }
    
//     }); 
// }

function myFunc1(){
    var brn_no = $("#brn_no").val();
    if(brn_no.length < '5'){
        //document.getElementById('brn_no').focus();
        $("#brn_no").focus();
        alert("BRN NO must be 5 character.")
    }
}

// function isNumberKey(evt) {

// var charCode = (evt.which) ? evt.which : evt.keyCode;
// if (charCode > 31 && (charCode < 48 || charCode > 57)) return false;
// return true;

// }

window.onload=function()
{
    $('#div1').show();
    $('#div2').hide();
    $('#alt').hide();
}

document.querySelector("#asslyno").addEventListener('change',(e)=>{
                    e.preventDefault();
                    var mAsslyno = $("#asslyno").val();                    
                    var data = {mAsslyno};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm27getBatchNo' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var elementsadded = document.querySelectorAll(".newelepart1");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());       
                                  document.querySelector("#op_batchno").selected=true;  
                                 
                               }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.bo_no); 
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelepart1">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#batchno").insertAdjacentHTML('beforeend',mystr);
                              mystr=""; 
                        }
                   })
                });

function wait()
{
    $('#div1').hide();
    $('#div2').show();
}
document.querySelector("#cardno").addEventListener('change',(e)=>{
                    e.preventDefault();
                    alert(countries);
                   
                    var d=$('#cardno option:selected').val();
                    if(d=='M4' || d=='M5')
                    {$('#alt').show();}
                    
});
  





    // function autocomplete(inp, arr) {
    //   /*the autocomplete function takes two arguments,
    //   the text field element and an array of possible autocompleted values:*/
    //   var currentFocus;
    //   /*execute a function when someone writes in the text field:*/
    //   inp.addEventListener("input", function(e) {
    //       var a, b, i, val = this.value;
    //       /*close any already open lists of autocompleted values*/
    //       closeAllLists();
    //       if (!val) { return false;}
    //       currentFocus = -1;
    //       /*create a DIV element that will contain the items (values):*/
    //       a = document.createElement("DIV");
    //       a.setAttribute("id", this.id + "autocomplete-list");
    //       a.setAttribute("class", "autocomplete-items");
    //       /*append the DIV element as a child of the autocomplete container:*/
    //       this.parentNode.appendChild(a);
    //       /*for each item in the array...*/
    //       for (i = 0; i < arr.length; i++) {
    //         /*check if the item starts with the same letters as the text field value:*/
    //         if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
    //           /*create a DIV element for each matching element:*/
    //           b = document.createElement("DIV");
    //           /*make the matching letters bold:*/
    //           b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
    //           b.innerHTML += arr[i].substr(val.length);
    //           /*insert a input field that will hold the current array item's value:*/
    //           b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
    //           /*execute a function when someone clicks on the item value (DIV element):*/
    //           b.addEventListener("click", function(e) {
    //               /*insert the value for the autocomplete text field:*/
    //               inp.value = this.getElementsByTagName("input")[0].value;
    //               /*close the list of autocompleted values,
    //               (or any other open lists of autocompleted values:*/
    //               closeAllLists();
    //           });
    //           a.appendChild(b);
    //         }
    //       }
    //   });
    //   /*execute a function presses a key on the keyboard:*/
    //   inp.addEventListener("keydown", function(e) {
    //       var x = document.getElementById(this.id + "autocomplete-list");
    //       if (x) x = x.getElementsByTagName("div");
    //       if (e.keyCode == 40) {
    //         /*If the arrow DOWN key is pressed,
    //         increase the currentFocus variable:*/
    //         currentFocus++;
    //         /*and and make the current item more visible:*/
    //         addActive(x);
    //       } else if (e.keyCode == 38) { //up
    //         /*If the arrow UP key is pressed,
    //         decrease the currentFocus variable:*/
    //         currentFocus--;
    //         /*and and make the current item more visible:*/
    //         addActive(x);
    //       } else if (e.keyCode == 13) {
    //         /*If the ENTER key is pressed, prevent the form from being submitted,*/
    //         e.preventDefault();
    //         if (currentFocus > -1) {
    //           /*and simulate a click on the "active" item:*/
    //           if (x) x[currentFocus].click();
    //         }
    //       }
    //   });
    //   function addActive(x) {
    //     /*a function to classify an item as "active":*/
    //     if (!x) return false;
    //     /*start by removing the "active" class on all items:*/
    //     removeActive(x);
    //     if (currentFocus >= x.length) currentFocus = 0;
    //     if (currentFocus < 0) currentFocus = (x.length - 1);
    //     /*add class "autocomplete-active":*/
    //     x[currentFocus].classList.add("autocomplete-active");
    //   }
    //   function removeActive(x) {
    //     /*a function to remove the "active" class from all autocomplete items:*/
    //     for (var i = 0; i < x.length; i++) {
    //       x[i].classList.remove("autocomplete-active");
    //     }
    //   }
    //   function closeAllLists(elmnt) {
    //     /*close all autocomplete lists in the document,
    //     except the one passed as an argument:*/
    //     var x = document.getElementsByClassName("autocomplete-items");
    //     for (var i = 0; i < x.length; i++) {
    //       if (elmnt != x[i] && elmnt != inp) {
    //         x[i].parentNode.removeChild(x[i]);
    //       }
    //     }
    //   }
    //   /*execute a function when someone clicks in the document:*/
    //   document.addEventListener("click", function (e) {
    //       closeAllLists(e.target);
    //   });
    // }
    
    // /*An array containing all the country names in the world:*/
   
    
    // /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    // autocomplete(document.getElementById("brn_no"), countries);
    </script>


{% endblock content %}
