<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>card generation</title>
    </head>
    <body> 
           
        <p style="font-size: 30px;" ALIGN="CENTER">M2 CARD GENERATION</p>
        <hr>
        <table border="0px">
            <tr >
                <td ><p style="font-size: 15px;" >ASSEMBLY NO :  </p></td >
                <td ><p style="font-size: 15px;">{{asl}} </p></td>
                <td ><p style="font-size: 15px;" >DESCRIPTION : </p></td>
                <td colspan="2"><p style="font-size: 15px;">{{ades}}</p></td>
            </tr>
            <tr>
                <td ><p style="font-size: 15px;" >BATCH NO : </p></td>
                <td ><p style="font-size: 15px;">{{batch}}</p></td>
                <td ><p style="font-size: 15px;" id="p1">EPC : </p></td>
                <td><p style="font-size: 15px;">M</p></td>
                <td ><p style="font-size: 15px;"> LOCO TO :   </p></td>
                <td ><p style="font-size: 15px;">9999 </p></td>
            </tr>

        </table>
        <hr>
        <table >
            <tr>
            
            <td>SL NO.</td>
            <td>SCL_CL</td>    
            <td>C_PART NO</td>
            <td>SHOP SEC</td>
            <td>BRN NO</td>
            <td>RC_ST_WK</td>
            <td>R_PART</td>
            <td>R_PTC</td>
            
           </tr>
           <hr>
              {% for i in m2 %}
            <tr>
            <td>{{i.m2sln}}</td>
             <td>{{i.scl_cl}}</td> 
             <td>{{i.part_no}}</td> 
             <td>{{i.f_shopsec}}</td>
             <td>{{brn}}</td>
             <td>{{i.rc_st_wk}}</td>
             <td>{{i.rm_partno}}</td> 
             <td>{{i.rm_ptc}}</td> 
             
            </tr>
            {% endfor %}
       
            
        
            
        </table>
       


    </body>
</html>





