{% extends 'base.html' %}

{% block content %}
<br>
<h3><center>Card Generation</center></h3>
<center>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <font size="3">
            <li>
                {{ message }}
            </li>
        </font>
        {% endfor %}
    </ul>
    {% endif %}
</center>
<br>

<center>
    <form method="POST">{%csrf_token%}

        <div class="col-4">

            {% comment %} <label><h5>WorkOrder No.</h5></label>
            <br><input type='text' class='form-control' id='wono' name='wono' required/>
            <br> {% endcomment %}

            <label><h5>Assembly No.</h5></label>
            <select class="form-control" name="asslyno" id="asslyno" required>
	   <option id="roleop" selected disabled hidden>Select Assembly No.</option>
        {% for i in assmno %}
            <option values='{{i.num_1}}'>{{i.num_1}}</option>
        {% endfor %}
   	</select><br><br>


        <center><button type="submit" name="cardbutton" value="Generate Cards" class="btn btn-primary">Generate Cards</button></center>
    </form>
</center>

{% endblock content %}
