<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>card generation</title>
    </head>
    <body> 
           
        <p style="font-size: 30px;" ALIGN="CENTER">{{card}} CARD GENERATION</p>
        <hr>
        <table border="0px">
            <tr >
                <td ><p style="font-size: 15px;" >ASSEMBLY NO :  </p></td >
                <td ><p style="font-size: 15px;">{{asl}} </p></td>
                <td ><p style="font-size: 15px;" >DESCRIPTION : </p></td>
                <td colspan="2"><p style="font-size: 15px;">{{ades}}</p></td>
            </tr>
            <tr>
                <td ><p style="font-size: 15px;" >BATCH NO : </p></td>
                <td ><p style="font-size: 15px;">{{batch}}</p></td>
                <td ><p style="font-size: 15px;" id="p1">EPC : </p></td>
                <td><p style="font-size: 15px;">M</p></td>
                <td ><p style="font-size: 15px;"> LOCO TO :   </p></td>
                <td ><p style="font-size: 15px;">9999 </p></td>
            </tr>

        </table>
        <hr>
        <table >
            <tr>
            <td>SCL_CL</td>    
            <td>C_PART NO</td>
            <td>SHOP SEC</td>
            <td>QTY</td>
            <td>RC_ST_WK</td>
            <td>R_PART</td>
            <td>R_PTC</td>
            <td>R_QTY</td>
            <td>CUT SHEAR</td>
            
            
           </tr>
           <hr>
              {% for i in dat %}
            <tr>
             <td>{{i.scl_cl}}</td> 
             <td>{{i.partno}}</td> 
             <td>{{i.shop}}</td>
             <td>{{i.qty}}</td>
             <td>{{i.rm}}</td>
             <td>{{i.r_part}}</td> 
             
             
             <td>{{i.r_ptc}}</td> 
             <td>{{i.r_qty}}</td>
             <td>{{i.cut_Shear}}</td> 
            </tr>
            {% endfor %}
       
            
        
            
        </table>
       


    </body>
</html>





