<html>
    <style>

        p{
            
            margin-top: 50px;
        }
    </style>
<body style="align-content: center;">
<form method="POST">
    

    <table width=100% style="font-size: 18px;">
        <tr>
            <td colspan="2" style="text-align: center;"><label>ANNEXURE-II</label></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <label>DIESEL LOCOMOTIVE WORKS, VARANASI</label>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;">
                <br>
                <label>WORKSMEN S COMPENSATION ACT<br>INJURY AND DISABLEMENT CERTIFICATE</label>
            </td>
        </tr>
    </table>
    <table style="margin-top: 50px;">
        <tr>
            <td width=50%>
                <label style="font-size: 15px;"> BOOK NO. <b>{{book_no}}</b></label>
            </td>
            <td width=50% style="text-align: right;">
                <label style="font-size: 15px;"> MEDICAL CERTIFICATE PAGE NO. <b>{{mc_no}}</b></label>
            </td>
        </tr>
    </table>

</form>
<p> <font style="font-size: 15px; line-height: 15pt;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp I have examined <b>{{emp_name}}</b> ID <b>{{emp_no}}</b>, Designation <b>{{emp_des}}</b>
     Ticket no <b>{{t_no}}</b> who met with an accident on <b>{{acc_date}}</b>, ticket number<b>{{t_no}}</b>
     Part of body injured <b>{{inj_part}}</b> Nature of injury <b>{{nature}}</b><br>
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp His disablement is likely to continue for <b>{{contd}} </b>days</font>
</p>
<table style="margin-top: 50px;">
    <tr>
        <td style="text-align: left;">
           <label style="font-size: 15px;">Dated <b>{{date1}}</b></label> 
        </td>
        <td  style="text-align: right;">
            <label style="font-size: 15px;"> Signature_______________</label>
        </td>
    </tr>
    <tr>
        <td colspan=2 style="text-align: right;">
            <label style="font-size: 15px;">Designation <b>{{d_des}}</b></label>
        </td>
    </tr>
</table>
                    
     

</body>
</html>