{% extends 'base.html' %} {% block content %}{% load static %}
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script> -->


<form action="{% url 'PpncdemViewInfo' %}" method="POST"> 
{% csrf_token %}
<div id="divlayout" align="center">
    <h5 align="center" style="color:black;" ><b>SELECT OPTION TO PRINT/VIEW<b></h5>
    <br>
<div id="view1">
<table>
    <tr>
        <td>
            <input type="radio" name="queryon" class="queryon" id="Demand_no" value="1" >1-Demand list of Demand No.<br>
            <input type="radio" name="queryon"  class="queryon" id="dateFromTo" value="2" >2-Demand List of Date From-To<br>
            <input type="radio" name="queryon"  class="queryon" id="staff_no" value="3" >3-Demand List of Staff No.<br>
            <input type="radio" name="queryon"  class="queryon" id="epd_NotSent" value="4" >4-Demand list Not sent to EDP<br>
        </td>
    </tr>
</table><br>
<table align="center">
    <tr id="DemandNo" style="display:none;">
        <td>Demand Reg No.</td>
        <td><input type="text" id="dem_reg" name="dem_reg" style="width:100px;"></td>
    </tr>
</table>
<table align="center">
    <tr id="date" style="display:none;">
        <td>Date From</td>
        <td><input type="text" id="date_from" name="date_fr" style="width:100px;"></td>
        <td>Date To</td>
        <td><input type="text" id="date_to" name="date_from" style="width:100px;"></td>
    </tr>
</table>
<table align="center">
    <tr id="Staff_No" style="display:none;">
        <td>Staff No.</td>
        <td><input type="text" id="staffNo" name="staffNo" style="width:100px;"></td>
    </tr>
</table>
<table align="center">
    <tr id="edp" style="display:none;">
        <td>Enter demand Reg No.</td>
        <td><input type="text" id="demReg" name="demReg" style="width:100px;"></td>
    </tr>
</table>
</div>
<br>
<div id="view2" class="container" align="center">
<input type="button" id="create" name="create" value="Create" class="btn btn-primary" onclick="Create()">
<input type="button" id="back" name="back" value="Back" onclick="DemandRegistrationRedirect()" class="btn btn-primary">
</div>
</div>
<script>
    $(document).ready(function () {               
        $('#date_to').datepicker({
            dateFormat: "dd-mm-yy" 
    });
                       
    $("#date_from").datepicker({
        dateFormat: "dd-mm-yy",                        
        onSelect: function(date){            
            var date1 = $('#date_from').datepicker('getDate');                                                         
            $('#date_to').datepicker("option","minDate",date1);            
           }
    });              
  });
var val4;
var val5;  
var val3;
var val2;
var val1;
var val;
var check;
$("input[type='radio']").on('change',function(){
    val1=($(this).val());
    if($(this).val()=="1"){
        check=$(this).val();
     $("#DemandNo").show();
     $("#DemandNo").focus();
     $("#date").hide();
     $("#Staff_No").hide();
     $("#edp").hide();
    }
    else if($(this).val()=="2"){
        check=$(this).val();

    $("#DemandNo").hide();
     $("#date").focus();
     $("#date").show();
     $("#Staff_No").hide();
     $("#edp").hide();
    }
    else if($(this).val()=="3"){
        check=$(this).val();

    $("#DemandNo").hide();
     $("#Staff_No").focus();
     $("#date").hide();
     $("#Staff_No").show();
     $("#edp").hide();
    }
    else{
        check=4;
     $("#DemandNo").hide();
     $("#edp").focus();
     $("#date").hide();
     $("#Staff_No").hide();
     $("#edp").show();
    }
});


$("#staffNo").on("change",function(){
var val=$('#staffNo').val();
});

$("#dem_reg").on("change",function(){
var val2=$('#dem_reg').val();
});
$("#demReg").on("change",function(){
var val3=$('#demReg').val();
});
$("#date_from").on("change",function(){
var val4=$('#date_from').val();
});
$("#date_to").on("change",function(){
var val5 = $('#date_to').val();
});
function DemandRegistrationRedirect(){
        window.location.href="{% url 'demandRegistrationview' %}"
    }
function Create()
{
    if (check==1)
        formfun();
    else
    if (check==3)
        formfun1();
    else
    if (check==4)
        formfun2();
    else
    if(check==2)
        window.location.href="{% url 'demandRegistrationReportview' %}"+"?staffno="+$("#staffNo").val()+"&rbtnquery="+val1+"&dem_reg="+$("#dem_reg").val()+"&demReg="+$("#demReg").val()+"&date_from="+$("#date_from").val()+"&date_to="+$("#date_to").val();
       

}
function formfun()
{
    var dem_reg = $("#dem_reg").val();
    var data = {dem_reg};
            $.ajax({
                type : 'GET',
                url : "{% url 'PpncDemvalidation1' %}",
                dataType : 'json',
                data : data,  
                success : function(response){
                if(response.length == 0){ 
                    alert("Please enter valid Demand No.");            
                }
                else
                {
                    window.location.href="{% url 'demandRegistrationReportview' %}"+"?staffno="+$("#staffNo").val()+"&rbtnquery="+val1+"&dem_reg="+$("#dem_reg").val()+"&demReg="+$("#demReg").val()+"&date_from="+$("#date_from").val()+"&date_to="+$("#date_to").val();
                }
            }
        })
}
function formfun1()
{
    var staffNo = $("#staffNo").val();
    var data = {staffNo};
            $.ajax({
                type : 'GET',
                url : "{% url 'PpncDemvalidation2' %}",
                dataType : 'json',
                data : data,  
                success : function(response){
                if(response.length == 0){ 
                    alert("Please enter valid Staff No.");            
                }
                else{
                    window.location.href="{% url 'demandRegistrationReportview' %}"+"?staffno="+$("#staffNo").val()+"&rbtnquery="+val1+"&dem_reg="+$("#dem_reg").val()+"&demReg="+$("#demReg").val()+"&date_from="+$("#date_from").val()+"&date_to="+$("#date_to").val();
                }
            }
        })
}
function formfun2()
{
    var demReg = $("#demReg").val();
    var data = {demReg};
            $.ajax({
                type : 'GET',
                url : "{% url 'PpncDemvalidation3' %}",
                dataType : 'json',
                data : data,  
                success : function(response){
                    alert(response.length);
                if(response.length == 0){ 
                    alert("Please enter valid demand no.");            
                }
                else
                {
                    window.location.href="{% url 'demandRegistrationReportview' %}"+"?staffno="+$("#staffNo").val()+"&rbtnquery="+val1+"&dem_reg="+$("#dem_reg").val()+"&demReg="+$("#demReg").val()+"&date_from="+$("#date_from").val()+"&date_to="+$("#date_to").val();
                }
            }
        })
}
</script>
{% endblock content %}
