{% extends 'base.html' %} {% block content %} {% load static %}
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>  
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
<style>
    input[type=submit] {     
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 10px 16px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 0px !important;
}
</style>
<br>
<form action="{% url 'demandRegistrationview' %}" method="POST"> 
{% csrf_token %}
<h5 align="center" style="color:black;" ><b>SELECT RECORD TO EDIT<b></h5>
<div class="container">
    <table id = "example" class ="table table-striped table-bordered">     
        <thead style="background-color:ghostwhite; font-size:12px;">
          <th>STAFF NO</th>
          <th>NAME</th>
          <th>DEP</th>
          <th>DATE</th>
          <th>DEM NO</th>
          <th>SI No</th>
          <th>PART NO</th>
          <th>EPC</th>
          <th>QTY</th>
          <th>WO NO</th>
          <th>WO-TYPE</th>
          <th>LOCO FROM</th>
          <th>LOCO TO</th>
          <th>SEQ</th>
          <th>WEEK NO</th>
          <th>M2</th>
          <th>M4</th>
          <th>M5</th>
          <th>M14</th>
        </thead>
        <tbody  style="font-size:11px; font-weight: 610;">
            {% for i in obj %}
            <tr>
                <td style="width:250px;text-align: center;">{{i.staff_no}}</td>
                <td style="width:250px;text-align: center;">{{i.name}}</td>
                <td style="width:250px;text-align: center;">{{i.dep}}</td>
                <td style="width:250px;text-align: center;">{{i.dem_date}}</td>
                <td style="width:250px;text-align: center;">{{i.dem_regno}}</td>
                <td style="width:250px;text-align: center;">{{i.slno}}</td>
                <td style="width:250px;text-align: center;">{{i.part_no}}</td>
                <td style="width:250px;text-align: center;">{{i.epc}}</td>
                <td style="width:250px;text-align: center;">{{i.qty}}</td>
                <td style="width:250px;text-align: center;">{{i.bo_no}}</td>
                <td style="width:250px;text-align: center;">{{i.batch_type}}</td>
                <td style="width:250px;text-align: center;">{{i.l_fr}}</td>
                <td style="width:250px;text-align: center;">{{i.l_to}}</td>
                <td style="width:250px;text-align: center;">{{i.seq}}</td>
                <td style="width:250px;text-align: center;">{{i.week_no}}</td>
                <td style="width:250px;text-align: center;">{{i.m2}}</td>
                <td style="width:250px;text-align: center;">{{i.m4}}</td>
                <td style="width:250px;text-align: center;">{{i.m5}}</td>
                <td style="width:250px;text-align: center;">{{i.m14}}</td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table> 
    <br>
   <center><input type="button" value="Back" id="back" name="back" onclick="backpage()"></center>
</div>
<input type="submit" name="SubmitMultipleRowData" id="SubmitMultipleRowData" value="Submit" hidden/>&nbsp;
<input type="hidden" name="dataForm" id="dataForm"  />
</form>
<script>
$(document).ready(function() {   
    var table = $('#example').DataTable();      
        $('#example tbody').on('click', 'tr', function () {
            var data = table.row( this ).data();                  
                if($(this).hasClass('selected')) {
                   $(this).removeClass('selected');
                   if(confirm('Are you sure want to go for this selected row.'))
                    {
                        document.getElementById('dataForm').value=data;
                        document.querySelector("#SubmitMultipleRowData").click(); 
                    }  
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }            
            $('#SubmitMultipleRowData').click( function () {
                table.row('.selected').remove().draw( false );
            });                                       
        });
    });
              
</script>
{% endblock content %}