{% extends 'base.html' %} 
{% block content %}

<style>
    input[type=text],
    select {
        width: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
    }
    
    input[type=button] {
        width: 10%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 6px 6px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button]:hover {
        background-color: #45a049;
        text-align: center;
    }
   

</style>

</br>
<h3 align="center">
    
        <b>CONSOLIDATED PART MASTER LISTING</b>
    
</h3>
</br>
<form action="{% url 'EpCpm' %}" method="POST"> 
    {% csrf_token %}
    <div class="container">
<table width=70% align=center>
    <tr>
        <td width=10%>
            <label for="LastCreationDate" class="td_txt"><b>Last Creation Date:</b></label>
        </td>
        <td>
            
            <input type="text" name="LastCreationDate" class="td_cntrl" id=lblDt  value="{{lblDt}}" readonly>
        </td>
    </tr>
    <tr>
        <td  class="td_txt" width=20%>
            </br><b>DESIRED END PRODUCT CODES:</b>
        </td>
        <td align=center class="td_cntrl"></br>
            <div id="wkslist"></div></br>   
        </td>
        
        <td width=15%></br>
            <input type="checkbox" name="allepc" id="chkAllEpc">
            <b>All EPC</b></br>
        </td>
    </tr>
    <tr>
        <td width=10%></td>
        <td colspan=2>
            <b>01=M2Eng &nbsp; 02=S6Eng &nbsp; 03=M2Loc &nbsp; 05=P1Eng &nbsp; 06=P1Loc &nbsp; 08=S6Loc &nbsp; 09=G2Eng &nbsp; 1A=G2Loc &nbsp; 1B=P2Loc &nbsp; 1G=M2Tra &nbsp; 1J=S6Tra &nbsp; 1K=P1Tra &nbsp; 1L=G2Tra</b>
        </td>
    </tr>
    <tr>
        <td></br>
            <b>PART TYPE CODES COMBINATION:</b>
        </td>
        <td align=center><div id="one"><b></br>
            <input type="checkbox" id="P" name="P" >
            P&nbsp;
            <input type="checkbox" id="Q" name="Q" >
            Q&nbsp;
            <input type="checkbox" id="R" name="R" >
            R&nbsp;
            <input type="checkbox" id="L" name="L" >
            L&nbsp;
            <input type="checkbox" id="B" name="B" >
            B&nbsp;
            <input type="checkbox" id="M" name="M" >
            M</b></div>
        </td>
        <td></br>
            <input type="checkbox" name="End" id="chkAllPtc">
            <b>All PTC</b></br>
        </td>
    </tr>
    <tr>
        <td width=10%></td>
        <td>
            <b>P=PF &nbsp; Q=PRF &nbsp; R=RM &nbsp; L=Stk.Suspence &nbsp; B=Bal.Input  &nbsp;M=SM</b>
        </td>
    </tr>
    <tr align=center>
        <td colspan=3></br>
            <input type="button" name="btnViewCPM" id="btnViewCPM" value="View CPM" onclick="Cpmfunc()">
            <input type="button" name="btnClear_Click" id="btnClear_Click" value="Clear" onclick="Clearfunc()">
            <input type="text" id="lbldtEpc" name="lbldtEpc" readonly value="{{lbldtEpc}}">
            <input type="text" id="lbldtPtc" readonly>
            <input type="text" id="lblPtcAll" readonly value="B">
            <input type="text" id="lblEpcAll" readonly value="B">
        </td>
    </tr>
</table>
</div>
</form>
<script>
var checkbox = document.querySelector("input[name=End]");

checkbox.addEventListener( 'change', function() {
    if(this.checked) {
        var txtOutput = document.getElementById("lbldtPtc");
        txtOutput.value = "(P,Q,R,L,B,M)"
        var txt = document.getElementById("lblPtcAll");
        txt.value = "All"
    }
    else{
        var txtOutput = document.getElementById("lbldtPtc");
        txtOutput.value = ""
        var txt = document.getElementById("lblPtcAll");
        txt.value = "B"
    }
});
var list=[];
var checkbox1 = document.querySelector("input[name=P]");

checkbox1.addEventListener( 'change', function() {
    if(this.checked) {
        list.push("P");
        document.getElementById("lbldtPtc").value = list;
        var txt = document.getElementById("lblPtcAll");
        txt.value = "B" 
    }
    else{
        for(var i = list.length - 1; i >= 0; i--) {
            if(list[i] === "P") {
                list.splice(i, 1);
            }
        }
        document.getElementById("lbldtPtc").value = list;
        
    }
});
var checkbox2 = document.querySelector("input[name=Q]");

checkbox2.addEventListener( 'change', function() {
    if(this.checked) {
      
        list.push("Q");
        document.getElementById("lbldtPtc").value = list; 
        var txt = document.getElementById("lblPtcAll");
        txt.value = "B"
    }
    else{
        for(var i = list.length - 1; i >= 0; i--) {
            if(list[i] === "Q") {
                list.splice(i, 1);
            }
        }
        document.getElementById("lbldtPtc").value = list;
    }
    
});
var checkbox3 = document.querySelector("input[name=R]");

checkbox3.addEventListener( 'change', function() {
    if(this.checked) {
      
        list.push("R");
        document.getElementById("lbldtPtc").value = list; 
        var txt = document.getElementById("lblPtcAll");
        txt.value = "B"
    }
    else{
        for(var i = list.length - 1; i >= 0; i--) {
            if(list[i] === "R") {
                list.splice(i, 1);
            }
        }
        document.getElementById("lbldtPtc").value = list;
    }
    
});
var checkbox4 = document.querySelector("input[name=L]");

checkbox4.addEventListener( 'change', function() {
    if(this.checked) {
        
        list.push("L");
        document.getElementById("lbldtPtc").value = list; 
        var txt = document.getElementById("lblPtcAll");
        txt.value = "B"
    }
    else{
        for(var i = list.length - 1; i >= 0; i--) {
            if(list[i] === "L") {
                list.splice(i, 1);
            }
        }
        document.getElementById("lbldtPtc").value = list;
    }
    
});
var checkbox5 = document.querySelector("input[name=B]");

checkbox5.addEventListener( 'change', function() {
    if(this.checked) {
        list.push("B");
        document.getElementById("lbldtPtc").value = list; 
        var txt = document.getElementById("lblPtcAll");
        txt.value = "B"
    }
    else{
        for(var i = list.length - 1; i >= 0; i--) {
            if(list[i] === "B") {
                list.splice(i, 1);
            }
        }
        document.getElementById("lbldtPtc").value = list;
    }
});
var checkbox6 = document.querySelector("input[name=M]");

checkbox6.addEventListener( 'change', function() {
    if(this.checked) {
        list.push("M");
        document.getElementById("lbldtPtc").value = list; 
        var txt = document.getElementById("lblPtcAll");
        txt.value = "B"
    }
    else{
        for(var i = list.length - 1; i >= 0; i--) {
            if(list[i] === "M") {
                list.splice(i, 1);
            }
        }
        document.getElementById("lbldtPtc").value = list;
    
    }
});
var arr=[];
var arr1=[];


$(document).ready(function()
{
    $.ajax({
                      type : 'GET',
                      url : "{% url 'unbound' %}",
                      dataType : 'json',
                      success : function(response){ 
                            for(i=0;i<response.length;i++)
                            {
                                var li = $('<input type="checkbox"  name="' + response[i] +'"value="'+i+'"class=chk"'+ '" id="' + response[i] + '"/>' +'<label for="' + i + '">'+response[i]+'&nbsp;&nbsp;</label>');
                                $('#wkslist').append(li);
                                arr[i]=response[i];
                                arr1[i]=0;
                            }
                        }
                });
});


document.querySelector("#wkslist").addEventListener('change',(e)=>{
    e.preventDefault();
    document.getElementById("lblEpcAll").value="B";
    for(i=0;i<arr.length;i++)
    {
        arr1[i]=0;
    }
    for(i=0;i<arr.length;i++)
    {
        if(document.getElementById(arr[i]).checked==true)
        {
            if(arr1[i]==0);
            {
                arr1[i]=1;
            }
        }    
    }
    func();
});

var a=[];
function func()
{
    c=0;
    
    a=[];
    for(i=0;i<arr.length;i++)
    {  
        if(arr1[i]==1)
        {
            a[c]=arr[i];
            c++;
        }
    }
    document.getElementById("lbldtEpc").value = a; 
}


var checkbox8 = document.querySelector("input[name=allepc]");
checkbox8.addEventListener( 'change', function() {
    if(this.checked){
        document.getElementById("lbldtEpc").value=arr;
        document.getElementById("lblEpcAll").value="All";
    }
});




$("#one").on("click", function () {
    document.getElementById('chkAllPtc').checked = false;

});

$("#chkAllPtc").on("change", function () {

    document.getElementById('P').checked = false;
    document.getElementById('Q').checked = false;
    document.getElementById('R').checked = false;
    document.getElementById('L').checked = false;
    document.getElementById('B').checked = false;
    document.getElementById('M').checked = false;
    list=[];
});




$("#wkslist").on("click", function () {
  
    document.getElementById('chkAllEpc').checked = false;
});

$("#chkAllEpc").on("change", function () {
    for(i=0;i<arr.length;i++)
    {   
        arr1[i]=0;
        document.getElementById(arr[i]).checked = false;
    }
    
});


function Cpmfunc(){
    alert($('#lblDt').val());
    window.location.href="{% url 'btnViewCPM_Click' %}"+"?lblDt="+$('#lblDt').val()+"&dtEpc="+$('#lbldtEpc').val()+"&dtPtc="+$('#lbldtPtc').val()+"&EpcAll="+$('#lblEpcAll').val()+"&PtcAll="+$('#lblPtcAll').val();
    
}
function Clearfunc(){
    window.location.href="{% url 'btnClear_Click' %}"
}
</script>

{% endblock content %}