{% extends 'base.html' %} {% block content %} {% load static %}
<style>

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #808080;
    color: white;
}
input[type=submit] {
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button] {
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 6px 6px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>
<form action="." method="POST">{%csrf_token%}
<br>
<center><h2>EXAM DETAILS</h2></center>
<center>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <font size="3">
                  <li>
                     <b>{{ message }}<b>
                  </li>
              </font>
              {% endfor %}
          </ul>
          {% endif %}
  </center>
  <br>
  <br>
<center><input type="submit" name="btn" value="View" class="form-control ll" required style="width:80px;" /></center>
<br>
{% if sub == 1 %}
<table id="customers">
<tr>
<th>Exam Code</th><th>Exam Type</th>
<!-- <th>Exam Date</th> -->
<!-- <th>Practical Exam Description</th> -->
<th>Practical Max. Marks</th>
<!-- <th>Oral Exam Description</th> -->
<th>Oral Max. Marks</th>
<th>Designation</th><th>Department</th>
</tr>
{% for i in obj %}
<tr>
<td><input type="text" name="code{{forloop.counter}}" class="form-control ll" value="{{i.exam_code}}" readonly /></td>
<td><input type="text" name="type{{forloop.counter}}" class="form-control ll" value="{{i.exam_type}}" required /></td>
<!-- <td><input type="text" name="date{{forloop.counter}}" class="datepick" value="{{i.exam_date}}" readonly required /></td> -->
<!-- <td><input type="text" name="prc{{forloop.counter}}" class="form-control ll" value="{{i.prac_desc}}" required /></td> -->
<td><input type="text" name="pmax{{forloop.counter}}" class="form-control ll" value="{{i.prac_max}}" required /></td>
<!-- <td><input type="text" name="orl{{forloop.counter}}" class="form-control ll" value="{{i.oral_desc}}" required /></td> -->
<td><input type="text" name="omax{{forloop.counter}}" class="form-control ll" value="{{i.oral_max}}" required /></td>
<td><input type="text" name="omax{{forloop.counter}}" class="form-control ll" value="{{i.designation}}" required /></td>
<td><input type="text" name="omax{{forloop.counter}}" class="form-control ll" value="{{i.department}}" required /></td>
<!-- <td><a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></td> -->
</tr>
{% endfor %}
{% endif %}
</table>
<br>
<center><input type="button" name="btn" value="Add exam detail" id="add" class="form-control ll" style="width:150px;" required /></center>
<br>
<input type="text" name="total" id="total" value="" hidden/>
<input type="hidden" name="totindb" value={{totindb}} id="totindb">
<input type="hidden" name="length" value={{leng}} id="length">
<div id="items"></div>
<br>
<center><input type="submit" name="btn" value="Save" class="form-control ll" required style="width:80px;"/></center>
</form>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script type="text/javascript">
var j=0;
var ecode="ecode";
var etype="etype";
var edate="edate";
var pdesc="practical";
var pmax="pracmax"
var odesc="oral";
var omax="orlmax";
 $(document).ready(function () {
     $('.datepick').each(function(){
    $(this).datepicker({ dateFormat: 'dd/mm/yy' });
    $(this).addClass("form-control ll");
});
});
$("#add").click(function(e) {
    event.preventDefault()
        j++;
        ecode="ecode"+String(j);
        etype="etype"+String(j);
        pdesc="practical"+String(j);
        pmax="pracmax"+String(j);
        odesc="oral"+String(j);
        omax="orlmax"+String(j);
        edate="edate"+String(j);
        designation="designation"+String(j);
        department="department"+String(j);
        var happ='<div><table id="customers">';
        var totindb=document.getElementById('totindb').value;
        if(j==1 && totindb == 0)
        {
      happ=happ+'<tr><th  >Exam Code</th><th >Exam Type</th>'+
        //   '<th  >Exam Date</th><th>Practical Exam Desc.</th><th>Oral Exam Desc.</th>'+
            '<th>Practical Max. Marks</th><th>Oral Max. Marks</th> <th>Designation</th><th>Department</th></tr>';
      
        }
var happ1=happ+'<tr> <td><input type="text" id='+ecode+' name='+ecode+' class="form-control ll" placeholder="exam code" required /></td>'+'<td><input type="text" id="'+etype+'" name="'+etype+'" class="form-control ll" required></td>'+
// '<td><input type="text" id='+edate+' name='+edate+' class="edatec" required></td>'+
// '<td><input type="text" id='+pdesc+' name='+pdesc+' class="form-control ll" required></td>'+
 '<td><input type="text" id='+pmax+' name='+pmax+' value="60" class="form-control ll" required></td>'+
// '<td><input type="text" id='+odesc+' name='+odesc+' class="form-control ll" required></td>'+
'<td><input type="text" id='+omax+' name='+omax+' value="40" class="form-control ll" required></td>'+
'<td><input type="text" id='+designation+' name='+designation+' class="form-control ll"  required /></td>'+
'<td><input type="text" id='+department+'  name='+department+' class="form-control ll"   required /></td></tr>'; 

$('#items').append(happ1);
happ=happ+' </table>'+'</div>';
    
     document.getElementById("total").value=j;
     $('.edatec').each(function(){
    $(this).datepicker({ dateFormat: 'dd/mm/yy' });
    $(this).addClass("form-control ll");
});
});


$(document).on("click", ".delete", function(){
            $(this).parents("tr").remove();
    var x=document.getElementById('length').value;
    console.log(x);
    x=x-1;
    document.getElementById('length').value=x;
    console.log(document.getElementById('length'));
});
</script>

{% endblock content %}