{% extends 'base.html' %} {% block content %}
<br>
<center>
    <h3>Update Employee Password</h3>
</center>
<center>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <font size="3">
            <li>
                {{ message }}
            </li>
        </font>
        {% endfor %}
    </ul>
    {% endif %}
</center>
<center>
    <form method="POST">{% csrf_token %}
        <div class="col-4">
            <label>Type Employee-Id</label>
            <input type="text" class="form-control" id="users" name="emp_id">
            <br>
        </div><br>
        <div class="col-12" id="user_info">
            <hr>
            <table class="table table-stripped table-fixed">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Designation</td>
                        <td>Department</td>
                        <td>Contact-no</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <label>Enter New Password</label>
            <input class="form-control" type="password" name="password" required><br>
            <label>Confirm Password</label>
            <input class="form-control" type="password" name="conpassword" required><br>
        </div>
        <br>
        <center><button type="submit" class="btn btn-primary">Submit</button><br></center>

    </form>

    <br>

</center>

<script type="text/javascript">
    $(document).ready(function() {
        $("#users").change(function(e) {
            e.preventDefault();
            var username = $(this).val();
            var data = {
                username
            };
            $.ajax({
                type: 'GET',
                url: "{% url 'get_auth_emp_info' %}",
                dataType: 'json',
                data: data,
                success: function(response) {
                    $("#user_info table tbody").html(`<tr>
   				<td name="name">${response.auth_info.name}</td>
   				<td name="designation">${response.auth_info.designation}</td>
   				<td name="department">${response.auth_info.department}</td>
   				<td name="contactno">${response.auth_info.contactno}</td>
   				</tr>`);
                },
                error: function(response) {}
            })
        })
    })
</script>
</div>

{% endblock content %}