 {% extends 'base.html' %} {% block content %} {% load static %}
<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    #customers tr:hover {
        background-color: #ddd;
    }
    
    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
    
    #try table {
        border: none;
    }
</style>

<form action="." method="POST">{%csrf_token%}
    <!-- <div id="content">
    </div> -->
    <table align="center">
        <tr>
            <td><h2><center><b>JPO</b></center></h2>
                <!-- <h2 style="margin: 1em 0 0.5em 0;
          color: #343434;
          font-weight: normal;
          font-family: 'Ultra', sans-serif;   
          font-size: 36px;
          line-height: 42px;
          text-transform: uppercase;
          text-shadow: 0 2px white, 0 3px #777;">JPO</h2> -->
            </td>
        </tr>


        <tr>
                <td>
                        <div class="dropdown" style="margin: 1em 0 0.5em 0">
                            <center><select name="jpotype" id="jpotypesel" class="form-control ll" required>
          <div  class="dropdown-content">
          <!-- <option selected value="" disabled hidden>JPO</option> -->
          <option value="main" selected>MAIN</option>
          <option value="rsp">RSP</option>
          <option value="combined">Combined</option>
          </select></center></div>
                    </td>
                </tr>
        <tr>
            <td>
                <div class="dropdown" style="margin: 1em 0 0.5em 0">
                    <select name="rev" id="revsel" class="form-control ll" required>
    <div  class="dropdown-content">
    <option value="" selected hidden disabled>Revision</option>
    {% for i in revcnt %}
    <option value={{forloop.counter0}}>Revision {{forloop.counter0}}</option>
    {% endfor %}
    </select></div>
            </td>
        </tr>
        <br><br><br>
        <tr>
            <td><br></td>
        </tr><br><br><br>


       
        <td><input class="btn btn-primary" type="submit" name='save' value='Proceed' /> 
        </td>
        </tr>
    </table>



    <input type="hidden" name="revh" id="revh" value={{rev}} />
    <input type="hidden" name="jpotypeh" id="jpotypeh" value={{jpoo}} />
    <input type="hidden" name="finalizevalue" value={{finalvalue}} />

    <br>

    <!-- <h1 align="center">{{year1}}</h1> -->
    {% if data == 1 %}
    <table id="customers" align="center" style="border: none;">
        <tr>
            <td style="border: none;width: 20%"><b>Convert it into PDF:</b></td>
            <td style="border: none;"><input type="button" id="pr_sch" name="PDF" value="PDF" class="btn btn-primary" /></td>
        </tr>
        <tr></tr>
    </table>
    <div id="conta">
        <div id="HTMLtoPDF">
            <div id="doc_sc" class="field">

                <!-- <center><h4><b>DLW</b></h4></center>
<center><h4><b><u>Production JPO {{year1}}, Revision-{{rev}}</u></b></h4></center> -->

    <input type="hidden" name="jpotyp" id="jpotyp" value={{jpo}} />


                {% if jpo == 1 %}
                <center>
                    <h4><b>DLW</b></h4>
                </center>
                <center>
                    <h4><b><u>Production JPO {{year1}}, Revision-{{rev}}</u></b></h4>
                </center>
                <h5 align="right">Form No. : {{formno}}</h5>
                <h5 align="right">Date : {{dt}}</h5>
                <h4 align="left">No.: {{number}}</h4>
                <h4 align="left"><b>Sub: {{subject}}</b></h4>
                <b>Ref:</b> {% for rm in reflist %} {{rm}}
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endfor %}
                <h5>{{heading}}</h5>
                <table id="customers">
                    <tr>
                        <td colspan={{colsapn}}> </td>
                        <td colspan="{{bufcspan}}" style="text-align: center"><b>Buffer</b> (High/Medium/Low)</td>
                    </tr>

                    <tr>
                        <td colspan=2 style="text-align: center"><b>Description</b></td>
                        {% for key,values in years.items %}
                        <td><b>{{values.yrs}}</b></td>
                        {% endfor %} {% for key,values in years.items %}
                        <td>{{values.yrs}}</td>
                        {% endfor %}

                    </tr>

                    {% if flag == 1 %}

                    <tr>
                        <td rowspan={{indrwspan}}><b>Indian Railways</b></td>


                        {% for key, values in dictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tr>
                    {% endif %} {% if nrcflag == 1 %}
                    <tr>
                        <td rowspan={{nrcrwspan}}><b>NRC</b></td>


                        {% for key, values in nrcdictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}

                    </tr>

                    {% endif %} {% if expflag == 1 %}
                    <tr>
                        <td rowspan={{exprwspan}}><b>EXPORT</b></td>


                        {% for key, values in expdictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tr>

                    {% endif %}
                    <tr>
                        <tr>

                            <td colspan="2" style="text-align: right"><b>Total</b></td>
                            {% for key,value in total.items %}
                            <td style="text-align: center"><b>{{value.totq}}</b></td>
                            {% endfor %} {% for key,value in total.items %}
                            <td></td>
                            {% endfor %}
                        </tr>
                    </tr>

                    {% if nrcdgflag == 1 %}
                    <tr>
                        <td rowspan={{nrcdgrwspan}}><b>NRC-DG SET</b></td>


                        {% for key, values in nrcdgdictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}

                    </tr>

                    {% endif %} {% if zrflag == 1 %}
                    <tr>
                        <td rowspan={{zrrwspan}}><b>ZR</b></td>


                        {% for key, values in zrdictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tr>

                    {% endif %} {% if zroverflag == 1 %}
                    <tr>
                        <td rowspan={{zroverrwspan}}><b>ZR OverHauling</b></td>


                        {% for key, values in zroverdictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tr>

                    {% endif %} {% if zrasflag == 1 %}
                    <tr>
                        <td rowspan={{zrasrwspan}}><b>ZR Assistance</b></td>


                        {% for key, values in zrasdictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tr>

                    {% endif %}
                </table>
                <table style="border: none">
                    <tr style="border: none">
                        {% for rm in spclremlist %}
                        <td style="border: none">{{rm}}</td>
                        {% endfor %}
                    </tr>
                </table>

                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <h3>{{headalt}}</h3>
                <ul id="alter" style="line-height:5%">
                    {% for rm in altrlist %}
                    <li>
                        <h4>{{rm}}</h4>
                    </li>
                    {% endfor %}
                </ul>
                <h2>Remarks:</h2>
                <ul id="remark" style="line-height:5%">
                    {% for rm in nrmllist %}
                    <li>
                        <h4>{{rm}}</h4>
                    </li>
                    {% endfor %}
                </ul>
                <div style="align-content: center;">
                    <table align="center" style="border: none;justify-items: center">
                        <tr style="border: none;">
                            {% for i in cdgp %}
                            <td style="border: none;"></td>
                            <td style="border: none;">
                                <textarea rows="5" style="overflow:hidden; resize:none;border: none;"></textarea></td>
                            <td style="border: none;"></td>
                            {% endfor %}
                        </tr>
                        <tr style="border: none;">
                            {% for nm in namelist %}
                            <td style="border: none;text-align: center"></td>
                            <center>
                                <td style="border: none; text-align: center;font-size: 22px;"><b>{{nm}}</b></td>
                            </center>
                            <td style="border: none;"></td>
                            {% endfor %}
                        </tr>
                        <tr style="border: none;">
                            {% for dg in desiglist %}
                            <td style="border: none;"></td>
                            <td style="border: none; text-align: center;font-size: 17px;"><b>{{dg}}</b></td>
                            <td style="border: none;"></td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>


                {% endif %} {% if jpo == 0 %}
                <center>
                    <h4>Planning Office</h4>
                </center>
                <center>
                    <h4><b><u>DLW Varanasi</u></b></h4>
                </center>
                <h5 align="right">Date : {{dt}}</h5>
                <h4 align="left">No.: {{number}}</h4>
                <h4 align="left"><b>Sub: {{subject}}</b></h4>
                <table id="customers">
                    <tr>
                        <td><b>SN</b></td>
                        <td><b>Item Description</b></td>
                        <td colspan={{colsapn}}><b>Qty (nos.)</b></td>
  
                    </tr>

                    {% if rspflag == 1 %}
                    <tr>

                        {% for key, values in rspdictemper.items %}

                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} 

                        </tr>
                        {% endfor %}
                    </tr>

                    <!-- {% endif %}
                    {% if rspitmflag == 1 %}
                    <tr>


                        {% for key, values in rspitmdictemper.items %}

                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tr>

                    {% endif %} -->

                </table>
                <table style="border: none">
                    <tr style="border: none">
                        {% for rm in spclremlist %}
                        <td style="border: none">{{rm}}</td>
                        <td style="border: none"></td>
                        {% endfor %}
                    </tr>
                </table>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <h3>{{headalt}}</h3>
                <ul id="alter" style="line-height:5%">
                    {% for rm in altrlist %}
                    <li>
                        <h4>{{rm}}</h4>
                    </li>
                    {% endfor %}
                </ul>
                <h2>Remarks:</h2>
                <ul id="remark" style="line-height:5%">
                    {% for rm in nrmllist %}
                    <li>
                        <h4>{{rm}}</h4>
                    </li>
                    {% endfor %}
                </ul>
                <div style="align-content: center;">
                    <table align="center" style="border: none;justify-items: center">
                        <tr style="border: none;">
                            {% for i in cdgp %}
                            <td style="border: none;"></td>
                            <td style="border: none;">
                                <textarea rows="5" style="overflow:hidden; resize:none;border: none;"></textarea></td>
                            <td style="border: none;"></td>
                            {% endfor %}
                        </tr>
                        <tr style="border: none;">
                            {% for nm in namelist %}
                            <td style="border: none;text-align: center"></td>
                            <center>
                                <td style="border: none; text-align: center;font-size: 22px;"><b>{{nm}}</b></td>
                            </center>
                            <td style="border: none;"></td>
                            {% endfor %}
                        </tr>
                        <tr style="border: none;">
                            {% for dg in desiglist %}
                            <td style="border: none;"></td>
                            <td style="border: none; text-align: center;font-size: 17px;"><b>{{dg}}</b></td>
                            <td style="border: none;"></td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>


                {% endif %} {% if jpo == 2 %}
                <center>
                    <h4><b>DLW</b></h4>
                </center>
                <center>
                    <h4><b><u>Production JPO {{year1}}, Revision-{{rev}}</u></b></h4>
                </center>
                <h4 align="right">Form No. : {{formno}}</h4>
                <h4 align="right">Date : {{dt}}</h4>
                <h4 align="left">No.: {{number}}</h4>
                <br>
                <h4 align="left"><b>Sub: {{subject}}</b></h4>
                <b>Ref:</b> {% for rm in reflist %} {{rm}}
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {% endfor %}
                <h4>{{heading}}</h4>
                <table id="customers">
                    <tr>
                        <td colspan={{colsapn}}> </td>
                        <td colspan="{{bufcspan}}" style="text-align: center"><b>Buffer</b> (High/Medium/Low)</td>
                    </tr>

                    <tr>
                        <td colspan=2 style="text-align: center"><b>Description</b></td>
                        {% for key,values in years.items %}
                        <td style="text-align: center"><b>{{values.yrs}}</b></td>
                        {% endfor %} {% for key,values in years.items %}
                        <td style="text-align: center"><b>{{values.yrs}}</b></td>
                        {% endfor %}

                    </tr>


                    {% if flag == 1 %}

                    <tr>
                        <td rowspan={{indrwspan}}><b>Indian Railways</b></td>


                        {% for key, values in dictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tr>
                    {% endif %} {% if nrcflag == 1 %}
                    <tr>
                        <td rowspan={{nrcrwspan}}><b>NRC</b></td>


                        {% for key, values in nrcdictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}

                    </tr>

                    {% endif %} {% if expflag == 1 %}
                    <tr>
                        <td rowspan={{exprwspan}}><b>EXPORT</b></td>


                        {% for key, values in expdictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tr>

                    {% endif %}
                    <tr>
                        <tr>

                            <td colspan="2" style="text-align: right"><b>Total</b></td>
                            {% for key,value in total.items %}
                            <td style="text-align: center"><b>{{value.totq}}</b></td>
                            {% endfor %} {% for key,value in total.items %}
                            <td></td>
                            {% endfor %}
                        </tr>
                    </tr>
                    {% if nrcdgflag == 1 %}
                    <tr>
                        <td rowspan={{nrcdgrwspan}}><b>NRC-DG SET</b></td>


                        {% for key, values in nrcdgdictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}

                    </tr>

                    {% endif %} {% if zrflag == 1 %}
                    <tr>
                        <td rowspan={{zrrwspan}}><b>ZR</b></td>


                        {% for key, values in zrdictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tr>

                    {% endif %} {% if zroverflag == 1 %}
                    <tr>
                        <td rowspan={{zroverrwspan}}><b>ZR OverHauling</b></td>


                        {% for key, values in zroverdictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tr>

                    {% endif %} {% if zrasflag == 1 %}
                    <tr>
                        <td rowspan={{zrasrwspan}}><b>ZR Assistance</b></td>


                        {% for key, values in zrasdictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tr>

                    {% endif %}
                    <!-- </table> -->



                    {% if rspflag == 1 %}
                    <tr>
                        <td rowspan={{rsprwspan}}><b>RSP Manufacturing</b></td>


                        {% for key, values in rspdictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <!-- <td><input type="text" name="rspdict{{forloop.counter}}" value={{value.yrtq}} /></td> -->
                            <td>{{value.yrtq}} </td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tr>

                    {% endif %} {% if rspitmflag == 1 %}
                    <tr>
                        <td rowspan={{rspitmrwspan}}><b>RSP Items to be puchased/given</b></td>


                        {% for key, values in rspitmdictemper.items %}

                        <tr>

                            <td>{{values.loty}}</td>
                            {% for key,value in values.dict.items %}
                            <td>{{value.yrtq}}</td>
                            {% endfor %} {% for key,value in values.dict.items %}
                            <td>{{value.yrbq}}</td>
                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tr>

                    {% endif %}

                </table>
                <table style="border: none">
                    <tr style="border: none">
                        {% for rm in spclremlist %}
                        <td style="border: none">{{rm}}</td>
                        <td style="border: none"></td>
                        {% endfor %}
                    </tr>
                </table>

                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <h3>{{headalt}}</h3>
                <ul id="alter" style="line-height:5%">
                    {% for rm in altrlist %}
                    <li>
                        <h4>{{rm}}</h4>
                    </li>
                    {% endfor %}
                </ul>
                <h2>Remarks:</h2>
                <ul id="remark" style="line-height:5%">
                    {% for rm in nrmllist %}
                    <li>
                        <h4>{{rm}}</h4>
                    </li>
                    {% endfor %}
                </ul>
                <div style="align-content: center;">
                    <table align="center" style="border: none;justify-items: center">
                        <tr style="border: none;">
                            {% for i in cdgp %}
                            <td style="border: none;"></td>
                            <td style="border: none;">
                                <textarea rows="5" style="overflow:hidden; resize:none;border: none;"></textarea></td>
                            <td style="border: none;"></td>
                            {% endfor %}
                        </tr>
                        <tr style="border: none;">
                            {% for nm in namelist %}
                            <td style="border: none;text-align: center"></td>
                            <center>
                                <td style="border: none; text-align: center;font-size: 22px;"><b>{{nm}}</b></td>
                            </center>
                            <td style="border: none;"></td>
                            {% endfor %}
                        </tr>
                        <tr style="border: none;">
                            {% for dg in desiglist %}
                            <td style="border: none;"></td>
                            <td style="border: none; text-align: center;font-size: 17px;"><b>{{dg}}</b></td>
                            <td style="border: none;"></td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        {% if finalvalue == 0 %}
        <table id="customers" align="center" style="border: none">
            <tr>
                <td style="width: 20%;border:none">
                    <select name="Finalize" class="form-control ll">
<option selected="selected" disabled>Finalize JPO</option>
   <option value="yes">YES</option>
   <option value="no">NO</option>
 </select></td>
                {% endif %} {% if finalvalue == 1 %}
                <td>
                    <select name="Finalize" disabled>
   <option value="yes">YES</option>
   <option value="no">NO</option>
 </select></td>
                {% endif %}
                <td style="border: none">
                    <input type="submit" name="finalize" value="Submit" class="button button2"></td>
            </tr>
        </table>
</form>




{% endif %} {% endif %}

</table>

</div>
</div>



{% if data == 0 %}

<h1 align="center">The data for the requested years is not present</h1>


{% endif %}
<!-- these js files are used for making PDF -->
<!-- <script src="{% static '/js/jspdf.js' %}"></script>
<script src="{% static '/js/jquery-2.1.3.js' %}"></script>
<script src="{% static '/js/pdfFromHTML.js' %}"></script> -->
<!-- <script src="{% static '/js/jquery-1.7.1.min.js' %}"></script> -->

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
<script>

    $(document).ready(function() {
        var jpo =document.getElementById('jpotypeh').value;
        var rev=document.getElementById('revh').value;
        if(jpo !="/" && rev !="/")
        {
        document.getElementById('jpotypesel').value=jpo;
        document.getElementById('revsel').value=rev;
    }
    var jpotyp=document.getElementById('jpotyp');
    if(jpotyp!=null)
    {
    // console.log("jpotyp"+String(jpotyp.value))
    if(jpotyp.value==2)
    {
      document.getElementById('jpotypesel').required=false;
      document.getElementById('revsel').required=false;
    }
}
});

    $('#pr_sch').click(function(e) {
        // M.toast({html: 'I am a toast!'})
        var sTable = document.getElementById('doc_sc').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: left;}";
        style = style + "</style>";

        // CREATE A WINDOW OBJECT.
        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>JPO</title>'); // <title> FOR PDF HEADER.
        win.document.write(style); // ADD STYLE INSIDE THE HEAD TAG.
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable); // THE TABLE CONTENTS INSIDE THE BODY TAG.
        win.document.write('</body></html>');

        win.document.close(); // CLOSE THE CURRENT WINDOW.

        win.print(); // PRINT THE CONTENTS.
    });
</script>

{% endblock content %}