{% extends 'base.html' %}
{% block content %}


<br><br><br>
<p align="center"><a href="http://127.0.0.1:8000/logbook_record/"><u>Back </u></a>
<h4 align="center">UPDATE LOG BOOK RECORD</h4>
<br><br>
<form action="{% url 'logbook_update' %}" method="POST">  {%csrf_token%}
<div class="container">
<table border="2">
<tr>
    <td> M.W.No : <input type='number' min="0" name='m_w_no' placeholder='give_m_w_no'/></td>
    <td>JOB BOOKED : <input type='text' name='job_booked' placeholder='give_job_booked'/></td>
    <td>STAFF NO.: <input type='number' min="0" name='staff_no' placeholder='give_staff_no'/></td>
    <td>ATTANDANCE : <input type='text' name='attandance' placeholder='give_attandance'/></td>
    <td>OUT TURN : <input type='text' name='out_turn' placeholder='give_out_turn'/></td>
    <td>REMARKS : <input type='text' name='remarks' placeholder='give_remarks'/></td>
</tr>

</table>
<br><br>
<center>
<input type='submit' value='UPDATE'/>
</center>
</div>
</form>
  
{% endblock content %}