{% extends 'base.html' %} 
{% block content %}
{% comment %} <br>
<br<style>
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
    }
    
    input[type=button] {
        width: 10%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 6px 6px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button]:hover {
        background-color: #45a049;
        text-align: center;
    }
</style> {% endcomment %}
<br><br>
<p align="right"><a href="http://127.0.0.1:8000/logbook_delete/"><u>Delete Record</u>&nbsp;&nbsp;&nbsp;&nbsp;</a>
<a href="http://127.0.0.1:8000/logbook_update/"><u>Update Record</u></a></p>
<h4 align="center">LOG BOOK RECORD</h4>

<br><br>
<form   action="{% url 'logbook_record' %}" method="POST"> {%csrf_token%}
    <div class="container">
        <table class="table" border="2">
<tr>
    <td> M.W.No : <input type='number' min="0" name='m_w_no' placeholder='give_m_w_no'/></td>
    <td>JOB BOOKED : <input type='text' name='job_booked' placeholder='give_job_booked'/></td>
    <td>STAFF NO.: <input type='number' min="0" id="textid"  name='staff_no' placeholder='give_staff_no' onblur="validate() :"/></td>
    <td>ATTANDANCE : <input type='text' name='attandance' placeholder='give_attandance'/></td>
    <td>OUT TURN : <input type='text' name='out_turn' placeholder='give_out_turn'/></td>
    <td>REMARKS : <input type='text' name='remarks' placeholder='give_remarks'/></td>
</tr>
</table>
<center>
<input type='submit' value='save'/>
</center>


</div>
</form>
<script>
function validate()
{
    var ex = /^[0-9]{5}$/;
    if(ex.test(document.getElementById( 'textid' ).value) == false) 
}
</script>
{% endblock content %}
