{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #808080;
    color: white;
}
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
    }
    
    input[type=button] {
        width: 10%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 6px 6px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button]:hover {
        background-color: #45a049;
        text-align: center;
    }
</style>
<br>
<br>
<h1 align="center" >कर्मचारी निष्कर्य समय कार्ड</h1>
<h1 align="center" >MAN IDLE TIME CARD</h1>
<br><br>
<form action="{% url 'm11report' %}" method="POST"> {% csrf_token %}
    <div class="container">
        <table class="table">
<tr>
      <center>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <font size="3">
                  <li>
                      {{ message }}
                  </li>
              </font>
              {% endfor %}
          </ul>
          {% endif %}
  </center>
  </tr>
  <br>
                <tr>
                        <td>
                            <label for="month"><b>Month/माह :</b></label>
                            <select id="month" name="monthdrop" class="from-control ll" required>
                                    <option value="">SELECT MONTH</option>
                                    <option value="JAN">JAN</option>
                                    <option value="FEB">FEB</option>
                                    <option value="MAR">MAR</option>
                                    <option value="APR">APR</option>
                                    <option value="MAY">MAY</option>
                                    <option value="JUN">JUN</option>
                                    <option value="JUL">JUL</option>
                                    <option value="AUG">AUG</option>
                                    <option value="SEPT">SEPT</option>
                                    <option value="OCT">OCT</option>
                                    <option value="NOV">NOV</option>
                                    <option value="DEC">DEC</option>
                            </select>
                        </td>
                        <td>
                            <label for="sno"><b>Shop Section/शॉप अनुभाग :</b></label>
                            <select class="form-control" id="shop_sec" name="shop_sec" required>
                <option id="op_shop" selected disabled hidden>Select Shop Section</option>
                {% if lenm == 1 %}
                        <option selected readonly>{% for role in roles %}{{role}}{% endfor %}</option>
                        {{role}}
                        {% endif %}
                        {% if lenm > 1 %}
                        {% for role in roles %}
                        {{role}}
                            <option>{{role}}</option>
                        {% endfor %}
                        {% endif %}
                            </select>
                        </td>
                        <td>
                            <label for="wk_ord_no"><b>WORK ORDER NO/कार्यादेश सं. :</b></label>
                            <select class="form-control" id="wno" name="wo_no" required>
                            <option id="op_wo" selected disabled hidden>Select Work Order NO</option>
                        {% if lenm == 1 %}
                        {% for i in wo_no %}
                        <option>{{i.bo_no}}</option>
                        {% endfor %}
                        {% endif %}
                            </select>
                        </td>
                        <td>
                            <label for="staff_no"><b>STAFF NO/कर्मचारी सं:</b></label>
                            <select class="form-control" id="staff_no" name="staff_no" required>
                            <option id="op_emp" selected disabled hidden>Select STAFF NO</option>
                        
                            </select>
                        </td>
                </tr>
        </table>

        <input type="submit" value="Proceed" name="proceed" id="myproceed" hidden/>
    </div>
<br><br> 
{% if sub == 1 %}
<div id="print" style="align:center" >
<table align="center">  
    <tr>
        <th>SHOP SECTION/शाप विभाग:</th> 
        <td><u>{{shop_sec}}</u></td>
        <input type="hidden" name="shopsec" value="{{shop_sec}}">
        <th>MONTH/माह:</th> 
        <td><u>{{month}}</u></td>
        <input type="hidden" name="month" id="fmonth" value="{{month}}">
    </tr>
    
    <tr>
        <th>WORK ORDER NO/का.सं.:</th> 
        <td><u>{{wo_no}}</u></td>
        <input type="hidden" name="wo_no" value="{{wo_no}}">

    </tr>
    <tr>
        <th>STAFF NO/क्रम सं.:</th> 
        <td><u>{{staff_no}}</u></td>
        <input type="hidden" name="staff_no" value="{{staff_no}}">
    </tr>
    <tr>
        <th>Employee Name/कर्मचारी नाम</th> 
        <td><u>{{empname}}</u></td>
        <input type="hidden" name="empname" value="{{empname}}">

    </tr>
    <tr>
        <th>CAT/कोटि सं:</th>
        <td>{{tcat}}</td>
        <input type="hidden" name="tcat" value="{{tcat}}">
    </tr>

    <tr>
        <th>TOTAL NO OF HOURS /कुल घंटे:</th> 
        <td><u>{{r1}}</u></td>
    </tr>
    <tr>
        <th>AMT/धनराशि :</th>
        <td><u>{{amt1}}</u></td>
        
        <input type="hidden" name="amt" value="{{amt1}}">
    </tr>  
       
    </div>
</table>
<br><br>
<div class="container" align="center">          
<table border="4" align="center" id="customers">
    <tr>
        
        <th>DATE</th>
        <th>MONTH</th>
        <th>IN</th>
        <th>OUT</th>
        <th>TOTAL TIME</th>
        <th>DETAIL NO.</th>
        <th>IDLE TIME</th>
    </tr>
            {% for i in obj1 %}
            <tr>
            <td>
                {% if i.date %}
                <input type="text" id="date"  class="myinp2" value="{{i.date}}" name="date{{ forloop.counter }}" readonly/>         <!-- value="date" name="date"  -->
                {% endif %}
            </td>

             <td>
                {% if i.month %}
                <input type="text" value="{{i.month}}" name="month{{ forloop.counter }}"/>
                {% endif %}  
            </td>
            
            <td>
                {% if i.in1 %}
                <input type="text" id="in1{{ forloop.counter }}"  class="myinps1" value="{{i.in1}}" name="in1{{ forloop.counter }}"/>
                {% endif %}  
             </td>
             
            <td>
                {% if i.out %}
                <input type="text" id="out{{ forloop.counter }}"  class="myinps1" value="{{i.out}}" name="out{{ forloop.counter }}" onchange=tottime('out{{ forloop.counter }}') >
               {% endif %}
            </td>

            <td>
                {% if i.total_time %}
                <input type="text" id="total_time{{ forloop.counter }}"   value="{{i.total_time}}" name="total_time{{ forloop.counter }}"  >
                {% endif %}  
            </td> 

            <td>
            {% if i.detail_no %}
            <textarea class="form-control" rows="1" wrap="soft" style="overflow:hidden; resize:none;width:200px;">{{i.detail_no}}</textarea>
                
            {% endif %}
            </td>

            <td>
                {% if i.idle_time %}
                <input type="text" class="myinps1" value="{{i.idle_time}}" name="idle_time{{ forloop.counter }}" style="width:100px;"/>
                {% endif %}  
            {% endfor %}
          
        
</table></div> 
</div>

<center>
    <input type="button" onclick="printDiv()" value="Print">
</center>
{% endif %} 
<div id="items">
</div>

</form>

<script type="text/javaScript">

$(document).ready(function(){
    var sub =document.getElementById('subb').value;
    if(sub==1)
    {
        var leng=document.getElementById('len').value;
        for (i=1;i<=leng;i++)
        {
        var detail_no=document.getElementById('detail_no'+String(i)).value;
        $('#detail_noid'+String(i)).val(detail_no);
        }
        
    }
    $("#add").click(function(e){
        event.preventDefault()
        j++;
        console.log(j);
        assign();
    var fmon=document.getElementById('fmonth').value;
    date="dateadd"+String(j);
    month="month_add"+String(j);
    in1="in1add"+String(j);
    out="outadd"+String(j);
    outid="'"+out+"'";
    in1id="'"+out+"'";
    total_time="total_time_add"+String(j);
    idle_time="idle_time_add"+String(j);
    detail_no = "detail_noadd"+String(j);

       
      
       var sno=j;
        if(j==1)
        {


            var happ='<div><table id="customers" align="center">'+'<tr ><th>Date</th>'+'<tr><th>Month</th>'+'<tr ><th>In</th>'+
'<th>Out</th>'+'<th>Total Time</th>'+'<th>Detail No.</th>'+'<th>Idle Time</th>';

     happ=happ+'</tr></table></div>';
        // $('#items').append(happ);

        }
var htAppend='<div><table id="customers" border="2" align="center"><tr>'+'<td ><input type="text" id='+date+' name='+date+' class="edatec" required/></td >'+'<td ><input type="text" id='+month+' name='+month+' readonly/></td >'+'<td ><input type="time" id='+in1+' name='+in1+' onchange="tottime('+in1id+')" required/></td >'+'<td><input type="time" id='+out+' name='+out+'  required onchange="tottime('+outid+')" /></td>'+'<td><input type="text" id='+total_time+' name='+total_time+' required></td>'+'<td><select id='+detail_no+' name='+detail_no+' required><option value="select">SELECT REASON</option>'+
                    '<option value="machine_repair">MACHINE REPAIR</option>'+
                    '<option value="no_power">NO POWER</option>'+
                    '<option value="lack_of_mat">LACK OF MAT.INCDL.CONS.</option>'+
                    '<option value="lack_of_tools">LACK OF TOOLS</option>'+
                    '<option value="waiting_for_work">WAITING FOR WORK</option>'+
                    '<option value="failure_of_crane">FAILURE OF CRANE</option>'+
                    '<option value="waiting_for_crane">WAITING FOR CRANE</option>'+
                    '<option value="operator_absent">OPERATOR ABSENT</option>'+
                    '<option value="operator_wkg_elsewhere">OPERATOR WORKING ELSEWHERE</option>'+
                    '<option value="lack_of_gas">LACK OF GAS OXY</option>'+
                    '<option value="lack_of_grinding_wheel">LACK OF GRINDING WHEEL</option>'+
                    '<option value="lack_of_electrodes">LACK OF ELECTRODES</option>'+
                    '<option value="waiting_for_lifter">WAITING FOR F./LIFTER</option>'+
                    '<option value="drop_in_pressure">DROP IN Pn. PRESSURE</option>'+
'</select></td><td  height="50"><input type="time" id='+idle_time+' name='+idle_time+' required></td>';

        htAppend=htAppend+'</tr></table></div>';



     $('#inouttab').append(htAppend);
     document.getElementById("inoutnum").value=j;
     document.getElementById(month).value=fmon;
     $('.edatec').each(function(){
    $(this).datepicker({ dateFormat: 'dd/mm/yy' });
    $(this).addClass("form-control ll");
});

    });
    $('body').on('click','#del',function(e){
        $(this).parent('div').remove();
    });

});
function assign(){
        function operation()
        {
        console.log(j);
        return j;
        }
       document.getElementById('myvalue').value =operation();
    }
  </script>



 
    
<script type="text/javaScript">
$( document ).ready(function() {
    // console.log( "ready!" );
    tottime('in11');
});
    // console.log( "ready!" );
    function tottime(id) {
      console.log("id=");
      console.log(id);
      var ad=id.includes("add");
      
      if(ad==false)
      {
      var inn=id.includes("in");
      console.log(inn);
      if(inn)
      {
        var res = id.split("in1");
        console.log(res[1]);
        var outid="#out"+res[1];
    var timeOfCall = $('#'+id).val(),
        timeOfResponse = $(outid).val(),
        hours = timeOfResponse.split(':')[0] - timeOfCall.split(':')[0],
        minutes = timeOfResponse.split(':')[1] - timeOfCall.split(':')[1];
        
    minutes = minutes.toString().length<2?'0'+minutes:minutes;
    if(minutes<0){ 
        hours--;
        minutes = 60 + minutes;
    }
    hours = hours.toString().length<2?'0'+hours:hours;
    console.log("total_time=",hours + ':' + minutes,'#total_time'+String(res[1]));
    $('#total_time'+String(res[1])).val(hours + ':' + minutes);
      }
      else
      {
      var res = id.split("out");
        console.log(res[1]);
        var inid="#in1"+res[1];
    var timeOfCall = $(inid).val(),
        timeOfResponse = $('#'+id).val(),
        hours = timeOfResponse.split(':')[0] - timeOfCall.split(':')[0],
        minutes = timeOfResponse.split(':')[1] - timeOfCall.split(':')[1];

    minutes = minutes.toString().length<2?'0'+minutes:minutes;
    if(minutes<0){ 
        hours--;
        minutes = 60 + minutes;
    }
    hours = hours.toString().length<2?'0'+hours:hours;
    console.log("total_time=",hours + ':' + minutes,'#total_time'+String(res[1]));

    $('#total_time'+String(res[1])).val(hours + ':' + minutes);
      }
      }
      else{
      var inn=id.includes("in");

        if(inn)
      {
        var res = id.split("in1add");
        console.log(res[1]);
        var outid="#outadd"+res[1];
    var timeOfCall = $('#'+id).val(),
        timeOfResponse = $(outid).val(),
        hours = timeOfResponse.split(':')[0] - timeOfCall.split(':')[0],
        minutes = timeOfResponse.split(':')[1] - timeOfCall.split(':')[1];

    minutes = minutes.toString().length<2?'0'+minutes:minutes;
    if(minutes<0){ 
        hours--;
        minutes = 60 + minutes;
    }
    hours = hours.toString().length<2?'0'+hours:hours;
    console.log("total_time_add=",hours + ':' + minutes,'#total_time_add'+String(res[1]));

    $('#total_time_add'+String(res[1])).val(hours + ':' + minutes);
      }
      else
      {
      var res = id.split("outadd");
        console.log(res[1]);
        var inid="#in1add"+res[1];
    var timeOfCall = $(inid).val(),
        timeOfResponse = $('#'+id).val(),
        hours = timeOfResponse.split(':')[0] - timeOfCall.split(':')[0],
        minutes = timeOfResponse.split(':')[1] - timeOfCall.split(':')[1];

    minutes = minutes.toString().length<2?'0'+minutes:minutes;
    if(minutes<0){ 
        hours--;
        minutes = 60 + minutes;
    }
    hours = hours.toString().length<2?'0'+hours:hours;
    console.log("total_time_add=",hours + ':' + minutes,'#total_time_add'+String(res[1]));

    $('#total_time_add'+String(res[1])).val(hours + ':' + minutes);
      }
      }
    
  }



  document.querySelector("#shop_sec").addEventListener('change',(e)=>{
    //console.log("hi");
                    e.preventDefault();
                    var shop_sec = $("#shop_sec").val()
                    var data = {shop_sec};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm11getwono' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var elementsadded = document.querySelectorAll(".newelewono");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());
                                  document.querySelector("#op_wo").selected=true;
                                  document.querySelector("#op_emp").selected = true; 
                                  
                              }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.bo_no);
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelewono">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#wno").insertAdjacentHTML('beforeend',mystr);
                              mystr=""; 
                        }
                          })
                })  



document.querySelector("#shop_sec").addEventListener('change',(e)=>{
    //console.log("hi");
                    e.preventDefault();
                    var shop_sec = $("#shop_sec").val()
                    var data = {shop_sec};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm11getstaff_no' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var elementsadded = document.querySelectorAll(".newelestaff");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());
                                  document.querySelector("#op_emp").selected = true; 
                              }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.staff_no);
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelestaff">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#staff_no").insertAdjacentHTML('beforeend',mystr);
                              mystr=""; 
                        }
                          })
                })  

document.querySelector("#staff_no").addEventListener('change',(e)=>{

document.querySelector("#myproceed").click();
})
document.addEventListener('keypress',(event)=>{
if(event.keyCode===13){
    event.preventDefault();
}
});
var ab=document.getElementById('fmonth').value;
console.log(ab);
$(document).ready(() => {
    $("#month").val(ab);
});
function printDiv() {
     var printContents = document.getElementById("print").innerHTML;

       var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: left;}";
        style = style + "</style>";
      var win = window.open('', '', 'height=500,width=500');

        win.document.write('<html><head>');

        win.document.write('<title>M14 Card</title>');
        win.document.write(style);
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(printContents);
        win.document.write('</body></html>');

        win.print();
        win.close();



}
 
</script>    
{% endblock content %} 