{% extends 'base.html' %} {% block content %}
<style>
table, td, th {  
  
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}
</style>

<style>
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 10%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
    }
    
    input[type=button] {
        width: 10%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 6px 6px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button]:hover {
        background-color: #45a049;
        text-align: center;
    }
</style><br>
<center>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <font size="4" style="color:green;">
                <li>
                 <b>   {{message}}    </b>
                </li>
            </font>
            {% endfor %}
        </ul>
        {% endif %}
    </center>
<form action="{% url 'm18view' %}" method="POST"> {% csrf_token %}
<br><h4 align="center">Extra Time Card</h4>
    <div class="container">
        <table style="width:100%; margin-right: 10px; margin-left: 10px;">
            <tr>
                <td>
                    <label for="shopIncharge"><b>Shop Incharge/शॉप प्रायेवेचक</b></label>
                    <input type="text" class="form-control" name="shopIncharge" id="shopIncharge" required>
                </td>  
                <td>
                    <label for="shop_no"><b>Shop Section/शॉप सेक्शन</b></label>
                    <select class="form-control" id="shop_sec" name="shop_sec" required>
                        <option id="op_shop" selected disabled hidden>Select Shop Section</option>
                        {% if lenm == 1 %}
                            <option selected readonly>{% for role in roles %}{{role}}{% endfor %}</option>
                        {% endif %}
                        {% if lenm > 1 %}
                        {% for role in roles %}
                        <option>{{role}}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </td>
                <td>
                        <label for="sno"><b>Work Order No./कार्य० आ० स०</b></label>
                        <select class="form-control" id="wo_no" name="wo_no" required>
                            <option id="op_wo" selected disabled hidden>Select Work Order NO</option>                            
                        </select>
                </td>
                <td>
                    <label for="wk_ord_no"><b>Part No./पार्ट सं</b></label>
                        <select class="form-control" id="part_nop" name="part_nop" required>
                            <option id="op_part" selected disabled hidden>Select Part No</option>
                        </select>
                </td>                                        
                </tr>

                <tr>                          
                <td>
                    <label for="br_no"><b>Extra Time Per No./अतिरिक्त समय प्रति नग</b></label>
                    <input type="text" class="form-control" name="extraTimePartNo" id="extraTimePartNo" required>
                </td>
                <td>
                    <label for="reasonSpecialAllowance"><b>Reason For Special Allowance/विशेष भतो के लिय</b></label>
                    <input type="text" class="form-control" name="reasonSpecialAllowance" id="reasonSpecialAllowance" required>
                </td>    
                <td>
                    <label for="forSpecialAllowance"><b>For special allowance/केवल विशेष भत्तों क लिय</b></label>
                    <input type="text" class="form-control" name="forSpecialAllowance" id="forSpecialAllowance" required>
                </td> 
                 <td>
                    <label for="totalExtraTime"><b>Total Extra Time/कूल अतिरिक्त समय </b></label>
                    <input type="text" class="form-control" name="totalExtraTime" id="totalExtraTime" required>
                </td>                              
            </tr>      
            <tr>                            
                <td>
                    <label for="opno"><b>Operation No./ऑपरेशन सं</b></label>
                        <select class="form-control" id="opno" name="opno" required>
                            <option id="wo_opno" selected disabled hidden>Select Operation No</option>                           
                        </select>
                </td>
                <td>
                    <label for="opdesc"><b>Operation Desc/ऑपरेशन विवरण</b></label>
                    <select class="form-control" id="opdesc" name="opdesc" required>
                            <option id="wo_opdesc" selected disabled hidden>Select Operation Desc</option>                           
                    </select>
                </td>   
                <td>
                    <label for="discription"><b>Discription/विवरण </b></label>
                    <input type="text" class="form-control" name="discription" id="discription" required>
                </td>
                 <td>
                    <label for="quantity"><b>Quantity/मात्रा</b></label>
                    <input type="text" class="form-control" name="quantity" id="quantity" required>
                </td>                     
            </tr>   
            <tr>                 
                <td>
                    <label for="setExtraTime"><b>Set/सेट</b></label>
                    <input type="text" class="form-control" name="setExtraTime" id="setExtraTime" required>
                </td>
                <td>
                    <label for="wk_ord_no"><b>No./संo</b></label>
                    <input type="text" class="form-control" name="setno" id="setno" required>
                </td>                 
            </tr>                  
    </table>
    </div>
    
<center><hr style="width:70%; margin-right: 100px; margin-left: 100px;"></center>
<br><br>
        <table style="width:70%; margin-right: 100px; margin-left: 400px;">
            <tr>
                 <td>
                    <label for="br_no"><b>Name/Staff No.</b></label>                   
                </td>
                <td>
                    <label for="sno"><b>Senior Section Engg./एस०एस०इ०</b></label>                    
                </td>                 
                <td>
                    <label for="wk_ord_no"><b>ह०दर० निर्धारण  </b></label>                    
                </td>                          
            </tr>  
        </table>  

        <center><input type="submit" name="proceed" value="Save"/></center>  
</form>
<script>
      document.querySelector("#shop_sec").addEventListener('change',(e)=>{
    //console.log("hi");
                    e.preventDefault();
                    var shop_sec = $("#shop_sec").val()
                    var data = {shop_sec};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm18getwono' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var elementsadded = document.querySelectorAll(".newelewono");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());
                                  document.querySelector("#op_wo").selected=true;
                                  document.querySelector("#op_part").selected=true;                                  
                                  document.querySelector("#wo_opno").selected=true;
                                  document.querySelector("#wo_opdesc").selected=true;
                               }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.batch_no);
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelewono">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#wo_no").insertAdjacentHTML('beforeend',mystr);
                              mystr=""; 
                        }
                          })
                })

        document.querySelector("#wo_no").addEventListener('change',(e)=>{
                    e.preventDefault();
                    var wo_no = $("#wo_no").val();
                    var shop_sec = $("#shop_sec").val()
                    var data = {wo_no,shop_sec};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm18getpart_no' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var elementsadded = document.querySelectorAll(".newelepart1");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());
                                  document.querySelector("#op_part").selected=true;                                  
                                  document.querySelector("#wo_opno").selected=true;   
                                  document.querySelector("#wo_opdesc").selected=true;                             
                               }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.part_no);
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelepart1">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#part_nop").insertAdjacentHTML('beforeend',mystr);
                              mystr=""; 
                        }
                          })
                })

           
             document.querySelector("#part_nop").addEventListener('change',(e)=>{
                    e.preventDefault();
                    var part_nop    = $("#part_nop").val();
                    var shop_sec = $("#shop_sec").val()
                    var data = {part_nop,shop_sec};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm18getoperation_no' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var elementsadded = document.querySelectorAll(".newelepart");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());
                                  document.querySelector("#wo_opno").selected=true;
                                  document.querySelector("#wo_opdesc").selected=true;
                               }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.opn);
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelepart">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#opno").insertAdjacentHTML('beforeend',mystr);
                              mystr=""; 
                        }
                          })
                })	

                 document.querySelector("#opno").addEventListener('change',(e)=>{
                    e.preventDefault();
                    var part_nop = $("#part_nop").val();
                    var shop_sec = $("#shop_sec").val();
                    var opno     = $("#opno").val();   

                    var data = {part_nop,shop_sec,opno};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm18getoperation_desc' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var elementsadded = document.querySelectorAll(".newelepart2");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());
                                  document.querySelector("#wo_opdesc").selected=true;
                               }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.des);
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelepart2">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#opdesc").insertAdjacentHTML('beforeend',mystr);
                              mystr=""; 
                        }
                   })
                })
</script>
{% endblock content %}

