{% extends 'base.html' %} 
{% block content %}
{% load static %}
<style>
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    th {
  background-color: #f2f2f2;
}
    tr:nth-child(even) {
  background-color: #f2f2f2;
}
    input[type=submit] {
        width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
    }
    
    input[type=button] {
         width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button]:hover {
        background-color: #45a049;
        text-align: center;
    }
</style>
<!-- <h1 align="center" style="background-color: darkslategrey;color:white;padding: 12px;">M1 - MASTER PROCESS SHEET</h1> -->
<form action="{% url 'm1genrept1' %}" method="POST"> {% csrf_token %}
    <div class="container">
            <input type="hidden"  id="h1" name="h1" value="{{part}}">
            <input type="hidden"  id="h2" name="h2" value="{{part}}">   
            <input type="submit" value="Proceed" name="proceed" id="proceed" style="display: none"/>
    </div>
<br><br> 

 <div class="container" style="width: 100%">
    <div id="div4">
        <center><img src="{% static 'dlw/images/loading.gif' %}" style="width:20%;height:20%;"></center>
    </div>
    <div id="print"  style="align:center" >
  
<br>
<h5 style="float: left"><b>Date: </b>{{dt}}</h5>
<br>
<center><h4><u><b style="margin-right: 100px;">DIESEL LOCOMOTIVE WORKS, VARANASI</b></u></h4></center>
<center><h4><u><b>M1 CARD</b></u></h4></center>
<center><h4><u><b>PROCESS-SHEET</b></u></h4></center>
<br>

{% if sub == 1 %}
{% for i in obj1 %}
<input type="hidden" id="hide1" name="hide1" value="{{prtno}}"> 
<center>
<table>
<tr>
<td><h5><b>PART NO:  </b>{{prtno}} </h5></td>
<td><h5><b>&nbsp;&nbsp;&nbsp;&nbsp;DRG-NO.:  </b> {{i.drgno}}</h5></td>
<td><h5><b>&nbsp;&nbsp;&nbsp;&nbsp;RM PART NO:  </b>{{rmpart}}</h5></td>
</tr>
<tr></tr>
<tr>
<td><h5><b>RM PART DES:  </b>{{rdes}}</h5></td>
<td><h5><b>&nbsp;&nbsp;&nbsp;&nbsp;EPC: </b>{{epcv}}</h5></td>
<td><h5><b>&nbsp;&nbsp;&nbsp;&nbsp;PTC: </b>{{ptcv}}</h5></td>
</tr>
</table>
</center>
<br><br>
{% endfor %}
<div class="table-responsive">
<table class="table table-stripped">
<tr><th rowspan="2">SHOP/SEC</th>
<th rowspan="2">OPR. NO.</th><th rowspan="2">L.C.</th><th rowspan="2">OPERATION DESCRIPTION</th></tr>
        <tr><th  >PA</th><th>AT</th><th>AT(p/pc)</th><th>LOT</th><th>NCP JBS </th><th>M5 CD</th><th>UPDT-DT</th></tr>
        {% for i in dtl %}
        <tr>
            <td>
                {{i.shop_sec}}
            </td>
            <td>
                {{i.opn}}
            </td>
            <input type="hidden" name="opn{{ forloop.counter }}" value="{{i.opn}}">
            <td>
                {{i.lc_no}}
            </td>
            <td>
                {{i.des}}
            </td>
            <td>
                {{i.pa}}
            </td>
            <td>
                {{i.at}}
            </td>
            <td>{{i.at}}</td>
            <td>{{i.lot}}</td>
            <td>
                {{i.ncp_jbs}}
            </td>
            <td>{{i.m5_cd}}</td>
            <td>{{i.updt_dt}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td><td></td><td></td>
            <td style="text-align: right"><b>TOTAL TIME(Hrs/Min):</b></td>
            <td><b>{{pttl}}</b></td><td><b>{{attl}}</b></td><td><b>{{attl}}(p/pc)</b></td>
        </tr>
    </table>
</div>

<center>
    <input type="submit" value="Back" name="backbutton" />
    <input type="submit" value="Print" id="print1" name="print" hidden />
    <input type="button" value="Print" onclick="printDiv()">
</center>
{% endif %}


{% if sub == '' %}
<div id="div3">
    <center><img src="{% static 'dlw/images/loading.gif' %}" style="width:20%;height:20%;"></center>
</div>
{% endif %}
</div>
</div>
</form>
<script type="text/javaScript">

window.onload=function()
{
    $('#div4').hide();
    if(document.getElementById('h2').value.length!='')
        { 
           document.querySelector("#proceed").click();
        }
}
function printDiv() {
$('#print').hide();
$('#div4').show();
document.querySelector("#print1").click();
}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 

{% endblock content %}