{% extends 'base.html' %} {% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

<style>
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
    }
    
    input[type=button] {
        width: 10%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 6px 6px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button]:hover {
        background-color: #45a049;
        text-align: center;
    }
</style>
<br>
<br>
<h3 align="center">Process Sheet</h3>
<br><br>
<form action="{% url 'm1view' %}" method="POST"> {% csrf_token %}
    <div class="container">
        <table class="table">
                <tr>
                        <td>
                            <label for="sno"><b>Shop Section NO/शॉप अधी.:</b></label>
                            <select class="form-control" id="shop_sec" name="shop_sec" required>
                    <option id="op_shop" selected disabled hidden>Select Shop Section</option>
                    {% if lenm == 1 %}
                        <option selected readonly>{% for role in roles %}{{role}}{% endfor %}</option>
                    {% endif %}
                    {% if lenm > 1 %}
                    {% for role in roles %}
                      <option>{{role}}</option>
                    {% endfor %}
                    {% endif %}
                </select>
                        </td>
                        <td>
                            <label for="partno"><b>Part NO:/पार्ट सं.:</b></label>
                            <select class="form-control" id="part_nop" name="part_nop" required onchange="clickpr()">
                <option id="op_part" selected disabled hidden>Select Part No</option>
                {% if lenm == 1 %}
                {% for i in pa_no %}
                  <option>{{i.part_no}}</option>
                {% endfor %}
                {% endif %}
            </select>
                        </td>
                        </tr>


                    </table>
                    
                    <center><input type="submit" value="Proceed" name="proceed" id="proceed" style="display: none"/></center>

            
            
</div>
<br><br> {% if sub == 1 %}
    <input type="hidden" name="len" value="{{len}}">
    <table border="2" align="center">
        <tr>
            <th>SHOP SECTION</th>
            <th>Part NO</th>
           
        </tr>
        <tr>
           
            <td>{{shop_sec}}</td>
            <input type="hidden" name="shopsec" value="{{shop_sec}}">
            
            <td>{{part_no}}</td>
            <input type="hidden" name="partno" value="{{part_no}}">
            
            
        </tr>
    </table>
</br>
<table border="2" align="center">
    <tr>
        <th>Operation NO:</th>
        <th>Shop Section:</th>
        <th>Load Centre:</th>
        <th>Operation Description:</th>
        <th>PA:</th>
        <th>TA:</th>
        <th>NCP/JBS/M5:</th>
    </tr>
    {% for i in obj %}
    <tr>
        <td>
            {{i.opn}}
        </td>
        <input type="hidden" name="opn{{ forloop.counter }}" value="{{i.opn}}">

        <td>
            {{i.shop_sec}}
        </td>
        <td>
            {{i.lc_no}}
        </td>
        <td>
            {{i.des}}
        </td>
        <td>
            {{i.pa}}
        </td>
        <td>
            {{i.at}}
        </td>
        <td>
            {{i.ncp_jbs}}
        </td>
        
        
    </tr>
    {% endfor %}
</table>
<br><br>
<center>
    <input type="submit" name="proceed" value="Generate Report">
</center>
<br><br> {% endif %}

</form>

<script type="text/javaScript">
function clickpr()
{
    document.getElementById('proceed').click();    
}
    document.querySelector("#shop_sec").addEventListener('change',(e)=>{
                      e.preventDefault();
                      var shop_sec = $("#shop_sec").val()
                      var data = {shop_sec};
                        $.ajax({
                          type : 'GET',
                          url : "{% url 'm1getpano' %}",
                          dataType : 'json',
                          data : data,
                          success : function(response){
                            var elementsadded = document.querySelectorAll(".newelewono");
                                if(elementsadded.length>0){
                                    var elementsaddedarr = Array.from(elementsadded);
                                    elementsaddedarr.forEach((el)=> el.remove());
                                    
                                    document.querySelector("#op_part").selected = true;
                                     
                                 }
                                var brarr,mystr,html;
                                brarr = response.map((el)=>el.part_no);
                                mystr = "";
                                brarr.forEach((el,index)=>{
                                  html = `<option class="newelewono">${brarr[index]}</option>`
                                  mystr = html.concat(mystr);
                                });
                                html = "";
                                document.querySelector("#part_nop").insertAdjacentHTML('beforeend',mystr);
                                mystr=""; 
                          }
                            })
                  })
    
   
   
      
      
      </script>
      
{% endblock content %}