{% extends 'base.html' %} {% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

<style>
     * {
      box-sizing: border-box;
    }
    
    body {
      font: 16px Arial;  
    }
    
    /*the container must be positioned relative:*/
    .autocomplete {
      position: relative;
      display: inline-block;
    }
    
    input {
      border: 1px solid transparent;    
      background-color: #f1f1f1;
      padding: 10px;
      font-size: 16px;
    }
    
    input[type=text] {
      background-color: #f1f1f1;
      width: 100%;
    }
    
    input[type=submit] {
      background-color: DodgerBlue;
      color: #fff;
      cursor: pointer;
    }
    
    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      /*position the autocomplete items to be the same width as the container:*/
      top: 100%;
      left: 0;
      right: 0;
    }
    
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff; 
      border-bottom: 1px solid #d4d4d4; 
    }
    
    /*when hovering an item:*/
    .autocomplete-items div:hover {
      background-color: #e9e9e9; 
    }
    
    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
      background-color: DodgerBlue !important; 
      color: #ffffff; 
    }
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
    }
    
    input[type=button] {
        width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button]:hover {
        background-color: #45a049;
        text-align: center;
    }
</style>
<br>
<br>
<h3 align="center">Process Sheet</h3>
<h3 align="center">M1 CARD</h3>
<br><br>
<form action="{% url 'm1view' %}" method="POST"> {% csrf_token %}
    <div class="container">
        <div  id="id1">
                    <div class="form-row" >
                        <div class="form-group col-md-4">
                            <label for="shop_sec"><b>Shop Section NO/शॉप अधी.:</b></label>
                          <div class="autocomplete" style="width:300px;">
                          <input type="text" autocomplete="off" class="form-control" id="shop_sec" name="shop_sec" placeholder="shop_sec"  maxlength="4" onkeypress="return isNumberKeya(event)">
                          
                          <br><span id="lblErrora" style="color: red"></span> 
                          
                        </div></div>
                        <div class="form-group col-md-4">
                          <label  id="lblpart" style="color: cornflowerblue; margin-top: 50px;margin-left: -55px;"></label>
                         
                         
                            
                        </div>
                        <div class="form-group col-md-4">
                            <label for="partno"><b>Part NO:/पार्ट सं.:</b></label>
                          <div class="autocomplete" style="width:300px;">
                          <input type="text" autocomplete="off" class="form-control" id="part_nop" name="part_nop" placeholder="part_nop"  maxlength="8" onkeypress="return isNumberKeyb(event)" >
                          <br><span id="lblErrorb" style="color: red"></span> 
                        </div></div>
                      </div>
                      <center><input type="button" value="Submit" name="proceed" id="btn" onclick="funb();"/></center>
                    <center><input type="submit" value="Proceed" name="proceed" id="proceed" hidden/></center>
                </div>

                <input type="hidden"  id="h1" name="h1" value="{{part}}">
            
            
</div>
<br><br> {% if sub == 1 %}
    <input type="hidden" name="len" value="{{len}}">
    <table border="2" align="center">
        <tr>
            <th>SHOP SECTION</th>
            <th>Part NO</th>
            <th>RM PART NO</th>
            <th>EPC </th>
            <th>PTC</th>
           
        </tr>
        <tr>
           
            <td>{{shop_sec}}</td>
            <input type="hidden" name="shopsec" value="{{shop_sec}}">
            
            <td>{{part_no}}</td>
            <input type="hidden" name="partno" value="{{part_no}}">
            <td>{{rmpart}}</td>
            <td>{{epcv}}</td>
            <td>{{ptcv}}</td>
        </tr>
    </table>
</br>
<table border="2" align="center">
    <tr>
        <th>Operation NO:</th>
        <th>Shop Section:</th>
        <th>Load Centre:</th>
        <th>Operation Description:</th>
        <th>PA:</th>
        <th>TA:</th>
        <th>NCP/JBS/M5:</th>
    </tr>
    {% for i in obj %}
    <tr>
        <td>
            {{i.opn}}
        </td>
        <input type="hidden" name="opn{{ forloop.counter }}" value="{{i.opn}}">

        <td>
            {{i.shop_sec}}
        </td>
        <td>
            {{i.lc_no}}
        </td>
        <td>
            {{i.des}}
        </td>
        <td>
            {{i.pa}}
        </td>
        <td>
            {{i.at}}
        </td>
        <td>
            {{i.ncp_jbs}}
        </td>
       
        
    </tr>
    {% endfor %}
</table>
<br><br>
<center>
    <input type="submit" name="proceed" value="Generate Report">
</center>
<br><br> {% endif %}

</form>



<script type="text/javaScript">

      var p_no1=[' ']  
      var s_sec=[' ']   


    document.querySelector("#part_nop").addEventListener('focus',(e)=>{
    e.preventDefault();
    var shop_sec=$('#shop_sec').val();
    
    var data={shop_sec};
    $.ajax({
    type : 'GET',
    url : "{% url 'm5getshop_name' %}",
    dataType : 'json',
    data : data,

    success : function(response)
    {    
     document.getElementById('lblpart').innerHTML=response[0].section_desc;
      
    }
    
    }); 
                
 })



function funb()
{

  
    var shop = $("#shop_sec").val();
    var part = $("#part_nop").val();
    if ($("#shop_sec").val()=='')
    { 
        
        
        alert('Enter shop_sec');
        $("#shop_sec").focus();
    }
    else
    if(shop.length < '4'){
        //document.getElementById('brn_no').focus();
        $("#shop_sec").focus();
        alert("shop_sec must be 4 character.");
    }
    else
    if ($("#part_nop").val()=='')
    { 
        
        
        alert('Enter part no');
        $("#part_nop").focus();
    }
    else
    if(part.length < '8'){
        //document.getElementById('brn_no').focus();
        $("#part_nop").focus();
        alert("part_nop must be  8 character.");
    }
    else
    {
        $('#id1').hide();
        document.querySelector("#proceed").click();
    }
}


function isNumberKeya(evt) {
    var lblErrora = document.getElementById("lblErrora");
        lblErrora.innerHTML = "";

var charCode = (evt.which) ? evt.which : evt.keyCode;
if (charCode > 31 && (charCode < 48 || charCode > 57))
{
    lblErrora.innerHTML = "Only Numbers allowed.";
    return false;
} 

return true;


}
function isNumberKeyb(evt) {
    var lblErrorb = document.getElementById("lblErrorb");
        lblErrorb.innerHTML = "";

var charCode = (evt.which) ? evt.which : evt.keyCode;
if (charCode > 31 && (charCode < 48 || charCode > 57))
{
    lblErrorb.innerHTML = "Only Numbers allowed.";
    return false;
} 

return true;

}

function clickpr()
{
    document.getElementById('proceed').click();    
}
window.onload=function()
{
    var data = {};
                        $.ajax({
                          type : 'GET',
                          url : "{% url 'm1getshopsec' %}",
                          dataType : 'json',
                          data : data,
                          success : function(response){
                            
                            for(i=0;i<response.length;i++)
                           {
                             s_sec.push((response[i].section_code).toString());
                           }
                            
                          }
                            })

                            
                        $.ajax({
                          type : 'GET',
                          url : "{% url 'm1getpano' %}",
                          dataType : 'json',
                          data : data,
                          success : function(response){
                            
                            for(i=0;i<response.length;i++)
                           {
                             p_no1.push((response[i].part_no).toString());
                             
                           }
                            
                          }
                            })
                            
 }
                 
      
                 
     function autocomplete(inp, arr) {
      /*the autocomplete function takes two arguments,
      the text field element and an array of possible autocompleted values:*/
      var currentFocus;
      /*execute a function when someone writes in the text field:*/
      inp.addEventListener("input", function(e) {
          var a, b, i, val = this.value;
          /*close any already open lists of autocompleted values*/
          closeAllLists();
          if (!val) { return false;}
          currentFocus = -1;
          /*create a DIV element that will contain the items (values):*/
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");
          /*append the DIV element as a child of the autocomplete container:*/
          this.parentNode.appendChild(a);
          /*for each item in the array...*/
          for (i = 0; i < arr.length; i++) {
            /*check if the item starts with the same letters as the text field value:*/
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
              /*create a DIV element for each matching element:*/
              b = document.createElement("DIV");
              /*make the matching letters bold:*/
              b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
              b.innerHTML += arr[i].substr(val.length);
              /*insert a input field that will hold the current array item's value:*/
              b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
              /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
                  /*insert the value for the autocomplete text field:*/
                  inp.value = this.getElementsByTagName("input")[0].value;
                  /*close the list of autocompleted values,
                  (or any other open lists of autocompleted values:*/
                  closeAllLists();
              });
              a.appendChild(b);
            }
          }
      });
      /*execute a function presses a key on the keyboard:*/
      inp.addEventListener("keydown", function(e) {
          var x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
            /*If the arrow DOWN key is pressed,
            increase the currentFocus variable:*/
            currentFocus++;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 38) { //up
            /*If the arrow UP key is pressed,
            decrease the currentFocus variable:*/
            currentFocus--;
            /*and and make the current item more visible:*/
            addActive(x);
          } else if (e.keyCode == 13) {
            /*If the ENTER key is pressed, prevent the form from being submitted,*/
            e.preventDefault();
            if (currentFocus > -1) {
              /*and simulate a click on the "active" item:*/
              if (x) x[currentFocus].click();
            }
          }
      });
      function addActive(x) {
        /*a function to classify an item as "active":*/
        if (!x) return false;
        /*start by removing the "active" class on all items:*/
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        /*add class "autocomplete-active":*/
        x[currentFocus].classList.add("autocomplete-active");
      }
      function removeActive(x) {
        /*a function to remove the "active" class from all autocomplete items:*/
        for (var i = 0; i < x.length; i++) {
          x[i].classList.remove("autocomplete-active");
        }
      }
      function closeAllLists(elmnt) {
        /*close all autocomplete lists in the document,
        except the one passed as an argument:*/
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
          if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
          }
        }
      }
      /*execute a function when someone clicks in the document:*/
      document.addEventListener("click", function (e) {
          closeAllLists(e.target);
      });
    }
    
    
   
    
    /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
    autocomplete(document.getElementById("shop_sec"), s_sec);
    autocomplete(document.getElementById("part_nop"), p_no1);
    
   
      
      
      </script>
      
{% endblock content %}