{% extends 'base.html' %} {% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<style>



    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
    }
    
    input[type=button] {
        width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button]:hover {
        background-color: #45a049;
        text-align: center;
    }
    table th,td{
        padding: 5px;
    }
</style>
<center>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <font size="3">
            <li>
                {{message}}
            </li>
        </font>
        {% endfor %}
    </ul>
    {% endif %}
</center>
<br>
<h3 align="center">Duty Certificate (M22) Card </h3>
<br>
 
<form action="{% url 'm22view' %}" method="POST"> {% csrf_token %}
    <div class="container">
        <table class="table-response">
            <tr>
                <th><label for="sno"><b>Shop Section NO<br>शॉप अधी:</b></label> </th>
                <th> <label for="wk_ord_no"><b>Work Order NO Of Job Left<br>छोड़ी गए जांच का कार्य आदेश:</b></label></th>
                <th> <label for="wk_ord_no1"><b>Work Order NO For Time On Duty<br>ड्यूटी के समय के लिए जॉब का कार्य आदेश संख्या:</b></label> </th>
                <th> <label for="staff_no"><b>STAFF NO<br>स्टाफ संख्या:</b></label> </th>
                <th> <label for="month"><b>MONTH<br>महीना:</b></label> </th>
             </tr>
            <tr>
                <td>
                    
                    <select class="form-control" id="shop_sec" name="shop_sec" required>
            <option id="op_shop" selected disabled hidden>Select Shop Section</option>
            {% if lenm == 1 %}
            {% for role in roles %}
                <option selected readonly>{{role}}</option>
                {% endfor %}
            {% endif %}
            {% if lenm > 1 %}
            {% for role in roles %}
              <option>{{role}}</option>
            {% endfor %}
            {% endif %}
        </select>
                </td>
                <td>
                   
                    <select class="form-control" id="wno" name="wo_no" required>
        <option id="op_wo" selected disabled hidden>Select Work Order NO</option>
        {% if lenm == 1 %}
        {% for i in wo_nop %}
          <option>{{i.bo_no}}</option>
        {% endfor %}
        {% endif %}
    </select>
                </td>
                 <td>
                   
                    <select class="form-control" id="wno1" name="wo_no1" required>
        <option id="op_wo1" selected disabled hidden>Select Work Order NO</option>
        {% if lenm == 1 %}
        {% for i in wo_nop %}
          <option>{{i.bo_no}}</option>
        {% endfor %}
        {% endif %}
    </select>
                </td>

                <td>
                   
                    <select class="form-control" id="staff_no" name="staff_no" onchange="month()" required>
            <option id="op_staff" selected disabled hidden>Select STAFF NO</option>

              </select>
                </td>
                <td> 
                    <select class="form-control" id="mon" name="mon"  disabled required>
                    <option  selected disabled hidden>Select MONTH</option>
                    <option value='1'>January</option>
                    <option value='2'>February</option>
                    <option value='3'>March</option>
                    <option value='4'>April</option>
                    <option value='5'>May</option>
                    <option value='6'>June</option>
                    <option value='7'>July</option>
                    <option value='8'>August</option>
                    <option value='9'>September</option>
                    <option value='10'>October</option>
                    <option value='11'>November</option>
                    <option value='12'>December</option>
                    </select>
                </td>
</tr>
             



        </table>
        
        
        <input type="submit" value="Proceed" name="proceed" id="myproceed" hidden/>


    </div>
     <br> {% if sub == 1 %}
    <div id="print" style="align:center" >

        <center><b><h4>Indian Railways/भारतीय रेल</h4></b></center>

        <center> <b><h4>Diesel Locomotive Works/डीजल रेल इंजन कारखाना</h4></b></center>

        <center><b><h4>Varanasi/वाराणसी</h4></b></center>
        <center><b><h4>DUTY CERTIFICATE/ड्यूटी प्रमाण-पत्र </h4></b></center>

         <br> 

     <table border="2" align="center">
        <tr>

            <th>Shop Section</th>
            <th>Work Order NO Of Job Left</th>
            <th>Work Order NO For Time On Duty</th>
            <th>Month</th>
            <th>STAFF NO</th>
            <th>Employee Name</th>
        </tr>

        <tr>
            <td>{{shop_sec}}</td>
            <input type="hidden" name="shop__sec" value="{{shop_sec}}">
            <td>{{wo_no}}</td>
             <input type="hidden" name="wo__no" value="{{wo_no}}">
             <td>{{wo_no1}}</td>
             <input type="hidden" name="wo__no1" value="{{wo_no1}}">
             <td>{{month}}</td>
            <input type="hidden" name="month" value="{{month}}">
            <td>{{staff_no}}</td>
             <input type="hidden" name="staff__no" value="{{staff_no}}">
            {% if datel == 0 %}
            <td>None</td>
            {% else %}
            <td>{% for i in obj %}
                {{i.name}}
                {% endfor %}
            </td>
            {% endif %}
        </tr>

    </table>
    </br><br>
  <table border="2" align="center">

    <tr>
      <th>Date of Leaving Works/कारखाना छोड़ने की तारीख</th>
      <th>Date of Completion of Duty/ड्यूटी पूरी होने की तारीख </th>
      <th>Date of return to works/कारखाना में लौटने की तारीख </th>
      <th>Brief Description of Duty/ड्यूटी का संशिप्त विवरण </th>
    </tr>

    <tr>
       
        <td> 
           <input type="text"  id="leaving_date"  placeholder="dd-mm-yyyy" name="datelw"   required>
            
            </td>

        <td>
            <input type="text"   id="completion_date"   placeholder="dd-mm-yyyy"  name="datecc"  placeholder="dd-mm-yyyy" required>

            
            </td>


        <td>
            
 

                <input type="text"  id="return_date"  placeholder="dd-mm-yyyy" name="daterw"   required>

            
            </td>

            <td>
            

                
                <input type="text"  value="" name="briefdd" >

           
            </td>
          
    </tr>

  </table><br><br>
     <input type="hidden" value={{mt1}} name="mt1">

       <center><b><h5>No.of Hours each date on Duty/प्रत्येक तारीख के ड्यूटी के घंटो की संख्या </h5></b></center>
         <center>

<table border="1" class="tt" align="center" >
 
   <tr>
    <td>1 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd1" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>
    <td>2 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd2" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>3 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd3" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>4 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd4" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>5 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd5" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>6 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd6" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>7 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd7" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>8 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd8" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>9 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd9" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>
    <td>10 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd10" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>


          
</tr>


 <tr>
    <td>11 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd11" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>12 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd12" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>13 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd13" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>14 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd14" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>15 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd15" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>16 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd16" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>17 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd17" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>18 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd18" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>19 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd19" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>20 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd20" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>
     
    </tr>
    <td>21 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd21" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>22</td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd22" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>23</td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd23" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>24 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd24" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>25</td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd25" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>26 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd26" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>27</td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd27" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>28 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd28" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>29 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd29" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>

    <td>30 </td>
    <td> <input type = "number" class="form-control" value="0.00" name="hd30" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>
 
 <tr>
         
    </tr> 
     <tr>
        <td>31 </td>
        <td> <input type = "number" class="form-control" value="0.00" name="hd31" title="Enter value between 0.00 to 24.00 "  step="0.01" min="0.00" max="24.00"  >   </td>
    
    </tr>


</table>
</center>


    </div>
    <br><br>
    <center>
        <input type="submit" name="proceed" value="Save" id="submitted">
         <input type="button" onclick="printDiv()" value="Print">
    </center>
    <br><br>
    {% endif %}

</form>


<script type="text/javaScript">

$(document).ready(function () {

       $('#leaving_date').datepicker({dateFormat: 'dd-mm-yy'}); 
       $('#completion_date').datepicker({dateFormat: 'dd-mm-yy'}); 
       $('#return_date').datepicker({dateFormat: 'dd-mm-yy'}); 
       
       
       });


document.querySelector("#shop_sec").addEventListener('change',(e)=>{
                  e.preventDefault();
                  var shop_sec = $("#shop_sec").val()
                  var data = {shop_sec};
                    $.ajax({
                      type : 'GET',
                      url : "{% url 'm22getwono' %}",
                      dataType : 'json',
                      data : data,
                      success : function(response){
                        var elementsadded = document.querySelectorAll(".newelewono");
                            if(elementsadded.length>0){
                                var elementsaddedarr = Array.from(elementsadded);
                                elementsaddedarr.forEach((el)=> el.remove());
                                document.querySelector("#op_wo").selected=true;
                                document.querySelector("#op_wo1").selected=true;
                                document.querySelector("#op_staff").selected=true;

                            }
                            var brarr,mystr,html;
                            brarr = response.map((el)=>el.bo_no);
                            mystr = "";
                            brarr.forEach((el,index)=>{
                              html = `<option class="newelewono">${brarr[index]}</option>`
                              mystr = html.concat(mystr);
                            });
                            html = "";
                            document.querySelector("#wno").insertAdjacentHTML('beforeend',mystr);
                            document.querySelector("#wno1").insertAdjacentHTML('beforeend',mystr);
                            mystr="";
                      }
                        })
              })
$("#wno").change(function(e){
    e.preventDefault();
    var wo_no = $(this).val();
    var shop_sec = $("#shop_sec").val();
    var data = {shop_sec};
      $.ajax({
        type : 'GET',
        url : "{% url 'm22getstaff' %}",
        dataType : 'json',
        data : data,
        success : function(response){
        if(response == ''){
                       alert("STAFF NO Not Found for Shop Section:"+shop_sec+", Work Order NO:"+wo_no);}
              var elementsadded = document.querySelectorAll(".newelestaff");
              if(elementsadded.length>0){
                var elementsaddedarr = Array.from(elementsadded);
              elementsaddedarr.forEach((el)=> el.remove());
              document.querySelector("#op_wo1").selected=true;
              document.querySelector("#op_staff").selected = true;

              }
              var brarr,mystr,html;
              brarr = response.map((el)=>el.staff_no);
              mystr = "";
              brarr.forEach((el,index)=>{
                html = `<option class="newelestaff">${brarr[index]}</option>`
                mystr = html.concat(mystr);
              });
              html = "";
              document.querySelector("#staff_no").insertAdjacentHTML('beforeend',mystr);
              mystr="";
        }
           })
           })


function month(){

document.getElementById("mon").disabled = false;

}


document.querySelector("#mon").addEventListener('change',(e)=>{

    document.querySelector("#myproceed").click();
})
document.addEventListener('keypress',(event)=>{
    if(event.keyCode===13){
        event.preventDefault();
    }
})





function printDiv() {
     var printContents = document.getElementById("print");


       var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td { border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: left;}"+".tt {width: 50%;}";
        style = style + "</style>";
      var win = window.open('', '', 'height=750,width=750');

        win.document.write('<html><head>');

        win.document.write('<title>M22(DUTY CERTIFICATE)</title>');
        win.document.write(style);
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(printContents.outerHTML);
        win.document.write('</body></html>');
        win.print();
        win.close();
     }

  </script>



{% endblock content %}
