{% extends 'base.html' %} {% block content %}

<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 125%;
  border: none;
}

th, td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(odd){background-color: #f2f2f2}

tr:nth-child(even){background-color: #f2f2f2}
</style>

<style>
table, td, th {  
  
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 125%;
}

th, td {
  padding: 8px;
}
</style>

<style>
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit], [type=reset], [type=button]  {
        width: 10%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
    } 
</style>
<br>
<h3 align="center">समय-पत्रक/Time Sheet</h3>
<div> <h6 align="left" style="margin-left: 100px;">डी० रे० का/D.L.W.</h6> <h6 align="right" style="margin-right: 100px;">एमoजी० 27/M</h6></div><br>

    <center>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <font size="3">
                <li>
                    {{ message }}
                </li>
            </font>
            {% endfor %}
        </ul>
        {% endif %}
    </center>
<br>
<form action="{% url 'm27view' %}" method="POST"> {% csrf_token %}

    <div class="container">
        <table >
            <tr>
                 <td>
                    <label for="br_no"><b>महीनो के लिय/For The Month Of</b></label>
                    <input type="text" name="date1" id="date1" readonly class="form-control" required>
                </td>
                <td>
                    <label for="sno"><b>Shop Section NO/शॉप न०</b></label>
                    <select class="form-control" id="shop_sec" name="shop_sec" required>
                                <option id="op_shop" selected disabled hidden>Select Shop Section</option>
                            {% if lenm == 1 %}
                                <option selected readonly>{% for role in roles %}{{role}}{% endfor %}</option>
                            {% endif %}
                            {% if lenm > 1 %}
                            {% for role in roles %}
                            <option>{{role}}</option>
                            {% endfor %}
                            {% endif %}                         
                    </select>
                </td>
                <td>
                    <label for="wk_ord_no"><b>Staff NO:/क्रम सं०</b></label>
                    <select class="form-control" id="staffNo" name="staffNo" required>
                              <option id="op_staffNo" selected disabled hidden>Select Staff NO</option>
                              {% if lenm == 1 %}
                              {% for i in wo_nop %}
                                <option>{{i.staff_no}}</option>
                              {% endfor %}
                              {% endif %}
                     </select>
                </td>                          
            
                 <td>
                    <label for="br_no"><b>नाम/Name</b></label>                   
                    <select class="form-control" id="staffName" name="staffName" required>
                              <option id="op_staffName" selected disabled hidden>Select Staff Name</option>
                              {% if lenm == 1 %}
                              {% for i in wo_nop %}
                                <option>{{i.name}}</option>
                              {% endfor %}
                              {% endif %}
                     </select>
                </td>
                <td>
                    <label for="br_no"><b>पदनाम/Designation</b></label>
                    <select class="form-control" id="staffDesg" name="staffDesg" required>
                              <option id="op_staffDesg" selected disabled hidden>Select Designation</option>
                              {% if lenm == 1 %}
                              {% for i in wo_nop %}
                                <option>{{i.desgn}}</option>
                              {% endfor %}
                              {% endif %}
                     </select>
                </td>
                <td>
                    <label for="br_no"><b>दर/Rate</b></label>
                    <input type="text" class="form-control" name="staffRate" id="staffRate">
                </td>                       
            </tr>  
               
    </table>    
    <br>   
   
    <table>
        <thead>
            <tr>
                <th>                  
                  <select class="form-control" id="wono" name="wono" required>
                              <option id="op_wono" selected disabled hidden>Select Work Order No.</option>
                              {% if lenm == 1 %}
                              {% for i in wo_nop %}
                                <option>{{i.batch_no}}</option>
                              {% endfor %}
                              {% endif %}
                  </select>
                </th>
                <th><select class="form-control" id="date2" name="date2" required>
                              <option id="op_date2" selected disabled hidden>Select Date</option>
                              {% if lenm == 1 %}
                              {% for i in wo_nop %}
                                <option>{{i.date}}</option>
                              {% endfor %}
                              {% endif %}
                  </select>
                </th>
                <th><input type="text" name="date3" id="date3" readonly class="form-control"  style="width:150px;" placeholder="Office Date"></th>
                <th><input type="text" name="totalHr" id="totalHr"  class="form-control"  style="width:150px;" placeholder="Total Hrs. Including Over-Time"></th>
                <th><input type="button" class="add-row" value="+" id="add"></th>
                <input type="hidden" name="totindb" id="totindb" value="0">
                <input type="hidden" name="totmebs" id="totmebs" value="0" hidden/>
            </tr>
        </thead>        
    </table>  

    <div id="items"> </div>
    
        <center><input type="submit" name="proceed" value="submit"  /></center>  

            <datalist id="batch_no">
                {% for lc in batch_no %}
                <option value="{{lc}}"></option>
                {% endfor %}
            </datalist>
  </div> 
</form>

<script>
   document.querySelector("#shop_sec").addEventListener('change',(e)=>{
                    e.preventDefault();
                    var shop_sec = $("#shop_sec").val();
                    var date = $("#date").val();
                    var data = {date,shop_sec};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm27getStaffNo' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var elementsadded = document.querySelectorAll(".newelepart1");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());       
                                  document.querySelector("#op_staffNo").selected=true;      
                                  document.querySelector("#op_staffName").selected=true;   
                                  document.querySelector("#op_staffDesg").selected=true;   
                                  document.querySelector("#op_wono").selected=true;  
                                  document.querySelector("#op_date2").selected=true; 
                               }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.staff_no); 
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelepart1">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#staffNo").insertAdjacentHTML('beforeend',mystr);
                              mystr=""; 
                        }
                   })
                })


    document.querySelector("#staffNo").addEventListener('change',(e)=>{
                    e.preventDefault();
                    var shop_sec = $("#shop_sec").val();
                    var staffNo = $("#staffNo").val();
                    var data = {shop_sec,staffNo};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm27getDetails' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var elementsadded = document.querySelectorAll(".newelepart2");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());       
                                  document.querySelector("#op_staffName").selected=true;    
                                  document.querySelector("#op_staffDesg").selected=true;   
                                  document.querySelector("#op_wono").selected=true;  
                                  document.querySelector("#op_date2").selected=true;                                  
                               }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.name);
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelepart2">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#staffName").insertAdjacentHTML('beforeend',mystr);
                              mystr="";                              
                        }
                   })
                })

                document.querySelector("#staffName").addEventListener('change',(e)=>{
                    e.preventDefault();
                    var staffName = $("#staffName").val();
                    var staffNo = $("#staffNo").val();
                    var data = {staffName,staffNo};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm27getDesignation' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var elementsadded = document.querySelectorAll(".newelepart3");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());       
                                  document.querySelector("#op_staffDesg").selected=true;  
                                  document.querySelector("#op_wono").selected=true;   
                                  document.querySelector("#op_date2").selected=true;                                    
                               }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.desgn);
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelepart3">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#staffDesg").insertAdjacentHTML('beforeend',mystr);
                              mystr="";                              
                        }
                   })
                })

              document.querySelector("#staffDesg").addEventListener('change',(e)=>{
                    e.preventDefault();
                    var shop_sec = $("#shop_sec").val();
                    var data = {shop_sec};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm27getWorkOrder' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var elementsadded = document.querySelectorAll(".newelepart4");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());         
                                  document.querySelector("#op_wono").selected=true;
                                  document.querySelector("#op_date2").selected=true;                                                                      
                               }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.batch_no);
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelepart4">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#wono").insertAdjacentHTML('beforeend',mystr);
                              mystr="";                              
                        }
                   });
                })

                document.querySelector("#wono").addEventListener('change',(e)=>{
                    e.preventDefault();
                    var wono = $("#wono").val();
                    var data = {wono};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm27getWorkOrderDate' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var elementsadded = document.querySelectorAll(".newelepart5");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());         
                                  document.querySelector("#op_date2").selected=true;                                                                     
                               }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.date);
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelepart5">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#date2").insertAdjacentHTML('beforeend',mystr);
                              mystr="";                              
                        }
                   })
                })

</script>


<script>
     $(document).ready(function () {
        $('#date1').datepicker({ dateFormat: 'yy-mm', }); 
   });
    
    $(document).ready(function () {
        $('#date3').datepicker({ dateFormat: 'yy-mm-dd', }); 
   });
    
    $( document ).ready(function() {    
    var totindb=document.getElementById('totindb').value; 
    });

  var j=0;
 
  $("#add").click(function(e) {
    event.preventDefault()
        console.log("j"+String(j));
        j++;           
 
        var nameoname="wono"+String(j);
        var date2="date2"+String(j);
        var date3="date3"+String(j);
        var totindb="totindb"+String(j);        
        console.log(wono+" : "+date2+" : "+date3+" : "+totindb);

        var totindb=document.getElementById('totindb').value; 
        document.getElementById("totmebs").value=j;
        
        var htAppend='<div><table id="customers"><tr>'+
                          '<td><select name='+nameoname+' id='+nameoname+' onchange="find(this);" class="form-control ll" style="width: 220px;" required ><option  value="" disabled hidden>Select WO Number</option></select></td>'+          
                          '<td><input type="text" id="'+date2+'"   name="'+date2+'" readonly ></td>'+
                          '<td><input type="date" id="'+date3+'"   name="'+date3+'" ></td>'+
                          '<td><input type="text" id="'+totindb+'" name="'+totindb+'" ></td>';
 
     htAppend=htAppend+'</tr></table>'+'</div>';
     $('#items').append(htAppend);  
     var shop_sec = $("#shop_sec").val();
     var data = {shop_sec};
      $.ajax({
                        type : 'GET',
                        url : "{% url 'm27getWorkOrder' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          console.log("in add ajax");
                          console.log(response);
                          var elementsadded = document.querySelectorAll(".newelepart6");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());         
                                  document.querySelector("#op_wono").selected=true;
                                  document.querySelector("#op_date2").selected=true;                                                                    
                               }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.batch_no);
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelepart6">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#"+nameoname).insertAdjacentHTML('beforeend',mystr);
                              mystr="";                              
                        }
                   });

    
     var x=document.getElementById("batch_no");
     var pp=0;
     for (pp = 0; pp < x.options.length; pp++) {
      
     $("#"+nameoname).append("<option value='"+x.options[pp].value+"'>"+x.options[pp].value+"</option>");
     }
document.querySelector("#"+nameoname).addEventListener('change',(e)=>{
                    e.preventDefault();
                    var wono = $("#"+nameoname).val();
                    console.log("wo",wono);
                    var data = {wono};
                    console.log("in date ajax");
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm27getWorkOrderDate' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                         document.getElementById(date2).value=response[0].date;                              
                        }
                   })
                })

});
</script>
{% endblock content %}

