{% extends 'base.html' %} {% block content %} {% load static %}

<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #808080;
    color: white;
}
input[type=submit] {
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button] {
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 6px 6px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>
<script>
    $(document).ready(function () {
            $('#date1').datepicker({
                dateFormat: 'dd-mm-yy'
            });
        });
</script>
<br>
<h3 align="center">समय-पत्रक/Time Sheet</h3>
<div> <h6 align="left" style="margin-left: 100px;">डी० रे० का/D.L.W.</h6> <h6 align="right" style="margin-right: 100px;">एमoजी० 27/M</h6></div><br>

    <center>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <font size="3">
                <li>
                    {{ message }}
                </li>
            </font>
            {% endfor %}
        </ul>
        {% endif %}
    </center>
<br>
<form action="{% url 'm27view' %}" method="POST"> {% csrf_token %}
        <table id="customers">
            <tr>
                 <td>
                    <label for="br_no"><b>महीनो के लिय/For The Month Of</b></label>
                    <input type="text" name="date1" id="date1" readonly class="form-control" value="{{mon}}" required>
                </td>
                <td>
                    <label for="sno"><b>Shop Section NO/शॉप न०</b></label>
                    <select class="form-control" id="shop_sec" name="shop_sec" required>
                                <option id="op_shop" selected disabled hidden>Select Shop Section</option>
                            {% if lenm == 1 %}
                                <option selected readonly>{% for role in roles %}{{role}}{% endfor %}</option>
                            {% endif %}
                            {% if lenm > 1 %}
                            {% for role in roles %}
                            <option>{{role}}</option>
                            {% endfor %}
                            {% endif %}                         
                    </select>
                </td>
                <td>
                    <label for="wk_ord_no"><b>Staff NO:/क्रम सं०</b></label>
                    <select class="form-control" id="staffNo" name="staffNo" required>
                              <option id="op_staffNo" selected disabled hidden>Select Staff NO</option>
                              {% if lenm == 1 %}
                              {% for i in wo_nop %}
                                <option>{{i.staff_no}}</option>
                              {% endfor %}
                              {% endif %}
                     </select>
                </td>                          
            
                 <td>
                    <label for="br_no"><b>नाम/Name</b></label>                   
                    <select class="form-control" id="staffName" name="staffName" value="{{stfname}}" required>
                              <option id="op_staffName" selected disabled hidden>Select Staff Name</option>
                              {% if lenm == 1 %}
                              {% for i in wo_nop %}
                                <option>{{i.name}}</option>
                              {% endfor %}
                              {% endif %}
                     </select>
                </td>
                <td>
                    <label for="br_no"><b>पदनाम/Designation</b></label>
                    <select class="form-control" id="staffDesg" name="staffDesg" value="{{stfdesg}}" required>
                              <option id="op_staffDesg" selected disabled hidden>Select Designation</option>
                              {% if lenm == 1 %}
                              {% for i in wo_nop %}
                                <option>{{i.desgn}}</option>
                              {% endfor %}
                              {% endif %}
                     </select>
                </td>
                <td>
                    <label for="br_no"><b>दर/Rate</b></label>
                    <input type="number" class="form-control" name="staffRate" id="staffRate" placeholder="Staff Rate" min="1"  onblur="cproceed()"> <!--value="{{stfrate}}"-->
                </td>                       
            </tr>  
    </table>    
    <br>
<input type="hidden" name="totindb" value={{totindb}} id="totindb">
<input type="text" name="total" id="total" value="" hidden/>
<input type="hidden" value={{shopsec}} name="shopsec">
<input type="hidden" value={{stfno}} name="stfno">
<input type="hidden" value={{stfname}} name="stfname">
<input type="hidden" value={{stfdesg}} name="stfdesg">
<input type="submit" value="Proceed" name="proceed" id="myproceed" hidden/>
{% if sub == 1 %}
<datalist id="batch_no">
    {% for lc in batch_no %}
    <option value="{{lc}}"></option>
    {% endfor %}
</datalist>
<center><input type="button" name="btn" value="Add row" id="add" class="form-control ll" style="width:150px;" required /></center>
<div id="items"> </div>
<br>
<center><input type="submit" name="proceed" value="Save" class="form-control ll" required style="width:80px;"/></center>
{% endif %}
</form>
<script type="text/javascript">
function cproceed()
{
    document.querySelector("#myproceed").click();
}
document.querySelector("#shop_sec").addEventListener('change',(e)=>{
                    e.preventDefault();
                    var shop_sec = $("#shop_sec").val();
                    var date = $("#date").val();
                    var data = {date,shop_sec};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm27getStaffNo' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var elementsadded = document.querySelectorAll(".newelepart1");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());       
                                  document.querySelector("#op_staffNo").selected=true;      
                                  document.querySelector("#op_staffName").selected=true;   
                                  document.querySelector("#op_staffDesg").selected=true;   
                                  document.querySelector("#op_wono").selected=true;  
                                  document.querySelector("#op_date2").selected=true; 
                               }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.staff_no); 
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelepart1">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#staffNo").insertAdjacentHTML('beforeend',mystr);
                              mystr=""; 
                        }
                   })
                })


    document.querySelector("#staffNo").addEventListener('change',(e)=>{
                    e.preventDefault();
                    var shop_sec = $("#shop_sec").val();
                    var staffNo = $("#staffNo").val();
                    var data = {shop_sec,staffNo};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm27getDetails' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var elementsadded = document.querySelectorAll(".newelepart2");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());       
                                  document.querySelector("#op_staffName").selected=true;    
                                  document.querySelector("#op_staffDesg").selected=true;   
                                  document.querySelector("#op_wono").selected=true;  
                                  document.querySelector("#op_date2").selected=true;                                  
                               }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.name);
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelepart2">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#staffName").insertAdjacentHTML('beforeend',mystr);
                              mystr="";                              
                        }
                   })
                });

                document.querySelector("#staffName").addEventListener('change',(e)=>{
                    e.preventDefault();
                    var staffName = $("#staffName").val();
                    var staffNo = $("#staffNo").val();
                    var data = {staffName,staffNo};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm27getDesignation' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var elementsadded = document.querySelectorAll(".newelepart3");
                              if(elementsadded.length>0){
                                  var elementsaddedarr = Array.from(elementsadded);
                                  elementsaddedarr.forEach((el)=> el.remove());       
                                  document.querySelector("#op_staffDesg").selected=true;  
                                  document.querySelector("#op_wono").selected=true;   
                                  document.querySelector("#op_date2").selected=true;                                    
                               }
                              var brarr,mystr,html;
                              brarr = response.map((el)=>el.desgn);
                              mystr = "";
                              brarr.forEach((el,index)=>{
                                html = `<option class="newelepart3">${brarr[index]}</option>`
                                mystr = html.concat(mystr);
                              });
                              html = "";
                              document.querySelector("#staffDesg").insertAdjacentHTML('beforeend',mystr);
                              mystr="";                              
                        }
                   })
                });
var j=0;
var ofcdate="ofcdate";
var wono="wono";
var wodate="wodate";
var tothrs="tothrs";

$("#add").click(function(e) {
    event.preventDefault()
        j++;
        ofcdate="ofcdate"+String(j);
        wono="wono"+String(j);
        wodate="wodate"+String(j);
        tothrs="tothrs"+String(j);
        var totindb=document.getElementById('totindb').value;
        document.getElementById("total").value=j;
        console.log(ofcdate,wodate);
        if(j==1 && totindb == 0)
        {
            var happ='<div><table id="customers">'+'<tr><th style="width:250px;">Work Order No.</th><th style="width:250px;">Work Order Date</th><th style="width:250px;">Office Date</th><th style="width:250px;">Total Hrs.</th>';

    happ=happ+'</tr></table></div>';
        $('#items').append(happ);

        }
var htAppend='<div><table id="customers"><tr>'+'<td><select name="'+wono+'" id="'+wono+'" class="form-control ll" required style="width:250px"><option value="" selected disabled hidden>Select Work Order No.</option></select></td>'+
'<td><input type="text" id='+wodate+' name='+wodate+' class="form-control ll" placeholder="WO Date" readonly required/></td>'+
'<td><input type="text" id='+ofcdate+' name='+ofcdate+' class="odatec" placeholder="Office Date" required /></td>'+
'<td><input type="number" id='+tothrs+' name='+tothrs+' class="form-control ll" required></td>';
htAppend=htAppend+'</tr></table>'+'</div>';
     $('#items').append(htAppend);

$('.odatec').each(function(){
    $(this).datepicker({ dateFormat: 'dd-mm-yy' });
    $(this).addClass("form-control ll");
});
var x=document.getElementById("batch_no");
     var pp=0;
     for (pp = 0; pp < x.options.length; pp++) {
      
     $("#"+wono).append("<option value='"+x.options[pp].value+"'>"+x.options[pp].value+"</option>");
     }
document.querySelector("#"+wono).addEventListener('change',(e)=>{
                    e.preventDefault();
                    var wo = $("#"+wono).val();
                    console.log("wo",wo);
                    var data = {wo};
                    console.log("in date ajax");
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm27getWorkOrderDate' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                            console.log(response);
                         document.getElementById(wodate).value=response[0].date;                              
                        }
                   })
                });

});

</script>

{% endblock content %}