{% extends 'base.html' %} {% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>

<style>
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
    }

    input[type=button] {
        width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=button]:hover {
        background-color: #45a049;
        text-align: center;
    }
</style>
<br>
<br>
<h3 align="center">Waiver Request for Critical/Non-Critical Items (M30 Card)</h3>
<br>
<center>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <font size="3">
                <li>
                    {{message}}
                </li>
            </font>
            {% endfor %}
        </ul>
        {% endif %}
    </center>
<br>
<form action="{% url 'm30view' %}" method="POST"> {% csrf_token %}
    <div class="container">
        <table class="table">
            <tr>
                <td>
                    <label for="sno"><b>Shop Section NO/शॉप अधी.:</b></label>
                    <select class="form-control" id="shop_sec" name="shop_sec" required>
            <option id="op_shop" selected disabled hidden>Select Shop Section</option>
            {% if lenm == 1 %}
            {% for role in roles %}
                <option selected readonly>{{role}}</option>
                {% endfor %}
            {% endif %}
            {% if lenm > 1 %}
            {% for role in roles %}
              <option>{{role}}</option>
            {% endfor %}
            {% endif %}
        </select>
                </td>
                <td>
                    <label for="partno"><b>Part NO:/पार्ट सं.:</b></label>
                    <select class="form-control" id="part_nop" name="part_nop" required>
            <option id="op_part" selected disabled hidden>Select Part No</option>
        {% if lenm == 1 %}
        {% for i in wo_nop %}
          <option>{{i.part_no}}</option>
        {% endfor %}
        {% endif %}
        </select>
                </td>
                  <td>
                    <label for="staff_no"><b>STAFF NO/स्टाफ संख्या:</b></label>
                    <select class="form-control" id="staff_no" name="staff_no" required>
        <option id="op_staff" selected disabled hidden>Select Staff NO</option>
        </select>
                  </td></tr>
            <tr>
             <td>
                 <label for="request"><b>Waiver Request:</b></label>
                    <select class="form-control" id="req" name="req" required>
                    <option  selected disabled hidden>Select Waiver Request For</option>
                    <option value='Critical Items'>Critical Items</option>
                    <option value='Non-Critical Items'>Non-Critical Items</option>
                    </select>
             </td>
             <td>
                    <label for="date"><b>Date:</b></label>
                    <input type="date" class="form-control" id="date" name="date" value="date">
             </td>
            </tr>


        </table>


        <input type="submit" value="Proceed" name="proceed" id="myproceed" hidden/>


    </div>
    <br><br> {% if sub == 1 %}
     <div id="print" style="align:center" >
<center><b><h4>Indian Railways/भारतीय रेल</h4></b></center>

        <center> <b><h4>Diesel Locomotive Works/डीजल रेल इंजन कारखाना</h4></b></center>

         <center><b><h4>Varanasi/वाराणसी</h4></b></center></br></br>
    <table border="2" align="center">
        <tr>
            <th>Date</th>
            <th>Shop Section</th>
            <th>Part NO</th>
            <th>Part Description</th>
            <th>Drawing NO</th>
            <th>Loco To</th>
            <th>Loco From</th>

        </tr>

        <tr>
             <td>
                {{date}}
            </td><input type="hidden" name="date" value="{{date}}">
            <td>{{shop_sec}}</td><input type="hidden" name="shop_sec" value="{{shop_sec}}">
            <td>{{part_no}}</td><input type="hidden" name="part_no" value="{{part_no}}">
              {% for k in obj %}
            <td>{{k.des}}</td>
            <td>{{k.drgno}}</td>{% endfor %}
            {% for k in obj2 %}
            <td>{{k.loco_fr}}</td><input type="hidden" name="loco_fr" value="k.loco_fr">
            <td>{{k.loco_to}}</td><input type="hidden" name="loco_to" value="k.loco_to">
            {% endfor %}
        </tr>
        <tr>
            <th>Initiated By</th><input type="hidden" name="staff_no" value="{{staff_no}}">
            <th>Request NO:</th>
            <th>Name</th>
            <th>Designation</th>
            <th>Category</th>
            <th>Employee Type</th>
            <th>Specification NO:</th>
        </tr>
        <tr>
            <td>{{staff_no}}</td>
            <td>{{rand}}</td><input type="hidden" name="rand" value="{{rand}}">
            {% for i in obj1 %}
            <td>{{i.name}}</td>
            <td>{{i.desgn}}</td>
            <td>{{i.cat}}</td>
            <td>{{i.emp_type}}</td>{% endfor %}
            <td></td><input type="hidden" name="spec_no" value="{{specification_no}}">
        </tr>

    </table>
         </br></br>


    <table border="2" align="center" width="85%">
        <tr>
            <th>Quantity:</th>
            <th>Dimension/Specification:</th>
            <th>Specified Value:</th>
            <th>Obtained Value:</th>

        </tr>
        {% for i in obj3 %}
        <tr>
             <td>
            {% if i.qty %}
                <input type="number"  class="form-control" value="{{i.qty}}" name="qty" min="0" max="">
                {% else %}
                <input type="number"  class="form-control" value="" name="qty" min="0" max="">
            {% endif %}
            </td>
            <td>
            {% if i.dimension %}
                <input type="text"  class="form-control" value="{{i.dimension}}" name="dimension" >
                {% else %}
                <input type="text"  class="form-control" value="" name="dimension" >
            {% endif %}
            </td>
            <td>
            {% if i.spe_val %}
                <input type="number"  class="form-control" value="{{i.spe_val}}" name="spe_val" min="0" max="" >
                {% else %}
                <input type="number"  class="form-control" value="" name="spe_val" min="0" max="" >
            {% endif %}
            </td>
            <td>
            {% if i.obt_val %}
                <input type="number"  class="form-control" value="{{i.obt_val}}" name="obt_val" min="0" max="">
                {% else %}
                <input type="number" class="form-control" value="" name="obt_val" min="0" max="">
            {% endif %}
            </td>
        </tr>
        <tr>
            <th>Affect Interchangeablility:</th>
            <th>Waiver Number</th>
            <th>Waiver Date</th>
        </tr>
        <tr>
            <td>
            {% if i.interc %}
                <input type="text"  class="form-control" value="{{i.interc}}" name="interc" >
                {% else %}
                <input type="text"  class="form-control"" value="" name="interc" >
            {% endif %}
            </td>
  <td>
            {% if i.waiver_no %}
                <input type="text"  class="form-control" value="{{i.waiver_no}}" name="waiver_no" >
                {% else %}
                <input type="text" class="form-control" value="" name="waiver_no" >
            {% endif %}
            </td>
  <td>
            {% if i.waiver_date %}
                <input type="date" class="form-control"  value="{{i.waiver_date}}" name="waiver_date" min="2015-01-01" max="2020-12-31">
                {% else %}
                <input type="date" class="form-control" value="" name="waiver_date" min="2015-01-01" max="2020-12-31">
            {% endif %}
            </td>

</tr>
        <tr><th colspan="7">Non-Conformance description</th></tr>
        <tr>
            <td colspan="7">
            {% if i.non_conf_des %}
                <input type="text"  class="form-control" value="{{i.non_conf_des}}" name="non_conf_des" >
                {% else %}
                <input type="text"  class="form-control"  value="" name="non_conf_des" >
            {% endif %}
            </td></tr>
        <tr><th colspan="7">Reason For Non-Conformance</th></tr>
        <tr>
            <td colspan="7">


            {% if i.reason_for_non_conf %}
                <input type="text"   class="form-control" value="{{i.reason_for_non_conf}}" name="reason_for_non_conf" >
                {% else %}
                <input type="text"   class="form-control" value="" name="reason_for_non_conf" >
            {% endif %}

            </td></tr>
        <tr><th colspan="7">Corrective Action Plan</th></tr>
            <tr>
             <td colspan="7">
            {% if i.corr_action_plan %}
                <input type="text"  class="form-control"  value="{{i.corr_action_plan}}" name="corr_action_plan" >
                {% else %}
                <input type="text"  class="form-control"  value="" name="corr_action_plan" >
            {% endif %}
             </td>
        </tr>
        <tr><th colspan="7">Remarks Of Dy.HOD/Concerned</th></tr>
        <tr>
            <td colspan="7">
                  {% if i.remarks_hod %}
                <input type="text"  class="form-control"  value="{{i.remarks_hod}}" name="remarks_hod" >
                {% else %}
                <input type="text"  class="form-control"  value="" name="remarks_hod" >
            {% endif %}

            </td>
        </tr>
        <tr><th colspan="7">Remarks Of Chief Quality Assurance manager</th></tr>
               <tr>
            <td colspan="7">
                  {% if i.remarks_cqam %}
                <input type="text"  class="form-control"  value="{{i.remarks_cqam}}" name="remarks_cqam" >
                {% else %}
                <input type="text"  class="form-control"  value="" name="remarks_cqam" >
            {% endif %}

            </td>
        </tr>
        <tr><th colspan="7">Remarks Of Chief design Engineer</th></tr>
                  <tr>
            <td colspan="7">
                  {% if i.remarks_cde %}
                <input type="text"  class="form-control"  value="{{i.remarks_cde}}" name="remarks_cde" >
                {% else %}
                <input type="text"  class="form-control"  value="" name="remarks_cde" >
            {% endif %}

            </td>
        </tr>
{% endfor %}
    </table>
    </div>
    <br><br>
    <center>
        <input type="submit" name="proceed" value="Save" id="submitted">
         <input type="button" onclick="printDiv()" value="Print">
    </center>
    <br><br> {% endif %}

</form>


<script type="text/javaScript">
document.querySelector("#shop_sec").addEventListener('change',(e)=>{
                  e.preventDefault();
                  var shop_sec = $("#shop_sec").val()
                  var data = {shop_sec};
                    $.ajax({
                      type : 'GET',
                      url : "{% url 'm30getpartno' %}",
                      dataType : 'json',
                      data : data,
                      success : function(response){
                        var elementsadded = document.querySelectorAll(".newelepart");
                            if(elementsadded.length>0){
                                var elementsaddedarr = Array.from(elementsadded);
                                elementsaddedarr.forEach((el)=> el.remove());

                                document.querySelector("#op_part").selected = true;
                                document.querySelector("#op_staff").selected = true;
                            }
                            var brarr,mystr,html;
                            brarr = response.map((el)=>el.part_no);
                            mystr = "";
                            brarr.forEach((el,index)=>{
                              html = `<option class="newelepart">${brarr[index]}</option>`
                              mystr = html.concat(mystr);
                            });
                            html = "";
                            document.querySelector("#part_nop").insertAdjacentHTML('beforeend',mystr);
                            mystr="";
                      }
                        })
              })
$("#part_nop").change(function(e){
    e.preventDefault();
    var part_no = $(this).val();
    var shop_sec = $("#shop_sec").val();
    var data = {part_no,shop_sec};
      $.ajax({
        type : 'GET',
        url : "{% url 'm30getstaffno' %}",
        dataType : 'json',
        data : data,
        success : function(response){
        if(response == ''){
                       alert("Staff NO Not Found for Shop Section:"+shop_sec+", Part NO:"+part_no);}
              var elementsadded = document.querySelectorAll(".newelestaff");
              if(elementsadded.length>0){
                var elementsaddedarr = Array.from(elementsadded);
              elementsaddedarr.forEach((el)=> el.remove());
           document.querySelector("#op_staff").selected = true;
              }
              var brarr,mystr,html;
              brarr = response.map((el)=>el.staff_no);
              mystr = "";
              brarr.forEach((el,index)=>{
                html = `<option class="newelestaff">${brarr[index]}</option>`
                mystr = html.concat(mystr);
              });
              html = "";
              document.querySelector("#staff_no").insertAdjacentHTML('beforeend',mystr);
              mystr="";
        }
           })
           })

document.querySelector("#date").addEventListener('change',(e)=>{

    document.querySelector("#myproceed").click();
})
document.addEventListener('keypress',(event)=>{
    if(event.keyCode===13){
        event.preventDefault();
    }
})





function printDiv() {
     var printContents = document.getElementById("print").innerHTML;

       var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: left;}";
        style = style + "</style>";
      var win = window.open('', '', 'height=500,width=500');

        win.document.write('<html><head>');

        win.document.write('<title>M30(WAIVER REQUEST CARD) Card</title>');
        win.document.write(style);
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(printContents);
        win.document.write('</body></html>');

        win.print();
        win.close();



}





  </script>









{% endblock content %}

