{% extends 'base.html' %} 
{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>


<style>
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
    }
    
    input[type=button] {
        width: 10%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 6px 6px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button]:hover {
        background-color: #45a049;
        text-align: center;
    }
</style>
<br>
<br>
<h2 align="center" >काम के वास्ते हेतु जॉब कार्ड</h2>
<h2 align="center" >JOB CARD FOR SQUAD WORK</h2>
<br><br>
<form action="{% url 'm7view' %}" method="POST"> {% csrf_token %}
    <div class="container">
        <table class="table">
                <tr>
                        <td>
                            <label for="mon"><b>MONTH/माह :</b></label>
                            <select id="mon" name="mon">
                                    <option selected disabled>SELECT MONTH</option>
                                    <option  value="JAN">JAN</option>
                                    <option  value="FEB">FEB</option>
                                    <option  value="MAR">MAR</option>
                                    <option  value="APR">APR</option>
                                    <option  value="MAY">MAY</option>
                                    <option  value="JUN">JUN</option>
                                    <option  value="JUL">JUL</option>
                                    <option value="AUG">AUG</option>
                                    <option  value="SEPT">SEPT</option>
                                    <option  value="OCT">OCT</option>
                                    <option  value="NOV">NOV</option>
                                    <option  value="DEC">DEC</option>
                            </select>
                        </td>
                        <td>
                            <label for="sno"><b>SHOP SECTION/शॉप अधी. :</b></label>
                            <select class="form-control" id="shop_sec" name="shop_sec" required>
                            <option id="op_shop" selected disabled hidden>Select Shop Section</option>
                        {% if len == 1 %}
                            <option selected readomly>{% for role in roles %}{{role}}{% endfor %}</option>
                            {{role}}
                        {% endif %}
                        {% if len > 1 %}
                        {% for role in roles %}
                        {{role}}
                            <option>{{role}}</option>
                        {% endfor %}
                        {% endif %}
                            </select>
                        </td>
                        <td>
                            <label for="wk_ord_no"><b>W.O.NO/कार्यादेश सं. :</b></label>
                            <select class="form-control" id="wno" name="wo_no" required>
                            <option id="op_wo" selected disabled hidden>Select Work Order NO</option>
                    {% if len == 1 %}
                    {% for i in wo_no %}
                    <option>{{i.bo_no}}</option>
                    {% endfor %}
                    {% endif %}
                            </select>
                        </td>
                        <td>
                                <label for="staff_no"><b>EMPLOYEE NO/क्रम सं.:</b></label>
                                <select class="form-control" id="staff_no" name="staff_no" required>
                        <option id="op_emp" selected disabled hidden>Select EMPLOYEE NO</option>
                        
                                </select>
                        </td>
                        <td>
                            <label for="part_no"><b>C.& D.NO/सी .एण्ड डी.सं:</b></label>
                            <select class="form-control" id="part_no" name="part_no" required>
                    <option id="op_part" selected disabled hidden>Select C.& D.NO</option>
                    
                            </select>
                        </td>

                </tr>
        </table>
        <!-- <center><input type="submit" value="Proceed" name="proceed" /></center> -->
        <input type="submit" value="Proceed" name="proceed" id="myproceed" hidden/>


    </div>
<br><br> {% if sub == 1 %}
<div id="print" style="align:center" >
<input type="hidden" name="len" value="{{len}}">
<table align="center">  
    <tr>
        <th>SHOP SECTION/शाप विभाग:</th> 
        <td><u>{{shop_sec}}</u></td>
        <th>MONTH/माह:</th> 
        <td><u>{{mon}}</u></td>
    </tr>
    
    <tr>
        <th>WORK ORDER NO/का.अ.स:</th> 
        <td><u>{{wo_no}}</u></td>
    </tr>
    <tr>
        <th>EMPLOYEE NO/क्रम सं.:</th> 
        <td><u>{{staff_no}}</u></td>
        <th>CAT/को.:</th>
        {% for i in obj2 %}
        <td>
            <u>{{i.cat}}</u>
        </td>
        {% endfor %}
    </tr>
    <tr>
        <th>C.& D.NO/सी .एण्ड डी.सं:</th> 
        <td><u>{{part_no}}</u></td>
    </tr>
    <tr>
        <th>NAME/नाम:</th>
        {% for i in obj2 %}
        <td>
            <u>{{i.name}}</u>
        </td>
        {% endfor %}
    </tr>  
        
    
            
    
</table> 
</br>

<br><br>

<table border="2" align="center">
    <tr>
        
        <th>DATE</th>
        <th>IN</th>
        <th>OUT</th>
        <th>MONTH</th>
    </tr>
            

    {% for i in ran %}
    <tr>
    <td>
      {% if i.date %}
        <input type="date" id="date"  class="myinp" value="{{obj1.date}}" name="date{{ forloop.counter }}"  >
        {% else %}
        <input type="date" id="date"  class="myinp" value="0" name="date{{ forloop.counter }}">
      {% endif %}  
    </td>
    <td>{{mon}}</td>
    <td>
      {% if i.in1 %}
        <input type="time" id="in1"  class="myinps" value="{{i.in1}}" name="in1{{ forloop.counter }}"  >
        {% else %}
        <input type="time" id="in1"  class="myinps" value="0" name="in1{{ forloop.counter }}">
      {% endif %}  
      
      </td> 
      <td>
       {% if i.out %}
          <input type="time" id="out"  class="myinps" value="{{i.out}}" name="out{{ forloop.counter }}"  >
          {% else %}
          <input type="time" id="out"  class="myinps" value="0" name="out{{ forloop.counter }}">
        {% endif %}    
  
       </td> 
    </tr>
          
               
    {% endfor %}

   
</table>



<center>
    <input type="submit" name="proceed" value="Submit">
    <input type="button" onclick="printDiv()" value="Print">
</center> 
</div>
{% endif %}


</form>

    
    
<script type="text/javaScript">
    document.querySelector("#shop_sec").addEventListener('change',(e)=>{
                      e.preventDefault();
                      var shop_sec = $("#shop_sec").val()
                      var data = {shop_sec};
                        $.ajax({
                          type : 'GET',
                          url : "{% url 'm7getwono' %}",
                          dataType : 'json',
                          data : data,
                          success : function(response){
                            var elementsadded = document.querySelectorAll(".newelewono");
                                if(elementsadded.length>0){
                                    var elementsaddedarr = Array.from(elementsadded);
                                    elementsaddedarr.forEach((el)=> el.remove());
                                    document.querySelector("#op_wo").selected=true;
                                    document.querySelector("#op_emp").selected=true;
                                    document.querySelector("#op_part").selected=true;

                                    
                                 }
                                var brarr,mystr,html;
                                brarr = response.map((el)=>el.bo_no);
                                mystr = "";
                                brarr.forEach((el,index)=>{
                                  html = `<option class="newelewono">${brarr[index]}</option>`
                                  mystr = html.concat(mystr);
                                });
                                html = "";
                                document.querySelector("#wno").insertAdjacentHTML('beforeend',mystr);
                                mystr=""; 
                          }
                            })
                  })

document.querySelector("#wno").addEventListener('change',(e)=>{
    e.preventDefault();
        
        var wo_no = $("#wno").val();
        var shop_sec = $("#shop_sec").val()
        var data = {wo_no,shop_sec};
        $.ajax({
                type : 'GET',
                url : "{% url 'm7getempno' %}",
                dataType : 'json',
                data : data,
                success : function(response){
                var elementsadded = document.querySelectorAll(".neweleempno");
                    if(elementsadded.length>0){
                        var elementsaddedarr = Array.from(elementsadded);
                        elementsaddedarr.forEach((el)=> el.remove());
                        document.querySelector("#op_emp").selected=true;
                        document.querySelector("#op_part").selected=true;
                                    
                }
                                var brarr,mystr,html;
                                brarr = response.map((el)=>el.staff_no);
                                mystr = "";
                                brarr.forEach((el,index)=>{
                                  html = `<option class="neweleempno">${brarr[index]}</option>`
                                  mystr = html.concat(mystr);
                                });
                                html = "";
                                document.querySelector("#staff_no").insertAdjacentHTML('beforeend',mystr);
                                mystr=""; 
                          }
                            })
                  })

document.querySelector("#staff_no").addEventListener('change',(e)=>{
    e.preventDefault();
       
        var wo_no = $("#wno").val();
      
        var data = {wo_no};
        $.ajax({
                type : 'GET',
                url : "{% url 'm7getpart_no' %}",
                dataType : 'json',
                data : data,
                success : function(response){
                var elementsadded = document.querySelectorAll(".newelepart_no");
                    if(elementsadded.length>0){
                        var elementsaddedarr = Array.from(elementsadded);
                        elementsaddedarr.forEach((el)=> el.remove());
                        
                        document.querySelector("#op_part").selected=true;
                                    
                }
                                var brarr,mystr,html;
                                brarr = response.map((el)=>el.part_no);
                                mystr = "";
                                brarr.forEach((el,index)=>{
                                  html = `<option class="newelepart_no">${brarr[index]}</option>`
                                  mystr = html.concat(mystr);
                                });
                                html = "";
                                document.querySelector("#part_no").insertAdjacentHTML('beforeend',mystr);
                                mystr=""; 
                          }
                            })
                  })



document.querySelector("#part_no").addEventListener('change',(e)=>{

document.querySelector("#myproceed").click();
})
document.addEventListener('keypress',(event)=>{
if(event.keyCode===13){
    event.preventDefault();
}
})

function printDiv() {
     var printContents = document.getElementById("print").innerHTML;

       var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: left;}";
        style = style + "</style>";
      var win = window.open('', '', 'height=500,width=500');

        win.document.write('<html><head>');

        win.document.write('<title>M2(ROUTE CARD) Card</title>');
        win.document.write(style);
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(printContents);
        win.document.write('</body></html>');

        win.print();
        win.close();



}

</script>    
{% endblock content %}        
    
                                  