{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<style>
    input[type=text], select,textarea {
      width: 90%;
      padding: 10px 20px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    h2 {
      font-size: 25px;
    }
    .container {
      
      background-color: #f2f2f2;
      padding: 20px;
    }
    label {
      font-size: 17px;  
      padding: 12px 12px 12px 0;
      display: inline-block;
    }
    input[type=submit] {
        width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        }
        
        input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
        }
    #t1{
        width : 70%;
    }
    .t2{
        width:30%;
    }
    </style>
<br>
<br>
<h4 align="center" >MG-18</h4>
<h1 align="center" >REPORT OF ACCIDENT</h1>

<br><br>
<form action="{% url 'mg18view' %}" id=mg18form method="POST"> {% csrf_token %}
    
    <div class="container">
    <table class="table" border=0 >
        <tr>
            <td>S.No: <input name="s_no" id="s_no" value="{{sno}}" type="text" maxlength="27" required style="width:200px;"> </td>
            <!-- <td align="right" id=t1></td> -->
            <td>Date:<input name="date_d" type="text"id="date_d" value="{{date_d}}" readonly class="form-control" required style="width:200px;"></td>
        </tr>
        <tr>
            <td colspan="2">1. Name of Occupier(of factory) :
                <input id="occupier_name" name="occupier_name1" type="text" maxlength="57" style="width: 300px; height:45px"  required>
            </td>
        </tr>
        <tr>
            <td colspan="2">2. Address of Occupier(of factory) :
                <textarea id="occupier_addr" type ="text" name="occupieradrr" maxlength="297" required></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">3. Employer's Code No. :
                <input id="empcode_Id" type="text" name="empcode" style="width: 300px; height:45px" maxlength="20" required onkeypress="return alpha(event)">
            </td>
        </tr>
        <tr>
            <td colspan="2">4.Nature of Industry :
                <input id="industry_id" type="text" name="natindus" maxlength="105" style="width: 500px; height:45px" required>
            </td>
        </tr>
       
        <tr>
            <td colspan="2"><label for="id_addraccd">5. Full address of the place where accident or dangerous occurence happened:</label>
                <textarea id="address_acc" name="addraccd" maxlength="297" required></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2"><label for="id_brdept">6. Branch or Department and exact place, where accident or dangerous occurence happened:</label>
                <input id="branch_Id" type="text" name="brdept" maxlength="48" style=width:500px; required>
            </td>
        </tr>
        <tr>
            <td colspan="2">7. Injured person's full Name :
                <input id="injured_name" type="text" name="injname" style="width: 300px; height:45px" maxlength="57" required>
            </td>
        </tr>
        <tr>
            <td colspan="2">8. Injured person's full Address:
                <textarea id="injured_addr" type ="text" name="injadrr" maxlength="297" required></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2">9. Insurance Number:
                <input id="insur_no" name="inIsur_no" type="text" style="width: 300px; height:45px"  maxlength="27" required>
            </td>
        </tr>
        <tr>
            <td colspan="2">10. (a) Gender :
               <select name="gender1" id="gender1"  type="text" style="width: 200px; margin-left: 30px; margin-top: 10px;">
                    <option  disabled selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Transgender">Transgender</option>
                    
                  </select>
                 
           &nbsp;&nbsp;(b) Age last birthday(In Years):
                <input id="agebirth_Id" type="number" name="agebirth" type="number" min="18" max="60" maxlength="2" style="width: 200px; padding: 10px 20px;
                margin: 8px 0;" onchange="validateage()" required >
            </td>
        </tr>
        <tr>
            <td colspan="2">(c) Occupation of injured person::
                <input id="occupation_id" type="text" name="occinj" style="width: 400px; height:45px"  maxlength="37" required>
            </td>
        </tr>
        <tr>
            <td colspan="2">11.  Date and hours of accident or dangerous occurence :
                <input id="date_accident" type="text" name="dateacc_Id" style="width: 200px; height:45px" required>
                <input id="time_accident" type="text" onkeypress="validate1HhMm(this);"  onchange="validateHhMm(this);"  maxlength="5" onkeypress='return event.charCode >= 48 && event.charCode <= 58' placeholder="00:00" style="width: 200px; height:45px" required/>
	            <span id="errormsg"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">12. Hour at which he started work on day of occurence:
                <input id="time2" type="text" onkeypress="validate1HhMm(this);"  onchange="validateHhMm(this);"  maxlength="5" onkeypress='return event.charCode >= 48 && event.charCode <= 58' placeholder="00:00" style="width: 200px; height:45px" required/>
	            <span id="errormsg"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2"><label for="id_cosacc">13. (a) Cause or nature of accident or dangerous occurence:</label>
                <input id="cause_Id" type="text" name="cosacc" maxlength="127" required>
            </td>
        </tr>
        <tr>
            <td colspan="2">(b) If caused by machinery :
                  <select type ="text" id=yn_id style="width: 200px;">
                    <option  disabled selected>Select</option>
                    <option>YES</option>
                    <option>NO</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" id=hide2 style="display: none;"><label for="id_namemach">(i) Give name of the machine and part causing the accident and:</label>
                <input id="machine_name" type="text" name="namemach" maxlength="97" required>
            </td>
        </tr>
        <tr>
            <td colspan="2" id=hide3 style="display: none;"><label for="id_movmachpwr">(ii) State whether it was moved by mechanical power at the time:</label>
                <input id="movmachpwr_Id" type="text" name="movmachpwr" maxlength="97" required>
            </td>
        </tr>
        <tr>
            <td colspan="2"><label for="id_injdoin">(c) State exactly what injured person was doing at the time:</label>
                <input id="injdoin_Id" type="text" name="injdoin" maxlength="97" required>
            </td>
        </tr>
        <tr>
            <td colspan="2"><label for="id_natextinj">14. Nature and extent of injuries(e.g. fatal,loss of finger,fracture of leg,scaled,scratch followed by sepsis):</label>
                <input id="injury_nature" type="text" name="natextinj" maxlength="97" required>
            </td>
        </tr>
        <tr>
            <td colspan="2">15. Number of days from which the injured person is likely to be off work:
                <input id="offwrk_Id" type="text" name="injoffwrk" style="width: 200px; height:45px" maxlength="8" required>
            </td>
        </tr>
        <tr>
            <td colspan="2"><label for="id_namedoct">16. Name of the doctor, dispensary or hospital from which the injured person recieved or is recieving treatment:</label>
                <input id="doct_name" type="text" name="namedoct" style="width:500px" maxlength="57" required>
            </td>
        </tr>
        <tr>
            <td colspan="2"><label for="id_nameprsn">17. Name of the person who saw the accident and can give important evidence:</label>
                <input id="evident_name" type="text" name="nameprsn" style="width:500px" maxlength="57" required>
            </td>
        </tr>
        <tr>
            <td colspan="2">18. In your opinion,was the accident directly attributable to:</td>
        </tr>
        <tr>
            <td colspan="2"><input type="checkbox" id="c1" name="op1" >(i) the injured person having been at the thereof under the influnce of drink or drug; or<br></td>
        </tr>
        <tr>
            <td colspan="2"><input type="checkbox" id="c2" name="op2" >(ii) the wilful disobedience of the injured person to an order expressly given to a rule expressly framed for a purpose of securing the safety of employee, or <br></td>
        </tr>
        <tr>
            <td colspan="2"><input type="checkbox" id="c3" name="op3" >(iii) the wilful removal or disregard by the injured person of any safety guard or other devices which he knew to have been providd for the purpose of securing the safety of employees<br></td>
        </tr>
        <tr>
            <td colspan="2"><label for="id_howaccoccrd">19. Describe briefly how accident occured </label>
                <textarea id="howaccident" type="text" name="howaccoccrd" maxlength="995" required></textarea>
            </td>
        </tr>
        <tr>
            <td colspan="2"><label for="id_locinj">20. Location of injury(right leg,left hand or left eye etc.)</label>
                <input id="injury_loc" type="text" name="locinj" maxlength="97" required>
            </td>
        </tr>
        <tr>
            <td colspan="2"><label for="id_injretrn">21. (i) If the accident is not fatal,state whether the injured person has returned to work</label>
                <input id="injretrn_Id" type="text" name="injretrn" maxlength="97" required>
            </td>
        </tr>
        <tr>
            <td colspan="2">(ii) If so,date and hour of return to work
                <input type="text" id="datertn_Id" name="datertn_Id" style="width: 200px; height:45px" required>
                <input type="text" id="timertn_Id"  name="timertn_Id" onkeypress="validate1HhMm(this);"  onchange="validateHhMm(this);"  maxlength="5" onkeypress='return event.charCode >= 48 && event.charCode <= 58' placeholder="00:00" style="width: 200px; height:45px" required/>
	            <span id="errormsg"></span>
            </td>
        </tr>
        <tr>
                <td>22. (i) Has the injured person died ?
                <select id=yn1_id style="width: 200px;">
                    <option  disabled selected>Select</option>
                    <option>YES</option>
                    <option>NO</option>
                </select>
                </td>
                <td id=HideShow style="display: none;"><br>
                    (ii) If so,Date of death 
                    <input id="date_death" type="text" name="date_death" readonly class="form-control" 
                     style="width:200px; margin-left : 190px; margin-top: -30px; ">
                </td>
           
        </tr>

        <tr>
            <td colspan="2"><label for="id_namstins">23. Name of the State Insurance Local office to which the injured person is attached</label>
                <input id="Insur_lo" type="text" name="namstins" style="width: 500px;" maxlength="97" required>
            </td>
        </tr>
        <tr>
            <td colspan="2"><label for="id_stinsdisp">24. Name of the State Insurance Dispensary to which the injured person is attached</label>
                <input id="Insur_dis" type="text" name="stinsdisp"style="width: 500px; maxlength=97" required>
            </td>
        </tr>
        
    </table>
    </div>
    <br>
    <br>
    
    <br>
    <br>
    <div class="container">
        <h6 align="center"><b>This space to be completed</h6>
        <h6 align="center"><b>by Inspector of Factories</h6>
        <br>
        <table>
            <tr>
                <td>District :</td>
                <td><input id="distrct_Id" type="text" name="distrct" maxlength="57" required></td>
            </tr>
            <tr>
                <td>Date of Receipt :</td>
                <td><input id="receipt_date" type="text" name="receipt_date" readonly class="form-control" required></td>
            </tr>
            <tr>
                <td>Accident No. :</td>
                <td><input id="accident_no" type="text" name="acdntno" maxlength="18" required></td>
            </tr>
            <tr>
                <td>Industry No. :</td>
                <td><input id="industry_no" type="text" name="indusno" maxlength="18" required></td>
            </tr>
            <tr>
                <td>Causation No. :</td>
                <td><input id="causno" type="text" name="causno" maxlength="18" required></td>
            </tr>
            <tr>
                <td>Gender :</td>
                <td><select name="gender2" id="gender2"  type="text">
                    <option  disabled selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Transgender">Transgender</option>
                    
                  </select>
                </td>
            </tr>
            <tr>
                <td>other particulars,e.g.fatal,leg injury,arm injury etc. :</td>
                <td><input id="otherpart" type="text" name="othrparti" maxlength="57" required></td>
            </tr>
            <tr>
                <td>Date of Investigation :</td>
                <td><input id="invest_date" type="text" name="dtinvest" readonly class="form-control"  required></td>
            </tr>
            <tr>
                <td>Result of Investigation :</td>
                <td><textarea id="invest_result" type="text" name="rsltinvest" requiredmaxlength="495" style="width: 540px;" ></textarea></td>
            </tr>
            
        </table>
    </div>
    <br>
    <br>
    <center>
        <input type="button" name="Submit" value="Submit" id="Submit" class="btn btn-primary" onclick="validateForm()">
        <input type="button" name="Submit1" value="Generate Report" id="Submit1" class="btn btn-primary" onclick="validateFormForReport()" style="display: none;" target="_blank">
    </center>
    <br>
    <br>
</form>
<script>
    $(document).ready(function () {
       $('#date_d').datepicker({ dateFormat: 'dd-mm-yy',minDate: "-91d"});
      
        $('#date_death').datepicker({ dateFormat: 'dd-mm-yy', }); 
        $('#invest_date').datepicker({ dateFormat: 'dd-mm-yy', });
        $('#date_accident').datepicker({ dateFormat: 'dd-mm-yy', });
        $('#receipt_date').datepicker({ dateFormat: 'dd-mm-yy', });
        $('#datertn_Id').datepicker({ dateFormat: 'dd-mm-yy', });
        
       
   });
    function savemg28Info(){
       
       var temp = {s_no:$('#s_no').val(),date:$('#date_d').val(),occupier_name:$('#occupier_name').val(),occupier_addr:$('#occupier_addr').val(),
       empcode_Id :$('#empcode_Id').val(),industry_id:$('#industry_id').val(),address_acc:$('#address_acc').val(),
       branch_Id:$('#branch_Id').val(),injured_name:$('#injured_name').val(),injured_addr:$('#injured_addr').val(),
       insur_no:$('#insur_no').val(),gender1:$('#gender1').val(),agebirth_Id:$('#agebirth_Id').val(),
       occupation_id:$('#occupation_id').val(),date_accident:$('#date_accident').val(),time_accident:$('#time_accident').val(),
       time2:$('#time2').val(),cause_Id:$('#cause_Id').val(),yn_id:$('#yn_id').val(),machine_name:$('#machine_name').val(),
       movmachpwr_Id:$('#movmachpwr_Id').val(),injdoin_Id:$('#injdoin_Id').val(),injury_nature:$('#injury_nature').val(),
       offwrk_Id:$('#offwrk_Id').val(),doct_name:$('#doct_name').val(),evident_name:$('#evident_name').val(),c1:$("#c1").is(":checked"),
       c2:$("#c2").is(":checked"),c3:$("#c3").is(":checked"),howaccident:$('#howaccident').val(),injury_loc:$('#injury_loc').val(),
       injretrn_Id:$('#injretrn_Id').val(),datertn_Id:$('#datertn_Id').val(),timertn_Id:$('#timertn_Id').val(),
       yn1_id:$('#yn1_id').val(),date_death:$('#date_death').val(),Insur_lo:$('#Insur_lo').val(),Insur_dis:$('#Insur_dis').val(),
       distrct_Id:$('#distrct_Id').val(),receipt_date:$('#receipt_date').val(),accident_no:$('#accident_no').val(),industry_no:$('#industry_no').val(),
       causno:$('#causno').val(),gender2:$('#gender2').val(),otherpart:$('#otherpart').val(),invest_date:$('#invest_date').val(),
       invest_result:$('#invest_result').val()};
        var data = temp; 
                     
        $.ajax({
                    type : 'GET',
                    url : "{% url 'mg18InfoSave' %}",
                    dataType : 'json',
                    data : data,
                    success : function(response)
                        {    
                            
                            alert("Data saved successfully"); 
                            $("#Submit1").show();                                        
                                                                                 
                        }
                        
                    })
    }  
    function validateHhMm(inputField) {
        var isValid = /^([0-1]?[0-9]|2[0-4]):([0-5][0-9])(:[0-5][0-9])?$/.test(inputField.value);
		

        if (isValid) {
		document.getElementById('errormsg').innerHTML = '';
            inputField.style.backgroundColor = '#bfa';
        } else {
		 document.getElementById('errormsg').innerHTML = 'invalid time';
            inputField.style.backgroundColor = '#fba';
			
        }
        return isValid;		
    }
    function validate1HhMm(inputField) {		
        if(inputField.value.length == 2){
            inputField.value += ":";

        }
    }
    

    function FunReport(){
        window.location.href = "{% url 'mg18GenerateReport' %}"+"?s_no="+$('#s_no').val()+"&date="+$('#date_d').val()+"&occupier_name="+$('#occupier_name').val()
        +"&occupier_addr="+$('#occupier_addr').val()+"&empcode_Id="+$('#empcode_Id').val()+"&industry_id="+$('#industry_id').val()
        +"&address_acc="+$('#address_acc').val()+"&branch_Id="+$('#branch_Id').val()+"&injured_name="+$('#injured_name').val()+
        "&injured_addr="+$('#injured_addr').val()+"&insur_no="+$('#insur_no').val()+"&gender1="+$('#gender1').val()+
        "&agebirth_Id="+$('#agebirth_Id').val()+"&occupation_id="+$('#occupation_id').val()+"&date_accident="+$('#date_accident').val()+
        "&time_accident="+$('#time_accident').val()+"&time2="+$('#time2').val()+"&cause_Id="+$('#cause_Id').val()
        +"&yn_id="+$('#yn_id').val()+"&machine_name="+$('#machine_name').val()+"&movmachpwr_Id="+$('#movmachpwr_Id').val()
        +"&injdoin_Id="+$('#injdoin_Id').val()+"&injury_nature="+$('#injury_nature').val()+"&offwrk_Id="+$('#offwrk_Id').val()
        +"&doct_name="+$('#doct_name').val()+"&evident_name="+$('#evident_name').val()+"&c1="+$('#c1').is(":checked")
        +"&c2="+$('#c2').is(":checked")+"&c3="+$('#c3').is(":checked")+"&howaccident="+$('#howaccident').val()
        +"&injury_loc="+$('#injury_loc').val()+"&injretrn_Id="+$('#injretrn_Id').val()+"&datertn_Id="+$('#datertn_Id').val()
        +"&timertn_Id="+$('#timertn_Id').val()+"&yn1_id="+$('#yn1_id').val()+"&date_death="+$('#date_death').val()+"&Insur_lo="+$('#Insur_lo').val()
        +"&Insur_dis="+$('#Insur_dis').val()+"&distrct_Id="+$('#distrct_Id').val()+"&receipt_date="+$('#receipt_date').val()
        +"&accident_no="+$('#accident_no').val()+"&industry_no="+$('#industry_no').val()+"&causno="+$('#causno').val()
        +"&gender2="+$('#gender2').val()+"&otherpart="+$('#otherpart').val()+"&invest_date="+$('#invest_date').val()
        +"&invest_result="+$('#invest_result').val();
    }
    function validateForm(){
        var s_no = document.forms["mg18form"]["s_no"].value;
        var date = document.forms["mg18form"]["date_d"].value;
        var occupier_name = $("#occupier_name").val();
        var occupier_name = document.forms["mg18form"]["occupier_name"].value;
        var occupier_addr = document.forms["mg18form"]["occupier_addr"].value;
        var empcode_Id = document.forms["mg18form"]["empcode_Id"].value;
        var industry_id = document.forms["mg18form"]["industry_id"].value;
        var address_acc = document.forms["mg18form"]["address_acc"].value;
        var branch_Id = document.forms["mg18form"]["branch_Id"].value;
        var injured_name = document.forms["mg18form"]["injured_name"].value;
        var injured_addr = document.forms["mg18form"]["injured_addr"].value;
        var insur_no = document.forms["mg18form"]["insur_no"].value;
        var gender1 = document.forms["mg18form"]["gender1"].value;
        var cause_Id = document.forms["mg18form"]["cause_Id"].value;
        var yn_id = document.forms["mg18form"]["yn_id"].value;
        var injury_nature = document.forms["mg18form"]["injury_nature"].value;
        var doct_name = document.forms["mg18form"]["doct_name"].value;
        var howaccident = document.forms["mg18form"]["howaccident"].value;
        var injury_loc = document.forms["mg18form"]["injury_loc"].value;
        var yn1_id = document.forms["mg18form"]["yn1_id"].value;
        var distrct_Id = document.forms["mg18form"]["distrct_Id"].value;
        var receipt_date = document.forms["mg18form"]["receipt_date"].value;
        var accident_no = document.forms["mg18form"]["accident_no"].value;
        var industry_no = document.forms["mg18form"]["industry_no"].value;
        var causno = document.forms["mg18form"]["causno"].value;
        var gender2 = document.forms["mg18form"]["gender2"].value;
        var otherpart = document.forms["mg18form"]["otherpart"].value;
        var invest_date = document.forms["mg18form"]["invest_date"].value;
        var invest_result = document.forms["mg18form"]["invest_result"].value;
        if(s_no == "") 
        {
            alert("Please fill the Serial No ");
            return false;
        }
        else if(date == "") 
        {
            alert("Please fill the date ");
            return false;
        }
        else if (occupier_name == "") 
        {
            alert("Please fill the Occupier Name ");
            return false;
        }
        else if (occupier_addr == "") 
        {
            alert("Please fill all the Occupier Address ");
            return false;
        }
        else if (empcode_Id == "") 
        {
            alert("Please fill all the Employee ID ");
            return false;
        }
        else if (industry_id == "") 
        {
            alert("Please fill all the Nature Of Industry ");
            return false;
        }
        else if (address_acc == "") 
        {
            alert("Please fill all the Address of the place where accident or dangerous occurrence happened");
            return false;
        }
        else if (branch_Id  == "") 
        {
            alert("Please fill all the Branch of Department where accident or  dangerous occurrence happened");
            return false;
        }
        else if (injured_name == "") 
        {
            alert("Please fill all the Injured person's full name ");
            return false;
        }
        else if (injured_addr == "") 
        {
            alert("Please fill all the Injured person's full address");
            return false;
        }
        else if (insur_no == "") 
        {
            alert("Please fill all the Insurance Number ");
            return false;
        }
        else if (gender1 == "Select Gender") 
        {
            alert("Please select the Gender ");
            return false;
        }
        else if (cause_Id == "") 
        {
            alert("Please fill Cause or nature of accident of dangerous occurrence");
            return false;
        }
        else if (yn_id == "Select") 
        {
            alert("Please select is it caused by machine ");
            return false;
        }
        else if (injury_nature == "") 
        {
            alert("Please fill Nature of Injury ");
            return false;
        }
        else if (doct_name  == "") 
        {
            alert("Please Fill Name of the doctor, dispensary or hospital from which the injured person received or is receiving treatment ");
            return false;
        }
        else if (howaccident == "") 
        {
            alert("Please Describe briefly how accident occurred ");
            return false;
        }
        else if (injury_loc == "") 
        {
            alert("Please Fill Location of injury  ");
            return false;
        }

        else if (yn1_id == "Select") 
        {
            alert("Please select has the injured person died? ");
            return false;
        }
        else if (distrct_Id  == "") 
        {
            alert("Please Fill the District ");
            return false;
        }
        else if (receipt_date == "") 
        {
            alert("Please Fill the Receipt Date ");
            return false;
        }
        else if (accident_no == "") 
        {
            alert("Please Fill the Acccident No. ");
            return false;
        }
        else if (industry_no == "") 
        {
            alert("Please Fill Industry No ");
            return false;
        }
        else if (causno == "") 
        {
            alert("Please Fill the Causation No ");
            return false;
        }
        else if (gender2 == "Select Gender") 
        {
            alert("Please select Gender ");
            return false;
        }
        else if (otherpart== "") 
        {
            alert("Please Fill other particulars, e.g. fatal, leg injury, arm injury etc.");
            return false;
        }
        else if (invest_date == "") 
        {
            alert("Please Fill Date of Investigation ");
            return false;
        } else if (invest_result == "") 
        {
            alert("Please Fill Result of Investigation ");
            return false;
        }
        
        else
        {
            savemg28Info();   
        }
    }   
    
    function validateFormForReport(){
        var s_no = document.forms["mg18form"]["s_no"].value;
        var date = document.forms["mg18form"]["date_d"].value;
        var occupier_name = document.forms["mg18form"]["occupier_name"].value;
        var occupier_addr = document.forms["mg18form"]["occupier_addr"].value;
        var empcode_Id = document.forms["mg18form"]["empcode_Id"].value;
        var industry_id = document.forms["mg18form"]["industry_id"].value;
        var address_acc = document.forms["mg18form"]["address_acc"].value;
        var branch_Id = document.forms["mg18form"]["branch_Id"].value;
        var injured_name = document.forms["mg18form"]["injured_name"].value;
        var injured_addr = document.forms["mg18form"]["injured_addr"].value;
        var insur_no = document.forms["mg18form"]["insur_no"].value;
        var gender1 = document.forms["mg18form"]["gender1"].value;
        var cause_Id = document.forms["mg18form"]["cause_Id"].value;
        var yn_id = document.forms["mg18form"]["yn_id"].value;
        var injury_nature = document.forms["mg18form"]["injury_nature"].value;
        var doct_name = document.forms["mg18form"]["doct_name"].value;
        var howaccident = document.forms["mg18form"]["howaccident"].value;
        var injury_loc = document.forms["mg18form"]["injury_loc"].value;
        var yn1_id = document.forms["mg18form"]["yn1_id"].value;
        var distrct_Id = document.forms["mg18form"]["distrct_Id"].value;
        var receipt_date = document.forms["mg18form"]["receipt_date"].value;
        var accident_no = document.forms["mg18form"]["accident_no"].value;
        var industry_no = document.forms["mg18form"]["industry_no"].value;
        var causno = document.forms["mg18form"]["causno"].value;
        var gender2 = document.forms["mg18form"]["gender2"].value;
        var otherpart = document.forms["mg18form"]["otherpart"].value;
        var invest_date = document.forms["mg18form"]["invest_date"].value;
        var invest_result = document.forms["mg18form"]["invest_result"].value;
        if(s_no == "") 
        {
            alert("Please fill the Serial No ");
            return false;
        }
        else if(date == "") 
        {
            alert("Please fill the date ");
            return false;
        }
        else if (occupier_name == "") 
        {
            alert("Please fill the Occupier Name ");
            return false;
        }
        else if (occupier_addr == "") 
        {
            alert("Please fill all the Occupier Address ");
            return false;
        }
        else if (empcode_Id == "") 
        {
            alert("Please fill all the Employee ID ");
            return false;
        }
        else if (industry_id == "") 
        {
            alert("Please fill all the Nature Of Industry ");
            return false;
        }
        else if (address_acc == "") 
        {
            alert("Please fill all the Address of the place where accident or dangerous occurrence happened");
            return false;
        }
        else if (branch_Id  == "") 
        {
            alert("Please fill all the Branch of Department where accident or  dangerous occurrence happened");
            return false;
        }
        else if (injured_name == "") 
        {
            alert("Please fill all the Injured person's full name ");
            return false;
        }
        else if (injured_addr == "") 
        {
            alert("Please fill all the Injured person's full address");
            return false;
        }
        else if (insur_no == "") 
        {
            alert("Please fill all the Insurance Number ");
            return false;
        }
        else if (gender1 == "Select Gender") 
        {
            alert("Please select the Gender ");
            return false;
        }
        else if (cause_Id == "") 
        {
            alert("Please fill Cause or nature of accident of dangerous occurrence");
            return false;
        }
        else if (yn_id == "Select") 
        {
            alert("Please select is it caused by machine ");
            return false;
        }
        else if (injury_nature == "") 
        {
            alert("Please fill Nature of Injury ");
            return false;
        }
        else if (doct_name  == "") 
        {
            alert("Please Fill Name of the doctor, dispensary or hospital from which the injured person received or is receiving treatment ");
            return false;
        }
        else if (howaccident == "") 
        {
            alert("Please Describe briefly how accident occurred ");
            return false;
        }
        else if (injury_loc == "") 
        {
            alert("Please Fill Location of injury  ");
            return false;
        }

        else if (yn1_id == "Select") 
        {
            alert("Please select has the injured person died? ");
            return false;
        }
        else if (distrct_Id  == "") 
        {
            alert("Please Fill the District ");
            return false;
        }
        else if (receipt_date == "") 
        {
            alert("Please Fill the Receipt Date ");
            return false;
        }
        else if (accident_no == "") 
        {
            alert("Please Fill the Acccident No. ");
            return false;
        }
        else if (industry_no == "") 
        {
            alert("Please Fill Industry No ");
            return false;
        }
        else if (causno == "") 
        {
            alert("Please Fill the Causation No ");
            return false;
        }
        else if (gender2 == null) 
        {
            alert("Please select Gender ");
            return false;
        }
        else if (otherpart== "") 
        {
            alert("Please Fill other particulars, e.g. fatal, leg injury, arm injury etc.");
            return false;
        }
        else if (invest_date == "") 
        {
            alert("Please Fill Date of Investigation ");
            return false;
        } else if (invest_result == "") 
        {
            alert("Please Fill Result of Investigation ");
            return false;
        }
        
        else
        {
            FunReport();   
        }
    }   
    

    function alpha(e) {
        var k;
        document.all ? k = e.keyCode : k = e.which;
        return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
    }
   function validateage()  
   {
                      
        var y = $("#agebirth_Id").val();
        y=parseInt(y)
        if(y<18 || y>60)
        {
            alert("Please enter correct age last birthday");
            document.getElementById('agebirth_Id').value="";
        }


   }  
   document.querySelector("#yn1_id").addEventListener('change',(e)=>{
    e.preventDefault(); 
    var y = $("#yn1_id").val();
    if(y=="YES")
    {
        $("#HideShow").show();
    }
    else
    {
        $("#HideShow").hide();
    }

   });
   document.querySelector("#yn_id").addEventListener('change',(e)=>{
    e.preventDefault(); 
    var y = $("#yn_id").val();
    if(y=="YES")
    {
        $("#hide2").show();
        $("#hide3").show();
    }
    else
    {
        $("#hide2").hide();
        $("#hide3").hide();
    }

   });
   
   document.querySelector("#s_no").addEventListener('change',(e)=>{
                        
    e.preventDefault();  
    var s_no = $("#s_no").val();   
    var data = {s_no};
    $.ajax({
        type : 'GET',
        url : "{% url 'mg18Details' %}",
        dataType : 'json',
        data : data,
        success : function(response){  
            if(response.length == 1){
            document.getElementById('date_d').value=response[0].date; 
            document.getElementById('occupier_name').value=response[0].name_occupier; 
            document.getElementById('occupier_addr').value=response[0].address_occupier; 
            document.getElementById('empcode_Id').value=response[0].empcode;
            document.getElementById('industry_id').value=response[0].nature_of_industry; 
            document.getElementById('address_acc').value=response[0].address_accident; 
            document.getElementById('branch_Id').value=response[0].branch_at_accident; 
            document.getElementById('injured_name').value=response[0].name_injured;
            document.getElementById('injured_addr').value=response[0].address_injured; 
            document.getElementById('insur_no').value=response[0].insurance_no;
            document.getElementById('gender1').value=response[0].gender; 
            document.getElementById('agebirth_Id').value=response[0].age_last_birth;
            document.getElementById('occupation_id').value=response[0].occupation_of_injured; 
            document.getElementById('date_accident').value=response[0].accident_date;
            document.getElementById('time_accident').value=response[0].accident_time; 
            document.getElementById('time2').value=response[0].hour_of_startwork;
            document.getElementById('cause_Id').value=response[0].cause; 
            document.getElementById('yn_id').value=response[0].cause_by_machine;
            document.getElementById('machine_name').value=response[0].machine_part; 
            document.getElementById('movmachpwr_Id').value=response[0].mach_mov_state;
            document.getElementById('injdoin_Id').value=response[0].injured_doing; 
            document.getElementById('injury_nature').value=response[0].injury_nature;
            document.getElementById('offwrk_Id').value=response[0].injured_dayoff; 
            document.getElementById('doct_name').value=response[0].doctor_name;
            document.getElementById('evident_name').value=response[0].name_evid; 

            document.getElementById('howaccident').value=response[0].how_accident; 
            document.getElementById('injury_loc').value=response[0].injury_location;
            document.getElementById('injretrn_Id').value=response[0].inj_return_to_work; 
            document.getElementById('datertn_Id').value=response[0].return_date;
            document.getElementById('timertn_Id').value=response[0].return_time; 
            document.getElementById('yn1_id').value=response[0].injured_died;
            document.getElementById('date_death').value=response[0].date_of_death; 
            document.getElementById('Insur_lo').value=response[0].insur_localoffice_name;
            document.getElementById('Insur_dis').value=response[0].insur_dispensary_name; 
            document.getElementById('distrct_Id').value=response[0].district; 
            document.getElementById('receipt_date').value=response[0].receipt_date;
            document.getElementById('accident_no').value=response[0].accident_no; 
            document.getElementById('industry_no').value=response[0].industry_no;
            document.getElementById('causno').value=response[0].causation_no; 
            document.getElementById('gender2').value=response[0].gender_1;  
            document.getElementById('otherpart').value=response[0].particulars; 
            document.getElementById('invest_date').value=response[0].investigation_date;
            document.getElementById('invest_result').value=response[0].investigation_result; 
            if(response[0].inj_under_drink_drug=='Yes')
            {
                $("#c1").prop('checked',true);
            }
            if(response[0].wilful_disobedience=='Yes')
            {
                $("#c2").prop('checked',true);
            }
            if(response[0].wilful_removal=='Yes')
            {
                $("#c3").prop('checked',true);
            }
            $("#Submit1").show();
            $("#HideShow").show();
            $("#hide2").show();
            $("#hide3").show();
            }
            else{
                
                document.getElementById('date_d').value="";
                document.getElementById('date_d').value=""; 
                document.getElementById('occupier_name').value="";
                document.getElementById('occupier_addr').value="";
                document.getElementById('empcode_Id').value="";
                document.getElementById('industry_id').value="";
                document.getElementById('address_acc').value=""; 
                document.getElementById('branch_Id').value=""; 
                document.getElementById('injured_name').value="";
                document.getElementById('injured_addr').value=""; 
                document.getElementById('insur_no').value="";
                document.getElementById('gender1').value="";
                document.getElementById('agebirth_Id').value="";
                document.getElementById('occupation_id').value="";
                document.getElementById('date_accident').value="";
                document.getElementById('time_accident').value="";
                document.getElementById('time2').value="";
                document.getElementById('cause_Id').value="";
                document.getElementById('yn_id').value="";
                document.getElementById('machine_name').value="";
                document.getElementById('movmachpwr_Id').value="";
                document.getElementById('injdoin_Id').value=""; 
                document.getElementById('injury_nature').value="";
                document.getElementById('offwrk_Id').value=""; 
                document.getElementById('doct_name').value="";
                document.getElementById('evident_name').value="";
    
                document.getElementById('howaccident').value=""; 
                document.getElementById('injury_loc').value="";
                document.getElementById('injretrn_Id').value="";
                document.getElementById('datertn_Id').value="";
                document.getElementById('timertn_Id').value="";
                document.getElementById('yn1_id').value="";
                document.getElementById('date_death').value=""; 
                document.getElementById('Insur_lo').value="";
                document.getElementById('Insur_dis').value="";
                document.getElementById('distrct_Id').value="";
                document.getElementById('receipt_date').value="";
                document.getElementById('accident_no').value="";
                document.getElementById('industry_no').value="";
                document.getElementById('causno').value="";
                document.getElementById('gender2').value="";
                document.getElementById('otherpart').value="";
                document.getElementById('invest_date').value="";
                document.getElementById('invest_result').value="";
                if(response[0].inj_under_drink_drug=='Yes')
                {
                    $("#c1").prop('checked',false);
                }
                if(response[0].wilful_disobedience=='Yes')
                {
                    $("#c2").prop('checked',false);
                }
                if(response[0].wilful_removal=='Yes')
                {
                    $("#c3").prop('checked',false);
                }
            }
            //console.log(response);
            
        }   
    })    
   
});            
       
</script>
{% endblock content %}