{% extends 'base.html' %} {% block content %}
 
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" /> -->
 
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
{% comment %} <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> {% endcomment %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% comment %} <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> {% endcomment %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 
  <script>
    $(document).ready(function () { $('#updt_date').datepicker({dateFormat: 'yy-mm-dd'}); });
  </script>
   <script>
      $(document).ready(function () { $('#accdate').datepicker({dateFormat: 'yy-mm-dd'}); });
    </script>
 
<style>
table, td, th {  
  text-align: left;
}
table {
  border-collapse: collapse;
  width: 50%;
}
th, td {
  padding: 15px;
}
</style>
<style>
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit]:hover {
      width: 10%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 6px 6px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        background-color: #45a049;
        text-align: center;
    }

 
    #print {
        width: 10%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 6px 6px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button]:hover {
        background-color: #45a049;
        text-align: center;
    }
 
    .container input:checked ~ .checkmark:after {
                display: inline;
              }
</style>
<<form action="{% url 'MG22report' %}" method="POST"> {% csrf_token %}
    <div class="container">
<table class="table">
  <tr>
      <center>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <font size="3">
                  <li>
                      {{ message }}
                  </li>
              </font>
              {% endfor %}
          </ul>
          {% endif %}
  </center>
  </tr>
    <tr>
            <h4 align="center">HURT ON DUTY - MG22 </h4>
    <h4 align="center">PROFORMA TO BE FILLED-UP BY ASST. WORKS MANAGER</h4>
 
 
<div> <h6 align="left" style="margin-left: 100px;">आई.एस.ओ. - 9002/ I.S.O. - 9002 </h6> </div>
<div> <h6 align="left" style="margin-left: 100px;">डी० रे० का (वाराणासी )/ D.L.W. (Varanasi)</h6> <h6 align="right" style="margin-right: 100px;">एम. जी. - 22/ M. G. - 22 </h6></div><br>
 
 
        <td>
            <label for="sno"><b>Date/ दिनांक </b></label>            
          <input type="text" id="updt_date" style="width: 150px;" name="updt_date" value="{{lvdate}}" placeholder="yyyy-mm-dd" readonly required/>
        </td> 
 
        <td>
            <label for="sno"><b>Shop Section NO/ शॉप अधी..:</b></label>
          <select class="form-control ll" id="shop_sec" name="shop_sec" required style="width: 150px;" required>   
          <option id="op_shop" selected disabled hidden>Shop Section</option>  
         
          {% if lenm == 1 %}
            {% for role in roles %}
              <option selected readonly>{{role}}</option>
                {% endfor %}
                {% endif %}
                {% if lenm > 1 %}
                  {% for role in roles %}
                    <option>{{role}}</option>
                  {% endfor %}
                {% endif %}
            </select>
          </td>   
        <td>
            <label for="sno"><b>Date of Accident दुर्घटना की तिथि </b></label>            
          <input type="text" id="accdate" style="width: 150px;" name="accdate" placeholder="yyyy-mm-dd" readonly required/>
        </td> 
          <td>
              <label for="empname"><b>Name नाम</b></label>
              <select class="form-control ll" id="emp_name" name="emp_name" required style="width: 150px;" required>
                <option id="op_shop" name="emp_name" selected disabled hidden>Name</option> 
                {% for lc in names %}
                  <option value="{{lc}}">{{lc}}</option>
                  {% endfor %}
                  </select>
          </td>  
        </tr>
        <tr>
          <td><input type="submit" name="proceed" value="Proceed" id="proceed" style="display: none" /></td>
        </tr>
    </table>
    <input type="hidden" id="sub" name="sub" value={{sub}}>
 
  <div id="printdata">
        <h3 align="center"></h3>
{% if totindb %}
{% for key, values in dictemper.items %}
<table>
<tr><th>Name नाम</th><th>Ticket No.  टिकट नंबर </th><th>Date of Accident दुर्घटना की तिथि  </th></tr>
<tr>
 <td>{{values.name}}</td>
  <td>{{values.ticketno}}</td>
  <td><input type="text" id="lv_date" style="width: 150px;" name="lv_date" value="{{values.acdate}}" placeholder="yyyy-mm-dd" readonly required/></td>
</tr>
</table>
<div class="container" id="accident_info">
    <label for="cause"><b>What was the the accident due to ?</b></label>
    <input type="text" required value="{{values.cause}}" readonly><br>
 
    <label for="reason"><b>Is it due to negligence, if yes, state reasons ?</b></label>&nbsp;&nbsp;
    <td>{{values.reasonneg}}</td><br><br>
    {% if values.reasonneg == 'yes '%}
    <td><b>Reason :</b></td><input type="text" value="{{values.reason_y_neg}}"><br>
    {% endif %}
 
 
        <label for="equip_check"><b>Was the employee wearing the protective equipment he was entitled to ?</b></label>
        <td>{{values.epchck}}</td><br><br>
        <label for="suggestion"><b>Can you suggest any saftey devices to prevent similar accidents ? </b></label>
        <input type="text" value="{{values.sugg}}" readonly/><br>
        
        <label for="bgc"><b>Is it the first accident of its nature to this employee ? </b></label>
        <input type="text" value="{{values.firstacc}}" readonly/>
<br>
      
          <label for="bgc2"><b>Any more information with regards to previous accident. If any, to the employee</b></label>
          <input type="text" value="{{values.bgc2}}" readonly/></textarea>
      
    
          <table style="width: 100%;">
           <tr>
             <td>
                <label for="sno"><b>Section supervisor :</b></label>
                <td>{{values.superv}}</td><br>
             </td></tr>
 
             <tr><td>
                <label for="sno"><b>Chargeman :</b></label>
                <td>{{values.chargeman}}</td><br>
             </td></tr>
 
             <tr><td>
                <label for="sno"><b>Mistry :</b></label>
                <td>{{values.mistry}}</td>
             </td></tr>
                    </table>
          
      
          <br><br>
            <label for="Certification"><b>Certifcations provided :- </b></label><br>
            {% if nocertf == 0 %}
            <ol>
              <li>No certifications were provided</li>
            </ol>
            {% endif %}
            {% if nocertf == 1 %}
            <ol> 
            <textarea style="overflow:hidden; resize:none;border: none;" wrap="soft" cols="300">1. {{values.cert1}}</textarea>
            <textarea style="overflow:hidden; resize:none;border: none;" wrap="soft" cols="300">2. {{values.cert2}}</textarea>
            <textarea style="overflow:hidden; resize:none;border: none;" wrap="soft" cols="300">3. {{values.cert3}}</textarea>
            <textarea style="overflow:hidden; resize:none;border: none;" wrap="soft" cols="300">4. {{values.cert4}}</textarea>
            </ol>
            {% endif %}
            <br>
 
 
            <label for="Certification"><b>ANNEXURE</b></label>
          <ol> 
              <textarea style="overflow:hidden; resize:none;border: none;" wrap="soft" cols="300">1. {{values.anex1}}</textarea>
              {% if values.anex2 == 'yes' %}
            <textarea style="overflow:hidden; resize:none;border: none;" wrap="soft" cols="300">2. The emplpoyee was provided with goggles.</textarea>
              {% endif %}
              {% if values.anex2 == 'no' %}
              <textarea style="overflow:hidden; resize:none;border: none;" wrap="soft" cols="300">2. The emplpoyee was not provided with goggles.</textarea>
              {% endif %}
              {% if values.anex2 == 'yes' %}
              <textarea style="overflow:hidden; resize:none;border: none;" wrap="soft" cols="300">3. He was wearing them at the time of accident.</textarea>
              {% endif %}
              {% if values.anex2 == 'no' %}
             <textarea style="overflow:hidden; resize:none;border: none;" wrap="soft" cols="300">3. He was not wearing them at the time of accident.</textarea>
              {% endif %}
            </ol>
          <label style="width: 150px;float:right;" for="sno"><b>SS/ FO</b></label><br>
          <td>{{values.ssfoname}}</td><br>
      </div> 
 {% endfor %}     


{% endif %}
</div>
</div>
<center>
  <input id="print" type="button" onclick="printDiv()" value="Print"> 
</center>
</form>
 
<script type="text/javaScript">
 
$( function() {
              $( ".datepicker2" ).datepicker({
                dateFormat:'yy-mm-dd',
                changeMonth:true,
                changeYear:true,
                yearRange:"2009:2099"
              }).val;
            } );

function find(th)
{
  var id = th.id;
  var two=id.split("name");
  var ticket="ticket"+two[1];
  var name=document.getElementById(id).value;
  var shop_sec=document.getElementById('shpsec').value;
 
 
 
  var data = {shop_sec,name};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm20getstaffno' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                            console.log(response);
                         document.getElementById(ticket).value= response.cont.wono;
                        }
                          })
 
 
}
document.querySelector("#emp_name").addEventListener('change',(e)=>{
    document.querySelector("#proceed").click();})
      
    function printDiv() {
      var printContents = document.getElementById("printdata").innerHTML;
 
        var style = "<style>";
         style = style + "table {width: 100%;font: 17px Calibri;}";
         style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
         style = style + "padding: 2px 3px;text-align: left;}";
         style = style + "</style>";
       var win = window.open('', '', 'height=500,width=500');
 
         win.document.write('<html><head>');
 
         win.document.write('<title>MG22(hurt on duty) Card</title>');
         win.document.write(style);
         win.document.write('</head>');
         win.document.write('<body>');
         win.document.write(printContents);
         win.document.write('</body></html>');
 
         win.print();
         win.close();
 
 
 }

</script>    
{% endblock content %}