{% extends 'base.html' %} {% block content %}
 
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" /> -->
 
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
{% comment %} <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> {% endcomment %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% comment %} <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> {% endcomment %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 
  <script>
    $(document).ready(function () { $('#updt_date').datepicker({dateFormat: 'yy-mm-dd'}); });
  </script>
   <script>
      $(document).ready(function () { $('#acc_date').datepicker({dateFormat: 'yy-mm-dd'}); });
    </script>
 
<style>
table, td, th {  
  text-align: left;
}
table {
  border-collapse: collapse;
  width: 50%;
}
th, td {
  padding: 15px;
}
</style>
<style>
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 10%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 6px 6px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
    }
    
    #add {
        width: 30%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 6px 6px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
 
    #print {
        width: 10%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 6px 6px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button]:hover {
        background-color: #45a049;
        text-align: center;
    }
 
    .container input:checked ~ .checkmark:after {
                display: inline;
              }
</style>
<<form action="{% url 'MG22view' %}" method="POST"> {% csrf_token %}
    <div class="container">
<table class="table">
  <tr>
      <center>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <font size="3">
                  <li>
                      {{ message }}
                  </li>
              </font>
              {% endfor %}
          </ul>
          {% endif %}
  </center>
  </tr>
    <tr>
            <h4 align="center">HURT ON DUTY - MG22 </h4>
    <h4 align="center">PROFORMA TO BE FILLED-UP BY ASST. WORKS MANAGER</h4>
 
 
<div> <h6 align="left" style="margin-left: 100px;">आई.एस.ओ. - 9002/ I.S.O. - 9002 </h6> </div>
<div> <h6 align="left" style="margin-left: 100px;">डी० रे० का (वाराणासी )/ D.L.W. (Varanasi)</h6> <h6 align="right" style="margin-right: 100px;">एम. जी. - 22/ M. G. - 22 </h6></div><br>
 
 
        <td>
            <label for="sno"><b>Date/ दिनांक </b></label>            
          <input type="text" id="updt_date" style="width: 150px;" name="updt_date" value="{{lvdate}}" placeholder="yyyy-mm-dd" readonly required/>
        </td> 
 
        <td>
            <label for="sno"><b>Shop Section NO/ शॉप अधी..:</b></label>
          <select class="form-control ll" id="shop_sec" name="shop_sec" required style="width: 150px;" required>   
          <option id="op_shop" selected disabled hidden>Shop Section</option>  
         
          {% if lenm == 1 %}
            {% for role in roles %}
              <option selected readonly>{{role}}</option>
                {% endfor %}
                {% endif %}
                {% if lenm > 1 %}
                  {% for role in roles %}
                    <option>{{role}}</option>
                  {% endfor %}
                {% endif %}
            </select>
          </td>   
 
          <!-- <td>
              <label for="sno"><b>Staff No/ ????? ? .:</b></label>
              <select class="form-control ll" id="staff_no" name="staff_no" required style="width: 150px;">       
                  <option id="staff_no" selected disabled hidden>Staff Number</option>    
            </select>
          </td>   -->
          <td><input type="text" id="stffno" name="stffno" value="{{ticketno}}" style="display: none" /></td>     
          <td><input type="text" id="shpsec" value="{{shopsec}}" style="display: none" /></td>     
        </tr>
        <tr>
          <td><input type="submit" name="proceed" value="Add" id="proceed" style="display: none" /></td>
        </tr>
    </table>
    <input type="hidden" id="sub" name="sub" value={{sub}}>
  
  {% if sub == 1 %}
  <datalist id="names">
                {% for lc in names %}
                <option value="{{lc}}"></option>
                {% endfor %}
            </datalist>
 
  <datalist id="empname">
      {% for lj in empname %}
      <option value="{{lj}}"></option>
      {% endfor %}
  </datalist>
    <!-- <input type="button" id="add" value="Add Accident Information Worker wise" /> -->
    
    <input type="hidden" name="num" value="THE OUTPUT OF PRODUCT FUNCTION" id="myvalue" />
    <input type="hidden" name="totindb" value={{totindb}} id="totindb">
 
  <div id="printdata">
        <h3 align="center"></h3>
    
    
   <div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <!-- <table class="table">
      <thead>
          <input type="text" name="empname" value="{{empname}}" style="display: none" />
        <tr>
          <th>Name ???</th> 
          
          <th>Ticket No.  ???? ?.</th>       
        </tr>
        <tr>
          <td>{{empname}}</td>
          <td>{{ticketno}}</td> 
        </tr>
    
      </thead>
      <tbody id="projectData">
          
      </tbody> 
    </table>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <table class="table">
      <thead>
        <tr>
          <th>Date of leave to be given ???? ??? ?? ???? ???? ?????? ?? ????? </th>          
        </tr>
      </thead>  
     
      <tbody >  
          <tr><td><input type="text" id="alt_date" style="width: 150px;" name="alt_date"  placeholder="yy-mm-dd" value="{{alt_date}}" readonly required /></td></tr>
      </tbody> 
 
    </table> -->
  </div> 
</div>
<input type="hidden" name="totmebs" id="totmebs" value="0">
<!-- {% if totindb %}
{% for key, values in dictemper.items %}
<table>
<tr><th>Name नाम</th><th>Ticket No.  टिकट नंबर </th><th>Date of Accident दुर्घटना की तिथि  </th></tr>
<tr>
 <td>{{values.name}}</td>
  <td>{{values.ticketno}}</td>
  <td><input type="text" id="lv_date" style="width: 150px;" name="lv_date" value="{{values.acdate}}" placeholder="yyyy-mm-dd" readonly required/></td>
</tr>
</table>
 {% endfor %}     
{% endif %} -->

<div id="items"> </div>

 
<div class="container" id="accident_info">
        
      
        <label for="cause">What was the the accident due to ?</label>
        <input id="cause" type="text" name="cause" placeholder="Cause of the accident.." required value="{{values.cause}}"><br>
 
      
        <label for="reason">Is it due to negligence, if yes, state reasons ?</label>
        <label class="container">Yes
                <input id="reason_y" type="radio"  name="reason_neg" value="yes" required>
                <span class="checkmark"></span>
              </label>
 
              <label id="reason" class="container">No
                <input id="reason_n" type="radio" name="reason_neg" value="no" required>
                <span class="checkmark"></span>
              </label>
 
        <input type="text" name="reason_y_neg" placeholder="reason for negligence.."><br>
 
 
        <label for="equip_check">Was the employee wearing the protective equipment he was entitled to ?</label>
        <label class="container">Yes
                <input type="radio" name="equip_check" value="yes" required>
                <span class="checkmark"></span>
              </label>
 
              <label id="reason" class="container">No
                <input type="radio" name="equip_check" value="no" required>
                <span class="checkmark"></span>
              </label>
       
              <br>  <br>
        <label for="suggestion">Can you suggest any saftey devices to prevent similar accidents ? </label>
        <input id="suggestion" type="text" id="cause" name="suggestion" placeholder="Suggest saftey devices" required><br>
        
        <label for="bgc">Is it the first accident of its nature to this employee ? </label>
        
        
        <label class="container">Yes
          <input type="radio" name="bgc" value="yes" required>
          <span class="checkmark"></span>
        </label>
 
        <label class="container">No
          <input type="radio" name="bgc" value="no" required>
          <span class="checkmark"></span>
        </label>
      
      
              <br>
      
          <label for="bgc2">Any more information with regards to previous accident. If any, to the employee</label>
          <input type="text" id="bgc2" name="bgc2" placeholder="Information regarding previous accident ..." ></textarea>
      
    
         <label for="sno"><b> Name of section supervisor in whose shift the accident took place: Shop Section NO/??? ???.:</b></label><br>
            
         <table style="width: 100%;">
           <tr>
             <td>
                <label for="sno"><b>Section supervisor</b></label>
 
              <select class="form-control ll" id="shop_sec" name="sec_sup" required style="width: 150px;" required>
              <option id="op_shop" name="sec_sup" value="{{lj}}" selected disabled hidden>Section Supervisor</option> 
              
                  {% for lj in empname %}
                  <option value="{{lj}}">{{lj}}</option>
                  {% endfor %}
              </select>
              
             </td>
 
             <td>
 
                <label for="sno"><b>Chargeman</b></label>
 
                <select class="form-control ll" id="shop_sec" name="Chargeman" style="width: 150px;" required>
                <option id="op_shop" name="Chargeman" selected disabled hidden>Chargeman</option> 
                {% for lc in names %}
                  <option value="{{lc}}">{{lc}}</option>
                  {% endfor %}
                  </select>
             </td>
 
             <td>
 
                <label for="sno"><b>Mistry</b></label>
 
                <select class="form-control ll" id="shop_sec" name="Mistry" style="width: 150px;" required>
                <option id="op_shop" name="Mistry" selected disabled hidden>Mistry</option> 
                {% for lc in names %}
                  <option value="{{lc}}">{{lc}}</option>
                  {% endfor %}
                  </select>
 
             </td>
                
                  </tr>
                    </table>
              </br>
          
      
          <br><br>
             
            <label for="Certification">Certified that :- </label><br>
 
          <ol> 
            <li><input type="checkbox" name="c1" value="The accident arose out of and in the course of his employement" required>  The accident arose out of and in the course of his employement</li>
            <li><input type="checkbox" name="c2" value="The work man was not under the influence of drink or drugs at the time time if accident" required>   The work man was not under the influence of drink or drugs at the time time if accident</li>
            <li><input type="checkbox" name="c3" value="The accident was not due to wilful, disobedience by the workman of an order expressly given or of a rule expressly framed for the purpose of securing the safety of workman" required>   The accident was not due to wilful, disobedience by the workman of an order expressly given or of a rule expressly framed for the purpose of securing the safety of workman</li>
            <li><input type="checkbox" name="c4" value="The accident was not due to wilful removal or disregard by the workman of any saftey guard or other device which he knew to have been provided for the purpose of securing the saftey of workman" required>  The accident was not due to wilful removal or disregard by the workman of any saftey guard or other device which he knew to have been provided for the purpose of securing the saftey of workman</li>       
          </ol>
            <br>
 
 
            <label for="Certification">ANNEXURE </label><b>
          <ol> 
              <li><input type="checkbox" name="a1" value="This is an eye injury" required>  This is an eye injury</li>
              <li> The employee was <input type="radio" name="a2" value="yes" required> was not <input type="radio" name="a2" value="no" required>  provided with goggles </li>
            <li> He was <input type="radio" name="a3" value="yes" required> was not <input type="radio" name="a3" value="no" required>  wearing them at the time of accident</li>
          </ol>
         
          
          <select class="form-control ll" id="ssfo" name="SSFO" style="width: 150px;float:right;" required>
                <option  id="op_shop" name="Chargeman" selected disabled hidden >SS/ FO</option> 
                {% for lc in empname %}
                  <option value="{{lc}}">{{lc}}</option>
                  {% endfor %}
                  </select><br>
         
      </div> 

<center>
  <input id="submit" type="submit" name="proceed" value="Save" id="submitted"> 
  <input id="print" type="button" onclick="printDiv()" value="Print"> 
</center>
{% endif %}
</div>
</div>
</form>
 
<script type="text/javaScript">
$(document).ready(function () { $('#acc_date').datepicker({dateFormat: 'yy-mm-dd'}); });
 
$( function() {
              $( ".datepicker2" ).datepicker({
                dateFormat:'yy-mm-dd',
                changeMonth:true,
                changeYear:true,
                yearRange:"2009:2099"
              }).val;
            } );
 
$( document ).ready(function() {
    var shop_sec=document.getElementById('shpsec').value;
    var sub=document.getElementById('sub').value;
    var tt=0;
    if (sub == 1)
    {
    var totindb=document.getElementById('totindb').value;
 
      $("#shop_sec").val(shop_sec);
      console.log("shop_sec",shop_sec);
      //if(totindb)
      //{
      //for(tt=1;tt<=totindb;tt++)
      //{
       // console.log(document.getElementById('datehid'+String(tt)).value);
       // $('#datedb'+String(tt)).datepicker({dateFormat: 'yy-mm-dd'});
       // $('#datedb'+String(tt)).datepicker('setDate', document.getElementById('datehid'+String(tt)).value);
      
        
       
     // }
     // }
    }
 
});
  var j=0;
  
 
  $("#add").click(function(e) {
    event.preventDefault()
        console.log("j"+String(j));
        j++;
        
      
 
        var nameoname="name"+String(j);
        var ticketfname="ticket"+String(j);
        var datename="date"+String(j);
       
        var sno=j;
        var totindb=document.getElementById('totindb').value;
      
        if(j==1 && totindb == 0)
        {
            var happ='<div><table id="customers">'+'<tr><th>Name नाम</th><th>Ticket No.  टिकट नंबर </th><th>Date of Accident दुर्घटना की तिथि  </th>';
 
    happ=happ+'</tr></table></div>';
        $('#items').append(happ);
 
        }
        var htAppend='<div><table id="customers"><tr>'+'<td><select name='+nameoname+' id='+nameoname+' onchange="find(this);" class="form-control ll" ></select></td>'+'<td><input type="text" id="'+ticketfname+'" name="'+ticketfname+'"  readonly></td>'+'<td><input type="date" id='+datename+' name='+datename+'></td>';
 
     htAppend=htAppend+'</tr></table>'+'</div>';
     $('#items').append(htAppend);
     document.getElementById("totmebs").value=j;
     var x=document.getElementById("names");
     var pp=0;
     for (pp = 0; pp < x.options.length; pp++) {
      
     $("#"+nameoname).append("<option value='"+x.options[pp].value+"'>"+x.options[pp].value+"</option>");
     }
 
});
 
function find(th)
{
  var id = th.id;
  var two=id.split("name");
  var ticket="ticket"+two[1];
  var name=document.getElementById(id).value;
  var shop_sec=document.getElementById('shpsec').value;
 
 
 
  var data = {shop_sec,name};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm20getstaffno' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                            console.log(response);
                         document.getElementById(ticket).value= response.cont.wono;
                        }
                          })
 
 
}
  
 
 
 
                document.querySelector("#shop_sec").addEventListener('change',(e)=>{
 
                  document.querySelector("#proceed").click();
              })
      
    function printDiv() {
      var printContents = document.getElementById("printdata").innerHTML;
 
        var style = "<style>";
         style = style + "table {width: 100%;font: 17px Calibri;}";
         style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
         style = style + "padding: 2px 3px;text-align: left;}";
         style = style + "</style>";
       var win = window.open('', '', 'height=500,width=500');
 
         win.document.write('<html><head>');
 
         win.document.write('<title>MG22(hurt on duty) Card</title>');
         win.document.write(style);
         win.document.write('</head>');
         win.document.write('<body>');
         win.document.write(printContents);
         win.document.write('</body></html>');
 
         win.print();
         win.close();
 
 
 }

</script>    
{% endblock content %}