{% extends 'base.html' %} {% block content %}

{% comment %} <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" /> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () { $('#lv_date').datepicker({dateFormat: 'yy-mm-dd'}); });
  </script>
  <script>
    $(document).ready(function () { $('#alt_date').datepicker({dateFormat: 'yy-mm-dd'}); });
  </script>

<style>

#dateshop,#dateshopval {
    display: none;
}
table, td, th {  
  text-align: left;
}
table {
  border-collapse: collapse;
  width: 50%;
}
th, td {
  padding: 15px;
}
input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
    }
    
    input[type=button] {
        width: 10%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 6px 6px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button]:hover {
        background-color: #45a049;
        text-align: center;


    }
</style>
<form action="{% url 'M20view' %}" method="POST"> {% csrf_token %}
    <div class="container">
<table class="table">
  <tr>
      <center>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <font size="3">
                  <li>
                      {{ message }}
                  </li>
              </font>
              {% endfor %}
          </ul>
          {% endif %}
  </center>

  <h2 align="center">डीजल रेल इंजन कारखाना </h2>
  </tr>
  <br>
    <tr>
        <td>
            <label for="sno"><b>Date/ दिनांक.:</b></label>            
          <input type="text" id="lv_date" style="width: 150px;" name="lv_date" value={{lvdate}} placeholder="yyyy-mm-dd" readonly required/>
        </td> 

        <td>
            <label for="sno"><b>Shop Section NO/शॉप अधी.:</b></label>
          <select class="form-control ll" id="shop_sec" name="shop_sec" required style="width: 150px;">   
          <option id="op_shop" selected disabled hidden>Shop Section</option>  
         
          {% if lenm == 1 %}
            {% for role in roles %}
              <option selected readonly>{{role}}</option>
                {% endfor %}
                {% endif %}
                {% if lenm > 1 %}
                  {% for role in roles %}
                    <option>{{role}}</option>
                  {% endfor %}
                {% endif %}
            </select>
          </td>   

          <!-- <td>
              <label for="sno"><b>Staff No/ स्टाफ न .:</b></label>
              <select class="form-control ll" id="staff_no" name="staff_no" required style="width: 150px;">       
                  <option id="staff_no" selected disabled hidden>Staff Number</option>    
            </select>
          </td>   -->
          <td><input type="text" id="stffno" name="stffno" value="{{ticketno}}" style="display: none" /></td>     
          <td><input type="text" id="shpsec" value="{{shopsec}}" style="display: none" /></td>     
        </tr>
        <tr>
          <td><input type="submit" name="proceed" value="Add" id="proceed" style="display: none" /></td>
        </tr>
    </table>
      <input type="reset" name="reset">
    <hr style="width:90%; margin-right: 100px; margin-left: 100px;" align="center">
    <input type="hidden" id="sub" name="sub" value={{sub}}>
  
  {% if sub == 1 %}
  <datalist id="names">
                {% for lc in names %}
                <option value="{{lc}}"></option>
                {% endfor %}
            </datalist>
    <input type="button" id="add" value="Add Member" />
    <div id="items"> </div>
    <h3 align="center">कर्मशाला कर्मचारियों की रविवार की बुकिंग </h3>
<h4 align="center">SUNDAY BOOKING OF WORKSHOP STAFF</h4>
<div> <h6 align="left" style="margin-left: 100px;">आई.एस.ओ. - 9002/ I.S.O. - 9002 </h6> </div>
<div> <h6 align="left" style="margin-left: 100px;">डी० रे० का (वाराणासी )/ D.L.W. (Varanasi)</h6> <h6 align="right" style="margin-right: 100px;">एम-20/M.-20 </h6></div><br>

    <input type="hidden" name="num" value="THE OUTPUT OF PRODUCT FUNCTION" id="myvalue" />
    <input type="hidden" name="totindb" value={{totindb}} id="totindb">

  <div id="printdata">
    <h4 align="center">Particulars of Staff booked to work on Sunday</h4>
    <h4 align="center">रविवार को काम करने के लिए बुक किये गए कर्मचारियों का विवरण </h4>
{% if totindb %}
<table border="2" align="center">
<tr>
<div id="dateshop" style="display: none;">
<th id="shpid" >Shop Section NO/शॉप अधी.</th>
<th id="dtid" >Date/ दिनांक.</th>
</div>
  <th>Name नाम</th>
  <th>Ticket No.  टिकट स.</th>
  <th>Date of leave to be given बदले में दी जाने वाली छुट्टी की तारीख </th>
</tr>
{% for key, values in dictemper.items %}
<tr>
 <input type="hidden" name="namedb{{forloop.counter}}" id="namedb{{forloop.counter}}" value="{{values.name}}">
  <input type="hidden" name="ticketnodb{{forloop.counter}}" id="ticketnodb{{forloop.counter}}" value="{{values.ticketno}}">
  <div id="dateshopval" style="display: none;">
 <td id="shpv" >{{shopsec}}</td>
 <td id="datev">{{lvdate}}</td>
 </div>
 <td>{{values.name}}</td>
  <td>{{values.ticketno}}</td>
  <input type="hidden" name="datehid{{forloop.counter}}" id="datehid{{forloop.counter}}" value='{{values.date}}'>
   <td><input type="text" id="datedb{{forloop.counter}}" class="datepicker2" style="width: 150px;"  name="datedb{{forloop.counter}}" placeholder="yy-mm-dd" value="{{values.date}}" readonly/></td>
</tr>
 
{% endfor %}
</table> 
{% endif %}
<input type="hidden" name="totmebs" id="totmebs" value="0">

    </div>
{% comment %} <div id="print" style="text-align:center" hidden>
  <table class="table">
        <thead>
            <input type="text" name="empname" value="{{empname}}" style="display: none" />
          <tr>
            <th>Name नाम</th>
            <th>Ticket No.  टिकट स.</th>
            <th>Date of leave to be given बदले में दी जाने वाली छुट्टी की तारीख </th>         
          </tr>
          <tr>
            <td>{{empname}}</td>
            <td>{{ticketno}}</td> 
          </tr>
      
        </thead>
        <tbody id="projectData">
            
        </tbody> 
      </table>
     
</div> {% endcomment %}

<center>
  <input type="submit" name="proceed" value="Save" id="submitted"> 
  <input type="button" onclick="printDiv()" value="Print"> 
</center>
{% endif %}
</div>
</form>

<script type="text/javaScript">

$( function() {
              $( ".datepicker2" ).datepicker({
                dateFormat:'yy-mm-dd',
                changeMonth:true,
                changeYear:true,
                yearRange:"2009:2099"
              }).val;
            } );

$( document ).ready(function() {
    var shop_sec=document.getElementById('shpsec').value;
    var sub=document.getElementById('sub').value;
    var tt=0;
    if (sub == 1)
    {
      
    var totindb=document.getElementById('totindb').value;

      $("#shop_sec").val(shop_sec);
      console.log("shop_sec",shop_sec);
      //if(totindb)
      //{
      //for(tt=1;tt<=totindb;tt++)
      //{
       // console.log(document.getElementById('datehid'+String(tt)).value);
       // $('#datedb'+String(tt)).datepicker({dateFormat: 'yy-mm-dd'});
       // $('#datedb'+String(tt)).datepicker('setDate', document.getElementById('datehid'+String(tt)).value);
      
        
       
     // }
     // }
    }

});
  var j=0;
  

  $("#add").click(function(e) {
    event.preventDefault()
        console.log("j"+String(j));
        j++;
        
      

        var nameoname="name"+String(j);
        var ticketfname="ticket"+String(j);
        var datename="date"+String(j);
       
        var sno=j;
        var totindb=document.getElementById('totindb').value;
      
        if(j==1 && totindb == 0)
        {
            var happ='<div><table id="customers">'+'<tr><th>Name नाम</th><th>Ticket No.  टिकट स.</th><th>Date of leave to be given बदले में दी जाने वाली छुट्टी की तारीख </th>';

    happ=happ+'</tr></table></div>';
        $('#items').append(happ);

        }
var htAppend='<div><table id="customers"><tr>'+'<td><select name='+nameoname+' id='+nameoname+' onchange="find(this);" class="form-control ll" ></select></td>'+'<td><input type="text" id="'+ticketfname+'" name="'+ticketfname+'"  readonly></td>'+'<td><input type="date" id='+datename+' name='+datename+'></td>';
       




     
 htAppend=htAppend+'</tr></table>'+'</div>';
     $('#items').append(htAppend);
     document.getElementById("totmebs").value=j;
     console.log(document.getElementById('totmebs').value);
     var x=document.getElementById("names");
     var pp=0;
     for (pp = 0; pp < x.options.length; pp++) {
      
     $("#"+nameoname).append("<option value='"+x.options[pp].value+"'>"+x.options[pp].value+"</option>");
     }

});

function find(th)
{
  var id = th.id;
  var two=id.split("name");
  var ticket="ticket"+two[1];
  var name=document.getElementById(id).value;
  var shop_sec=document.getElementById('shpsec').value;



  var data = {shop_sec,name};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'm20getstaffno' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                         document.getElementById(ticket).value= response.cont.wono;
                        }
                          })
 

}
  

 

                document.querySelector("#shop_sec").addEventListener('change',(e)=>{

                  document.querySelector("#proceed").click();
              })
      
    function printDiv() {
      var printContents = document.getElementById("printdata").innerHTML;
 
        var style = "<style>";
         style = style + "table {width: 100%;font: 17px Calibri;}";
         style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
         style = style + "padding: 5px 3px;text-align: left;}";
         style = style + "</style>";
       var win = window.open('', '', 'height=500,width=500');
 
         win.document.write('<html><head>');
 
         win.document.write('<title>M20(Sunday Booking) Card</title>');
         win.document.write(style);
         win.document.write('</head>');
         win.document.write('<body>');
         win.document.write(printContents);
         win.document.write('</body></html>');
         win.document.getElementById('dateshop').style.display = "block";
         win.document.getElementById('dateshopval').style.display = "block";
        
         win.print();
         win.close();
 
 
 
 }


</script>    
{% endblock content %}