{% extends 'base.html' %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>


<style>
    input[type=text],
    select {
        width: 80%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 30%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        width: 30%;
        background-color: #45a049;
        text-align: center;
    }
    input[type=button] {
        width: 40%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button]:hover {
        background-color: #45a049;
        text-align: center;
    }
    
   
</style>

<br>
<center>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <font size="3">
                <li>
                    {{message}}
                </li>
            </font>
            {% endfor %}
        </ul>
        {% endif %}
    </center>

<h2 align="center" >M.G.-5 Card (TOOLS ISSUE SLIP)</h2>
<br>
<form action="{% url 'mg5report' %}" method="POST"> {% csrf_token %}
    <div class="container">
        <table class="table">
                <tr>
                        <td>
                             <label for="i_no"><b>Identity card no.:</b></label>
                            <select class="form-control" id="id_no" name="id_no" required>
                            <option id="op_id" selected disabled hidden>Select Identity card no.</option>
                            {% for i in obj %}
                            <option value="{{i.idcard_no}}">{{i.idcard_no}}</option>
                            {% endfor %}
                         </select>
                        </td>
                        <td>
                                <label  for="ti_no"><b>Ticket No.</b></label>
                                <select  class="form-control" id="t_no" name="t_no" required>
                                <option id="op_ticket" selected disabled hidden>Select Ticket no.</option>
                                {% for i in objj %}
                                <option value="{{i.ticket_no}}">{{i.ticket_no}}</option>
                                {% endfor %}
                                </select>
                            </td>
                        
                </tr>
                         
        </table>
        <input type="submit" value="Proceed" name="proceed" id="myproceed" hidden/>

    </div>

 <input type="hidden" id="sub" name="sub" value={{sub}}>
 {% if sub == 1 %}
<input type="hidden" name="len" value="{{len}}">
<div id="print1" >
<table align="center" border="2" width="50%"> 
        
        {% for i in obj %} 
        <tr>
            <th>SHOP NO.</th>
            <input type="text" value={{shop_no}} name="shop_no" id="shop_no" hidden /> 
            <td>{{i.shopno}}</td>
        </tr>
        <tr>
                <th>STAFF N0.</th>
                <input type="text" value={{staff_no}} name="staff_no" id="staff_no" hidden /> 
                <td>{{i.empno}}</td>
            </tr>
        <tr> 
                <th>EMPLOYEE NAME</th>
                <input type="text" value={{name}} name="name" id="name" hidden /> 
            <td>{{i.empname}}</td>
        </tr>
        <tr> 
                <th>SHOP SUPERINTENDENT</th> 
                <input type="text" value={{emp_type}} name="emp_type" id="emp_type" hidden /> 
            <td>{{i.emptype}}</td>
        </tr>
        {% endfor %}

            <tr>
                <th>IDENTITY CARD NO</th>
                <input type="text" value={{id_no}} name="id_no" id="id_no" hidden /> 
                <td>{{id_no}}</td>
            </tr>
            <tr>
                <th>TICKET NO</th>
                <input type="text" value={{ticket_no}} name="t_no" id="t_no" hidden /> 
                <td>{{ticket_no}}</td>
            </tr>
            <tr> 
                    <th><b> DATE:</b></th> 
                    <input type="text" name="date" id="date" hidden/>
                <td>{{date}} </td
                </tr>

                {% for i in obj1 %}   
                <tr> 
                        <th>OPERATOR</th> 
                        <input type="text" name="optr" id="optr" hidden  />
                   <td> {{optr}}</td> 
                </tr>
                <tr> 
                        <th>TOOL CHECKER</th> 
                                <input type="text" name="chkr" id="chkr" hidden/>
                                <td> {{chkr}}</td> 
                </tr>
                {% endfor %}
                {% for i in obj1 %} 
        <tr> 
                <th>DLW TOOL ORDER NO</th> 
                <input type="text" name="id" id="id" hidden/>
            <td>{{i.id}}</td>
        </tr>
        <tr> 
                <th><b> Tools issued are:</b></th> 
                <td>
                    {{i.t_id}} 
                   </td>
                   <!-- <td>
                        {{desc}} 
                       </td> -->
            </tr> 
            {% endfor %}
</table>
<br>
</div>

<center>  
        <input type="button" onclick="printDiv1()" value="Print" name="print1" id="print1"/> 
</center> 
{% endif %}
</form> 

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javaScript">
 document.querySelector("#id_no").addEventListener('change',(e)=>{
                  e.preventDefault();
                  var id_no = $("#id_no").val()
                  var data = {id_no};
                    $.ajax({
                      type : 'GET',
                      url : "{% url 'mg5getticket' %}",
                      dataType : 'json',
                      data : data,
                      success : function(response){
                        var elementsadded = document.querySelectorAll(".neweleticket");
                            if(elementsadded.length>0){
                                var elementsaddedarr = Array.from(elementsadded);
                                elementsaddedarr.forEach((el)=> el.remove());
                                document.querySelector("#op_id").selected=true;
                                document.querySelector("#op_ticket").selected=true;

                            }
                            var brarr,mystr,html;
                            brarr = response.map((el)=>el.ticket_no);
                            mystr = "";
                            brarr.forEach((el,index)=>{
                              html = `<option class="neweleticket">${brarr[index]}</option>`
                              mystr = html.concat(mystr);
                            });
                            html = "";
                            document.querySelector("#t_no").insertAdjacentHTML('beforeend',mystr);
                            mystr="";
                      }
                        })
              })


document.querySelector("#t_no").addEventListener('change',(e)=>{

    document.querySelector("#myproceed").click();
})
document.addEventListener('keypress',(event)=>{
    if(event.keyCode===13){
        event.preventDefault();
    }
})


function printDiv1() {
     var printContents = document.getElementById("print1").innerHTML;

       var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: left;}";
        style = style + "</style>";
      var win = window.open('', '', 'height=500,width=500');

        win.document.write('<html><head>');

        win.document.write('<title>MG5 Card (TOOLS ISSUE SLIP)</title>');
        win.document.write('<h1>MG5 Card (TOOLS ISSUE SLIP) </h1>');
        win.document.write(style);
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(printContents);
        win.document.write('</body></html>');

        win.print();
}
  </script>

  {% endblock content %}