{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- <h1 align="center" style="background-color: darkslategrey;color:white;padding: 12px;">M1 - MASTER PROCESS SHEET</h1> -->
<form action='.' method="POST">
 <div class="container" style="width: 100%">
<br>
<h5 style="float: left"><b>I.S.O -9002</b></h5> <h5 style="float: right"><b>MG-6</b></h5> <center><h5><u><B>D.L.W./VARANASI <BR><BR><BR> Reg. :-TOOL DAMAGE REPORT</B></u></h5></center>

<br>

<br>
<h5 ><b>F.O/T.R </b></h5>

<h5 ><b>TOOL NO. AND DESCRIPTION  <input type="textbox" name="tooldes" >   </b></h5>

<br>
<h5 ><b>DRAWN BY T NO. <input type="textbox" name="drwnby" >on <input type="textbox" name="on" ></B></u></h5><h5 ><b>Has beesn condemned  /Scrapped /Damaged onMachine no<input type="textbox" name="consby" >on C&Dno<input type="textbox" name="c&d" ></b></h5>

<h5><b>Cause of damage  <input type="textbox" name="cause" > </b></h5>

<br>
<h5 ><b>shop supt. <input type="textbox" name="shopsup" > sec. chargeman <input type="textbox" name="secchargeman" ></b></h5>
<br>

<h5><b>remarks for F.O/T.R if any <input type="textbox" name="remarks" > </b></h5>
<br>

<h5 style="float: right"><b>F.O/T.R /DLW<input type="textbox" name="sign3" > </b></h5>

<BR>

</form>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  -->

{% endblock content %}