{% extends 'base.html' %} 
{% block content %}
{% load static %}

<style>
        input[type=text],
        select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: block;
            border: 0.5px solid 2px;
            border-radius: 4px;
            box-sizing: border-box;
            box-shadow: 2px 2px;
        }
        
        input[type=submit] {
            width: 20%;
            text-align: center;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type=reset] {
            width: 20%;
            text-align: center;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #print {
            width: 20%;
            text-align: center;
            background-color:cornflowerblue;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        
        
        input[type=submit]:hover {
            background-color: #45a049;
            text-align: center;
        }
        
        input[type=button] {
            width: 10%;
            text-align: center;
            background-color: #4CAF50;
            color: white;
            padding: 6px 6px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        input[type=button]:hover {
            background-color: #45a049;
            text-align: center;
        }

        .container input:checked ~ .checkmark:after {
            display: inline;
          }

        #remarks{

            background-color: lightblue;
            color: black;
            font-weight: bold;
           

        }
        .table tr td {
            font-weight: bold;
        }
          
    </style>



<form action="{% url 'partallotement' %}" method="POST"> {% csrf_token %}
        <div id="printdata" class="container">
                <table class="table">
                  <tr>
                      <center>
                          {% if messages %}
                          <ul class="messages">
                              {% for message in messages %}
                              <font size="3">
                                  <li>
                                      {{ message }}
                                  </li>
                              </font>
                              {% endfor %}
                          </ul>
                          {% endif %}
                  </center>
                </tr>
                <h3 align="center">Diesel Locomotive Works </h3>
                <h4 align="center">Design office -- Part Alot </h4>
                <tr>
                <td>
                        <label for="partno"><b>Part NO:/पार्ट सं.:</b></label>
                        <select class="form-control" style="width: 170px;" id="partno" name="partno">
                            <option id="op_part" selected disabled hidden>Select Part No</option>
               
                                  {% for i in partnew %}
                                    <option>{{i.part_no}}</option>
                                  {% endfor %}
                                  
                        </select>
                </td>                         
                
                     <td>
                        <label for="br_no"><b>GM-PART NO</b></label>
                        <input type="text" style="width: 180px;" id="gmpart" name="gmpart">            
                        <!-- <select class="form-control" style="width: 180px;" id="gmpart" name="gmpart" required>   -->
                                  <!-- <option id="op_staffName" selected disabled hidden>SELECT GM PART NO</option> -->
                                  

                       </select>
                         <label style="color:red; font-style: italic;">* Enter For New Drawing of DLW (Press 'Enter' Key)</label> 
                    </td>
                </tr>
                

                <tr>
                    <td>
                        <label for="drg_rev">DRG-REV </label>
                        <input style="width: 150px;" type="text" name="drg_rev" id="drg_rev">
                    </td>
                    <td>
                        <label for="DESC">DESC</label>
                        <input style="width: 200px;" type="text" name="DESC" id="DESC">
                    </td>
                    <td>
                        <label for="drg_rev">MB</label>
                        <!-- <input  style="width: 150px;"  type="text" name="MB" id="MB" required> -->
                        <select class="form-control" style="width: 170px;" id="mb" name="mb" value="{{i.alpha_1}}" required>
                                <option id="it_cat" selected disabled hidden>Select MB</option>
                    
                                        {% for i in mb %}
                                        <option>{{i.alpha_1}}</option> 
                                        {% endfor %}
                                        
                        </select>

                    </td>
                   

                    <td>
                            <label for="IND_BUY">IND-BUY</label>
                            <input style="width: 150px;" type="text" name="ind_buy" id="ind_buy">
                    </td>
                    <td>
                            <label for="it_cat">IT-CAT</label>
                            <select class="form-control" style="width: 170px;" id="it_cat" name="it_cat" value="{{i.alpha_1}}" >
                                    <option id="it_cat" selected disabled hidden>Select Item Category</option>
                        
                                            {% for i in it_cat %}
                                            <option>{{i.alpha_1}}</option> 
                                            {% endfor %}
                                            
                            </select>
                                
                    </td>
                </tr>

                 <tr>
                        <td>
                            <label for="drg_rev">WEIGHT</label>
                            <input style="width: 150px;" type="text" name="WEIGHT" id="WEIGHT">
                        </td>
                        <td>
                            <label for="DESC">UNIT</label>
                            <!-- <input style="width: 150px;" type="text" name="UNIT" id="UNIT"> -->
                            <select class="form-control" style="width: 170px;" id="unit" name="unit" value="{{i.alpha_1}}">
                                <option id="unit" selected disabled hidden>Select UNIT</option>
                        
                                            {% for i in unit %}
                                            <option>{{i.alpha_1}}</option> 
                                            {% endfor %}
                                            
                            </select>


                        </td>

                        <td>
                                <label for="drg_rev">SIZE</label>
                                <input style="width: 150px;" type="text" name="SIZE" id="SIZE">
                            </td>
                            <td>
                                <label for="DESC">MAT-SPEC</label>
                                <input style="width: 150px;" type="text" name="MAT-SPEC" id="MAT-SPEC">
                            </td>
                </tr>
                <tr>
                    <td>
                            <label for="remarks">REMARKS</label>
                            <textarea style="width: 200px;" id="remarks" name="remarks"> </textarea>
                    </td>   
                </tr>
                

                    </table>
                    <div id="grp"></div>
            <table class="table">
                
                        <tr>
                                <td>
                                <label for="partno"><b>MAJ-GROUP</b></label>
                        <select class="form-control" style="width: 180px;" id="maj_grp" name="maj_grp" required>
                            <option id="maj_grp" selected disabled hidden>Select Major Group</option>
               
                                  {% for i in partgrp %}
                                    <option>{{i.mgr}}</option> 
                                  {% endfor %}
                                  
                        </select>
                            </td>
                            <td>
                                    <label for="subgrp"><b>SUB-GROUP</b></label>
                            <select class="form-control" style="width: 180px;" id="subgrp" name="subgrp" required>
                                <option id="subgrp" selected disabled hidden>Select Sub Group</option>
                   
                                      
                                      
                            </select>
                                </td>
                                    <td>
                                        <label for="subgrp2"><b>SUB-GROUP2</b></label>
                                <select class="form-control" style="width: 180px;" id="SUB-GROUP2" name="SUB-GROUP2" required>
                                    <option id="subgrp2" selected disabled hidden>Select Sub Group2</option>
                 
                                </select>
                                    </td>
                                    <td>
                                        <label for="DESC">SL NO</label>
                                        <input  style="width: 150px;" type="text" name="SL_NO" id="SL_NO">
                                    </td>

                                    <td>
                                        <label for="GROUP-DES">GROUP-DES</label>
                                        <input  style="width: 350px;" type="text" name="grp_des" id="grp_des">
                                           
                                    </td>
                        </tr>

                        <!-- <tr>
               
                            <td>
                               REF-IND <input style="width:150px; background-color: lightblue; color: black; font-weight: bold;" type="text" name="ref_id" id="ref_id"/>
                            </td>
                            <td>
                                REF-NO <input style="width:150px; background-color: lightblue; color: black; font-weight: bold;" type="text" name="ref_no" id="ref_no"/>
                            </td>
                            <td>
                                RECVD (Y/N) <input style="width:150px;background-color: lightblue; color: black; font-weight: bold;" type="text" name="recvd_yn" id="recvd_yn"/>
                            </td>
                            <td>
                                LOC <input style="width:150px;background-color: lightblue; color: black; font-weight: bold;" type="text" name="loc" id="loc"/>
                            </td>
                                   
                        </tr> -->


            </table>

            <table class="table">
                <div class="container">

                                    <tr>
                                            <td>
                                                    <center>
                                                            <input  style="width: 150px;"  id="submit" type="submit" name="proceed" value="Save/ Update"> 
                                                            
                                                            <input  style="width: 150px;"  id="print" type="button" onclick="printDiv()" value="Print"> 
                                                    </center>
                
                                            </td>
                                    </tr>
                                                <!-- <tr>
                                                   
                                                    <td>
                                                    <center>
                                                        <label for="checkYN">chkYN</label>
                                                        <input  type="checkbox" id="checkbox" name="checkbox">
                                                    </center>
                                                    </td>
                                                </tr> -->
                                            <!-- <tr>
                                                <td>
                                                        <center>
                                                                <input  style="width: 150px;"  type="submit" name="save" value="Save" id="submitted"> 
                                                                <input  style="width: 150px;"  type="submit" name="ref" value="RefDoc"> 
                                                                <input  style="width: 150px;"  type="reset" value="Clear"> 
                                                        </center>
                
                                                </td>
                                            </tr> -->
                                      
                                    </div>
               
            </table>
           
            <input id="submit" type="submit" name="proceed" value="proceed" id="submitted"> 
        
        </div>
               
            </div>
            </form>
    <script>


            document.querySelector('#partno').addEventListener('change',(e)=>{
                e.preventDefault();
                var partno_temp = $('#partno').val();               
                var data = {partno_temp};                
                  $.ajax({
                    type : 'GET',
                    url : "{% url 'getpartnewdetails' %}",
                    dataType : 'json',
                    data : data,
                    success : function(response){                       
                     document.getElementById('gmpart').value=response[0].gm_ptno;
                     document.getElementById('drg_rev').value=response[0].rev;
                     document.getElementById('DESC').value=response[0].des;
                     document.getElementById('WEIGHT').value=response[0].unit_wt;
                     document.getElementById('SIZE').value=response[0].size_pc;
                     document.getElementById('MAT-SPEC').value=response[0].mat_specn;
                     document.getElementById('ind_buy').value=response[0].ind_buy;
   
                                                    
                    }
               })
            });


           

            document.querySelector("#maj_grp").addEventListener('change',(e)=>{
                e.preventDefault();
                var maj_grp_temp = $('#maj_grp').val();               
                var data = {maj_grp_temp};                
                  $.ajax({
                    type : 'GET',
                    url : "{% url 'getpartnewdetails123' %}",
                    dataType : 'json',
                    data : data,
                    success : function(response){
                            
                         var elementsadded = document.querySelectorAll(".neweleassm");
                          if(elementsadded.length>0){
                              var elementsaddedarr = Array.from(elementsadded);
                              elementsaddedarr.forEach((el)=> el.remove());
                              
                         
                           }

                          var brarr,mystr,html;
                          brarr = response.map((el)=>el.sgr1);
                          mystr = "";
                          brarr.forEach((el,index)=>{
                            html = `<option class="neweleassm">${brarr[index]}</option>`
                            mystr = html.concat(mystr);
                          });
                          html = "";
                          document.querySelector("#subgrp").insertAdjacentHTML('beforeend',mystr);
                          mystr="";
                    }
                      })
                      })

                      document.querySelector("#subgrp").addEventListener('change',(e)=>{
                        e.preventDefault();
                        var subgrp_temp_temp = $('#subgrp').val();               
                        var data = {subgrp_temp_temp};                
                          $.ajax({
                            type : 'GET',
                            url : "{% url 'getsubgrp2' %}",
                            dataType : 'json',
                            data : data,
                            success : function(response){
                                   
                                 var elementsadded = document.querySelectorAll(".neweleassm1");
                                  if(elementsadded.length>0){
                                      var elementsaddedarr = Array.from(elementsadded);
                                      elementsaddedarr.forEach((el)=> el.remove());
                                      
                                 
                                   }
        
                                  var brarr,mystr,html;
                                  brarr = response.map((el)=>el.sgr2);
                                  mystr = "";
                                  brarr.forEach((el,index)=>{
                                    html = `<option class="neweleassm1">${brarr[index]}</option>`
                                    mystr = html.concat(mystr);
                                  });
                                  html = "";
                                  document.querySelector("#SUB-GROUP2").insertAdjacentHTML('beforeend',mystr);
                                  mystr="";
                            }
                              })
                              })
                             

                              document.querySelector("#SUB-GROUP2").addEventListener('change',(e)=>{
                                e.preventDefault();
                                var SUB_GROUP2_temp = $('#SUB-GROUP2').val();               
                                var data = {SUB_GROUP2_temp};                
                                  $.ajax({
                                    type : 'GET',
                                    url : "{% url 'getDiscription' %}",
                                    dataType : 'json',
                                    data : data,
                                    success : function(response){
                                    
                                        document.getElementById('SL_NO').value=response[0].sln;
                                        document.getElementById('grp_des').value=response[0].gdes;
                                        
                                        
                                        }
                                      })
                                      })
                                    


            function printDiv() {
                var printContents = document.getElementById("print").innerHTML;
           
                  var style = "<style>";
                   style = style + "table {width: 100%;font: 17px Calibri;}";
                   style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
                   style = style + "padding: 2px 3px;text-align: left;}";
                   style = style + "</style>";
                 var win = window.open('', '', 'height=500,width=500');
           
                   win.document.write('<html><head>');
           
                   win.document.write('<title>Design Office - Part Alot</title>');
                   win.document.write(style);
                   win.document.write('</head>');
                   win.document.write('<body>');
                   win.document.write(printContents);
                   win.document.write('</body></html>');
           
                   win.print();
                   win.close();
           
           
           }
          
          </script>   


{% endblock content %}       
