{% extends 'base.html' %} 
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Qtysum</title>
    
     <style>
      body{
        background-color: white;

    }
        
        
    table.center{
    margin-left:-300px ;
    margin-right:auto ;
    text-align: right;
    position: relative;
    width:60%;
       
   }
   table.bottom{
    margin-left:-4.3% ;
    margin-right:auto ;
    text-align: right;
    width:60%;
       
   }
  table.grid{
    border:1px solid black;
    margin-left:250px ;
    margin-right:auto ;
    text-align: center;
    
  } 
  #myTable td{border:1px solid black;
    padding: 5px;

  }
  th{
    border:1px solid black;
    
  }
   p{
    text-align:center;
}
textarea[name= "P_DESC"]{
  height:30px;
  width:182px; 
  resize:none;
}
textarea[name= "Txtpartno"]{
  height:28px;
  width:180px; 
  resize:none;
}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>
<body>  
   
    <p style="font-size:3vw;">SUMMARISED QUANTITY OF PARTS</p>

    <form action="" method="POST">
    <table class="center">
        {% csrf_token %}
        <tr><td style="font-size:1vw;">ASSLY-NO:&nbsp;<input  type="text" id="assly_no" name="assly_no" maxlength="8" autofocus></td></tr><br><br>
        <tr><td style="font-size:1vw;"><textarea type="text" id="Txtpartno" name="Txtpartno" readonly ></textarea></td></tr>
        <tr><td style="font-size:1vw;">QUANTITY:&nbsp;<input type="text" id="qty" name="qty"  ></td></tr>
        <tr><td><br></td></tr>
    </table>
    
      <div id="table2" style="display:none;" >
      
        <table class="grid" id="myTable">
          <tr>

            
            <th>PART_NO</th>
            <th>P_DESC</th>
            <th>QTY</th>
            <th>EPC</th>
            <th>PTC</th>
            <th>REM</th>

          </tr>
          <tr>
            <td><input  type="text" id="PART_NO" name="PART_NO" readonly></td>
            <td><textarea id="P_DESC" name="P_DESC" readonly></textarea></td>
            <td><input  type="text" id="qt" name="QTY" readonly></td>
            <td><input  type="text" id="EPC" name="EPC" readonly></td>
            <td><input  type="text" id="PTC" name="PTC" readonly></td>
            <td><input  type="text" id="REM" name="REM" readonly></td>
          </tr>
        </table>
      </div>
      
    <table class="bottom">
        <tr><td><br></td></tr>
        <tr><td><button style="font-size:1vw;" onclick="myfuc()"  type="button" class="btn btn-success" name="Btnclr">Select Assly.</button>&nbsp;&nbsp;
            <button style="font-size:1vw;"  type="button" onclick="abc()"  class="btn btn-success" id= "Btnclr1" name="Btnclr1" disabled="true">Proceed</button>&nbsp;&nbsp;
            <button style="font-size:1vw;"  type="button" onclick= "myFunction(); enable2()" class="btn btn-success" id= "Btnclr2" name="Btnclr2" disabled="true">Show/Hide Selected Assly.</button>&nbsp;&nbsp;
            <button style="font-size:1vw;" onclick=redirect() type="submit" class="btn btn-success"  name="Btnclr3"> Clear </button></td></tr>
            

    </table>
    </form>
  <script>   
        document.querySelector("#assly_no").addEventListener('change',(e)=>{                
            e.preventDefault();                  
            var asslyno = $("#assly_no").val();
            var data = {asslyno};
              $.ajax({
                type : 'GET',
                url : "{% url 'qtysum1' %}",
                
                dataType : 'json',
                data : data,
                success : function(response){                               
                   // for(i=0;i<response.length;i++){
                // alert(response[0].name);
                //alert(response[0].desgn);
                //console.log(response); 
                document.getElementById('Txtpartno').value=response[0].des;
                document.getElementById('qty').focus();   
                },
                error: function() {
                  alert("No Such Part in PART-MASTER");
                }
                
                })
                    
        });

      function myFunction() {
        var x = document.getElementById("table2");
        
        if (x.style.display === "none") {
          x.style.display = "block";
          
        } else {
          x.style.display = "none";
        }

       
        }
      function enable2(){
        {document.getElementById("Btnclr1").disabled = false;}
      }

      function myfuc(){
        var val=$("#assly_no").val();
        if(val==""){
          alert("Enter Part No.");
          document.getElementById('assly_no').focus()  ;
        }
        else{
                         
            var asslyno = $("#assly_no").val();
            var Txtpartno = $("#Txtpartno").val();
            var qty = $("#qty").val();

            var data={asslyno,Txtpartno,qty};
              $.ajax({
                type : 'GET',
                url : "{% url 'qtysum2' %}", 
                dataType : 'json',
                data : data,
                success : function(response){                               
                  document.getElementById('PART_NO').value=response[0].part_no; 
                  document.getElementById('P_DESC').value=response[0].p_desc; 
                  document.getElementById('qt').value=response[0].qty; 
                  document.getElementById('EPC').value=response[0].epc; 
                  document.getElementById('PTC').value=response[0].ptc; 
                  document.getElementById('REM').value=response[0].rem;    
              }

                });     

    document.getElementById("Btnclr2").disabled = false;
    }
    
  }

  function abc(){
        window.location.href="{% url 'report1' %}";
}

  </script>
</body>
</html>
{%endblock content%}