{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
     
    
    input[type=submit] {
        width: 20%;
        text-align: center; 
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=submit]:hover {
        background-color: #45a049;
        text-align: center;
    }
    
    input[type=button] {
        width: 20%;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button]:hover {
        background-color: #45a049;
        text-align: center;
  
    }
  </style>
  <body>
  <br><h3 align="center">Roster Table</h3></body></br>
  

  
  <br>
  <form action="{% url 'roster' %}" method="POST"   > 
    {% csrf_token %}
      <div class="container" id ="hide5" style="background-color: lightblue;">
          <table class="table" >
              <tr>
                  <th>
                    <label for="sno"><b>Shop Section NO/शॉप न०</b></label>
                    <select class="form-control" id="shop_sec" name="shop_sec">
                                <option id="op_shop" selected disabled hidden>Select Shop Section</option>
                            
                                
                           
                            {% for role in roles %}
                            <option id="{{role.shop_id}}" value="{{role.section_code}}"  >{{role.section_code}}</option>
                            {% endfor %}
                                                  
                    </select>
                    </th>
                    <th>
                    <label for="from">From</label>
                    <input type="text" id="from" name="from" readonly class="form-control" >
                    </th>
                    <th>
                    <label for="to">To</label>
                    <input type="text" id="to" name="to" readonly class="form-control" >
                  </tr>
                  <tr>
              <th>
                <label for="wk_ord_no"><b>Staff NO:/क्रम सं०</b></label>
                <select class="form-control" id="staffNo" name="staffNo" >
                          <option id="op_staffNo" selected disabled hidden>Select Staff NO</option>
                          
                 </select>
                </th>
                <th>            
                    <label for="br_no"><b>नाम/Name</b></label>  
                    <input type="hidden" class="form-control" id="stafftype" name="stafftype" readonly>
                                     
                    <input type="text" class="form-control" id="staffName" name="staffName" readonly>
              </th>
              <th>
                  <label for="shift"><b>Shift</b></label></br>
                  <select class="form-control" id="shift" name="shift" value="B">
                    <option value="NONE"></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="GD">GD</option>
                    <option value="GN">GN</option>
                  </select>
  
              </th>
              <!-- <th>
                <label for="br_no"><b>पदनाम/Designation</b></label>
                <select class="form-control" id="staffDesg" name="staffDesg" required>
                          <option id="op_staffDesg" selected disabled hidden>Select Designation</option>
                </select>
              </th> -->
               <!-- <td><center><input type="button" name="proceed" value="Add" id="proceed"  onclick="show()"></center></td>   -->

              <th> <input type="button" name="add" value="add" id="add"  style="
                    margin-bottom: 8px;
                    margin-top: 29px;
                    margin-right: 148px;
                    height: 55px;
                    padding-left: 11px;
                    padding-right: 11px;
                    border-left-width: 56px;
                    margin-left: 0px;" onclick="show2();"></button>     
              </th>     
            </tr>
          </table>
          
   
      
      
      </div>
    



<div id="hide1" style="display: none;" >
   <table border="3" align="center" style="text-align:center;width: 80%;"  id="table">
    <thead class="thead-dark">
   
     <tr>
          <td>S.NO</td>
          <td>Staff Number</td>
          <td>Employee Name</td>
          <td>Shift</td>
          <td>Action</td>
      </tr>
    </thead>
  </table>
  <tbody id="table0">

  </tbody>
  </div>
  <div id="hide6">
    <center><input type="button" name="Done" value="Done" id="Done" style="margin-left: 0px;width: 95px;
      padding-left: 15px;
      padding-right: 16px;
      margin-top: 32px;
      margin-bottom: 32px;" onclick="generatetable();show();hide4();"/></center>


  </div>



<div id=table2 style="display: none;">
  <div> <h6 align="left" style="margin-left: 100px;">आई.एस.ओ. - 9002/ I.S.O. - 9002 </h6> </div>
  <div> <h6 align="left" style="margin-left: 100px;">डी० रे० का (वाराणासी )/ D.L.W. (Varanasi)</h6> <h6 align="right" style="margin-right: 100px;">Roster</h6></div><br>
  <center><b><h4>Indian Railways/भारतीय रेल</h4></b></center>

  <center> <b><h4>Diesel Locomotive Works/डीजल रेल इंजन कारखाना</h4></b></center>

  <center><b><h4>Varanasi/वाराणसी</h4></b></center>
  <center><h3 id="para"></h3></center>  
  <tr>
 
  <td><h3 id="startDate1" style="text-align: right;"></h3></td>
  <td><h3 id="enddate1" style="text-align:right;"></h3> </td>

  </tr>
   <br><br><br>
  
  <table border ="2" align="center" style="text-align:center" "width:80%;" id="sno1">
  <tr id="days">
    <td>S.no </td>  
    <td>StaffNumber</td>
    
  </tr>
</table>
  <center><input type="submit" name="save" value="save" id="save" style="margin-right: 1px;
  margin-left: 79px;
  border-right-width: 0px;
  padding-right: 41px;
  height: 52px;
  width: 75px;" ></center>
<input type="text" id="hide2" name="hide2" readonly class="form-control" hidden>
<input type="text" id="hide3" name="hide3" readonly class="form-control" hidden>
</div>
</form>

    <script type="text/javaScript">
        document.querySelector("#shop_sec").addEventListener('change',(e)=>{
                    e.preventDefault();
                    var shop_sec = $('#shop_sec option:selected').attr('id');
 

                    var data = {shop_sec};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'rosterempno' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          console.log(response)


                          var brarr,mystr,html;
                          html=html+'<option  selected disabled hidden>Select Staff NO</option>';
                          
                          for (var i = 0; i < response.length; i++) { 
                            var empno= (response[i].empno).substr((response[i].empno).length - 5)               
                            html = html+'<option type="'+response[i].emp_inctype+'"  id="'+response[i].empname+'" value="'+empno+'" >'+empno+' </option>';
                           
                            }
                            $("#staffNo").html(html)

                         
                        }
                   })
                })
                   
                  document.querySelector("#staffNo").addEventListener('change',(e)=>{
                    e.preventDefault();                                      
               var name = $('#staffNo option:selected').attr('id');
               var stafftype = $('#staffNo option:selected').attr('type');
              // alert(name)  
               $("#staffName").val(name);
               $("#stafftype").val(stafftype);

                    
                })
    

      </script>
      <script src="{% static '/js/materialize.min.js' %}"></script>
      <script src="{% static '/js/date_fns.min.js' %}"></script>


      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
      <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.29.0/date_fns.min.js"></script> -->
      <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet"/> -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <script>
      function show2(){
    document.getElementById('hide1').style.display="block";
    }
    function hide4(){
    document.getElementById('table').style.display="None";
    document.getElementById('hide5').style.display="None";
    document.getElementById('hide6').style.display="None";

    }
  
    var tmparr=[];
      var j=0;       
    $('#add').click(function(e) 
    {   console.log("click");

    
   

        j++;
        //var staff=document.forms["form1"]["staff_no"].value;
        var staffNo=document.getElementById('staffNo').value 
        var staffName=document.getElementById('staffName').value;
        var stafftype=document.getElementById('stafftype').value;
        
        //var staffDesg=document.getElementById('staffDesg').value;
        var shift=document.getElementById('shift').value;
        document.getElementById('staffNo').value="";
        document.getElementById('staffName').value="";
        document.getElementById('shift').value="";
        //document.getElementById('staffDesg').value="";
        var shop_sec=document.getElementById('shop_sec').value;
        document.getElementById('para').innerHTML="SHOP SECTION"+shop_sec;
        var startDate=document.getElementById('from').value;
        var enddate=document.getElementById('to').value;
        document.getElementById('startDate1').innerHTML="StartDate:"+startDate;
        document.getElementById('enddate1').innerHTML="Enddate:"+enddate;
   
        var id="s.no"+String(j);
        // var shift="shift" +String(j);
        var staff_no1="staff" +String(j);
        document.getElementById('hide3').value=j;
        tmparr.push(staffNo);
      for(var k=0;k<=j-1;k++){
      if(staffNo!=tmparr[k-1])
      {
        var htAppend='<tr><td>'+j+'</td><td><input type="text" name="'+staff_no1+'" id="'+staff_no1+'" value="'+staffNo+'" readonly></td><td> <input type="hidden" name="stafftype'+j+'" id="stafftype'+j+'" value="'+stafftype+'" readonly>  <input type="text" name="staffname'+j+'" id="'+j+'" value="'+staffName+'" readonly></td><td>'+shift+'</td>';

        //var htAppend='<tabel id='+id+'  align="center" border="1"><tr><td width=10%><label>'+staffNo+'</label></td><td><label>'+staffName+'</label></td><td><label>'+staffDesg+'</label></td><td><label>'+shift+'</label></td><td><label>'+fromdate+'</td></label><td><label>'+todate+'</td></label>"';
        htAppend=htAppend+'<td><label><a class="delete" Deletedata-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></label></td></tr>';
        
      }
      
      
        else{
          alert('added previously');
          j--
        return;
        //console.log(j);}
      }
      }

//         $(document).on(function(){
//     var $item = $(this).closest("tr").find('td');
//     $.each($item, function(key, value){
//         alert($(value).text());
//     })
// });
        $('#table').append(htAppend);
        $("#"+shift).append("<option value='A'>A</option>");
        $("#"+shift).append("<option value='B'>B</option>");
        $("#"+shift).append("<option value='C'>C</option>");
        $("#"+shift).append("<option value='GD'>GD</option>");
        $("#"+shift).append("<option value='GN'>GN</option>");
        $("#"+shift).append("<option value='LEAVE'>LEAVE</option>");
        $("#"+shift).append("<option value='REST'>REST</option>");
        $("#"+shift).append("<option value='HOliday'>HOLIDAY</option>");
        });
        $(document).on("click", ".delete", function(){
          j--;
          $(this).parents("tr").remove();
        });
        document.getElementById('table').setAttribute("style","color:blue;width:50%");
      
  //  var staff_no1=table.rows[1].cells[1].innerHTML;
  //   console.log(staff_no1);



    
    function show(){
      document.getElementById('table2').style.display="block";

    }
  
   function generatetable(){
    var sdate=document.getElementById('from').value;
    var edate=document.getElementById('to').value; 
    var listDate = [];
    var ssdate=sdate.split("-").reverse().join("-");
    var eedate=edate.split("-").reverse().join("-");
    var startDate =ssdate;
    console.log(startDate);
    var endDate = eedate;
    var dateMove = new Date(startDate);
    var strDate = startDate;


    while (strDate < endDate){
      var strDate = dateMove.toISOString().slice(0,10);
      listDate.push(moment(strDate).format('DD-MM-YYYY'));
      dateMove.setDate(dateMove.getDate()+1);
    };
    var len=listDate.length;
    for(l=0;l<len;l+=1){
    var row=document.getElementById('days');
    var x= row.insertCell(l+2);
    x.innerHTML=listDate[l];
    }
    
  document.getElementById('hide2').value=len;
    for (var k=1;k<=j;k++){
    var table=document.getElementById('table');
    var shift="shift" +String(k);
    var staff_no1=table.rows[k].cells[1].innerHTML;
    var shift_add=table.rows[k].cells[3].innerHTML;
    
    var gentable2=0;
    var gentable='<tr><td>'+k+'</td><td>'+staff_no1+'</td>';
                    for(var a=0;a< len;a++){
                    gentable2+='<td ><input type="text" name="'+k+''+a+'"" value="'+shift_add+'"></td>'
                  }
                  '</tr>';

    
    var gentable=gentable+gentable2;
    $('#sno1').append(gentable);
    }   

    
  

}



</script>
<script src="{% static '/js/moment.min.js' %}"></script>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script> -->


  
<!-- <script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" > 
  </script> 
  
  <script src= 
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" > 
  </script>  -->
 
 <script>
   $(document).ready(function(){
        $('#from').datepicker({dateFormat: 'dd-mm-yy',minDate: 0}); 
        $('#to').datepicker({dateFormat: 'dd-mm-yy',minDate: 0}); 
       
    })

  // $( function() {
  //   var dateFormat = "mm/dd/yy",
  //     from = $( "#from" )
  //       .datepicker({
  //         changeMonth: true,
  //         numberOfMonths: 1,
  //         dateFormat: 'dd-mm-yy', 
  //         minDate: 0
  //       })
  //       .on( "change", function() {
  //         to.datepicker( "option", "minDate", getDate( this ) );
  //       }),
  //     to = $("#to" ).datepicker({ 
  //       changeMonth: true,
  //       numberOfMonths: 1,
  //       dateFormat: 'dd-mm-yy', 
  //       minDate: 0
  //     })
  //     .on( "change", function() {
  //       from.datepicker( "option", "minDate", getDate( this ) );
  //     });
 
  //   function getDate( element ) {
  //     var date;
  //     try {
  //       date = $.datepicker.parseDate( dateFormat, element.value );
  //     } catch( error ) {
  //       date = null;
  //     }
 
  //     return date;
  //   }
  // } );
  

  // $("#to").click(function() {
  // alert("dont select the same date or back date");
  // });


   function printDiv(divId) {
       var printContents = document.getElementById(divId).innerHTML;
       var originalContents = document.body.innerHTML;
       document.body.innerHTML = "<html><head><title></title></head><body>" + printContents + "</body>";
       window.print();
       document.body.innerHTML = originalContents;
   }


</script>
  
      
            
{% endblock content %}
