{% extends 'base.html' %}
{% block content %}
<style>
    .container {
        background-color: #f2f2f2;
        padding: 20px;
        
      }
      table{
          align-self: center;
          width:90%
      }
      input[type=text], select,textarea {
        padding: 5px 10px;
        width: 200px;
      }
</style>
<form action="{% url 'screenforcutdiagramupdation' %}" method="POST">
    {% csrf_token  %}
    <br><br>
    <center><h3 style="color:black;"><b>SCREEN FOR CUT-DIAGRAM UPDATION</b></h3></center>
    <br><br>
    <div class=container>
        <table>
            <tr>
                <td align="center" colspan="4"><h4><b>CUT-DIAGRAM NO DETAILS<br></br></h4></td>
            </tr>

            <tr>
                <td align="right"><br>Cut Dia No : &nbsp;</td><td><input type="text" id="Cut-diano_id" maxlength="8"></td>
                <td align="right">Cut Dia Desc : &nbsp; </td><td><input type="text" id="Cut-diadesc_id"></td>
            </tr>
            <tr>
                <td align="right">Cut Dia PTC : &nbsp;</td><td><input type="text" id="Cut-diaptc_id"></td>
                <td align="right">EPC : &nbsp;</td><td><input type="text" id="epc_id" maxlength="2"></td>
            </tr>
        </table>
    </div>
    <br>
    <div class=container>
        <table>
           <tr>
                <td align="center" colspan="4"><h4><b>END PRODUCT PART DETAIL<br></br></b></h4></td>
            </tr>

            <tr>
                <td align="right">EP Part No : &nbsp;</td><td><input type="text" id="eppartno_id" maxlength="8"></td>
                <td align="right">EP Desc : &nbsp;</td><td><input type="text" id="epdesc_id"></td>
            </tr>
        </table>
    </div>
    <br>
    <div class=container>
        <table>
           <tr>
                <td align="right" colspan="4"><h4><b>RAW MATERIAL PART DETAIL<br></br></b></h4></td>
            </tr>

            <tr>
                <td align="right">RM Part No : &nbsp;</td><td><input type="text" id="rmpartno_id" maxlength="8"></td>
                <td>RM Desc:</td><td><input type="text" id="rmdesc_id" maxlength="18"></td>
            </tr>
            <tr>
                <td align="right"><br>RM PTC : &nbsp;</td><td><input type="text" id="rmptc_id"></td>
                <td>RM Unit : </td><td><input type="text" id="rmunit_id" maxlength="2"></td>
                <td>RM Thick : </td><td><input type="text" id="rmthick_id" placeholder="000.00" onchange="validateRmThick(this)"></td>
            </tr>
            <tr>
                <td align="right"><br>RM Width : &nbsp;</td><td><input type="text" id="rmwidth_id" maxlength="4" onkeypress="return isNumberKey(event)"></td>
                <td>RM Length : </td><td><input type="text" id="rmlength_id" maxlength="4" onkeypress="return isNumberKey(event)"></td>
                <td>RM Spec : </td><td><input type="text" id="rmspec_id" maxlength="15"></td>
            </tr>
        </table>
    </div>
    <br>
    <div class=container>
        <table>
           <tr>
                <td align="center" colspan="4"><h4><b>OTHER DETAILS<br></br></b></h4></td>
            </tr>

            <tr>
                <td>RM Weight : <input type="text" id="rmweight_id" onchange="validateRmWeight(this)" placeholder="000000.000" style="width: 150px;"></td>
                <td>Batch-Size : <input type="text" style="width: 100px;" id="batchsize_id" maxlength="2" onkeypress="return isNumberKey(event)"></td>
                <td>Loco From : <input type="text" style="width: 100px;" value="0000" id="locofr_id" maxlength="4"></td>
                <td>Loco To : <input type="text" style="width: 100px;" value="9999" id="locoto_id" maxlength="4"></td>
            </tr>
        </table>
    </div>
    <br>
    <center>
        <input type=button value="Save" id="save" onclick="SaveDetail()" name="save" class="btn btn-primary">
        <input type=button value="Clear" id="clear" name="clear" class="btn btn-primary" onclick="window.location.reload();">
    </center>
    <br>
    <div id=DivHide style="display: none;">
        <p align="center"><b>Do You Want To Update CutDia : <input type=button value="YES" id="yes_id" onclick="ScreencutupdateYes()" name="yes">
            <input type=button value="NO" id="no_id" name="no" onclick="ScreencutupdateNo()"> </b></p>
    </div>
    <br>
    <div id=DivHide1 style="display: none;">
        <p align="center"><b>Do You Want To Delete CutDia : <input type=button value="YES" id="yes_id1" onclick="ScreencutDeleteYes()" name="yes1">
            <input type=button value="NO" id="no_id1" name="no1" onclick="window.location.reload();"> </b></p>
    </div>
    <br><br>
</form>
<script>
    var count1 = 0;

    document.querySelector("#Cut-diano_id").addEventListener('change',(e)=>{
        e.preventDefault();
       
        
        document.getElementById('Cut-diadesc_id').value=""; 
        document.getElementById('Cut-diaptc_id').value="";
        document.getElementById('epc_id').value="";
        document.getElementById('eppartno_id').value="";
        document.getElementById('epdesc_id').value="";

        document.getElementById('rmpartno_id').value="";
        document.getElementById('rmdesc_id').value="";
        document.getElementById('rmptc_id').value="";
        document.getElementById('rmunit_id').value="";
        document.getElementById('rmthick_id').value="";
        document.getElementById('rmwidth_id').value="";
        document.getElementById('rmlength_id').value="";
        document.getElementById('rmspec_id').value="";

        document.getElementById('rmweight_id').value="";
        document.getElementById('batchsize_id').value="";
        document.getElementById('locofr_id').value="0000";
        document.getElementById('locoto_id').value="9999";  
        var cutno=$('#Cut-diano_id').val();
        var data={cutno};

        $.ajax({
            type : 'GET',
            dataType : 'json',
            url : "{% url 'ScreenCutGetAllDetails' %}",
            data : data,
            success : function(response){
                
               if(response.length==4)
               { 
                document.getElementById('Cut-diadesc_id').value=response[1][0].des; 
                document.getElementById('Cut-diaptc_id').value=response[1][0].ptc;
                document.getElementById('epc_id').value=response[0][0].epc;
                document.getElementById('eppartno_id').value=response[0][0].ep_part;
                document.getElementById('epdesc_id').value=response[2][0].alpha_1;

                document.getElementById('rmpartno_id').value=response[0][0].rm_part;
                document.getElementById('rmdesc_id').value=response[0][0].rm_desc;
                document.getElementById('rmptc_id').value=response[3][0].ptc;
                document.getElementById('rmunit_id').value=response[0][0].rm_unit;
                document.getElementById('rmthick_id').value= parseFloat(response[0][0].thick_rm);
                document.getElementById('rmwidth_id').value=response[0][0].rm_width;
                document.getElementById('rmlength_id').value=response[0][0].rm_len;
                document.getElementById('rmspec_id').value=response[0][0].rm_spec;
                document.getElementById('rmweight_id').value=parseFloat(response[0][0].wt_rm)
                document.getElementById('batchsize_id').value=response[0][0].batch_size;
                document.getElementById('locofr_id').value=response[0][0].l_fr;
                document.getElementById('locoto_id').value=response[0][0].l_to;         
               }
               else
               {
                alert("Please Enter Correct Cut Dia NO");
                document.getElementById('Cut-diano_id').value="";
                
               }
            }
        })

    });
    function SaveDetail(){
        var cutno = $('#Cut-diano_id').val();
        var epc = $('#epc_id').val();
       
       var val= getFields();
        if(val==true)
        {
            var temp={cutdiano:$('#Cut-diano_id').val(),epc:$('#epc_id').val(),eppartno:$('#eppartno_id').val(),
            rmpartno:$('#rmpartno_id').val(),rmdesc:$('#rmdesc_id').val(),rmunit:$('#rmunit_id').val(),
            rmthick:$('#rmthick_id').val(),rmwidth:$('#rmwidth_id').val(),rmlength:$('#rmlength_id').val(),
            rmspec:$('#rmspec_id').val(),rmweight:$('#rmweight_id').val(),batchsize:$('#batchsize_id').val(),
            locofr:$('#locofr_id').val(),locoto:$('#locoto_id').val()};
            var data =temp;
            $.ajax({
                type : 'GET',
                url : "{% url 'ScreenCutDiaSave' %}",
                dataType : 'json',
                data : data,
                success : function(response){
                  if(response.length==1)
                  {
                    $('#DivHide').show();
                  }
                  else{
                  alert("Data Saved Successfully");
                  }
                }
            });
            
        }
    }
    function getFields()
    {   
        var cutdiano=$('#Cut-diano_id').val(); 
        var epc=$('#epc_id').val();
        var eppartno=$('#eppartno_id').val();
        var rmpartno=$('#rmpartno_id').val();
        var rmdesc=$('#rmdesc_id').val();
        var rmunit=$('#rmunit_id').val();
        var rmthick=$('#rmthick_id').val();
        var rmwidth=$('#rmwidth_id').val();
        var rmlength=$('#rmlength_id').val();        
        var rmspec=$('#rmspec_id').val();
        var rmweight=$('#rmweight_id').val();
        var batchsize=$('#batchsize_id').val(); 
        var locofr=$('#locofr_id').val();
        var locoto=$('#locoto_id').val();
        if(cutdiano == "")
        {
            alert("Please Enter The Cut Dia No")
            return false;
        }
        else if(epc == "")
        {
            alert("Please Enter The EPC")
            return false;
        }
        else if(eppartno == "")
        {
            alert("Please Enter The EP Part No")
            return false;
        }
        else if(rmpartno == "")
        {
            alert("Please Enter The RM Part No")
            return false;
        }
        else if(rmdesc == "")
        {
            alert("Please Enter The RM Desc")
            return false;
        }
        else if(rmunit == "")
        {
            alert("Please Enter The RM Unit")
            return false;
        }
        else if(rmthick == "")
        {
            alert("Please Enter The RM Thick")
            return false;
        }
        else if(rmwidth == "")
        {
            alert("Please Enter The RM Width")
            return false;
        }
        else if(rmlength == "")
        {
            alert("Please Enter The RM Length")
            return false;
        }
        else if(rmspec == "")
        {
            alert("Please Enter The RM Spec")
            return false;
        }
        else if(rmweight == "")
        {
            alert("Please Enter The RM Weight ")
            return false;
        }
        else if(batchsize == "")
        {
            alert("Please Enter The Batch-Size")
            return false;
        }
        else if(locofr == "")
        {
            alert("Please Enter The Loco From")
            return false;
        }
        else if(locoto == "")
        {
            alert("Please Enter The Loco To")
            return false;
        }
        else
        {
            return true;
        }   

    }
    document.querySelector("#epc_id").addEventListener('change',(e)=>{
        var epc=$('#epc_id').val();
        var data={epc};
        $.ajax({
            type : 'GET',
            url : "{% url 'ScreenCutDiaValidateEpc' %}",
            dataType : 'json',
            data : data,
            success : function(response){
                if(response.length==0)
                {
                    alert("Please Enter Correct EPC value")
                    document.getElementById('epc_id').value="";
                    document.getElementById('epdesc_id').value="";
                }
                else
                {
                    document.getElementById('epdesc_id').value=response[0].alpha_1;
                }
            }

        })
    });
    document.querySelector("#eppartno_id").addEventListener('change',(e)=>{
        var eppartno = $('#eppartno_id').val();
        var data = {eppartno};
        $.ajax({
            type : 'GET',
            dataType : 'json',
            url : "{% url 'ScreenCutDiaValidateEpPartNo' %}",
            data :data,
            success : function(response)
            {
                if(response.length==0)
                {
                    alert("Please Enter Correct EP Part NO")
                    document.getElementById('eppartno_id').value="";
                }
            }
        })
    });
    document.querySelector("#rmpartno_id").addEventListener('change',(e)=>
    {
        var rmpartno = $('#rmpartno_id').val();
        var data={rmpartno};
        $.ajax({
            type : 'GET',
            dataType : 'json',
            url : "{% url 'ScreenCutDiaValidateRmPartNo' %}",
            data : data,
            success : function(response){
                if(response.length==0)
                {
                    alert("Please Enter Correct RM Part No")
                    document.getElementById('rmpartno_id').value="";
                    document.getElementById('rmptc_id').value="";
                }
                else
                {    
                    document.getElementById('rmptc_id').value=response[0].ptc;
                }
            }
        })
    });
    function ScreencutupdateYes()
    {
        var val= getFields();
        if(val == true)
        {
            var temp={cutdiano:$('#Cut-diano_id').val(),epc:$('#epc_id').val(),eppartno:$('#eppartno_id').val(),
            rmpartno:$('#rmpartno_id').val(),rmdesc:$('#rmdesc_id').val(),rmunit:$('#rmunit_id').val(),
            rmthick:$('#rmthick_id').val(),rmwidth:$('#rmwidth_id').val(),rmlength:$('#rmlength_id').val(),
            rmspec:$('#rmspec_id').val(),rmweight:$('#rmweight_id').val(),batchsize:$('#batchsize_id').val(),
            locofr:$('#locofr_id').val(),locoto:$('#locoto_id').val()};
            var data =temp;
            $.ajax({
                type : 'GET',
                url : "{% url 'ScreenCutDiaUpdateYes' %}",
                dataType : 'json',
                data : data,
                success : function(response){
                    alert("Data Updated Successfully");
                  $('#DivHide').hide();
                }
            });
        }
    }
    function ScreencutupdateNo()
    {
        $('#DivHide').hide();
        $('#DivHide1').show();
    }
    function ScreencutDeleteYes()
    {
        var val= $('#Cut-diano_id').val();
        if(val != "")
        {
        var temp={cutdiano:$('#Cut-diano_id').val()};
        var data =temp;
        $.ajax({
            type : 'GET',
            url : "{% url 'ScreenCutDiaDeleteYes' %}",
            dataType : 'json',
            data : data,
            success : function(response){
              alert("Data Deleted Succesfully");
              window.location.reload();
            }
        });
        }
        else
        {
            alert("PLease Enter Cut Dia No");
            return false;
        }
    }
    function validateRmThick(inputField){
        var isValid= /^\d{0,3}(\.\d{1,2})?$/.test(inputField.value);
        if (!isValid)
        {
            alert("please enter RM Thick in Correct Format");
             document.getElementById('rmthick_id').value="";
        } 
        return isValid;
    }
    function validateRmWeight(inputField){
        var isValid= /^\d{0,6}(\.\d{1,3})?$/.test(inputField.value);
        if (!isValid)
        {
            alert("please enter RM Weight in Correct Format");
            document.getElementById('rmweight_id').value="";
        } 
        return isValid;
    }
    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
</script>

{% endblock content %}