{% extends 'base.html' %} 
{% block content %}
{% load static %}
<!-- <script src= "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js">  </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
<script src="{% static '/js/jquery-ui.js' %}"></script>

<head>
<style>
 .bt1{
    height: 40px;
    padding-right: 25px;
    padding-left: 30px;
    font-size: 18px;
    background-color: green;
 }
/* css for dynamic tableee */

table.scrolldown { 
    width: 56%; 
    border: 2px solid black; 
} 

table.scrolldown tr:hover{background-color:#DCDCDC !important;}

</style>
</head>
<form>
<h4 align="center">ALLOTMENT OF PART NUMBERS FOR SPARES</h4><br>
<div>
<label style="color:red;margin-left: 346px;">**Remark : For updation enter the Spare Part No. and for insertion Name, Descr and Group are mandatory**</label>
<table style="text-align:right;margin-left:312px; width:725px">
<tr>
    <td><label style="font-size:20px;">Spare Part No:</label></td>
    <td><input type="text" id="txtPart_No" name="txtPart_No" ></td>
    <td><label style="font-size:20px;">Name:</label></td>
    <td><input type="text" id="txtName" name="txtName" required></td>
 </tr>
<tr>
 <td><label style="font-size:20px;">Group:</label></td>
 <td><input type="text" id="txtMaj_grp" name="txtMaj_grp" required style="width: 146px;" onchange="groupchanged()"><input type=button id="srch" value="&#128269;" onclick="ImgbtnSrch_Click()"></td>
</tr>
<tr>
   <td><label style="font-size:20px;">Sl No:</label></td>
    <td><input type="text" id="txtSlNo" name="txtSlNo"></td>
    <td><label style="font-size:20px;">Description:</label></td>
    <td><input type="text" id="txtDescr" name="txtDescr" required></td>
</tr>
<tr>
 <td><label style="font-size:20px;">Dimension:<label></td>
 <td><input type="text" id="txtDimension" name="txtDimension"></td>
 <td><label style="font-size:20px;">Unit:</label></td>
 <td><input type="text" id="txtShop_ut" name="txtShop_ut" onchange="unitchanged()" style="width: 146px;"><input type=button id="unt" value="&#128269;" onclick="ImgbtnUnit()"></td>
</tr>
<tr>
 <td><label style="font-size:20px;">Used-MC1:<label></td>
 <td><input type="text" id="txtUsed_mc1" name="txtUsed_mc1" style="width: 146px;"><input type=button id="mc1" value="&#128269;" onclick="ImgBtnMc1_Click()"></td>
 <td><label style="font-size:20px;">Used-MC2:</label></td>
 <td><input type="text" id="txtUsed_mc2" name="txtUsed_mc2" style="width: 146px;"><input type=button id="mc2" value="&#128269;" onclick="ImgBtnMc2_Click()"></td>
</tr>
<tr>
 <td><label style="font-size:20px;">Used-MC3:<label></td>
 <td><input type="text" id="txtUsed_mc3" name="txtUsed_mc3" style="width: 146px;"><input type=button id="mc3" value="&#128269;" onclick="ImgBtnMc3_Click()"></td>
 <td><label style="font-size:20px;">Used-MC-4:</label></td>
 <td><input type="text" id="txtUsed_mc4" name="txtUsed_mc4" style="width: 146px;"><input type=button id="mc4" value="&#128269;" onclick="ImgBtnMc4_Click()"></td>
</tr>
<tr>
 <td><label style="font-size:20px;">General Machine:<label></td>
 <td><input type="text" id="txtUsed_ge_mc" name="txtUsed_ge_mc"></td>
 <td><label style="font-size:20px;">Re-order Qty:</label></td>
 <td><input type="text" id="txtReOrd_qty" name="txtReOrd_qty"></td>
</tr>
<tr></tr><tr></tr><tr></tr>
<tr>
 <td></td>
 <td><button type="button" id="Btncrtjbsdoc" name="Btncrtjbsdoc" class="bt1" onclick="BtnSave_Click()">Save/Allot</button></td>
 <td><button type="button" id="btnClear" name="btnClear" class="bt1" style="padding-left: 50px;padding-right: 58px;" onclick="window.location.reload();">Clear</button></td>
 </tr>
</table>
</div>
<br>
<div style="overflow:scroll;height:120px;width:100%;overflow:auto">
        <table align="center"  id="table1" name="table1" required style="width: 424px;height: 401px;margin-left: 495px;">
                 <tbody>
                 </tbody>
        </table>  
        <table align="center"  id="table2" name="table2" required style="width: 424px;height: 401px;margin-left: 495px;">
            <tbody>
            </tbody>
       </table>  
       <table align="center"  id="table3" name="table3" required style="width: 424px;height: 401px;margin-left: 495px;">
        <tbody>
        </tbody>
       </table>  
       <table align="center"  id="table4" name="table4" required style="width: 424px;height: 401px;margin-left: 495px;">
        <tbody>
       </tbody>
       <table align="center"  id="table5" name="table5" required style="width: 424px;height: 401px;margin-left: 495px;">
        <tbody>
       </tbody>
       <table align="center"  id="table6" name="table6" required style="width: 424px;height: 401px;margin-left: 495px;">
        <tbody>
       </tbody>
   </table>  
</div>
</form>
<script>
    document.querySelector("#txtPart_No").addEventListener('change',(e)=>{
        e.preventDefault();
        var txtPart_No = $("#txtPart_No").val();
        var data = {txtPart_No};
        $.ajax({
            type : 'GET',
            url : "{% url 'txtPart_No_TextChanged' %}",
            dataType : 'json',
            data : data,
            success : function(response){
                if(response[0] == 0)
                {
                    document.getElementById('txtSlNo').value="0";
                }
                else if(response[0] == 1)
                {
                    alert("Part not found in master");
                    document.getElementById("txtPart_No").focus();
                }
                else{
                document.getElementById('txtName').value=response[0].name;
                document.getElementById('txtMaj_grp').value=txtPart_No.substring(1, 3);
                document.getElementById('txtSlNo').value=txtPart_No.substring(3, 6);
                document.getElementById('txtDescr').value=response[0].descr;
                document.getElementById('txtDimension').value=response[0].dimension;
                document.getElementById('txtShop_ut').value=response[0].shop_ut;
                document.getElementById('txtUsed_mc1').value=response[0].used_mc1;
                document.getElementById('txtUsed_mc2').value=response[0].used_mc2;
                document.getElementById('txtUsed_mc3').value=response[0].used_mc3;
                document.getElementById('txtUsed_mc4').value=response[0].used_mc4;
                document.getElementById('txtUsed_ge_mc').value=response[0].used_ge_mc;
                document.getElementById('txtReOrd_qty').value=response[0].reord_qty;
                }
            },
        })
    });
     
    function unitchanged(){
        var txtShop_ut = $("#txtShop_ut").val();
        var data = {txtShop_ut};
        $.ajax({
            type : 'GET',
            url : "{% url 'txtShop_ut_TextChanged' %}",
            dataType : 'json',
            data : data,
            success : function(response){
                if(response[0] == 0)
                {
                    alert("Invalid Unit Code");
                    document.getElementById("txtShop_ut").focus();
                }
            },
        })
    }
  
    function ImgbtnUnit()
    {
        $.ajax({
            type : 'GET',
            url : "{% url 'Unit_List' %}",
            dataType : 'json',
            success : function(response){
                var res2 = response.length;
                document.getElementById("table6").className = 'table table-striped scrolldown';
                for(var i=0;i<res2;i++)
                    {   
                        
                        $('#table6 > tbody:last').append("<tr><td id="+i+">"+response[i].code+"</td><td id="+i+">"+response[i].alpha_1+"</td></tr>"); 
                    }
            },
        })
        var table = document.querySelector('table6');
        table6.addEventListener('click', function(ev){
        var serviceID = ev.target.id;
        var unit=document.getElementById("table6").rows[serviceID].cells[0].innerHTML;
        document.getElementById('txtShop_ut').value=unit; 
        $("#table6").remove(); 
       })
    } 

    function groupchanged(){
        var group = $("#txtMaj_grp").val();
        var data = {group};
        $.ajax({
            type : 'GET',
            url : "{% url 'txtMaj_grp_TextChanged' %}",
            dataType : 'json',
            data : data,
            success : function(response){

                var v1 = parseInt(response[0].slno)+1;
                document.getElementById('txtSlNo').value=v1;
            },
        })
    }

    function ImgbtnSrch_Click()
    {
        $.ajax({
            type : 'GET',
            url : "{% url 'groupvalues' %}",
            dataType : 'json',
            success : function(response){
                var res2 = response.length;
                document.getElementById("table1").className = 'table table-striped scrolldown';
                for(var i=0;i<res2;i++)
                    {   
                        
                        $('#table1 > tbody:last').append("<tr><td id="+i+">"+response[i][0]+"</td><td id="+i+">"+response[i][1]+"</td></tr>"); 
                    }

            },
        })
        var table = document.querySelector('table1');
        table1.addEventListener('click', function(ev){
        var serviceID = ev.target.id;
        var group=document.getElementById("table1").rows[serviceID].cells[0].innerHTML;
        document.getElementById('txtMaj_grp').value=group; 
        $("#table1").remove(); 
        groupchanged();
       })
    }

//now for used-mc1,mc2,mc3,mc4
    function ImgBtnMc1_Click()
    {
        $.ajax({
            type : 'GET',
            url : "{% url 'usedmachine' %}",
            dataType : 'json',
            success : function(response){
                var res2 = response.length;
                document.getElementById("table2").className = 'table table-striped scrolldown';
                for(var i=0;i<res2;i++)
                    {   
                        
                        $('#table2 > tbody:last').append("<tr><td id="+i+">"+response[i][0]+"</td><td id="+i+">"+response[i][1]+"</td></tr>"); 
                    }
            },
        })
        var table = document.querySelector('table2');
        table2.addEventListener('click', function(ev){
        var serviceID = ev.target.id;
        var machine=document.getElementById("table2").rows[serviceID].cells[0].innerHTML;
        document.getElementById('txtUsed_mc1').value=machine; 
        $("#table2").remove(); 
       })
    }

    function ImgBtnMc2_Click()
    {
        $.ajax({
            type : 'GET',
            url : "{% url 'usedmachine' %}",
            dataType : 'json',
            success : function(response){
                var res2 = response.length;
                document.getElementById("table3").className = 'table table-striped scrolldown';
                for(var i=0;i<res2;i++)
                    {   
                        
                        $('#table3 > tbody:last').append("<tr><td id="+i+">"+response[i][0]+"</td><td id="+i+">"+response[i][1]+"</td></tr>"); 
                    }
            },
        })
        var table = document.querySelector('table3');
        table3.addEventListener('click', function(ev){
        var serviceID = ev.target.id;
        var machine=document.getElementById("table3").rows[serviceID].cells[0].innerHTML;
        document.getElementById('txtUsed_mc2').value=machine; 
        $("#table3").remove(); 
       })
    }

    function ImgBtnMc3_Click()
    {
        $.ajax({
            type : 'GET',
            url : "{% url 'usedmachine' %}",
            dataType : 'json',
            success : function(response){
                var res2 = response.length;
                document.getElementById("table4").className = 'table table-striped scrolldown';
                for(var i=0;i<res2;i++)
                    {   
                        
                        $('#table4 > tbody:last').append("<tr><td id="+i+">"+response[i][0]+"</td><td id="+i+">"+response[i][1]+"</td></tr>"); 
                    }
            },
        })
        var table = document.querySelector('table4');
        table4.addEventListener('click', function(ev){
        var serviceID = ev.target.id;
        var machine=document.getElementById("table4").rows[serviceID].cells[0].innerHTML;
        document.getElementById('txtUsed_mc3').value=machine; 
        $("#table4").remove(); 
       })
    }

    function ImgBtnMc4_Click()
    {
        $.ajax({
            type : 'GET',
            url : "{% url 'usedmachine' %}",
            dataType : 'json',
            success : function(response){
                var res2 = response.length;
                document.getElementById("table5").className = 'table table-striped scrolldown';
                for(var i=0;i<res2;i++)
                    {   
                        
                        $('#table5 > tbody:last').append("<tr><td id="+i+">"+response[i][0]+"</td><td id="+i+">"+response[i][1]+"</td></tr>"); 
                    }
            },
        })
        var table = document.querySelector('table5');
        table5.addEventListener('click', function(ev){
        var serviceID = ev.target.id;
        var machine=document.getElementById("table5").rows[serviceID].cells[0].innerHTML;
        document.getElementById('txtUsed_mc4').value=machine; 
        $("#table5").remove(); 
       })
    }

    function BtnSave_Click()
    {
        var txtPart_No = $("#txtPart_No").val();
        var txtName = $("#txtName").val();
        var txtMaj_grp = $("#txtMaj_grp").val();
        var txtSlNo = $("#txtSlNo").val();
        var txtDescr = $("#txtDescr").val();
        var txtDimension = $("#txtDimension").val();
        var txtShop_ut = $("#txtShop_ut").val();
        var txtUsed_mc1 = $("#txtUsed_mc1").val();
        var txtUsed_mc2 = $("#txtUsed_mc2").val();
        var txtUsed_mc3 = $("#txtUsed_mc3").val();
        var txtUsed_mc4 = $("#txtUsed_mc4").val();
        var txtUsed_ge_mc = $("#txtUsed_ge_mc").val();
        var txtReOrd_qty = $("#txtReOrd_qty").val();   
        var data = {txtPart_No,txtName,txtMaj_grp,txtSlNo,txtDescr,txtDimension,txtShop_ut,txtUsed_mc1,txtUsed_mc2,txtUsed_mc3,txtUsed_mc4,txtUsed_ge_mc,txtReOrd_qty};
        $.ajax({
            type : 'GET',
            url : "{% url 'BtnSave_Click' %}",
            dataType : 'json',
            data : data,
            success : function(response){

                if(response[0] == 0)
                {
                    alert("Name must be filled");
                    document.getElementById("txtName").focus();
                }
                if(response[0] == 1)
                {
                    alert("Description must be filled");
                    document.getElementById("txtDescr").focus();
                }
                if(response[0] == 2)
                {
                    alert("Group must be entered");
                    document.getElementById("txtMaj_grp").focus();
                }
                if(response[0] == 3)
                {
                    alert(response[1]+" : Group does not exists");
                    document.getElementById("txtMaj_grp").focus();
                }
                if(response[0] == 4)
                {
                    alert("Part Not Found in Master");
                    document.getElementById("txtPart_No").focus();
                }
                if(response[0] == 5)
                {
                    alert("Modifying Existing Record");
                    alert("Record updated.")
                    location.reload();
                }
                if(response[0] == 6)
                {
                    var n = response[1];
                    var abc=txtMaj_grp+n;
                    alert("New Part No Alloted is: S"+abc+"0");
                    alert("Record Alloted.")
                    location.reload();
                }
            },
        })
    } 
</script>
{% endblock content %}
