{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- 
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>  
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->


<style>
    input[type=submit] {     
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 10px 16px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 0px !important;
}
</style>
<br>
<form action="{% url 'tool_reportedit' %}" method="POST"> 
{% csrf_token %}
<h3 align="center" style="color:red;" ><b>SELECT RECORD TO EDIT<b></h3>
<div class="container">
    <table id = "example" class ="table table-striped table-bordered">     
        <thead style="background-color:ghostwhite; font-size:12px;">
          <th>TOOL NO</th>
          <th>PL No</th>
          <th>DG NO</th>
          <th>TOOL DESCRIPTION</th>
          <th>LOCATION</th>
          <th>SHOP DESCRIPTION</th>
          <th>DATE-OF-ENTRY</th>
          <th hidden>po_no</th>
          <th hidden>make</th>
          <th hidden>model</th>
          <th hidden>cost</th>
          <th hidden>rangee</th>
          <th hidden>uom</th>
          <th hidden>cal_freq</th>
          <th hidden>acc_cri</th>
          <th hidden>cali_link</th>
          <th hidden>pro_tol</th>
          <th hidden>perror</th>
          <th hidden>merror</th>
          <th hidden>rsn</th>
          <th>flag</th>
          <th hidden>win</th>
          <th hidden>lastupddate</th>

        </thead>
        <tbody  style="font-size:11px; font-weight: 610;">
            {% for i in tool %}
            <tr>
                <td>{{i.TOOL_NUM}}</td>
                <td>{{i.dg_num}}</td>
                <td>{{i.tl_desc}}</td>
                <td>{{i.pl_num}}</td>
                <td>{{i.sh_locn}}</td>
                <td>{{i.tr_shopdesc}}</td>
                <td>{{i.doe}}</td>
                <td hidden>{{i.po_no}}</td>
                <td hidden>{{i.make}}</td>
                <td hidden>{{i.model}}</td>
                <td hidden>{{i.cost}}</td>
                <td hidden>{{i.rangee}}</td>
                <td hidden>{{i.uom}}</td>
                <td hidden>{{i.cal_freq}}</td>
                <td hidden>{{i.acc_cri}}</td>
                <td hidden>{{i.cal_link}}</td>
                <td hidden>{{i.pro_tol}}</td>
                <td hidden>{{i.perror}}</td>
                <td hidden>{{i.merror}}</td>
                <td hidden>{{i.rsn}}</td>
                <td>{{i.flag}}</td>
                <td hidden>{{i.win}}</td>
                <td hidden>{{i.lastupddate}}</td>

            </tr>
           
            {% endfor %}
        </tbody>
        
    </table>
</div>
<input type="submit" name="SubmitMultipleRowData" id="SubmitMultipleRowData" value="Submit" hidden/>&nbsp;
<input type="hidden" name="dataForm" id="dataForm" />
</form>
<script>
    $(document).ready(function() {   
        var table = $('#example').DataTable();      
            $('#example tbody').on('click', 'tr', function () {
                var data = table.row( this ).data();  
                // alert(data)                    
                    if($(this).hasClass('selected')) {
                       $(this).removeClass('selected');
                       if(confirm('Are you sure want to go for this selected row.'))
                        {
                            document.getElementById('dataForm').value=data;
                            document.querySelector("#SubmitMultipleRowData").click(); 
                        }  
                    }
                    else {
                        table.$('tr.selected').removeClass('selected');
                        $(this).addClass('selected');
                    }            
                $('#SubmitMultipleRowData').click( function () {
                    table.row('.selected').remove().draw( false );
                });                                       
            });
        });
                  
    </script>
{% endblock%}