{% extends 'base.html' %} {% block content %} {% load static %}
<style>

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #808080;
    color: white;
}
input[type=submit] {
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    input[type=button] {
        text-align: center;
        background-color: #4CAF50;
        color: white;
        padding: 6px 6px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .modal-dialog {
    max-width:700px;
    margin: 1.75rem auto;
}
.table td, .table th {
    padding: .2rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
}
.modal-body {
  height: 100vh;
  font-size: 14px;
    overflow-y: scroll;
}.modal-header{
  padding-top: 5px;
    padding-bottom: 5px;
}
.modal-dialog {
    max-width:700px;
    margin: 1.75rem auto;
    top: -25px;
}
</style>
<form action="." method="POST">{%csrf_token%}
<br>
<center><h2>EXAM DETAILS</h2></center>
<center>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <font size="3">
                  <li>
                     <b>{{ message }}<b>
                  </li>
              </font>
              {% endfor %}
          </ul>
          {% endif %}
   </form>
<br>
 
<table id="" class="table table-responsive">
<tr>
<th>Sno.</th> <th>Pramedak no.</th><th>Updated Date</th><th>Joining Date</th><th>Shop/ Section</th><th>Name</th><th>Staff No.</th><th>Skill</th>
<th>Exam Code</th><th>Exam Date</th><th>Practical Description</th> <th>Practical Exam Score</th><th>Oral Description </th><th>Oral Exam Score</th><th>Total Score</th><th>Result</th>
<th>Place of Exam</th><th>Section Superi.</th><th>Trade Test Officer</th><th>Foreman</th><th>Trade Test Admin</th><th>Attachment</th><th>Action</th>

</tr>
<!-- {% for i in obj %}
<tr>
<td><input type="text" name="updt_date{{forloop.counter}}" class="form-control ll" value="{{i.updt_date}}" readonly /></td>
<td><input type="text" name="shop_sec{{forloop.counter}}" class="form-control ll" value="{{i.shop_sec}}" required /></td>
<td><input type="text" name="name{{forloop.counter}}" class="datepick" value="{{i.name}}" readonly required /></td>
<td><input type="text" name="staff_no{{forloop.counter}}" class="form-control ll" value="{{i.staff_no}}" required /></td>
<td><input type="text" name="skill{{forloop.counter}}" class="form-control ll" value="{{i.skill}}" required /></td>
<td><input type="text" name="exam_code{{forloop.counter}}" class="form-control ll" value="{{i.exam_code}}" required /></td>
<td><input type="text" name="exam_date{{forloop.counter}}" class="form-control ll" value="{{i.exam_date}}" required /></td>
<td><input type="text" name="trade_test_admin{{forloop.counter}}" class="form-control ll" value="{{i.prac_desc}}" required /></td>
<td><input type="text" name="prac_score{{forloop.counter}}" class="form-control ll" value="{{i.prac_score}}" required /></td>
<td><input type="text" name="oral_score{{forloop.counter}}" class="form-control ll" value="{{i.oral_desc}}" required /></td>
<td><input type="text" name="oral_score{{forloop.counter}}" class="form-control ll" value="{{i.oral_score}}" required /></td>
<td><input type="text" name="total_marks{{forloop.counter}}" class="form-control ll" value="{{i.total_marks}}" required /></td>
<td><input type="text" name="result{{forloop.counter}}" class="form-control ll" value="{{i.result}}" required /></td>
<td><input type="text" name="place_of_exam{{forloop.counter}}" class="form-control ll" value="{{i.place_of_exam}}" required /></td>
<td><input type="text" name="sec_sup{{forloop.counter}}" class="form-control ll" value="{{i.sec_sup}}" required /></td>
<td><input type="text" name="trade_test_officer{{forloop.counter}}" class="form-control ll" value="{{i.trade_test_officer}}" required /></td>
<td><input type="text" name="foreman{{forloop.counter}}" class="form-control ll" value="{{i.foreman}}" required /></td>
<td><input type="text" name="trade_test_admin{{forloop.counter}}" class="form-control ll" value="{{i.trade_test_admin}}" required /></td>
<td><input type="text" name="trade_test_admin{{forloop.counter}}" class="form-control ll" value="{{i.attachment}}" required /></td>
<td><a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></td>
</tr>
{% endfor %} -->
{% for i in obj %}
<tr>
<td> {{i.exam_sno}} </td>
<td> {{i.pramedak_no}} </td>
<td> {{i.updt_date}} </td>
<td> {{i.join_date}} </td>
<td> {{i.shop_sec}}</td>
<td> {{i.name}} </td>
<td> {{i.staff_no}} </td>
<td> {{i.skill}} </td>
<td> {{i.exam_code}} </td>
<td> {{i.exam_date}} </td>
<td> {{i.prac_desc}} </td>
<td> {{i.prac_score}} </td>
<td> {{i.oral_desc}} </td>
<td> {{i.oral_score}} </td>
<td> {{i.total_marks}} </td>
<td> {{i.result}} </td>
<td> {{i.place_of_exam}} </td>
<td> {{i.sec_sup}} </td>
<td> {{i.trade_test_officer}} </td>
<td> {{i.foreman}} </td>
<td> {{i.trade_test_admin}} </td>
<td> <a href="/media/{{i.attachment}}" download="attachmentfile" target="_blank" >Download Link</a>
</td>
 <!-- <td> <a  href="#" target="_blank"  data-toggle="modal" data-target="#exampleModal"> view</a></td>   -->
  <td>  
    
  
   
       <a href="#"  onclick="getdata('{{i.staff_no}}')"> view</a></td> 
</tr>
{% endfor %}
 
</table>
<br>
<!-- <center><input type="button" name="btn" value="Add exam detail" id="add" class="form-control ll" style="width:150px;" required /></center> -->
<br>
<input type="text" name="total" id="total" value="" hidden/>
<input type="hidden" name="totindb" value={{totindb}} id="totindb">
<input type="hidden" name="length" value={{leng}} id="length">
<div id="items"></div>
<br>
<!-- <center><input type="submit" name="btn" value="Save" class="form-control ll" required style="width:80px;"/></center> -->

 
<!-- Modal -->


<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">     
          <button type="button" class="btn btn-primary" onclick="createPDF()">Print</button>
           <button type="button" class="close" onclick="popclose()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id='printdata'>
  
            <div class="row text-left">                
              <div class="col-md-12 text-center"><h5  >Diesel Rail Locomotive - MG33</h5> </div>
              <div class="col-md-12 text-center"><h6  >Trade exam circle - Trade Test</h6> </div>
              <div class="col-md-3">S.No.</div> <div class="col-md-3"><span id="examsno">-----</span></div> <div class="col-md-3">  Staff.No.</div>  <div class="col-md-3"><span id="staffno">-----</span> </div>
           
           <div class="col-md-3">Joning Date.</div>  <div class="col-md-3"> <span id="joindate">-----</span> </div> <div class="col-md-3">   Place</div> <div class="col-md-3"><span class="exmplace">-----</span></div>
           <div class="col-md-3"> Designation</div> <div class="col-md-3"> <span id="designation">-----</span> </div> <div class="col-md-3">  Exam Place</div> <div class="col-md-3"><span class="exmplace">-----</span></div>
           <div class="col-md-3"> Exam Date</div> <div class="col-md-3"> <span id="examdate">-----</span> </div> <div class="col-md-3">   Department</div> <div class="col-md-3"><span id="department">-----</span></div>
          <div class="col-md-3"> Examinar  name</div>  <div class="col-md-3">  <span id="examname">-----</span> </div> <div class="col-md-3">   Skill.</div> <div class="col-md-3"><span id="skill">-----</span> </div>
           <div class="col-md-3"> Exam code</div>  <div class="col-md-3">  <span id="examcode">-----</span> </div> <div class="col-md-3">   Pramedak No.</div> <div class="col-md-3"><span id="pramedak_no">-----</span> </div>
           <div class="col-md-3"> Trade test Officer</div>  <div class="col-md-3">  <span class="examofficer">-----</span></div> <div class="col-md-3">    Desination </div> <div class="col-md-3"> <span class="examofficerdes">-----</span></div>
            <div class="col-md-3"> Subordinate Supervisor</div>  <div class="col-md-3">  <span id="secsupname">-----</span></div> <div class="col-md-3">    Desination </div> <div class="col-md-3"><span id="secsupnamedes">-----</span></div>
        
            </div>
             
          <br>
        <div class="row">
        <div class="col-md-12">
            <table class="table table-border">
         <tr>  
           <td colspan="2"> Practical exam ka mark no 60 (Pass mark 40)</td>      <td colspan="2"> oral exam ka mark no 40 (Pass mark 15)</td>             
                </tr>
                <tr> <td>Practical exam details   </td> <td> Mark</td><td> Oral exam details   </td> <td>Mark</td></tr>
                <tr> <td><span id="practicaldesc">-----</span>   </td> <td><span id="practicalmart">-----</span></td><td  > <span id="oraldesc">-----</span>  </td> <td  >  <span id="oralmark">-----</span> </td></tr>
                        
                <tr> <td>Total marks </td> <td><span id="practicalmarttotal">-----</span></td><td></td><td>   <span id="oralmarttotal">-----</span></td></tr>
               
                <tr> <td>Result </td> <td colspan="3" style="text-align: right;">   <span id="result">-----</span></td></tr>
               
            </table>
        </div>
         
      </div>
        
      <div class="row">
        <div class="col-md-6 text-left">
          <p style="margin-bottom: 0px;"><b> Signature of foreman or inspector .
          </b></p>
           <p style="margin-bottom: 0px;"><span id="foreman"></span></p>
            <p style="margin-bottom: 0px;"> <span id="foremandes"></span>
              </p> 
             </div>  
                <div class="col-md-6 text-right">
                  <p style="margin-bottom: 0px;"><b> Signature of Chairman Trade Officer</b> </p>
                   <p style="margin-bottom: 0px;"> <span class="examofficer"></span></p>
                    <p style="margin-bottom: 0px;">  <span class="examofficerdes"></span>
                      </p>  
                       </div>             
             
      </div>
             
      <div class="row">
         
        <div class="col-md-12 text-center">  Trade exam heroine's comment passed / failed</div>  
         
          <div class="col-md-6 text-left">  
            Date <span id="todaydate">-------</span> </div>             
             
                <div class="col-md-6 text-right"> 
                   <p style="margin-bottom: 0px;"><b>Signature of the chairman crafts exam heroine</b> </p>
                   <p style="margin-bottom: 0px;"> <span id="adminname"></span></p>
                   <p style="margin-bottom: 0px;"> <span id="adminnamedes"></span>
                      </p>
                       
                   </div>
                  </div>
                   <div class="row">
                  <div class="col-md-12 text-center">
                  Note:This form should be placed in the employee's service record after appropriate Indira and eventually in his personal file
                   
                  
                  </div>

            
                
               
                
        </div>
         
      </div>

        </div>
        <div class="modal-footer">          
          <button type="button" class="btn btn-primary" onclick="createPDF()">Print</button>
        </div>
      </div>
    </div>
  </div>

  

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- 
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>  
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>  -->

   <script type="text/javascript">
 $(document).ready(function(){   
  
   
});
 
 
function popclose(){
  $('.modal').css("display", "none");
}

            
 function getdata(val_id){  
  let current_datetime = new Date()
      let formatted_date = current_datetime.getDate() + "-" + (current_datetime.getMonth() + 1) + "-" + current_datetime.getFullYear()
      
               // alert(val_id);
                var id=val_id
                 var data = {id};
                  $.ajax({
                      type : 'GET',
                      url : "{% url 'mg33getexamdata' %}",
                      dataType : 'json',
                      data : data,
                      success : function(response){
                        console.log(response);
                         //alert(response.data.staff_no)
                          $('#examsno').text(response.data.sno);                          
                          $('#staffno').text(response.data.staff_no);
                          $('#joindate').text(response.data.join_date);
                          $('.exmplace').text(response.data.place_of_exam);
                          $('#examdate').text((response.data.exam_date));
                          $('#department').text(response.data.department);
                          $('#examname').text(response.data.name);
                          $('#skill').text(response.data.skill);
                          $('#examcode').text(response.data.exam_code);
                          $('#pramedaksno').text();
                          $('.examofficer').text(response.data.officer_name);  
                          $('.examofficerdes').text(response.data.officer_design);  
                          $('#secsupname').text(response.data.sec_sup_name);
                          $('#secsupnamedes').text(response.data.sec_sup_design);
                          $('#foreman').text(response.data.foreman_name);   
                          $('#foremandes').text(response.data.foreman_design);                 
                          $('#adminname').text(response.data.admin_name);  
                          $('#adminnamedes').text(response.data.admin_design);  
                          $('#practicaldesc').text(response.data.prac_desc);                          
                          $('#practicalmart').text(response.data.prac_score);
                          $('#oraldesc').text(response.data.oral_desc);
                          $('#oralmark').text(response.data.oral_score);
                          $('#practicalmarttotal').text(response.data.prac_score);
                          $('#oralmarttotal').text(response.data.oral_score);
                          $('#result').text(response.data.result);
                          $('#todaydate').text(formatted_date);
                          $('#designation').text(response.data.designation);
                          $('#pramedak_no').text(response.data.pramedak_no); 
                      }
                        })
                       
                         
              $('.modal').css("display", "block");
       }
 
   var form = $('#printdata'),  
         cache_width = form.width(), 
         a4 = [595.28, 841.89]; 
  //create pdf  
  function createPDF() {  
    $('modal-body').scrollTop(0)
          // for a4 size paper width and height   
            getCanvas().then(function (canvas) {  
                var  
                 img = canvas.toDataURL("image/png"),  
                 doc = new jsPDF({  
                     unit: 'px',  
                     format: 'a4'  
                 });  
                doc.addImage(img, 'JPEG', 20, 20);  
                doc.save('Mg33exam.pdf');  
                //form.width(cache_width);  
            });  
        }  
  
        // create canvas object  
        function getCanvas() {  
            //form.width((a4[0] * 1.33333) - 80).css('max-width', 'none');  
            return html2canvas(form, {  
                imageTimeout: 2000,  
                removeContainer: true  
            });  
        } 


 

function printDiv1() {
      var printContents = document.getElementById("printdata").innerHTML; 
        var style = "<style>";
         style = style + "table {width: 100%;font: 17px Calibri;}";
         style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
         style = style + "padding: 2px 3px;text-align: left;}";
         style = style + "</style>";
       var win = window.open('', '', 'height=500,width=500');
 
         win.document.write('<html><head>');
 
         win.document.write('<title>Trade Test - DLW</title>');
         win.document.write(style);
         win.document.write('</head>');
         win.document.write('<body>');
         win.document.write('<h3 style="text-align: center;">डीजल रेल इंजन कारखाना  - MG33</h5>');
         win.document.write('<h5 style="text-align: center;" class="text-center">शिल्प परीक्षा वृत - Trade Test</h5>');

         win.document.write(printContents);
         win.document.write('</body></html>');
 
         win.print();
         win.close();
 
 
 }
</script>

{% endblock content %}