{% extends 'base.html' %}

{% block content %}
{% LOAD STATIC %}
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
 -->

<style>
    
     
    label {
        font-size: 18px;
    }
     
    
</style>
<br>
<br>
<center>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <font size="3">
                <li>
                    {{message}}
                </li>
            </font>
            {% endfor %}
        </ul>
        {% endif %}
    </center>

<h2 align="center" >ACCIDENT REPORT MG 21</h2>
<br>
<form action="{% url 'mg21report' %}" method="POST"> {% csrf_token %}
    <div class="container">
        <table class="table">
                <tr>
                        
                        <td>
                            <label for="sno" id="sno"><b>REPORT NUMBER :</b></label>
                            <select class="form-control" id="reportNumber" name="reportNumber" required>
                            <option id="reportno" selected disabled hidden>Select Report Number</option>
                        {% if lenm == 1 %}
                            <option selected readonly>{% for role in obj %}{{role.reportno}}{% endfor %}</option>
                            
                        {% endif %}
                        {% if lenm > 1 %}
                        {% for role in obj %}
                        
                            <option>{{role.reportno}}</option>
                        {% endfor %}    
                        {% endif %}
                            </select>
                        </td>
                        
                       
                </tr>
                
        </table>
        
        <input type="submit" class="btn btn-success" {% if usermaster.op_read %}{% else %} disabled {% endif%}  value="Proceed" name="Proceed" id="Proceed" class="abc"> 
        <input type="submit" value="Back" class="btn btn-success" name="Back" id="Back" class="def" href="mg21report.html"> 
        
    
</div> 
<div id="printdata" style="align:center; display:none">
    <table align="center" id = "table" colspan=100>
       
        <tbody>
            {% for i in obj %}
            <tr>
                <td>
                    <label for="sse"><b>To The/
                        सेवा में </b></label>
                </td>
                <td><input type="text" style="border-style : hidden;font-size:20px" name="sse" id="sse" value="{{i.sse}}"readonly></td>  
                <td>
                    <label for="sse"><b>मेरी दुर्घटना रिपोर्ट संख्या / In continuation of my Accident Report No. 
                         </b></label><br><br>
                </td> 
                <td><input type="text" style="border-style : hidden;font-size:20px" name="reportno" id="reportno" value="{{i.reportno}}"readonly></td><br><br>
            </tr>
            <tr>
                <td>
                    <label for="sse"><b>
                        दिनांक / of date
                         </b></label><br><br>
                </td> 
                <td><input type="text" style="border-style : hidden;font-size:20px" name="reportdate" id="reportdate" value="{{i.reportdate}}"readonly></td><br><br>
                <td>
                    <label for="sse"><b>
                        के क्रम में कृपया नोट करें की / please note that
                         </b></label></br></br>
                </td>
                <td><input type="text" style="border-style : hidden;font-size:20px" name="staffName" id="staffName" value="{{i.staffName}}"readonly></td>
            </tr>
            <tr>
                <td>
                    <label for="sse"><b>
                        दिनांक / on date
                         </b></label></br></br>
                </td>
                <td><input type="text" style="border-style : hidden;font-size:20px" name="resumedate" id="resumedate" value="{{i.resumedate}}"readonly></td>
                <td>
                    <label for="sse"><b>
                        को ड्यूटी पर वापिस नहीं आ पाए हैं| / have not resumed duty.
                         </b></label></br></br>
                </td>
            </tr>
            
            <tr>
                <td>
                    </br></br>
                
                </td>
                    <td>
                    </br></br>
                
                </td>
                <td>
                <label style="text-align:right;" for="sse"><b>शाप अधीक्षक/Shop Superintendent
                        </b></label>
                </td>

                <td><input type="text" style="border-style : hidden;font-size:20px" name="sse" id="sse" value="{{i.sse}}"readonly></td>
            </tr>
            <tr>
                <td>
                    <label for="sse"><b>
                        दिनांक/Date
                         </b></label></br></br>
                </td>
                <td><input type="text" style="border-style : hidden;font-size:20px" name="current_date" id="current_date" onblur="HideBorder()" value="{{i.current_date}}"readonly></td></br></br></br></br>
            
                <td>
                    <label for="sse"><b>
                        शाप/Shop Section 
                         </b></label>
                </td>

              <td><input type="text" style="border-style : hidden;font-size:20px" name="shop_sec" id="shop_sec" value="{{i.shop_sec}}" readonly></td>
              
              <input type="hidden" name="a" id="a" value="{{a}}" readonly>
              </tr>
              
              
              

            
            {% endfor %}
        </tbody>
        
    </table> 
    
</div>


<center>  
    
<input type="hidden" name="a" id="a" value="{{a}}" />  
<input type="submit" onclick="printDiv1()" class="btn btn-success" {% if usermaster.op_read %}{% else %} disabled {% endif%} value="print" name="print" id="print" class="pri" /> 
                    

</center> 

</form> 
<script>
window.onload=function(){
    
    if(document.getElementById('a').value==1){
        $('#printdata').show();
        $('#print').show();
        $('#sno').hide();
        $('#reportno').hide();
        $('#reportNumber').hide();
    }
    else{
        $("#printdata").hide();
        $('#print').hide();
        $('#sno').show();
        $('#reportno').show();
        $('#reportNumber').show();
    }
    
}


        
    
</script>

    
<script>
document.querySelector("#reportno").addEventListener('change',(e)=>{
                     e.preventDefault();
                     var reportno = $("#reportno").val();
                       $.ajax({
                         type : 'GET',
                         url : "{% url 'mg21getreportno' %}",
                         dataType : 'json',
                         data : data,
                         success : function(response){
                           var elementsadded = document.querySelectorAll(".newelepart1");
                               if(elementsadded.length>0){
                                   var elementsaddedarr = Array.from(elementsadded);
                                   elementsaddedarr.forEach((el)=> el.remove());       
                                    document.querySelector("#op_date2").selected=true; 
                                }
                               var brarr,mystr,html;
                               brarr = response.map((el)=>el.reportno); 
                               mystr = "";
                               brarr.forEach((el,index)=>{
                                 html = `<option class="newelepart1">${brarr[index]}</option>`
                                 mystr = html.concat(mystr);
                               });
                               html = "";
                               document.querySelector("#reportno").insertAdjacentHTML('beforeend',mystr);
                               mystr=""; 
                         }
                    })
                 })




function printDiv1() {
       window.print();
}
</script>    



{% endblock content %}