{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
<script>
    $(document).ready(function () {
        $('#date').datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: "0",
        });
    });
</script>
<script>
$(document).ready(function () {
        $('#editdate').datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: "0",
        });
    });
</script>
<script>
    $(document).ready(function () {
            $('#in_qty').datepicker({
                dateFormat: 'dd-mm-yy',
                maxDate: "0",
            });
        });
    </script> 
    <script>
    $(document).ready(function () {
            $('#out_qty').datepicker({
                dateFormat: 'dd-mm-yy',
                maxDate: "0",
            });
        });
    </script>
    <script>
            $(document).ready(function () {
                    $('#editin_qty').datepicker({
                        dateFormat: 'dd-mm-yy',
                        maxDate: "0",
                    });
                });
            </script> 
            <script>
            $(document).ready(function () {
                    $('#editout_qty').datepicker({
                        dateFormat: 'dd-mm-yy',
                        maxDate: "0",
                    });
                });
            </script>
<script>
    $(document).ready(function () {
        $('#datewhl').datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: "0",
        });
    });
</script> 
        <script>
            $(document).ready(function () {
                $('#ustwhl_date').datepicker({
                    dateFormat: 'dd-mm-yy',
                    maxDate: "0",
                });
            });
        </script>
        <script>
            $(document).ready(function () {
                $('#dispatch_date').datepicker({
                    dateFormat: 'dd-mm-yy',
                    maxDate: "0",
                });
            });
        </script>
    <script>
        $(document).ready(function () {
          var drpdwn = $("#addsno");
          drpdwn.append(
            $(`{% for x in mysno1 %}<option>{{x.wheel_no}}</option>{% endfor %}`)
          );
        });
      </script>
            </head>
   
    <style>
        #customers {
            font-family: 'Quicksand', sans-serif;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        
        #customers td,
        #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }
    
    </style>
<style>
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    height:100%;
    margin:0;
}
html{
    height:100%;
    margin:0;
}
.page-content{
    min-height:100%;
    margin-bottom:-40px;
}
.page-content::after{
    content:"";
    display:block;
}
footer, .page-content::after{
    height:40px;
}
.content_section{
    width:60%;
}
</style>
      <form action="." id="myForm" method="POST" novalidate>{% csrf_token %}

        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <ul class="navbar nav" style="width:60%">
                <font size="4pt" color="#FFFFFF">WheelMachining</font>
            </ul>
    
            <div class="collapse navbar-collapse" id="collapse_target">
                <ul class="navbar nav" style="width:100%;">
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal3" style="background: none;font-size: 12pt;margin-Top:2%;margin-left: 2% ">
                                <font color="white">Delete</font>
                         </button>
                    </li>
                    
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inspectmodal" style="background: none;font-size: 12pt;margin-Top:2%;margin-left: 2% ">
                                <font color="white">Inspect</font>
                         </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1" style="background: none;font-size: 12pt;margin-Top:2%;margin-left: 2% ">
                                <font color="white">EditRecord</font>
                         </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="background: none;font-size: 12pt;margin-Top:2%;margin-left: 2% ">
                                <font color="white">AddRecord</font>
                         </button>
                    </li>
                </ul>
            </div>
        </nav>


<table id="customers">
    <tbody>
        <tr>
                <center>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <font size="3">
                                <li>
                                   <h4>{{ message }}</h4>
                                </li>
                            </font>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </center>
        </tr>
        <tr>
        <th>Serial No.</th>
        <th>Batch Order No.</th>
        <th>Part No. &nbsp;</th>
        <th>Batch Qty &nbsp;</th>
        <th>Batch Order Date &nbsp;</th>
        <th>Loco Type </th>
        <th>Date &nbsp;</th>
        <th>Wheel No. </th>
        <th>Wheel Part No. </th>
        <th>Wheel Make &nbsp; </th>
        <th>Wheel Heat Cast No.</th>
        <th>Machine In Date &nbsp; </th>
        <th>Machine Out Date &nbsp; </th>
        <th>Inspection Status</th>
        <th>Inspection Date </th>
        </tr>
        {% for objec in object %}
        <tr>
        <td>{{objec.sno}} <br><br></td>
        <td>{{objec.bo_no}} <br><br></td>
        <td>{{objec.pt_no}} <br><br></td>
        <td>{{objec.bo_qty}} <br><br></td>
        <td>{{objec.bo_date}} <br><br></td>
        <td>{{objec.loco_type}} <br><br></td>
        <td>{{objec.date}} <br><br></td>
        <td>{{objec.wheel_no}} <br><br></td>
        <td>{{objec.wheelp_no}} <br><br></td>
        <td>{{objec.wheel_make}} <br><br></td>
        <td>{{objec.wheel_heatcaseno}} <br><br></td>
        <td>{{objec.in_qty}} <br><br></td>
        <td>{{objec.out_qty}} <br><br></td>
        <td>{{objec.dispatch_to}} <br><br></td>
        <td>{{objec.datewhl}} <br><br></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<input type="hidden" name="once" id="once" value="0">


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Wheel Machining</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" class="needs-validation" > {% csrf_token %}
      <div class="modal-body">       
                            <div class="row">
                                <div class="col-6">
                                    <label for="">Batch Order No.</label>
                                    <select name="bo_no" id="addbono" class="form-control ll" required>
                                            <option value="" hidden selected>Select BO No.</option>  
                                            {% for x in mybo %}
                                            <option>{{x.bo_no}}</option>
                                            {% endfor %}
                                    </select> 
                                        </div>
                                        <div class="col-6">
                                                <h6><label for="">Batch Order Date</label></h6>
                                                <input type="text" class="form-control" name="bo_date" id="bo_date" required readonly>
                                        </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label>Part No.</label>
                                                <input type="text" class="form-control" name="pt_no" id="pt_no" required readonly>
                                                </div>
                                    <div class="col-6">
                                        <label>Batch Qty</label>
                                        <input type="text" class="form-control" name="bo_qty" id="bo_qty" required readonly>
                                    </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <h6><label for="">Loco Type</label></h6>
                                                <input type="text" class="form-control" name="loco_type" id="loco_type" required readonly>
                                            </div>
                                            <div class="col-6">
                                                    <label for="">Date(Manually)</label>
                                                    <input type="text" name="date" id="date" class="form-control" placeholder="dd-mm-yyyy" required readonly>
                                            </div>
                                   </div>
                                    
                                    <div class="row">   
                                    <div class="col-6">
                                            <label for="">Wheel No.</label>
                                            <input type="text" class="form-control" name="wheel_no" id="wheel_no" maxlength="10" required>
                                        </div> 
                                        <div class="col-6">
                                            <label for="">Wheel Part No.</label>
                                            <input type="text" class="form-control" name="wheelp_no" id="wheelp_no" maxlength="8" required >
                                        </div>   
                                </div>

                                <div class="row"> 
                                    
                                    <div class="col-6">
                                        <label for="">Wheel Make</label>
                                        <select name="wheel_make" id="wheel_make" class="form-control ll" required >
                                          <option value="" hidden selected>Select Wheel Make.</option>
                                            <option>DSP</option>
                                            <option>DP</option>
                                            <option>TZ</option>
                                            <option>BI</option>
                                            <option>MC</option>
                                        </select>
                                </div>
                                <div class="col-6">
                                    <label for="">Wheel HeatCast No.</label>
                                    <input type="text" class="form-control" name="wheel_heatcaseno" id="wheel_heatcaseno" maxlength="25" required>
                                </div>     
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="">Machine In Date</label>
                                        <input type="text" class="form-control" name="in_qty" id="in_qty" placeholder="dd-mm-yyyy" readonly>
                                    </div>
                                    <div class="col-6">
                                        <label for="">Machine Out Date</label>
                                        <input type="text" class="form-control" name="out_qty" id="out_qty" placeholder="dd-mm-yyyy" readonly>
                                    </div>
                                </div>
                            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" name="submit" class="btn btn-primary"  id="savebtn" value="Save" onclick="return funct()" />
          </div>
          </form>
        </div>
      </div>
    </div>









<!--EditRecord-->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel1">WheelMachining</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
     
        <form method="POST" class="needs-validation" > {% csrf_token %}
        <div class="modal-body"> 
                            <div class="row">
                                <div class="col-6">
                                    <label for="">Wheel No.</label>
                                    <select name="editsno" id="editsno" class="form-control ll" required>
                                        <option value="" hidden selected>Select Wheel No.</option>  
                                        {% for y in mysno %}
                                        <option>{{y.wheel_no}}</option>
                                        {% endfor %}
                                </select> 
                                      </div> 
                                            <div class="col-6">
                                                    <h6><label for="">Batch Order No.</label></h6>
                                                    <input type="text" class="form-control" name="editbo_no" id="editbo_no" required readonly>
                                          </div>
                                      </div>
                                        <div class="row">
                                            <div class="col-6">
                                                    <h6><label for="">Batch Order Date</label></h6>
                                                    <input type="text" class="form-control" name="editbo_date" id="editbo_date" required readonly>
                                       </div>
                                       <div class="col-6">
                                            <h6><label for="">Loco Type</label></h6>
                                            <input type="text" class="form-control" name="editlocos" id="editlocos" required readonly>
                                        </div>  
                                   </div>
                                   <div class="row">
                                        <div class="col-6">
                                            <label>Part No.</label>
                                                <input type="text" class="form-control" name="editpt_no" id="editpt_no" required readonly>
                                                </div>
                                    <div class="col-6">
                                        <label>Batch Qty</label>
                                        <input type="text" class="form-control" name="editbo_qty" id="editbo_qty" required readonly>
                                    </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-6">
                                                    <label for="">Date(Manually)</label>
                                                    <input type="text" name="editdate" id="editdate" class="form-control" placeholder="dd-mm-yyyy" required readonly>
                                              </div>
                                    <div class="col-md-6 mb-3">
                                            <label for="">Wheel No.</label>
                                            <input type="text" class="form-control" name="editwheel_no" id="editwheel_no" maxlength="10" required>
                                        </div>    
                                </div>
    
                                    <div class="row">
                                     
                                    <div class="col-6">
                                        <label for="">Wheel Make</label>
                                        <select name="editwheel_make" id="editwheel_make" class="form-control ll" required >
                                          <option value="" hidden selected>Select Wheel Make.</option>
                                            <option>DSP</option>
                                            <option>DP</option>
                                            <option>TZ</option>
                                            <option>BI</option>
                                            <option>MC</option>
                                        </select>
                                </div>
                                     <div class="col-6">
                                        <label for="">Wheel HeatCast No.</label>
                                        <input type="text" class="form-control" name="editwheel_heatcaseno" id="editwheel_heatcaseno" maxlength="25" required>
                                    </div>   
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="">Wheel Part No.</label>
                                        <input type="text" class="form-control" name="editwheelp_no" id="editwheelp_no" maxlength="8" required>
                                    </div>
                                    <div class="col-6">
                                        <label for="">Machine In Date</label>
                                        <input type="text" class="form-control" name="editin_qty" id="editin_qty" placeholder="dd-mm-yyyy" readonly>
                                    </div>
                                </div>
                                <div class="row">
                                        
                                        <div class="col-6">
                                            <label for="">Machine Out Date</label>
                                            <input type="text" class="form-control" name="editout_qty" id="editout_qty" placeholder="dd-mm-yyyy" readonly>
                                        </div>
                                    </div>
                                
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" name="submit" class="btn btn-primary"  id="editsavebtn" value="save" onclick="return editfunct()">
          </div>
          </form>
        </div>
      </div>
    </div>


<!--Delete-->
<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel3">AxleWheelMachining</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    <form method="POST" class="needs-validation" > {% csrf_token %}
           <div class="modal-body">
                    
                    <div class="row">
                        <div class="col">
                              <label for="">Wheel No.</label>
                              <select name="delsno" id="delsno" class="form-control ll" required>
                                      <option value="0">Select Wheel No.</option>  
                                      {% for x in mysno %}
                                      <option>{{x.wheel_no}}</option>
                                      {% endfor %}
                              </select> 
                        </div>
                        </div>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <input type="submit" name="submit" class="btn btn-primary"  id="delsavebtn" value="Delete">
        </div>
        </form>
    </div>
</div>
</div>   
<!--Inspect Wheel-->
<!--modal-->
<div class="modal fade bd-example-modal-lg" id="inspectmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Wheel Inspection</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                              </div>
                          
                              <form name="WheelForm" method="POST" class="needs-validation" > {% csrf_token %}
              
                              <div class="modal-body">
                                <div class="row">
                                    <div class="col-3">
                                      <label class="radio-inline">
                                          <input
                                          type="radio"
                                          value="notinspected"
                                          name="optradio"
                                          checked
                                        />
                                        Not Inspected</label>
                                    </div>
                                    <div class="col-3">
                                      <label class="radio-inline">
                                          <input type="radio" value="inspected" name="optradio" />
                                        Inspected</label>
                                    </div>
                                  </div>
                                    <div class="row">
                                    <div class="col">
                                            <label for="">Wheel No.</label>
                                            <select name="snowheel" id="addsno" class="form-control ll" required>
                                                <option value="" hidden selected>Select Wheel No.</option>   
                                            </select> 
                                    </div>
                                    </div>
                                  <h4 class="mb-3">Wheel</h4>
                                  <div class="row">
                                          <div class="col-md-6 mb-3">
                                                  <label>UST</label>
                                                   <select name="ustwhl" id="ustwhl" class="form-control ll" required >
                                                    <option value="" hidden selected>Select UST</option>
                                                    <option>Ok</option>
                                                    <option>Not Ok</option>
                                                    </select>
                                                </div>
                                                <div class="col-6">
                                                    <label for="">UST Date</label>
                                                    <input type="text" name="ustwhl_date" id="ustwhl_date" class="form-control" placeholder="dd-mm-yyyy" required readonly>
                                              </div>
                                              <div class="col-6">
                                                <label for="">Inspection Status</label>
                                                <select name="ustwhl_status" id="ustwhl_status" class="form-control ll" required >
                                                    <option value="" hidden selected>Select Inspection Status</option>
                                                    <option>Pass</option>
                                                    <option>Reject</option>
                                                    </select>
                                              </div>  
                                                <div class="col-md-6 mb-3">
                                                      <label for="Axle">Hub Length</label>
                                                      <input type="text" class="form-control" name="hub_lengthwhl" id="hub_lengthwhl"  onchange="validateWheelForm(this.id)" placeholder="" required>
                                                    </div>  
                                                    <div class="col-md-6 mb-3">
                                                          <label for="Axle">Tread Dia</label>
                                                          <input type="text" class="form-control" name="tread_diawhl" id="tread_diawhl" onchange="validateWheelForm(this.id)" placeholder="" required>
                                                        </div>  
                                                        <div class="col-md-6 mb-3">
                                                              <label for="Axle">Rim Thickness</label>
                                                              <input type="text" class="form-control" name="rim_thicknesswhl" id="rim_thicknesswhl" onchange="validateWheelForm(this.id)" placeholder="" required>
                                                            </div>  
                                                            <div class="col-md-6 mb-3">
                                                                  <label for="Axle">Bore Dia</label>
                                                                  <input type="text" class="form-control" name="bore_diawhl" id="bore_diawhl" onchange="validateWheelForm(this.id)" placeholder="" required>
                                                                </div> 
                                                                <div class="col-md-6 mb-3">
                                                                        <label for="Axle">Date(Manually)</label>
                                                                        <input type="text" name="datewhl" id="datewhl" class="form-control" placeholder="dd-mm-yyyy" required readonly>
                                                                      </div>  
                                                                <div class="col-md-6 mb-3">
                                                                      <label for="Axle">Inspector Name</label>
                                                                      <input type="text" class="form-control" name="inspector_namewhl" id="inspector_namewhl" placeholder="" required>
                                                                    </div> 
                                                                    <div class="col-md-6 mb-3">
                                                                        
                                                                        <input type="hidden" class="form-control" name="hide" id="hide" placeholder="" required>
                                                                      </div>                                      
                                                            
                                  </div>
                              </div>                        
              
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                               <input type="submit" name="submit" class="btn btn-primary" id="savebtn" value="InspectWheel" />
                                          </div>
                                </form>
                       </div>
                   </div>
               </div>                                                     
</form>

<script>

        $("#addbono").change(function(e){
            e.preventDefault();
            var selbo_no = $(this).val();
            var data = {selbo_no};
              $.ajax({
                type : 'GET',
                url : "{% url 'whl_addbo' %}",
                dataType : 'json',
                data : data,
                success : function(response){            
                    $("#bo_date").val(`${response[0].rel_date}`);
                    $("#pt_no").val(`${response[0].part_no}`);
                    $("#bo_qty").val(`${response[0].batch_qty}`);
                    func1(selbo_no);
                }
            })
        });

        function  func1(batch){
                    var selbo_no = batch;
                    var data = {selbo_no};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'airbox_addloco' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){           
                            $("#loco_type").val(`${response[0].alpha_1}`);
                        }
                    })
                }


        $("#editsno").change(function(e){
            e.preventDefault();
            var sels_no=$(this).val();
            var data={sels_no};
                $.ajax({
                    type: 'GET',
                    url: "{% url 'whl_editsno' %}",
                    dataType: 'json',
                    data:data,
                    success:function(response){
                        console.log(response);
                    var indate=response[0].in_qty;
                    
                    var outdate=response[0].out_qty;
                    
                        if(indate != null)
                        {
                            var month1 = indate.substring(5,7);
                            var day1 = indate.substring(8,10);
                            var year1 = indate.substring(0,4);
                            var date1 =  day1 + "-" + month1 + "-" + year1; 
                            $("#editin_qty").val(date1);
                        }
                        else
                        {
                            $("#editin_qty").val(`${response[0].in_qty}`);
                        }
                        if(outdate != null)
                        {
                            var month2 = outdate.substring(5,7);
                            var day2 = outdate.substring(8,10);
                            var year2 = outdate.substring(0,4);
                            var date2 =  day2 + "-" + month2 + "-" + year2; 
                            $("#editout_qty").val(date2);
                        }
                        else
                        {
                            $("#editout_qty").val(`${response[0].out_qty}`);
                        }
                        $("#editbo_no").val(`${response[0].bo_no}`);
                        $("#editbo_date").val(`${response[0].bo_date}`);
                        $("#editpt_no").val(`${response[0].pt_no}`);
                        $("#editbo_qty").val(`${response[0].bo_qty}`);
                        $("#editdate").val(`${response[0].date}`);
                       
                        $("#editwheelp_no").val(`${response[0].wheelp_no}`);
                        $("#editwheel_no").val(`${response[0].wheel_no}`);
                        $("#editwheel_make").val(`${response[0].wheel_make}`);
                        $("#editwheel_heatcaseno").val(`${response[0].wheel_heatcaseno}`);
                        var locodes=document.getElementById('editbo_no').value;
                        func2(locodes);
        
                    }
                })
        }); 

        function  func2(batch){
                    var batchNo = batch;
                    var data = {batchNo};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'airbox_addeditloco' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){           
                            $("#editlocos").val(`${response[0].alpha_1}`);
                        }
                    })
                }

        
            $("#addsno").change(function(e){
            e.preventDefault();
            test();
            var val_loco;
            var sels_no=$(this).val();
            var data={sels_no};
                $.ajax({
                    type: 'GET',
                    url: "{% url 'fetchloco' %}",
                    dataType: 'json',
                    data:data,
                    success:function(response){
                        $("#hide").val(`${response[0].alpha_1}`);
                    }

                })
                
        });

        $("#addsno").change(function(e){
            e.preventDefault();
            var sels_no=$(this).val();
            var data={sels_no};
                $.ajax({
                    type: 'GET',
                    url: "{% url 'FetchWheelInspectDetail' %}",
                    dataType: 'json',
                    data:data,
                    success:function(response){
                        if(response=="false")
                        {
                        document.getElementById('ustwhl').value ='';
                        document.getElementById('ustwhl_date').value ='';
                        document.getElementById('ustwhl_status').value ='';
                        document.getElementById('hub_lengthwhl').value ='';
                        document.getElementById('tread_diawhl').value ='';
                        document.getElementById('rim_thicknesswhl').value ='';
                        document.getElementById('bore_diawhl').value ='';
                        document.getElementById('inspector_namewhl').value ='';
                        document.getElementById('datewhl').value ='';
                        }
                        else {
                            var whld=response[0].datewhl;
                                if(whld != null)
                                {
                                    var month2 = whld.substring(5,7);
                                    var day2 = whld.substring(8,10);
                                    var year2 = whld.substring(0,4);
                                    var date2 =  day2 + "-" + month2 + "-" + year2; 
                                    $("#datewhl").val(date2);
                                }
                                else
                                {
                                    $("#datewhl").val(`${response[0].datewhl}`);
                                }
                        $("#ustwhl").val(`${response[0].ustwhl}`);
                        $("#ustwhl_date").val(`${response[0].ustwhl_date}`);
                        $("#ustwhl_status").val(`${response[0].ustwhl_status}`);
                        $("#hub_lengthwhl").val(`${response[0].hub_lengthwhl}`);
                        $("#tread_diawhl").val(`${response[0].tread_diawhl}`);
                        $("#rim_thicknesswhl").val(`${response[0].rim_thicknesswhl}`);
                        $("#bore_diawhl").val(`${response[0].bore_diawhl}`);
                        $("#inspector_namewhl").val(`${response[0].inspector_namewhl}`);
                        
                        }

                    }

                })
                
        }); 

        $('#addbono').change(function(e){
            e.preventDefault();
            var b_no=$(this).val();
            var data={b_no};
                $.ajax({
                    type: 'GET',
                    url: "{% url 'fetchwheelpartno' %}",
                    dataType: 'json',
                    data:data,
                    success:function(response){
                        if(response == "false"){
                            document.getElementById('wheelp_no').value ='';
                        }
                        else
                        {
                            $("#wheelp_no").val(`${response}`);
                        }
                    }

                })
                
        }); 

        $('#editsno').change(function(e){
            e.preventDefault();
            var b_no=$(this).val();
            var data={b_no};
                $.ajax({
                    type: 'GET',
                    url: "{% url 'fetchwheeleditpartno' %}",
                    dataType: 'json',
                    data:data,
                    success:function(response){
                            $("#wheelp_no").val(`${response[0].wheelp_no}`);
                    }

                })
                
        });

        $("#wheel_no").change(function(e){
            e.preventDefault();
            var wheel_no=$(this).val();
            var data={wheel_no};
                $.ajax({
                    type: 'GET',
                    url: "{% url 'uniquewheel' %}",
                    dataType: 'json',
                    data:data,
                    success:function(response){
                        if(response == "false")
                        {
                            alert("This Wheel No. already exists. Please Enter a unique Wheel No.!")
                            document.getElementById("wheel_no").value="";
                        }
                    }

                })
                
        });

        $("#editwheel_no").change(function(e){
            e.preventDefault();
            var wheel_no=$(this).val();
            var data={wheel_no};
                $.ajax({
                    type: 'GET',
                    url: "{% url 'uniquewheel' %}",
                    dataType: 'json',
                    data:data,
                    success:function(response){
                        if(response == "false")
                        {
                            alert("This Wheel No. already exists. Please Enter a unique Wheel No.!")
                            document.getElementById("editwheel_no").value="";
                        }
                    }

                })
                
        });

        $('input:radio[name="optradio"]').change(function () {
        var drpdwn = $("#addsno");
        if (this.checked && this.value == "inspected") {
            drpdwn.empty();
            drpdwn.append(
            $(
                `<option value="" hidden selected>Select Wheel No.</option>{% for x in mysno0 %}<option>{{x.wheel_no}}</option>{% endfor %}`
            )
            );
        } else if (this.checked && this.value == "notinspected") {
            drpdwn.empty();
            drpdwn.append(
            $(
                `<option value="" hidden selected>Select Wheel No.</option>{% for y in mysno1 %}<option>{{y.wheel_no}}</option>{% endfor %}`
            )
            );
        }
        });

        function funct(){
            if((document.getElementById('wheel_heatcaseno').value =='')||(document.getElementById('date').value =='')||(document.getElementById('wheel_no').value =='')||(document.getElementById('wheelp_no').value =='')||(document.getElementById('wheel_make').value =='')||(document.getElementById('in_qty').value =='')||(document.getElementById('out_qty').value ==''))
            {
                alert("Please enter all the fields.");
                return false;
            }
        }

        function editfunct(){
            
            if((document.getElementById('editwheel_heatcaseno').value =='')||(document.getElementById('editdate').value =='')||(document.getElementById('editwheel_no').value =='')||(document.getElementById('editwheelp_no').value =='')||(document.getElementById('editwheel_make').value =='')||(document.getElementById('editin_qty').value =='')||(document.getElementById('editout_qty').value ==''))
            {
                alert("Please enter all the fields.");
                return false;
            }
        }

        window.onload=function(){
            document.getElementById('hub_lengthwhl').readOnly=true;
                document.getElementById('tread_diawhl').readOnly=true;
                document.getElementById('rim_thicknesswhl').readOnly=true;
                document.getElementById('bore_diawhl').readOnly=true;
        }

        function test()
        {
            var x=document.getElementById('addsno').value;
            if(x==0)
            {
                document.getElementById('hub_lengthwhl').readOnly=true;
                document.getElementById('tread_diawhl').readOnly=true;
                document.getElementById('rim_thicknesswhl').readOnly=true;
                document.getElementById('bore_diawhl').readOnly=true;
            }
            else
            {
                document.getElementById('hub_lengthwhl').readOnly=false;
                document.getElementById('tread_diawhl').readOnly=false;
                document.getElementById('rim_thicknesswhl').readOnly=false;
                document.getElementById('bore_diawhl').readOnly=false;
            }
        }


    function validateWheelForm(a) {
        var myval=document.getElementById('hide').value;
        var x = document.forms["WheelForm"][a].value;
        if(isNaN(x)==false){
        // VALIDATION FOR HUB LENGTH
        if(a=="hub_lengthwhl"){
        if (myval=="WAP-7") {   
    var b=7.0745;
    var c=7.0985;
    var relax = 10;
    var min=b - ((relax/100) * b);
    var max=c + ((relax/100) * c);
    if(x < min || x > max){
    setvalidation1(a,b,c);
    }
    else if((x>=min && x<b)||(x>c && x<=max)){
    setvalidation2(a);
    }
    else if((x >= b) && (x <= c)){
    setvalidation3(a);
        }
    }
if (myval=="ENGINE ASM 4500 HP" || myval=="VEHCLE OF WDG4D 4500" || myval=="LOCO ASSLY 5500 HP" || myval=="WDP4D LOCO ASSLY" || myval=="WDG4 LOCO(4000 HP)" || myval=="LOCO COMPLETE 4500" || myval=="MTA FOR WDP4D" || myval=="MOTR TRUK WDG4D(RSP)" || myval=="MTA-16 CYL EMD") {
    var b=5.938;
    var c=6.080;
    var relax = 10;
    var min=b - ((relax/100) * b);
    var max=c + ((relax/100) * c);
    if(x < min || x > max){
    setvalidation1(a,b,c);
    }
    else if((x>=min && x<b)||(x>c && x<=max)){
    setvalidation2(a);
    }
    else if((x >= b) && (x <= c)){
    setvalidation3(a);
            }
        }
    }

    //VALIDATION FOR TREAD DIAMETER
    if(a=="tread_diawhl"){
        if (myval=="WAP-7") {
    var b=1090;
    var c=1092.5;
    var relax = 10;
    var min=b - ((relax/100) * b);
    var max=c + ((relax/100) * c);
    if(x < min || x > max){
    setvalidation1(a,b,c);
    }
    else if((x>=min && x<b)||(x>c && x<=max)){
    setvalidation2(a);
    }
    else if((x >= b) && (x <= c)){
    setvalidation3(a);
        }
    }

if (myval=="ENGINE ASM 4500 HP" || myval=="VEHCLE OF WDG4D 4500" || myval=="LOCO ASSLY 5500 HP" || myval=="WDP4D LOCO ASSLY" || myval=="WDG4 LOCO(4000 HP)" || myval=="LOCO COMPLETE 4500" || myval=="MTA FOR WDP4D" || myval=="MOTR TRUK WDG4D(RSP)" || myval=="MTA-16 CYL EMD") {
    var b=1092;
    var c=1095;
    var relax = 10;
    var min=b - ((relax/100) * b);
    var max=c + ((relax/100) * c);
    if(x < min || x > max){
    setvalidation1(a,b,c);
    }
    else if((x>=min && x<b)||(x>c && x<=max)){
    setvalidation2(a);
    }
    else if((x >= b) && (x <= c)){
    setvalidation3(a);
            }
        }
    }

    //VALIDATION FOR RIM THICKNESS
    if(a=="rim_thicknesswhl"){
        if (myval=="WAP-7") {
    var b=5.177;
    var c=5.295;
    var relax = 10;
    var min=b - ((relax/100) * b);
    var max=c + ((relax/100) * c);
    if(x < min || x > max){
    setvalidation1(a,b,c);
    }
    else if((x>=min && x<b)||(x>c && x<=max)){
    setvalidation2(a);
    }
    else if((x >= b) && (x <= c)){
    setvalidation3(a);
        }
    }

if (myval=="ENGINE ASM 4500 HP" || myval=="VEHCLE OF WDG4D 4500" || myval=="LOCO ASSLY 5500 HP" || myval=="WDP4D LOCO ASSLY" || myval=="WDG4 LOCO(4000 HP)" || myval=="LOCO COMPLETE 4500" || myval=="MTA FOR WDP4D" || myval=="MOTR TRUK WDG4D(RSP)" || myval=="MTA-16 CYL EMD") {
    var b=5.230;
    var c=5.270;
    var relax = 10;
    var min=b - ((relax/100) * b);
    var max=c + ((relax/100) * c);
    if(x < min || x > max){
    setvalidation1(a,b,c);
    }
    else if((x>=min && x<b)||(x>c && x<=max)){
    setvalidation2(a);
    }
    else if((x >= b) && (x <= c)){
    setvalidation3(a);
            }
        }
    }
    //VALIDATION FOR BORE DIAMETER
    if(a=="bore_diawhl"){
        if (myval=="WAP-7") {
    var b=8.567;
    var c=8.572;
    var relax = 10;
    var min=b - ((relax/100) * b);
    var max=c + ((relax/100) * c);
    if(x < min || x > max){
    setvalidation1(a,b,c);
    }
    else if((x>=min && x<b)||(x>c && x<=max)){
    setvalidation2(a);
    }
    else if((x >= b) && (x <= c)){
    setvalidation3(a);
        }
    }

if (myval=="ENGINE ASM 4500 HP" || myval=="VEHCLE OF WDG4D 4500" || myval=="LOCO ASSLY 5500 HP" || myval=="WDP4D LOCO ASSLY" || myval=="WDG4 LOCO(4000 HP)" || myval=="LOCO COMPLETE 4500" || myval=="MTA FOR WDP4D" || myval=="MOTR TRUK WDG4D(RSP)" || myval=="MTA-16 CYL EMD") {
    var b=8.567;
    var c=8.572;
    var relax = 10;
    var min=b - ((relax/100) * b);
    var max=c + ((relax/100) * c);
    if(x < min || x > max){
    setvalidation1(a,b,c);
    }
    else if((x>=min && x<b)||(x>c && x<=max)){
    setvalidation2(a);
    }
    else if((x >= b) && (x <= c)){
    setvalidation3(a);
            }
        }
    }
}
else
{
    setvalidation4(a);
}
}

function setvalidation1(a,b,c)
{
    alert("Please enter the value between "+b+" and "+c);
    document.getElementById(a).value="";
    document.getElementById("")
    $('#'+a).focus();
    document.getElementById(a).style.color = "red";
    document.getElementById(a).style.backgroundColor="yellow";
}

function setvalidation2(a)
{
    document.getElementById(a).style.color = "red";
    document.getElementById(a).style.backgroundColor="";
}

function setvalidation3(a)
{
    document.getElementById(a).style.color = "black";
    document.getElementById(a).style.backgroundColor="";
}
function setvalidation4(a)
{
    alert("Please enter valid Numeric value");
    document.getElementById(a).value="";
    document.getElementById("")
    $('#'+a).focus();
    document.getElementById(a).style.color = "red";
    document.getElementById(a).style.backgroundColor="yellow";
}
</script>
</html>  
{% endblock content %}