{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
    * {
      box-sizing: border-box;
    }
        
.read
    {
      border: 1px solid transparent;    
      background-color: #f1f1f1;
      padding: 10px;
      font-size: 16px;
  
    
    }
    
    body {
      font: 16px Arial;  
    }
   
    .autocomplete {
      position: relative;
      display: inline-block;
    }
    
    input {
      padding: 10px;
      font-size: 16px;
    }
  
    
    input[type=submit] {
      background-color: DodgerBlue;
      color: #fff;
      cursor: pointer;
    }
    input[type=button] {
      background-color: DodgerBlue;
      color: #fff;
      cursor: pointer;
      width: 20%;
        text-align: center;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
  

    table tr{
      cursor: pointer;transition: all .25s ease-in-out;
  }
  .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      top: 100%;
      left: 0;
      right: 0;
      max-height: 400px;
      overflow-y: scroll; 
      overflow-x: hidden;
    } 
    
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff; 
      border-bottom: 1px solid #d4d4d4; 
    } 
    
   .autocomplete-items div:hover {
      background-color: #e9e9e9; 
    } 
    
    .autocomplete-active {
      background-color: DodgerBlue; 
      color: #ffffff; 
    }
    .vertical-center {
      margin: 0;
      position: absolute;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
    </style>
<br>
<h3><center>BATCH RELEASE</center></h3>
<center>
    {% if messages %}
    {% for message in messages %}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO%}
    <div class="alert alert-primary" id="msg" role="alert">{{ message }}</div>
    {%endif%}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS%}
    <div class="alert alert-success" id="msg" role="alert">{{ message }}</div>
    {%endif%}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
    <div class="alert alert-danger" id="msg" role="alert">{{ message }}</div>
    {%endif%}
    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING%}
    <div class="alert alert-warning" id="msg" role="alert">{{ message }}</div>
    {%endif%}
    {% endfor %}
    {% endif %}
</center>
<br>
<br>
<br>
<br>
<center>
    <form method="POST">{%csrf_token%}
    <div class="container"> 
      <div class="container1">
        <div class="form-row">            
            <div class="form-group col-md-3">
                <label for="batchno">BATCH NO</label>
                <div class="autocomplete" style="width:220px;">
                    <input id="batchno" autocomplete="off" type="text" name="batchno" placeholder="ENTER BATCH NO"    maxlength="8" onkeypress="return isNumberKeybatch(event)" >
                    <br><span id="lblErrorbatch" style="color: red"></span> 
                </div></div>
                <div class="form-group col-md-3">
                  <label for="date">RELEASE DATE &nbsp;&nbsp; &nbsp;&nbsp;  </label>
                   <div class="autocomplete" style="width:220px;">
                      <input id="date" type="text" autocomplete="off" name="date" placeholder="SELECT DATE" >
                    </div>
                  </div>
            <div class="form-group col-md-3">
                <label for="asslyno">ASSEMBLY NO</label>
                        <input id="asslyno" class="read" type="text" name="asslyno" placeholder=" ASSEMBLY NO"  onclick="abc()" readonly>
                    </div>
                    <div class="form-group col-md-3">
                      <label for="brn">BRN NO &nbsp;&nbsp; &nbsp;&nbsp;  </label>
                       <div class="autocomplete" style="width:250px;">
                          <input id="brn"  type="text" class="read" name="brn" placeholder=" BRN NO" onclick="abc()" readonly>
                          
                      </div></div>
                      <div class="form-group col-md-3">
                        <label for="batchno">EPC</label>
                        <div class="autocomplete" style="width:250px;">
                            <input id="epc" class="read" type="text" name="epc" placeholder="EPC" onclick="abc()" readonly >
                            
                        </div></div>
                        <div class="form-group col-md-3">
                          <label for="date">QUANTITY &nbsp;&nbsp; &nbsp;&nbsp;  </label>
                           <div class="autocomplete" style="width:250px;">
                              <input id="qty"  type="text" class="read" name="qty" placeholder="QUANTITY" onclick="abc()" readonly >
                            </div>
                          </div>
                    <div class="form-group col-md-3">
                        <label for="asslyno">LOCO FROM</label>
                          <div class="autocomplete" style="width:250px;">
                                <input id="locofr"  type="text" class="read" name="locofr" placeholder="LOCO FROM"  onclick="abc()" readonly >
                                 
                            </div></div>
                            <div class="form-group col-md-3">
                              <label for="brn">LOCO TO &nbsp;&nbsp; &nbsp;&nbsp;  </label>
                               <div class="autocomplete" style="width:250px;">
                                  <input id="locoto" type="text" class="read" name="locoto" placeholder="LOCO TO" onclick="abc()" readonly>
 
                              </div></div>
            </div>
                <br>
                <br>
                <div >
                <input type="button" name="releasebatch1" id="releasebatch1" value="Release Batch" class="btn btn-primary" onclick="checkdetails()"></button>
                <input type="submit" name="releasebatch" id="releasebatch" value="Release Batch" class="btn btn-primary" hidden></button>
                <input type="button" name="viewbatch" id="viewbatch" value="View Batch" class="btn btn-primary" onclick="viewdetails()"></button>
                <!-- <input type="submit" name="releasebatch" id="releasebatch" value="Release Batch" class="btn btn-primary" onclick="wait()"></button> -->
              </div>
              <div>
                <table id="details" class="table table-striped table-bordered" >
                  <thead style="background-color:ghostwhite; font-size:12px;">
                      <tr>
                        <td style="display:none;"></td>
                          <th>ASSLY NO.</th>
                          <th>BRN NO.</th>
                          <th>EPC</th>
                          <th>BATCH QTY</th>
                          <th>LOCO FROM</th>
                          <th>LOCO TO</th>
                      </tr>
                  </thead>
                  <tbody style="font-size:11px; font-weight: 610;">
                  
                </table>
                <table id="detailsview" class="table table-striped table-bordered" >
                  <thead style="background-color:ghostwhite; font-size:12px;">
                      <tr>
                        <td style="display:none;"></td>
                        <th>BATCH NO.</th>
                          <th>ASSLY NO.</th>
                          <th>BRN NO.</th>
                          <th>EPC</th>
                          <th>BATCH QTY</th>
                          <th>LOCO FROM</th>
                          <th>LOCO TO</th>
                      </tr>
                  </thead>
                  <tbody style="font-size:11px; font-weight: 610;">
                  
                </table>

              </div>


</div>

</form>
</center>

<script>
setTimeout(function(){
        if ($('#msg').length > 0){
            $('#msg').remove(); 
        }
    },5000)

    function checkdetails() 
    {
                    if($('#batchno').val().length==0)
                    {
                      alert('Enter Batch no.!!!');
                      $('#batchno').focus();
                    }
                    else
                    if($('#batchno').val().length<8)
                    {
                      alert("Batch No. Should be 8 Character!!!");
                      $('#batchno').focus();
                    }
                    else
                      if($('#date').val().length==0)
                        {
                          alert('Select Date!!!');
                          $('#date').focus();
                        }
                    else
                      document.querySelector('#releasebatch').click();

                        

    }
    function isNumberKeybatch(evt) {
    var lblErrora = document.getElementById("lblErrorbatch");
        lblErrora.innerHTML = "";
var charCode = (evt.which) ? evt.which : evt.keyCode;
if (charCode > 31 && (charCode < 48 || charCode > 57))
{
    lblErrora.innerHTML = "Only Numbers allowed.";
    return false;
} 
return true;
}

// $(".date").datepicker().on("changeDate", function(e) {
//    alert('aaaa')
// });


var batchac=[' '];                      
$(document).ready(function()
{
  $('#details').hide();
  $('#detailsview').hide();

  $('#date').datepicker({dateFormat:'dd-mm-yy',onSelect: function(date) {
        changedate1();
     },
                      beforeShow: function(){    
                      $(".ui-datepicker").css('font-size', 13) 
                      }
                      });
                      var data = {};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'batchreleasegetbatch' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                            for(i=0;i<response.length;i++)
                           {
                             batchac.push((response[i].batchordno).toString());
                           }
                          }

  });
                      });
                      var table='';
  function changedate1()
  {
   
    var batch=$('#batchno').val();
    if(batch.length==0)
    {
    
      alert('Enter Batch no.!!!');
       $('#batchno').focus();
       $('#date').val('');

     }
     else
     if($('#batchno').val().length<8)
      {
        alert("Batch No. Should be 8 Character!!!");
         $('#batchno').focus();
         $('#date').val('');

     }
       else     
       {  
        var data = {batch};
        $.ajax({
          type : 'GET',
          url : "{% url 'Batchreleasestatus' %}",
          dataType : 'json',
          data : data,
          success : function(response)
          {
            if(response.length>0)
            {
        $('#details').show();
        if (table!='')
        {
          table.destroy();
          $('#details tbody').empty();                     
        }
                    var data = {batch};
                      $.ajax({
                        type : 'GET',
                        url : "{% url 'Batchreleasedetails' %}",
                        dataType : 'json',
                        data : data,
                        success : function(response){
                          var trHTML = '';
                          $.each(response, function (i, item) {
                          trHTML += '<tr><td style="display:none;">' + item.id + '</td><td>' + item.part_no + '</td><td>' + item.brn_no + '</td><td>' + item.ep_type + '</td><td>' + item.batch_qty + '</td><td>' + item.loco_fr + '</td><td>' + item.loco_to+'</td></tr>';
                            });
                          trHTML+='</tbody>'
                        $('#details').append(trHTML);
                      
                        table=$('#details').DataTable({
                          "language": {
                          "emptyTable": "No Record Found"}
                          
                        });
                          $('#details tbody').on( 'click', 'tr', function () {
                          if ( $(this).hasClass('selected') ) {
                          $(this).removeClass('selected');
                          // var data = table.row( this ).data();
                          }
                          else {
                          table.$('tr.selected').removeClass('selected');
                          $(this).addClass('selected');
                          var data1 = String(table.row( this ).data());
                          docno=data1.split(",");
                          a=docno[0];
                          $('#asslyno').val(docno[1]);
                          $('#brn').val(docno[2]);
                          $('#epc').val(docno[3]);

                          $('#qty').val(docno[4]);
                          $('#locofr').val(docno[5]);
                          $('#locoto').val(docno[6]);
                          table.destroy();
                          $('#details tbody').empty(); 
                          $('#details').hide();

                          }
                        });
                           }
                     });

                     
                    }
                    else
                     alert('Card is Not Generated Yet for this Work Order!!!');
                  }
                }); 

                    }
      
  }
  var table1='';
function viewdetails()
{
  $('#detailsview').show();
  if (table!='')
        {
          table1.destroy();
          $('#detailsview tbody').empty();                     
        }
       var batch=$('#batch').val();
  var data={batch};
  $.ajax({
    type : 'GET',
    url : "{% url 'Batchreleasedetails' %}",
    dataType : 'json',
    data : data,
    success : function(response){
      var trHTML = '';
      $.each(response, function (i, item) {
      trHTML += '<tr><td style="display:none;">' + item.id + '</td><td>' + item.bo_no + '</td><td>' + item.part_no + '</td><td>' + item.brn_no + '</td><td>' + item.ep_type + '</td><td>' + item.batch_qty + '</td><td>' + item.loco_fr + '</td><td>' + item.loco_to+'</td></tr>';
        });
      trHTML+='</tbody>'
    $('#detailsview').append(trHTML);
  
    table1=$('#detailsview').DataTable({
      "language": {
      "emptyTable": "No Record Found"}
      
    });
      $('#detailsview tbody').on( 'click', 'tr', function () {
      if ( $(this).hasClass('selected') ) {
      $(this).removeClass('selected');
      // var data = table.row( this ).data();
      }
      else {
      table1.$('tr.selected').removeClass('selected');
      $(this).addClass('selected');
      var data1 = String(table1.row( this ).data());
      docno=data1.split(",");
      a=docno[0];
      $('#batchno').val(docno[1]);

      $('#asslyno').val(docno[2]);
      $('#brn').val(docno[3]);
      $('#epc').val(docno[4]);

      $('#qty').val(docno[5]);
      $('#locofr').val(docno[6]);
      $('#locoto').val(docno[7]);
      table1.destroy();
      $('#detailsview tbody').empty(); 
      $('#details').hide();
      $('#detailsview').hide();
      }
    });
       }
 })
}
  function abc()
  {
    if($('#batchno').val().length==0)
                    {
                      alert('Enter Batch no.!!!');
                      $('#batchno').focus();
                    }
                    else
                    if($('#batchno').val().length<8)
                    {
                      alert("Batch No. Should be 8 Character!!!");
                      $('#batchno').focus();
                    }
                    else
                      if($('#date').val().length==0)
                        {
                          alert('Select Date!!!');
                          $('#date').focus();
                        }
  }


// document.querySelector("#date").addEventListener('onchange',(e)=>{
//                     e.preventDefault();
//                     alert('hhhhh')
// });

// document.querySelector("#asslyno").addEventListener('click',(e)=>{
//                     e.preventDefault();
//                     if($('#batchno').val().length==0)
//                     {
//                       alert('Enter Batch no.!!!');
//                       $('#batchno').focus();
//                     }
//                     else
//                     if($('#batchno').val().length<8)
//                     {
//                       alert("Batch No. Should be 8 Character!!!");
//                       $('#batchno').focus();
//                     }
//                     else
//                       if($('#date').val().length==0)
//                         alert('Select Date!!!');
//                     var batch = $("#batchno").val();
                                   
//                     var data = {mAsslyno};
//                       $.ajax({
//                         type : 'GET',
//                         url : "{% url 'Batchreleasedetails' %}",
//                         dataType : 'json',
//                         data : data,
//                         success : function(response){
//                             for(i=0;i<response.length;i++)
//                            {
//                              countries1.push((response[i].bo_no).toString());
//                            }

//                            }
//                      })
//                 });

// document.querySelector("#brn").addEventListener('click',(e)=>{
//                     e.preventDefault();
//                     if($('#batchno').val().length==0)
//                     {
//                       alert('Enter Batch no.!!!');
//                       $('#batchno').focus();
//                     }
//                     else
//                     if($('#batchno').val().length<8)
//                     {
//                       alert("Batch No. Should be 8 Character!!!");
//                       $('#batchno').focus();
//                     }
//                     else
//                     if($('#date').val().length==0)
//                       alert('Select Date!!!');
//                     if($('#asslyno').val().length==0)
//                     {
//                       alert('Enter Assembly no.!!!');
//                       $('#asslyno').focus();
//                     }
//                     else
//                     if($('#asslyno').val().length<8)
//                     {
//                       alert("Asslembly No. Should be 8 Character!!!");
//                       $('#asslyno').focus();
//                     }

//                   });

  // document.querySelector("#date").addEventListener('click',(e)=>{
  //                   e.preventDefault();
  //                   if($('#batchno').val().length==0)
  //                   {
  //                     alert('Enter Batch no.!!!');
  //                     $('#batchno').focus();
  //                   }
  //                   else
  //                   if($('#batchno').val().length<8)
  //                   {
  //                     alert("Batch No. Should be 8 Character!!!");
  //                     $('#batchno').focus();
  //                   }
  //                   else
  //                   if($('#asslyno').val().length==0)
  //                   {
  //                     alert('Enter Assembly no.!!!');
  //                     $('#asslyno').focus();
  //                   }
  //                   else
  //                   if($('#asslyno').val().length<8)
  //                   {
  //                     alert("Asslembly No. Should be 8 Character!!!");
  //                     $('#asslyno').focus();
  //                   }
  //                   else
  //                   if($('#brn').val().length==0)
  //                   {
  //                     alert('Enter Brn no.!!!');
  //                     $('#brn').focus();
  //                   }
  //                   else
  //                   if($('#brn').val().length<5)
  //                   {
  //                     alert("Brn No. Should be 5 Character!!!");
  //                     $('#brn').focus();
  //                   }
                    

                    
  //                 });

  function autocomplete(inp, arr) {
      var currentFocus;
      inp.addEventListener("input", function(e) {
          var a, b, i, val = this.value;
          closeAllLists();
          if (!val) { return false;}
          currentFocus = -1;
          a = document.createElement("DIV");
          a.setAttribute("id", this.id + "autocomplete-list");
          a.setAttribute("class", "autocomplete-items");
          this.parentNode.appendChild(a);
          for (i = 0; i < arr.length; i++) {
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
              b = document.createElement("DIV");
              b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
              b.innerHTML += arr[i].substr(val.length);
              b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
              b.addEventListener("click", function(e) {
                  inp.value = this.getElementsByTagName("input")[0].value;
                 
                  closeAllLists();
              });
              a.appendChild(b);
            }
          }
      });
     
      inp.addEventListener("keydown", function(e) {
          var x = document.getElementById(this.id + "autocomplete-list");
          if (x) x = x.getElementsByTagName("div");
          if (e.keyCode == 40) {
            currentFocus++;
            addActive(x);
          } else if (e.keyCode == 38) { 
            currentFocus--;
            addActive(x);
          } else if (e.keyCode == 13) {
            e.preventDefault();
            if (currentFocus > -1) {
              if (x) x[currentFocus].click();
            }
          }
      });
      function addActive(x) {
        if (!x) return false;
        removeActive(x);
        if (currentFocus >= x.length) currentFocus = 0;
        if (currentFocus < 0) currentFocus = (x.length - 1);
        x[currentFocus].classList.add("autocomplete-active");
      }
      function removeActive(x) {
        for (var i = 0; i < x.length; i++) {
          x[i].classList.remove("autocomplete-active");
        }
      }
      function closeAllLists(elmnt) {
    
        var x = document.getElementsByClassName("autocomplete-items");
        for (var i = 0; i < x.length; i++) {
          if (elmnt != x[i] && elmnt != inp) {
            x[i].parentNode.removeChild(x[i]);
          }
        }
      }
      document.addEventListener("click", function (e) {
          closeAllLists(e.target);
      });
    }
    autocomplete(document.getElementById("batchno"), batchac);
</script>


{% endblock content %}
