{% extends 'base.html' %} {% block content %}
{% load static %}
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->

<style>
 
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 0.5px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
     
    table th,td{
        padding: 5px;
    }

. ::-webkit-datetime-edit-ampm-field {
   display: none;
 }
 . ::-webkit-validation-bubble-message {
   display: none;
 }
 input[type=time]::-webkit-clear-button {
   -webkit-appearance: none;
   -moz-appearance: none;
   -o-appearance: none;
   -ms-appearance:none;
   appearance: none;
   margin: -10px; 
 }

 table th, td {
    padding: 5px;
}

.table td, .table th {
  padding: 5px;
    
}
.select2-container
{
    margin: 8px 0;
}
.select2-container .select2-selection--single
{
    height: 36px;
    
    padding-top: 4px;
}

</style>
<center>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <font size="3">
            <li>
                {{message}}
            </li>
        </font>
        {% endfor %}
    </ul>
    {% endif %}
</center>
<br>
<div class="row">
  <div class="col-md-10 text-center">
    <h3  >Duty Certificate (M22) Card </h3>
  </div>
  <div class="col-md-2">
    
<a class="btn btn-primary  " {% if usermaster.op_read %}{% else %} disabled {% endif%}  target="_black" href="/m22viewlist">View Data</a>
 
  </div>
</div>

<br>
 
<form action="{% url 'm22view' %}" method="POST"   onsubmit = "return(validate());"> {% csrf_token %}  
    <div class="container">
        <table class="table-response">
            <tr>
                <th><label for="sno"><b>Shop Section NO<br>शॉप अधी:</b></label> </th>
                <th> <label for="wk_ord_no"><b>Work Order NO Of Job Left<br>छोड़ी गए जांच का कार्य आदेश:</b></label></th>
                <th> <label for="wk_ord_no1"><b>Work Order NO For Time On Duty<br>ड्यूटी के समय के लिए जॉब का कार्य आदेश संख्या:</b></label> </th>
                <td> <b>Staff No</b></td> 
                <td> <b>Staff Name</b></td> 
               
               </tr>
               <tr>
                <td>
                    
            <select class="form-control" id="shop_sec" name="shop_sec" required>
            <option id="op_shop" value=""  selected disabled hidden>Select Shop Section</option>
            
            
            {% for i in roles %}
              <option>{{i.section_code}}</option>
            {% endfor %}
           
        </select>
                </td>
                <td>
                   
       <select class="form-control" id="wno" name="wo_no" required>
        <option id="op_wo" value="" selected disabled hidden>Select Work Order NO</option>
        
    </select>
                </td>
                 <td>
                   
                    <select class="form-control" id="wno1" name="wo_no1" required>
        <option id="op_wo1" value="" selected disabled hidden>Select Work Order NO</option>
         
    </select>
                </td>
                <td>
                   
                  <select class="form-control" id="staff_no" name="staff_no" onchange="month()" required>
                <option id="op_staff" value="" selected disabled hidden>Select Staff No</option>
                
                  </select>
                    </td>
                    <td> <input type="text" class="form-control" name="empname" id ="empname" readonly/></td>
               
                
</tr>
<tr> <th>  Update Date </th> <th>   MONTH/महीना:   </th>  <th>  Letter No </th>
  <th colspan="2"> Subject /Remarks  </th></tr>
    <tr> 
      <td> <input type="text" class="form-control"  id="update_date"  placeholder="dd-mm-yyyy" name="update_date"   required>
      </td>
       <td> 
      <select class="form-control" id="mon" name="mon"  disabled required>
      <option value="" selected disabled hidden>Select Month</option>
      <option value='1'>January</option>
      <option value='2'>February</option>
      <option value='3'>March</option>
      <option value='4'>April</option>
      <option value='5'>May</option>
      <option value='6'>June</option>
      <option value='7'>July</option>
      <option value='8'>August</option>
      <option value='9'>September</option>
      <option value='10'>October</option>
      <option value='11'>November</option>
      <option value='12'>December</option>
      </select>
  </td>
  <td> <input type="text" class="form-control" name="letterno" id="letterno"></td>
  <td colspan="2" > <input type="text" class="form-control" name="subject" id="subject"></td>
</tr>
             



        </table>
<!--         
        
        <input type="submit" value="Proceed" name="proceed" id="myproceed" hidden/> -->


     

      
  <table >

    <tr>
      <th>Date of Leaving Works/कारखाना छोड़ने की तारीख</th>
      <th>Date of Completion of Duty/ड्यूटी पूरी होने की तारीख </th>
      <th>Date of return to works/कारखाना में लौटने की तारीख </th>
      <th>Brief Description of Duty/ड्यूटी का संशिप्त विवरण </th>
    </tr>

    <tr>
       
        <td> 
           <input type="text" class="form-control" id="leaving_date"  placeholder="dd-mm-yyyy" name="datelw"   required>
            
            </td>

        <td>
            <input type="text"  class="form-control" id="completion_date"   placeholder="dd-mm-yyyy"  name="datecc"  placeholder="dd-mm-yyyy" required>

            
            </td>


        <td>
            
 

                <input type="text" class="form-control" id="return_date"  placeholder="dd-mm-yyyy" name="daterw"   required>

            
            </td>

            <td> 
                
                <input type="text" class="form-control" value="" name="briefdd" >

           
            </td>
          
    </tr>

  </table> 
      
<table  class="table table-response" >
 <tr><th colspan="16"><h5>No.of Hours each date on Duty/प्रत्येक तारीख के ड्यूटी के घंटो की संख्या </h5></th></tr>
     <tr>
    <td>1 </td>
    <td>   
        <input   type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="  form-control"  name="hd1"  maxlength="5"  />
           </td>
    <td>2 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control"   name="hd2" maxlength="5"   />   </td>

    <td>3 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd3"   maxlength="5"   />   </td>

    <td>4 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd4"  maxlength="5"  >   </td>

    <td>5 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd5"  maxlength="5" >   </td>

    <td>6 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd6" maxlength="5"  >   </td>

    <td>7 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd7"  maxlength="5" >   </td>

    <td>8 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd8"  maxlength="5" >   </td>

    


          
</tr>


 <tr>
  <td>9 </td>
  <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd9"  maxlength="5" >   </td>
  <td>10 </td>
  <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd10" maxlength="5"  >   </td>
  
    <td>11 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="  form-control" name="hd11" maxlength="5"  >   </td>

    <td>12 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd12" maxlength="5"  >   </td>

    <td>13 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd13"  maxlength="5" >   </td>

    <td>14 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd14"  maxlength="5" >   </td>

    <td>15 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd15"  maxlength="5" >   </td>

    <td>16 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd16"  maxlength="5" >   </td>

    
    </tr>
  </tr> 
  <td>17 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd17"  maxlength="5" >   </td>

    <td>18 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd18" maxlength="5"  >   </td>

    <td>19 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd19"  maxlength="5" >   </td>

    <td>20 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd20" maxlength="5"  >   </td>
     
    <td>21 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd21"  maxlength="5" >   </td>

    <td>22</td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd22"  maxlength="5" >   </td>

    <td>23</td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd23"  maxlength="5" >   </td>

    <td>24 </td>
    <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd24"  maxlength="5" >   </td>

   
    
         
    </tr> 
     <tr>
      <td>25</td>
      <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd25" maxlength="5"  >   </td>
  
      <td>26 </td>
      <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd26"  maxlength="5" >   </td>
  
      <td>27</td>
      <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd27" maxlength="5"  >   </td>
  
      <td>28 </td>
      <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd28"  maxlength="5" >   </td>
  
      <td>29 </td>
      <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd29"  maxlength="5" >   </td>
  
      <td>30 </td>
      <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd30" maxlength="5"  >   </td>
   
        <td>31 </td>
        <td> <input type="text" pattern="[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}"  placeholder="00:00"  class="   form-control" name="hd31"  maxlength="5" >   </td>
    
    </tr>


</table>
</center>


    </div>
    <br><br>
    <center>
        <input type="submit" name="proceed"   class="btn btn-success" {% if usermaster.op_create %}{% else %} disabled {% endif%}   value="Save" id="submitted"   >
         <!-- <input type="button" onclick="printDiv()" value="Print"> -->
    </center>
    <br><br>
    

</form>


<script type="text/javaScript">

$(document).ready(function () {
       $('#update_date').datepicker({dateFormat: 'dd-mm-yy'}); 
       $('#leaving_date').datepicker({dateFormat: 'dd-mm-yy'}); 
       $('#completion_date').datepicker({dateFormat: 'dd-mm-yy'}); 
       $('#return_date').datepicker({dateFormat: 'dd-mm-yy'});     
       
       });

       $(".js-example-tags").select2({
  tags: true
});

function validate() {    
   var dd= $('#leaving_date').val();
   var dd1= $('#completion_date').val();
   var dd2= $('#return_date').val();
   if(dd==""){
    alert("Please fill  the leaving date!" );
      return false;
     }
     if(dd1==""){
    alert("Please fill  the Completion date!" );
      return false;
     }
     if(dd2==""){
    alert("Please fill  the Return date!" );
      return false;
     }
   
    
 }

       $("#shop_sec").select2({         
         tags: true          
       });

       $("#wno").select2({         
         tags: true          
       });
       $("#wno1").select2({         
         tags: true          
       });

       $("#staff_no").select2({         
         tags: true          
       });
       
       $("#shop_sec").change(function(e){
       e.preventDefault();         
         var shop_sec = $("#shop_sec").val()
                  var data = {shop_sec};
                    $.ajax({
                      type : 'GET',
                      url : "{% url 'm22getwono' %}",
                      dataType : 'json',
                      data : data,
                      success : function(response){
                        var elementsadded = document.querySelectorAll(".newelewono");
                            if(elementsadded.length>0){
                                var elementsaddedarr = Array.from(elementsadded);
                                elementsaddedarr.forEach((el)=> el.remove());
                                document.querySelector("#op_wo").selected=true;
                                document.querySelector("#op_wo1").selected=true;
                                document.querySelector("#op_staff").selected=true;

                            }
                            var brarr,mystr,html;
                            brarr = response.map((el)=>el.bo_no);
                            mystr = "";
                            brarr.forEach((el,index)=>{
                              html = `<option class="newelewono">${brarr[index]}</option>`
                              mystr = html.concat(mystr);
                            });
                            html = "";
                            document.querySelector("#wno").insertAdjacentHTML('beforeend',mystr);
                            document.querySelector("#wno1").insertAdjacentHTML('beforeend',mystr);
                            mystr="";
                      }
                        })
      
       });
        
$("#wno").change(function(e){
    e.preventDefault();
    var wo_no = $(this).val();
    var shop_sec = $("#shop_sec").val();
    
    var data = {shop_sec};
      $.ajax({
        type : 'GET',
        url : "{% url 'm22getstaff' %}",
        dataType : 'json',
        data : data,
        success : function(response){
        if(response == ''){
              alert("STAFF NO Not Found for Shop Section:"+shop_sec+", Work Order NO:"+wo_no);}
              var elementsadded = document.querySelectorAll(".newelestaff");
              if(elementsadded.length>0){
                var elementsaddedarr = Array.from(elementsadded);
              elementsaddedarr.forEach((el)=> el.remove());
              document.querySelector("#op_wo1").selected=true;
              document.querySelector("#op_staff").selected = true;

              }
              console.log(response);
              console.log(response.data.length);

              var mystr = "";
      var html="";
      for (var i = 0; i < response.data.length; i++) {
        html = '<option   id='+response.data[i].name+' >'+response.data[i].staff_no+'</option>';
        mystr = html.concat(mystr);
        } 
        //alert(mystr)
      document.querySelector("#staff_no").insertAdjacentHTML('beforeend',mystr);
      mystr="";
      html = "";




              // var brarr,mystr,html;
              // brarr = response.map((el)=>el.staff_no);
              // mystr = "";
              // brarr.forEach((el,index)=>{
              //   html = `<option class="newelestaff">${brarr[index]}</option>`
              //   mystr = html.concat(mystr);
              // });
              // html = "";
              // document.querySelector("#staff_no").insertAdjacentHTML('beforeend',mystr);
              // mystr="";
        }
           })
           })


function month(){

document.getElementById("mon").disabled = false;

}

$("#staff_no").change(function() {  
 
 var name = $('#staff_no option:selected').attr('id');   
   $("#empname").val(name);
    
 })

// document.querySelector("#mon").addEventListener('change',(e)=>{

//     document.querySelector("#myproceed").click();
// })
document.addEventListener('keypress',(event)=>{
    if(event.keyCode===13){
        event.preventDefault();
    }
})





function printDiv() {
     var printContents = document.getElementById("print");


       var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td { border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: left;}"+".tt {width: 50%;}";
        style = style + "</style>";
      var win = window.open('', '', 'height=750,width=750');

        win.document.write('<html><head>');

        win.document.write('<title>M22(DUTY CERTIFICATE)</title>');
        win.document.write(style);
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(printContents.outerHTML);
        win.document.write('</body></html>');
        win.print();
        win.close();
     }

  </script>



{% endblock content %}

