{% extends 'base.html' %} 
{% block content %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <style>
            
            input[type=text], select,textarea{
                padding: 8px 10px;
                width: 200px;
              }
             
        </style>
    </head>
    <body>
        <form action="{% url 'capacityplanningandloadbook' %}" method="POST">
            {% csrf_token %}
            <br><br>
            <center>
                <h4><b>CAPACITY PLANNING AND LOAD BOOK</b></h4>
            </center>
            <br>
            
            
            <div class="container" id="idm">
                <br>
                <div class="form-row align-items-center">   
                    <div class="col-auto">

                        <div class="form-check mb-2">

                            <label class="form-check-label" ><b style="margin-left: 170px;">Part No :</b></label>

                        </div>
                
                    </div>


                    <div class="col-auto">                        

                        <input type="text" class="form-control mb-2" id="partno_id" name="partno" maxlength="8">
                        
                    </div>
                    <div class="col-auto">                        

                        <input type="text" class="form-control mb-2" id="partdes_id" name="partdes" readonly>
                        
                    </div>
                    
                    <div class="col-auto">

                        <div class="form-check mb-2">

                            <label class="form-check-label" ><b style="margin-left: 44px;">EPC :</b></label>

                        </div>

                    </div>

                    <div class="col-auto">                        

                        <input type="text" class="form-control mb-2" id="epc_id" name="epc" maxlength="2">

                    </div>
                </div>

                <div class="form-row align-items-center">   
                    <div class="col-auto">

                        <div class="form-check mb-2">

                            <label class="form-check-label" ><b style="margin-left: 147px;">EP Part No :</b></label>
                           
                        </div>
                
                    </div>

                    <div class="col-auto">                        

                        <input type="text" class="form-control mb-2" id="eppartno" name="eppartno" readonly>

                    </div>
                    
                    
                </div>

                <div class="form-row align-items-center">   
                    <div class="col-auto">

                        <div class="form-check mb-2" style="margin-top: 5px;">

                            <label class="form-check-label" ><b style="margin-left: 129px;">Explode Assly :&nbsp;&nbsp;&nbsp;&nbsp;</b></label>
                            <label class="radio-inline">
                                <input type="radio" name="optradio" id="r1" checked>Yes&nbsp;&nbsp;&nbsp;&nbsp;
                            </label>
                            <label class="radio-inline">
                              <input type="radio" name="optradio" id="r2">No
                            </label>
                            <p style="margin-left: 240px;">Select Yes-EXPLODE/No-NO EXPLOSION</p>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="form-row align-items-center">
                    <div class="col-auto"> 

                        <div class="form-check mb-2">

                            <label class="form-check-label" ><b style="margin-left: 150px;">Effectivity : </b></label>
                            
                        </div>

                    </div>

                    <div class="col-auto">                        

                        <input type="text" class="form-control mb-2" id="effectivity_id" name="effectivity" maxlength="4">


                    </div>
                </div>
                <div class="form-row align-items-center">   
                    <div class="col-auto">

                        <div class="form-check mb-2">

                            <label class="form-check-label" ><b style="margin-left: 150px;">Qty/Loco :</b></label>

                        </div>
                
                    </div>

                    <div class="col-auto">                        

                        <input type="text" class="form-control mb-2" id="qtyloco" name="qtyloco" readonly>

                    </div>

                    <div class="col-auto">

                        <div class="form-check mb-2">

                            <label class="form-check-label" ><b style="margin-left:0px;">Batch-Qty : </b></label>

                        </div>

                    </div>

                    <div class="col-auto">                        

                        <input type="text" class="form-control mb-2" id="batchqty" name="batchqty" readonly>

                    </div>
                </div>

                <br>
                <br>
                <center>
                    <input type="button" id="clear" value="Clear"  class="btn btn-success" onclick="window.location.reload();">
                    <input type="button" id="save" value="Proceed" class="btn btn-success" {% if usermaster.op_create %}{% else %} disabled {% endif%}   onclick="Proceedbtn()">
                    <input type="button" id="lcno_id" name="lcnobtn" class="btn btn-success" value="Back" onclick="window.history.back();">
                </center>
                <br>
                <br> 
                
            </div>
            <div id="ids" style="display: none;">
                <center><img src="{% static 'dlw/images/loading.gif' %}" style="width:20%;height:20%;"></center>
            </div>
           
        </form>
    </body>
    <script>
        document.querySelector("#partno_id").addEventListener('change',(e)=>{
            e.preventDefault();
            var partno = $("#partno_id").val();
           
            data={partno};
            $.ajax({
                type : 'GET',
                dataType : 'json',
                url : "{% url 'CapacityPlanLoadBookGetPartDes' %}", 
                data : data,
                success :function(response){
                   
                    if(response.length == 0)
                    {
                        alert("PART NOT IN MASTER");
                        document.getElementById('partno_id').value = "";
                        document.getElementById('partdes_id').value ="";
                    }
                    else
                    {
                        document.getElementById('partdes_id').value = response[0].des;
                    }
                }
            });
        });
        document.querySelector("#epc_id").addEventListener('change',(e)=>{
            var epc = $("#epc_id").val();
            epc=epc.toUpperCase();
            var partno = $("#partno_id").val();
            data ={epc,partno};
            $.ajax({
                type : 'GET',
                dataType : 'json',
                url : "{% url 'CapacityPlanLoadBookGetEpc' %}", 
                data : data,
                success :function(response){
                    if(response.length == 0)
                    {
                        alert("Part Not in Product Structure");
                        document.getElementById('epc_id').value = "";
                        document.getElementById('eppartno').value="";
                    }
                    else
                    {
                        document.getElementById('eppartno').value = response[0].num_1;
                    }
                }
            });
        });
        document.querySelector("#effectivity_id").addEventListener('change',(e)=>{
            e.preventDefault();
            var epc = $("#epc_id").val();
            epc=epc.toUpperCase();
            var partno = $("#partno_id").val();
            if(partno == "")
            {
                alert("Please Enter PartNo First");
                document.getElementById('effectivity_id').value ="";
                return false;
            }
            if(epc == "")
            {
                alert("Please Enter Epc First");
                return false;
                document.getElementById('effectivity_id').value ="";
            s}
            var eppartno = $("#eppartno").val();
            data = {epc,partno,eppartno};
            $.ajax({
                type : 'GET',
                dataType : 'json',
                url : "{% url 'CapacityPlanLoadBookGetQty' %}", 
                data : data,
                success :function(response){
                    document.getElementById('qtyloco').value = response;
                    document.getElementById('batchqty').value = response*5;
                }

                
            });
        });
        function Proceedbtn()
        {
            $('#idm').hide();
            $('#ids').show();
            var epc = $("#epc_id").val();
            epc=epc.toUpperCase();
            var partno = $("#partno_id").val();
            var lfr =$("#effectivity_id").val();
            var partdesc =$("#partdes_id").val();
            if(partno == "")
            {
                alert("Please Fill The Part No");
                return false;
            }
            else if(epc == "")
            {
                alert("Please Fill The EPC");
                return false;
            }
            else if(lfr == "")
            {
                alert("Please Fill The Effectivity");
                return false;
            }
            else
            {
                window.location.href = "{% url 'CapacityPlanLoadBookexplode' %}"+"?lfr="+$('#effectivity_id').val()+
                            "&epc="+$('#epc_id').val()+"&partno="+$('#partno_id').val()+"&eppartno="+$('#eppartno').val()+"&qtyloco="+$('#qtyloco').val()+"&r1="+$('#r1').is(":checked")
                            +"&r2="+$('#r2').is(":checked")+"&partdes="+$('#partdes_id').val();
            }           
        }
    </script>
    
</html>
{% endblock content %}
